<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>主公！只需再充值</string>
        <key>2</key>
        <string>即可任选神将1名！</string>
        <key>3</key>
        <string>@天</string>
    </dict>
</plist>
