<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>刷 新</string>
        <key>2</key>
        <string>修 炼</string>
        <key>3</key>
        <string>修炼所得+@%</string>
    </dict>
</plist>
