<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>当前拥有：</string>
        <key>2</key>
        <string>获取途径</string>
        <key>3</key>
        <string>暂无产出，敬请期待！</string>
    </dict>
</plist>
