<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>（有机会开启更高级的坐骑）</string>
        <key>2</key>
        <string>免费次数：</string>
        <key>3</key>
        <string>概率获得</string>
        <key>4</key>
        <string>必得</string>
        <key>5</key>
        <string>20</string>
    </dict>
</plist>
