<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>2</key>
        <string>召唤叛军</string>
        <key>3</key>
        <string>今日消耗体力达到目标，就能直接召唤叛军！</string>
    </dict>
</plist>
