<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>属性1</string>
        <key>2</key>
        <string>属性2</string>
        <key>3</key>
        <string>属性3</string>
        <key>4</key>
        <string>该装备已达最高品质！</string>
    </dict>
</plist>
