<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>你的征讨次数不足，使用征讨令可以增加次数</string>
        <key>2</key>
        <string>当前征讨次数</string>
    </dict>
</plist>
