<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>2</key>
        <string>全部武将属性加成</string>
        <key>5</key>
        <string>已激活:</string>
        <key>6</key>
        <string>1/5</string>
        <key>7</key>
        <string>@法阵</string>
        <key>9</key>
        <string>10</string>
        <key>11</key>
        <string>星宿值:</string>
    </dict>
</plist>
