<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>头像</string>
        <key>3</key>
        <string>挑战情况</string>
        <key>4</key>
        <string>活跃人数:</string>
        <key>5</key>
        <string>参与人员</string>
        <key>6</key>
        <string>名字</string>
        <key>7</key>
        <string>职位</string>
        <key>8</key>
        <string>战力</string>
    </dict>
</plist>
