<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>挖矿日志</string>
        <key>2</key>
        <string>玩家</string>
        <key>3</key>
        <string>挖掘次数</string>
        <key>4</key>
        <string>水晶</string>
        <key>5</key>
        <string>金币</string>
        <key>6</key>
        <string>时间</string>
    </dict>
</plist>
