<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>3</key>
        <string>结算额外奖励</string>
        <key>4</key>
        <string>设为主要效果</string>
        <key>5</key>
        <string>主要效果</string>
        <key>6</key>
        <string>主要效果</string>
        <key>7</key>
        <string>主要效果</string>
        <key>8</key>
        <string>主要效果</string>
        <key>9</key>
        <string>主要效果</string>
        <key>10</key>
        <string>效果:</string>
    </dict>
</plist>
