<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>8</key>
	<string>为庆祝@上线，在指定时间内，只要拥有一只五星@，即可购买超值的@觉醒大礼包。当前最强的6名英雄的平均觉醒等级越高，可购买的数量上限越多</string>
	<key>9</key>
	<string>（将@升级到五星后可购买)</string>
	<key>10</key>
	<string>@成长大礼包</string>
	<key>11</key>
	<string>@</string>
</dict>
</plist>
