<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>鸡祥如意</string>
        <key>2</key>
        <string>可能获得:</string>
        <key>3</key>
        <string>即刻！全服共“抢”红包雨！</string>
        <key>4</key>
        <string>普天同庆</string>
        <key>5</key>
        <string>购买</string>
        <key>7</key>
        <string>火爆</string>
    </dict>
</plist>
