<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>购买</string>
        <key>2</key>
        <string>花费168元购买成长基金</string>
        <key>3</key>
        <string>累计可得价值</string>
    </dict>
</plist>
