<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>2</key>
        <string>硬币替换</string>
        <key>3</key>
        <string>(可随机替换成一个新的硬币)</string>
        <key>4</key>
        <string>替换</string>
        <key>5</key>
        <string>本次免费</string>
    </dict>
</plist>
