<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>天赋锁定</string>
        <key>10</key>
        <string>锁定的天赋在领悟新天赋时不会被替换！</string>
        <key>12</key>
        <string>鬼火</string>
        <key>13</key>
        <string>鬼火</string>
        <key>14</key>
        <string>鬼火</string>
        <key>15</key>
        <string>鬼火</string>
        <key>16</key>
        <string>鬼火</string>
        <key>17</key>
        <string>鬼火</string>
        <key>18</key>
        <string>鬼火</string>
        <key>19</key>
        <string>鬼火</string>
    </dict>
</plist>
