<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>3</key>
        <string>目标卡牌</string>
        <key>4</key>
        <string>翻开一张卡牌，若与目标卡牌相同，则赢取奖励！</string>
        <key>5</key>
        <string>点击宝箱有机会获得如下物品</string>
        <key>6</key>
        <string>发现了神秘宝箱，这下大发了！打开说不定有意想不到的宝物哦！</string>
        <key>7</key>
        <string>考古结束可获得如下商品</string>
        <key>8</key>
        <string>发现了远古兽骸，太好了！不过得到它得要花费一点时间.</string>
        <key>9</key>
        <string>考古中</string>
        <key>10</key>
        <string>领取</string>
        <key>11</key>
        <string>今日特价商品</string>
        <key>12</key>
        <string>神秘商人的折扣一定很优惠哦，快来抢购吧！</string>
        <key>13</key>
        <string>购买</string>
        <key>14</key>
        <string>原价：</string>
        <key>15</key>
        <string>现价：</string>
        <key>16</key>
        <string>@折</string>
        <key>17</key>
        <string>选择挑战难度</string>
        <key>19</key>
        <string>守卫战力</string>
        <key>20</key>
        <string>守卫战力</string>
        <key>21</key>
        <string>守卫战力</string>
        <key>22</key>
        <string>守卫战力</string>
        <key>23</key>
        <string>守卫战力</string>
        <key>24</key>
        <string>遭遇洞窟守卫，调整难度越高获得的奖励越多！</string>
        <key>26</key>
        <string>本次免费</string>
        <key>27</key>
        <string>消耗:</string>
        <key>28</key>
        <string>猜错奖励</string>
        <key>29</key>
        <string>猜对奖励</string>
        <key>31</key>
        <string>剩余次数：</string>
    </dict>
</plist>
