<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>倍率奖励</string>
        <key>3</key>
        <string>奖励倍率:1.0</string>
        <key>5</key>
        <string>一键探索</string>
        <key>6</key>
        <string>探索</string>
        <key>7</key>
        <string>次数：@</string>
    </dict>
</plist>
