<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>矿工数:</string>
        <key>2</key>
        <string>增加矿工</string>
        <key>3</key>
        <string>需求熟练度:</string>
        <key>4</key>
        <string>(数量已达上限)</string>
    </dict>
</plist>
