<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>升级</string>
        <key>2</key>
        <string>升@级</string>
        <key>3</key>
        <string>武将经验池剩余经验：</string>
        <key>4</key>
        <string>升到下一级需求经验：</string>
    </dict>
</plist>
