<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>购买</string>
        <key>2</key>
        <string>原价</string>
        <key>3</key>
        <string>现价</string>
        <key>4</key>
        <string>遇到就不要错过哦~这可是万年一遇的优惠！</string>
    </dict>
</plist>


