<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>召唤天演</string>
        <key>2</key>
        <string>召唤十次有更高几率获得</string>
        <key>3</key>
        <string>【橙色命魂】</string>
        <key>4</key>
        <string>召1次</string>
        <key>5</key>
        <string>召10次</string>
    </dict>
</plist>
