<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>竞技场商店</string>
        <key>2</key>
        <string>晚了就没了</string>
        <key>3</key>
        <string>@折</string>
        <key>4</key>
        <string>很好愿！！！</string>
        <key>5</key>
        <string>灵玉商店</string>
        <key>6</key>
        <string>战功商店</string>
        <key>7</key>
        <string>奖励</string>
        <key>8</key>
        <string>限时</string>
        <key>9</key>
        <string>宝库</string>
        <key>10</key>
        <string>热拍</string>
    </dict>
</plist>
