<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>合成</string>
        <key>2</key>
        <string>当前可合成：@</string>
        <key>3</key>
        <string>一键合成</string>
    </dict>
</plist>
