<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>所需资源：</string>
        <key>2</key>
        <string>突破已达上限，已经没人可以超越你！</string>
        <key>3</key>
        <string>预览</string>
    </dict>
</plist>
