<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>头纹</string>
        <key>2</key>
        <string>胸纹</string>
        <key>3</key>
        <string>手纹</string>
        <key>4</key>
        <string>足纹</string>
    </dict>
</plist>
