<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict> 
        <key>weixin</key>
        <string>luandoutang2</string>
        <key>qq</key>
        <string>800180502</string>
        <key>qq_1</key>
        <string>142385132</string>
    </dict>
</plist>
