<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name83</key>
	<string>寻仙折扣</string>
	<key>name30</key>
	<string>星魂兑换</string>
	<key>name89</key>
	<string>材料双倍掉落</string>
	<key>name88</key>
	<string>免费VIP体验</string>
	<key>name97</key>
	<string>财神送金</string>
	<key>name98</key>
	<string>财神送宝</string>
	<key>name113</key>
	<string>登录礼包</string>
	<key>name104</key>
	<string>等级礼包</string>
	<key>name107</key>
	<string>投资理财</string>
	<key>name1</key>
	<string>兑换活动</string>
	<key>name6</key>
	<string>充值领取</string>
	<key>name7</key>
	<string>限时打折</string>
	<key>name108</key>
	<string>月卡终身卡</string>
	<key>name3</key>
	<string>累计充返</string>
	<key>name114</key>
	<string>抽卡@折</string>
	<key>name115</key>
	<string>掉落双倍</string>
	<key>name81</key>
	<string>节日特权</string>
	<key>name82</key>
	<string>夺宝总动员</string>
	<key>name8</key>
	<string>招财猫</string>
	<key>name95</key>
	<string>七天乐</string>
	<key>name99</key>
	<string>VIP领取</string>
	<key>name96</key>
	<string>节日福利</string>
	<key>name23</key>
	<string>免费VIP</string>
	<key>name116</key>
	<string>神灯许愿</string>
	<key>name117</key>
	<string>点宝成金</string>
	<key>name118</key>
	<string>体力上限</string>
	<key>name119</key>
	<string>体力打折</string>
	<key>name120</key>
	<string>限时秒购 </string>
	<key>name121</key>
	<string>充值重置 </string>
	<key>name122</key>
	<string>重置副本打折</string>
	<key>name123</key>
	<string>修仙奖励@倍</string>
	<key>name124</key>
	<string>军团贡献双倍</string>
	<key>name125</key>
	<string>吃包子</string>
	<key>name126</key>
	<string>分享奖励</string>
	<key>name127</key>
	<string>签到</string>
	<key>name94</key>
	<string>双倍返利</string>
	<key>name93</key>
	<string>招募福利</string>
	<key>name92</key>
	<string>投资理财</string>
	<key>name_vip_gift</key>
	<string>特权礼包</string>
	<key>name_vip_day_gift</key>
	<string>每日礼包</string>
	<key>name_week_gift</key>
	<string>每周礼包</string>
	<key>name_pay_gift</key>
	<string>超值礼包</string>
	<key>title2_type_10</key>
	<string>累计签到达到@次</string>
	<key>title2_type_3</key>
	<string>累计消耗达到@元宝</string>
	<key>title2_type_4</key>
	<string>累计消耗@点体力</string>
	<key>title2_type_15</key>
	<string>累计寻仙@次</string>
	<key>title2_type_16</key>
	<string>累计召唤天演@次</string>
	<key>title2_type_18</key>
	<string>参与竞技场战斗累计达@次</string>
	<key>title2_type_19</key>
	<string>参与征讨叛军次数累计达@次</string>
	<key>title2_type_20</key>
	<string>累计十连元宝招募达@次</string>
	<key>title2_type_21</key>
	<string>累计购买@次体力</string>
	<key>title2_type_22</key>
	<string>累计扫荡精英副本达@次</string>
	<key>title2_type_23</key>
	<string>累计重置副本达@次</string>
	<key>title2_type_24</key>
	<string>点宝成金次数达@次</string>
	<key>title2_type_25</key>
	<string>累计登录天数达到@天</string>
	<key>title2_type_26</key>
	<string>累计击败海底神秘之鲨@次</string>
	<key>title2_type_27</key>
	<string>累计海底手动探险@次</string>
	<key>title2_type_28</key>
	<string>累计手动探险获取废铜矿@个</string>
	<key>title2_type_29</key>
	<string>累计手动探险获取精炼铁矿@个</string>
	<key>title2_type_30</key>
	<string>累计手动探险获取白银矿@个</string>
	<key>title2_type_31</key>
	<string>累计手动探险获取天然锡矿@个</string>
	<key>title2_type_32</key>
	<string>累计手动探险获取黄金矿石@个</string>
	<key>title3_type</key>
	<string>累计充值达到@元宝</string>
	<key>login_reward</key>
	<string>登陆领取</string>
	<key>9</key>
	<string>VIP@以上可购买</string>
	<key>10</key>
	<string>当前VIP@</string>
	<key>11</key>
	<string>\\w{c=ffe400}@元宝\\购买开服基金,总计可获得\\w{c=ffe400}@元宝</string>
	<key>12</key>
	<string>总计可获得\\w{c=ffe400}@元宝</string>
	<key>13</key>
	<string>购买后立即获得\\i{p=images/ui_public1/gold.png;s=0.35}\\w{c=ffffff}@</string>
	<key>14</key>
	<string>每天可领取\\i{p=images/ui_public1/gold.png;s=0.35}\\w{c=ffffff}@</string>
	<key>15</key>
	<string>创角后\\w{c=FFE400}七日内\\达成有额外奖励</string>
	<key>16</key>
	<string>剩余投注次数：@</string>
	<key>17</key>
	<string>本次投注最高返还\\i{p=images/ui_public1/gold.png;s=0.35}\\w{c=ffffff}@</string>
	<key>18</key>
	<string>在招财喵仙灵期间，只要你投入指定元宝，喵每次都会立即返回更多的元宝，\\w{c=8001aa}【稳赚不赔只限@次】\\w{941515}可不要错过了哦~</string>
	<key>19</key>
	<string>活动期间累计充值达\\i{p=images/ui_public1/gold.png;s=0.35}\\w{c=ffffff;o=000000ff,0.1}@\\即可选择自己喜爱的传说神将！</string>
	<key>22</key>
	<string>活动期间累计充值达\\i{p=images/ui_public1/gold.png;s=0.35}\\w{c=ffffff;o=000000ff,0.1}@\\坚持每日登录即可一定时间内领取至尊豪礼！</string>
	<key>21</key>
	<string>【初始四星】</string>
	<key>vip_txt</key>
	<string>为了答谢众多玩家对《快点三国》的关注与支持，我们工作组为大家精心准备了VIP特权大放送活动</string>
	<key>vip_txt1</key>
	<string>战队等级达到\\w{c=ff0000}@级\\w{c=462600}   即可领取\\w{c=ff0000}VIP@\\w{c=462600}的特权</string>
	<key>vip_txt2</key>
	<string>恭喜您VIP等级达到了\\w{c=ff0000}VIP@</string>
	<key>vip_level</key>
	<string>当前等级未达到！</string>
	<key>27</key>
	<string>@恢复1点</string>
	<key>28</key>
	<string>（每次消耗1\\i{p=images/icon/sep_item/95003.png;s=0.35}\\）</string>
	<key>29</key>
	<string>我的宝藏\\w{c=00ffff;f=18}（下一天登录可领取）</string>
	<key>30</key>
	<string>请先领取昨天的奖励才可许愿</string>
	<key>31</key>
	<string>诚意点不足</string>
	<key>35</key>
	<string>活动规则</string>
	<key>41</key>
	<string>次数（@/@）</string>
	<key>charge_return_item</key>
	<string>单次充值@元可领取</string>
	<key>56</key>
	<string>已购买\\w{c=ffffff}@\\件，当前折扣：\\w{c=ffffff}@\\折</string>
	<key>57</key>
	<string>剩余团购券</string>
	<key>58</key>
	<string>限量@/@</string>
	<key>59</key>
	<string>@折</string>
	<key>60</key>
	<string>@件</string>
	<key>61</key>
	<string>总积分:\\w{c=ffffff}@\\</string>
	<key>64</key>
	<string>每周一零点刷新</string>
	<key>65</key>
	<string>VIP等级越高，可购买次数越多</string>
	<key>66</key>
	<string>（优先使用团购券）</string>
	<key>72</key>
	<string>试玩</string>
	<key>72-1</key>
	<string>暂停</string>
	<key>72-2</key>
	<string>继续</string>
	<key>73</key>
	<string>开始</string>
	<key>eat_reward_title</key>
	<string>点击数达@下可领取</string>
	<key>125_eat</key>
	<string>体力大放送，包子拿不停，在活动期间内，领取体力变为活动形式，点击屏幕即可获取体力！\\w{c=ff0000}每天有三次吃包子机会，分别是6点至12点，12点至18点，18点至24点！\\</string>
	<key>74</key>
	<string>确定要花费@元宝进行补签吗？</string>
	<key>activity_1001_got</key>
	<string>已获得全部礼包</string>
	<key>act_eat1</key>
	<string>已吃过了，请在@:00~@:00时间点内，再来吃！</string>
	<key>act_eat2</key>
	<string>活动在@:00~@:00内开始</string>
	<key>act_eat3</key>
	<string>先点击“开始”或“试玩”按钮，才开始游戏！</string>
	<key>act_eat4</key>
	<string>试玩无奖励</string>
	<key>act_eat5</key>
	<string>点击屏幕任意位置返回</string>
	<key>act_eat6</key>
	<string>活动在明日12:00~14:00内开始</string>
	<key>act_eat7</key>
	<string>活动已结束</string>
	<key>act_19</key>
	<string>未能领取，请到时再来哦！</string>
	<key>act_19_1</key>
	<string>时间未到，暂时无法领取！</string>
	<key>task7day</key>
	<string>每日特惠</string>
	<key>98</key>
	<string>(活动已结束)</string>
	<key>99</key>
	<string>时间未到</string>
	<key>102</key>
	<string>@日</string>
	<key>appstore_ingore_title1</key>
	<string>更新奖励</string>
	<key>appstore_limit_title1</key>
	<string>登录送黄忠</string>
	<key>appstore_limit_title2</key>
	<string>更新奖励</string>
	<key>sign7_box_info97</key>
	<string>任意@天每天消费@金币</string>
	<key>sign7_box_info98</key>
	<string>任意@天每天消费@元宝</string>
	<key>111</key>
	<string>1、@每日未完成的试炼将通过邮箱发放@%奖励</string>
	<key>112</key>
	<string>2、@溢出的体力将存储起来，</string>
	<key>113</key>
	<string>@开始每天将通过邮箱返还\\i{p=images/ui_public1/energy.png;s=0.35}\\@。</string>
	<key>114</key>
	<string>已累计体力:</string>
	<key>double_charge_content</key>
	<string>\\w{c=462600;f=0}此次“删档封测”期间充值的元宝将在正式测试时\\w{c=ff0000;f=0}双倍返还。
\\w{c=ff0000;f=0}（注：不包含返利所得元宝）</string>
	<key>double_charge_tip</key>
	<string>\\w{c=462600;f=0}当前已充值:\\i{p=images/ui_public1/gold.png;s=0.35}\\w{c=ff0000;f=0}@</string>
	<key>freevip</key>
	<string>活跃度不足，无法兑换。</string>
	<key>120</key>
	<string>主公，\\w{c=dc0000}30级前绑定老玩家提供的招募令\\，即可领取礼包哦！30级后可发布招募令招募玩家！</string>
	<key>121</key>
	<string>招募小伙伴一起玩耍，双方都可以领取海量福利哦。小伙伴的充值都将返给主公情义值！</string>
	<key>122</key>
	<string>招募福利</string>
	<key>123</key>
	<string>已招募\\w{c=ffe400}@\\位（上限@）</string>
	<key>125</key>
	<string>在此填写招募令，领取奖励！</string>
	<key>126</key>
	<string>扫荡材料\\w{c=0042ff}5%\\几率获得\\w{c=0042ff}双倍材料</string>
	<key>127</key>
	<string>永久+5%</string>
	<key>128</key>
	<string>【发布招募令】</string>
	<key>129</key>
	<string>发布!!!</string>
	<key>132</key>
	<string>究极变身对决，超好玩策略微操，尽在《乱斗堂2》。小伙伴们，快来和我一起战沙场、建军团、攻城略地、上天修仙、入地探险吧！我在服务器\\w{c=ff0000}@\\，我叫\\w{c=ff0000}@\\，我的招募令是\\w{c=ff0000}@\\。30级之前，在游戏的\\w{c=ff0000}活动-&gt;招募福利\\界面绑定我的招募令，成为我的小伙伴领礼包哦！</string>
	<key>133</key>
	<string>究极变身对决，超好玩策略微操，尽在《乱斗堂2》。小伙伴们，快来和我一起战沙场、建军团、攻城略地、上天修仙、入地探险吧！我在服务器【@】，我叫【@】，我的招募令是【@】。30级之前，在游戏的活动-&gt;招募福利界面绑定我的招募令，成为我的小伙伴领礼包哦！</string>
	<key>134</key>
	<string>请输入招募令！</string>
	<key>135</key>
	<string>分享微信</string>
	<key>136</key>
	<string>主公可手动截图分享给好友</string>
	<key>137</key>
	<string>领取次数:</string>
	<key>138</key>
	<string>道具不足</string>
	<key>vip_experience_help</key>
	<string>在活动期间内,未达到VIP@等级的玩家,可免费领取VIP@的免费体验,体验期间可使用VIP@的所有特权
（体验VIP不可购买特权礼包和养成基金）</string>
	<key>vip_exper_reward_dec</key>
	<string>在活动期间达到VIP@可额外领取</string>
	<key>vip_exper_dec</key>
	<string>领取后，可免费体验@天的VIP@特权,点击领取后立即生效</string>
	<key>vip_exper_endtime</key>
	<string>免费VIP到期时间</string>
	<key>act_timeover</key>
	<string>活动已过期</string>
	<key>snatch_notice1</key>
	<string>\\w{c=@}@\\人品爆表 ,用\\w{c=@}@\\夺宝币获得 \\w{c=@}@x@\\</string>
	<key>snatch_notice</key>
	<string>\\w{c=@}@\\运气极佳，在投币时意外获得\\w{c=@}@x@\\</string>
</dict>
</plist>
