<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>btn_set_minor_buff</key>
	<string>设为次要效果</string>
	<key>btn_have_fighted</key>
	<string>已挑战</string>
	<key>btn_mine_buy_bag</key>
	<string>购买</string>
	<key>btn_mine_open_bag</key>
	<string>使用</string>
	<key>btn_recharge_get</key>
	<string>前往查看</string>
	<key>btn_choose_all</key>
	<string>全选</string>
	<key>btn_turnover</key>
	<string>成交</string>
	<key>btn_supplement</key>
	<string>补满</string>
	<key>btn_turning</key>
	<string>转一转</string>
	<key>btn_look_later</key>
	<string>稍后查看</string>
	<key>btn_detonator</key>
	<string>雷管</string>
	<key>btn_mine_open_ten</key>
	<string>开十个</string>
	<key>btn_mine_open_one</key>
	<string>开一个</string>
	<key>btn_mine_bag</key>
	<string>资源包</string>
	<key>btn_mine</key>
	<string>资源</string>
	<key>btn_confirm</key>
	<string>确定</string>
	<key>btn_cancel</key>
	<string>取消</string>
	<key>btn_batch_strong</key>
	<string>一键强化</string>
	<key>btn_strong</key>
	<string>强化</string>
	<key>btn_batch_put</key>
	<string>一键放入</string>
	<key>btn_batch_equip</key>
	<string>一键装备</string>
	<key>btn_break</key>
	<string>突破</string>
	<key>btn_level_up_star</key>
	<string>升星</string>
	<key>btn_login</key>
	<string>登录</string>
	<key>btn_register</key>
	<string>注册</string>
	<key>btn_hero</key>
	<string>英雄</string>
	<key>btn_bag</key>
	<string>背包</string>
	<key>btn_piece</key>
	<string>碎片</string>
	<key>btn_task</key>
	<string>任务</string>
	<key>btn_daily_task</key>
	<string>每日</string>
	<key>btn_atlas</key>
	<string>副本</string>
	<key>btn_sign</key>
	<string>签到</string>
	<key>btn_go_sign</key>
	<string>补签</string>
	<key>btn_pay</key>
	<string>充值</string>
	<key>btn_notice</key>
	<string>公告</string>
	<key>btn_pro</key>
	<string>属性</string>
	<key>btn_skill</key>
	<string>技能</string>
	<key>btn_equip</key>
	<string>装备</string>
	<key>btn_destiny</key>
	<string>缘分</string>
	<key>btn_all</key>
	<string>全部</string>
	<key>btn_consume</key>
	<string>消耗</string>
	<key>btn_card</key>
	<string>卡牌</string>
	<key>btn_material</key>
	<string>材料</string>
	<key>btn_diamond</key>
	<string>宝石</string>
	<key>btn_other</key>
	<string>其他</string>
	<key>btn_sell</key>
	<string>出售</string>
	<key>btn_use</key>
	<string>使用</string>
	<key>btn_detail</key>
	<string>详情</string>
	<key>btn_cardType_def</key>
	<string>防御</string>
	<key>btn_cardType_magic_attack</key>
	<string>攻击</string>
	<key>btn_cardType_phy_attack</key>
	<string>武攻</string>
	<key>btn_cardType_treat</key>
	<string>治疗</string>
	<key>btn_buy</key>
	<string>购买</string>
	<key>btn_buyed</key>
	<string>已购买</string>
	<key>btn_buy_again</key>
	<string>续费</string>
	<key>btn_equcompound</key>
	<string>合成</string>
	<key>btn_buy_one</key>
	<string>买一个</string>
	<key>btn_buy_ten</key>
	<string>买十个</string>
	<key>btn_auto_atlas</key>
	<string>扫荡</string>
	<key>btn_batch_auto_atlas</key>
	<string>扫荡@次</string>
	<key>btn_exit_game</key>
	<string>退出战斗</string>
	<key>btn_consume_game</key>
	<string>继续战斗</string>
	<key>btn_rule</key>
	<string>规则</string>
	<key>btn_rank</key>
	<string>排行</string>
	<key>btn_log</key>
	<string>日志</string>
	<key>btn_exchange</key>
	<string>兑换</string>
	<key>btn_exchange_ok</key>
	<string>已兑换</string>
	<key>btn_fight</key>
	<string>挑战</string>
	<key>btn_replay</key>
	<string>回放</string>
	<key>btn_buy_one_gold</key>
	<string>点一次</string>
	<key>btn_buy_ten_gold</key>
	<string>摇十次</string>
	<key>btn_shop</key>
	<string>商店</string>
	<key>btn_arean</key>
	<string>竞技场</string>
	<key>shop_type_1</key>
	<string>杂货</string>
	<key>shop_type_2</key>
	<string>秘宝</string>
	<key>shop_type_3</key>
	<string>神品</string>
	<key>atlas_type_1</key>
	<string>普通</string>
	<key>atlas_type_2</key>
	<string>精英</string>
	<key>btn_account_login</key>
	<string>登录</string>
	<key>btn_enter</key>
	<string>进入游戏</string>
	<key>btn_account_logined</key>
	<string>注销</string>
	<key>btn_draw_card</key>
	<string>抽卡</string>
	<key>btn_refresh</key>
	<string>刷新</string>
	<key>btn_buy_atlas_auto_num</key>
	<string>重置次数</string>
	<key>btn_get_reward</key>
	<string>领取</string>
	<key>btn_reward_got</key>
	<string>已领取</string>
	<key>btn_cant_get</key>
	<string>未达成</string>
	<key>btn_random</key>
	<string>随机</string>
	<key>btn_up_quality</key>
	<string>升阶</string>
	<key>btn_chat_send</key>
	<string>聊天</string>
	<key>btn_chat_friend</key>
	<string>好友</string>
	<key>btn_chat_world</key>
	<string>世界</string>
	<key>btn_find_friend</key>
	<string>加好友</string>
	<key>btn_invite_friend</key>
	<string>好友申请</string>
	<key>btn_black_friend</key>
	<string>黑名单</string>
	<key>btn_invite</key>
	<string>邀请</string>
	<key>btn_search</key>
	<string>搜索</string>
	<key>btn_agree</key>
	<string>同意</string>
	<key>btn_disagree</key>
	<string>不同意</string>
	<key>btn_tf_chat</key>
	<string>私聊</string>
	<key>btn_tf_view_info</key>
	<string>查看</string>
	<key>btn_tf_fight</key>
	<string>切磋</string>
	<key>btn_tf_un_black</key>
	<string>恢复</string>
	<key>btn_userinfo_head</key>
	<string>更改头像</string>
	<key>btn_userinfo_logout</key>
	<string>登出</string>
	<key>btn_userinfo_change_name</key>
	<string>修改</string>
	<key>btn_userinfo_change_name_1</key>
	<string>设置</string>
	<key>btn_uf_send_all</key>
	<string>一键赠送</string>
	<key>btn_fmi_send</key>
	<string>收取</string>
	<key>btn_fmi_send2</key>
	<string>赠送</string>
	<key>btn_main_activity</key>
	<string>活动</string>
	<key>btn_aae_get_reward</key>
	<string>直接领取</string>
	<key>btn_up_normal_feed</key>
	<string>培养一次</string>
	<key>btn_up_dia_feed</key>
	<string>培养十次</string>
	<key>btn_up_feed</key>
	<string>淬炼</string>
	<key>btn_upgrade</key>
	<string>升级</string>
	<key>btn_tower_box</key>
	<string>试手气</string>
	<key>btn_pet_tower_box_info</key>
	<string>宝箱内容</string>
	<key>btn_up_vip</key>
	<string>vip特权</string>
	<key>btn_achieve</key>
	<string>成就</string>
	<key>btn_go_to</key>
	<string>前往</string>
	<key>btn_eat</key>
	<string>吃包子</string>
	<key>btn_eat_dia</key>
	<string>\\i{p=images/ui_public1/gold.png;s=0.35}\\@</string>
	<key>btn_push_family_list</key>
	<string>推荐军团</string>
	<key>btn_create_family</key>
	<string>创建军团</string>
	<key>btn_pet_unlock</key>
	<string>解锁</string>
	<key>105</key>
	<string>兑换码</string>
	<key>106</key>
	<string>修改头像</string>
	<key>choose_friend</key>
	<string>选择好友</string>
	<key>btn_send</key>
	<string>发送</string>
	<key>invited</key>
	<string>已邀请</string>
	<key>btn_pet</key>
	<string>灵兽</string>
	<key>113</key>
	<string>投 注</string>
	<key>btn_feedback</key>
	<string>反馈</string>
	<key>115</key>
	<string>稍后攻打</string>
	<key>116</key>
	<string>立即前往</string>
	<key>117</key>
	<string>共享给好友</string>
	<key>118</key>
	<string>功勋奖励</string>
	<key>119</key>
	<string>战功商店</string>
	<key>120</key>
	<string>普通攻击</string>
	<key>121</key>
	<string>全力一击</string>
	<key>122</key>
	<string>已共享</string>
	<key>123</key>
	<string>可招募</string>
	<key>128</key>
	<string>获取路径</string>
	<key>inbox</key>
	<string>放入宝箱</string>
	<key>btn_raise</key>
	<string>淬炼</string>
	<key>btn_save</key>
	<string>保存</string>
	<key>132</key>
	<string>选择</string>
	<key>134</key>
	<string>神器</string>
	<key>btn_edit_team</key>
	<string>调整队伍</string>
	<key>atlas_type_2_1</key>
	<string>魔王</string>
	<key>137</key>
	<string>激活</string>
	<key>138</key>
	<string>觉醒</string>
	<key>139</key>
	<string>防守布阵</string>
	<key>140</key>
	<string>稍后</string>
	<key>141</key>
	<string>第@天领取</string>
	<key>148</key>
	<string>占</string>
	<key>btn_unload</key>
	<string>卸下</string>
	<key>150</key>
	<string>分解</string>
	<key>btn_owned</key>
	<string>已拥有</string>
	<key>btn_timeover</key>
	<string>已过期</string>
</dict>
</plist>
