<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attr1</key>
	<string>气血</string>
	<key>attr2</key>
	<string>速度</string>
	<key>attr3</key>
	<string>攻击</string>
	<key>attr4</key>
	<string>魔攻</string>
	<key>attr5</key>
	<string>物防</string>
	<key>attr6</key>
	<string>魔防</string>
	<key>attr7</key>
	<string>命中</string>
	<key>attr8</key>
	<string>闪避</string>
	<key>attr9</key>
	<string>会心</string>
	<key>attr10</key>
	<string>韧性</string>
	<key>attr11</key>
	<string>气血</string>
	<key>attr13</key>
	<string>攻击</string>
	<key>attr15</key>
	<string>物防</string>
	<key>attr16</key>
	<string>魔防</string>
	<key>attr17</key>
	<string>命中</string>
	<key>attr18</key>
	<string>闪避</string>
	<key>attr19</key>
	<string>会心</string>
	<key>attr20</key>
	<string>抗暴率</string>
	<key>attr67</key>
	<string>命中率</string>
	<key>attr68</key>
	<string>闪避率</string>
	<key>attr69</key>
	<string>会心率</string>
	<key>attr70</key>
	<string>抗暴率</string>
	<key>attr71</key>
	<string>大招技能百分比</string>
	<key>attr72</key>
	<string>控制抗性</string>
	<key>attr73</key>
	<string>被治疗效果</string>
	<key>attr74</key>
	<string>免疫控制</string>
	<key>attr81</key>
	<string>双攻</string>
	<key>attr82</key>
	<string>双防</string>
	<key>attr91</key>
	<string>怒气</string>
	<key>attr92</key>
	<string>护盾</string>
	<key>attr96</key>
	<string>免疫伤害</string>
	<key>attr99</key>
	<string>气血、攻击、物防、魔防</string>
	<key>attr200</key>
	<string>输出</string>
	<key>attr41</key>
	<string>减伤</string>
	<key>attr42</key>
	<string>抗性</string>
	<key>attr43</key>
	<string>输出</string>
	<key>attr44</key>
	<string>输出</string>
	<key>quality1</key>
	<string>白色品质</string>
	<key>quality2</key>
	<string>绿色品质</string>
	<key>quality3</key>
	<string>绿色+1品质</string>
	<key>quality4</key>
	<string>蓝色品质</string>
	<key>quality5</key>
	<string>蓝色+1品质</string>
	<key>quality6</key>
	<string>紫色品质</string>
	<key>quality7</key>
	<string>紫色+1品质</string>
	<key>quality8</key>
	<string>紫色+2品质</string>
	<key>quality9</key>
	<string>橙色品质</string>
	<key>quality10</key>
	<string>橙色+1品质</string>
	<key>quality11</key>
	<string>橙色+2品质</string>
	<key>quality12</key>
	<string>红色品质</string>
	<key>tower_attr11</key>
	<string>气血</string>
	<key>tower_attr17</key>
	<string>命中</string>
	<key>tower_attr19</key>
	<string>会心</string>
	<key>tower_attr20</key>
	<string>抗暴</string>
	<key>tower_attr41</key>
	<string>减伤</string>
	<key>tower_attr44</key>
	<string>输出</string>
	<key>country_1</key>
	<string>魏</string>
	<key>country_2</key>
	<string>蜀</string>
	<key>country_3</key>
	<string>吴</string>
	<key>country_4</key>
	<string>群</string>
	<key>country_5</key>
	<string>乱</string>
	<key>country_99</key>
	<string>无</string>
</dict>
</plist>
