<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mgr_btn4</key>
	<string>军团邮件</string>
	<key>mgr_btn3</key>
	<string>军团设置</string>
	<key>mgr_btn2</key>
	<string>军团升级</string>
	<key>mgr_btn1</key>
	<string>修改公告</string>
	<key>mgr_btn0</key>
	<string>加入申请</string>
	<key>ch_family_icon</key>
	<string>修改团徽</string>
	<key>ch_family_name</key>
	<string>修改名称</string>
	<key>family_lv_limited</key>
	<string>等级限制:</string>
	<key>family_type</key>
	<string>军团类型:</string>
	<key>ch_name_sec</key>
	<string>@秒后可更改</string>
	<key>ch_name_min</key>
	<string>@分钟后可更改</string>
	<key>apply_type2</key>
	<string>拒绝任何人加入</string>
	<key>apply_type1</key>
	<string>任何人都可以加入</string>
	<key>apply_type0</key>
	<string>需要验证才可加入</string>
	<key>ch_name_hour</key>
	<string>@小时后可更改</string>
	<key>family_name</key>
	<string>军团:</string>
	<key>family_notice</key>
	<string>公告:</string>
	<key>gongxian</key>
	<string>个人贡献:</string>
	<key>btn_modify</key>
	<string>修改</string>
	<key>menu_man_title</key>
	<string>军团管理</string>
	<key>menu_man_btn1</key>
	<string>军团宣言</string>
	<key>menu_btn0</key>
	<string>阵容</string>
	<key>menu_btn1</key>
	<string>留言</string>
	<key>menu_btn2</key>
	<string>切磋</string>
	<key>menu_btn3</key>
	<string>删除好友</string>
	<key>menu_btn4</key>
	<string>加黑名单</string>
	<key>menu_btn5</key>
	<string>私聊</string>
	<key>menu_btn6</key>
	<string>加好友</string>
	<key>menu_man_btn2</key>
	<string>成员任命</string>
	<key>menu_man_btn3</key>
	<string>成员审核</string>
	<key>menu_man_btn4</key>
	<string>解散军团</string>
	<key>menu_mem_title1</key>
	<string>军团成员</string>
	<key>menu_mem_title2</key>
	<string>审核成员</string>
	<key>menu_mem_btn1</key>
	<string>任命</string>
	<key>menu_mem_btn2</key>
	<string>驱逐</string>
	<key>menu_mem_btn3</key>
	<string>拒绝</string>
	<key>menu_mem_btn4</key>
	<string>同意</string>
	<key>menu_mem_btn5</key>
	<string>一键拒绝</string>
	<key>menu_mem_btn6</key>
	<string>按时间排序</string>
	<key>menu_mem_btn7</key>
	<string>按战力排序</string>
	<key>menu_mem1</key>
	<string>贡献排行:</string>
	<key>menu_mem2</key>
	<string>今日贡献:</string>
	<key>menu_mem3</key>
	<string>总贡献:</string>
	<key>menu_mem4</key>
	<string>斗法排名:</string>
	<key>menu_mem5</key>
	<string>在线</string>
	<key>menu_mem6</key>
	<string>离线</string>
	<key>menu_xuanyan_input</key>
	<string>请在这里输入军团宣言</string>
	<key>menu_dis</key>
	<string>难道真的要解散这辛辛苦苦创立的军团了吗？</string>
	<key>menu_cance_dis</key>
	<string>你已申请解散军团
军团将在@时间后正式解散
解散期间点击“取消解散”，可取消解散军团</string>
	<key>menu_dis_btn1</key>
	<string>容朕想想</string>
	<key>menu_dis_btn2</key>
	<string>果断解散</string>
	<key>menu_dis_btn3</key>
	<string>取消解散</string>
	<key>empty</key>
	<string>军团宣言不能为空！</string>
	<key>menu_dynamic</key>
	<string>军团日志</string>
	<key>dyn_type1</key>
	<string>[封魔]</string>
	<key>dyn_type2</key>
	<string>[召唤泉水]</string>
	<key>dyn_type3</key>
	<string>[饮泉]</string>
	<key>dyn_type4</key>
	<string>[擂鼓]</string>
	<key>dyn_type5</key>
	<string>[砸蛋]</string>
	<key>dyn_type6</key>
	<string>[审核通过]</string>
	<key>dyn_type7</key>
	<string>[任命职位]</string>
	<key>dyn_type8</key>
	<string>[驱逐成员]</string>
	<key>dyn_type9</key>
	<string>[军团解散]</string>
	<key>dyn_type10</key>
	<string>[成员退出]</string>
	<key>dyn_type11</key>
	<string>[军团升级]</string>
	<key>dyn_type12</key>
	<string>[团长转让]</string>
	<key>dyn_type13</key>
	<string>[图腾升级]</string>
	<key>dyn_type14</key>
	<string>[图腾研究]</string>
	<key>dyn_type15</key>
	<string>（成功击退怪物）</string>
	<key>dyn_type16</key>
	<string>（击退怪物失败）</string>
	<key>dyn_type17</key>
	<string>（怪物入侵加成）</string>
	<key>dyn_type18</key>
	<string>[军团战]</string>
	<key>dyn_1</key>
	<string>为军团贡献</string>
	<key>dyn_2</key>
	<string>获得:</string>
	<key>dyn_3</key>
	<string>消耗:</string>
	<key>dyn_info1</key>
	<string>协助其他人完成封魔</string>
	<key>dyn_info6</key>
	<string>加入军团</string>
	<key>dyn_info7</key>
	<string>被任命为@</string>
	<key>dyn_info8</key>
	<string>因长时间潜水被驱逐本军团</string>
	<key>dyn_info9</key>
	<string>军团长携款潜逃，军团将在48小时后解散</string>
	<key>dyn_info10</key>
	<string>退出军团</string>
	<key>dyn_info11</key>
	<string>军团升级到@级</string>
	<key>dyn_info12</key>
	<string>军团长长时间不在线，自动任命新团长</string>
	<key>dyn_info13</key>
	<string>图腾@升级到@级</string>
	<key>dyn_info14</key>
	<string>图腾@学习等级上限提高到@级</string>
	<key>dyn_info15</key>
	<string>已成功击退入侵怪物，活动结束后获得击退加成奖励。</string>
	<key>dyn_info16</key>
	<string>未成功击退入侵怪物，不会获得任何加成奖励。</string>
	<key>dyn_info18</key>
	<string>本次军团战排名“@”，快速领取奖励吧</string>
	<key>dyn_info18_1</key>
	<string>本次军团战未进入排名。</string>
	<key>rank1</key>
	<string>冠军</string>
	<key>rank2</key>
	<string>亚军</string>
	<key>rank4</key>
	<string>4强</string>
	<key>rank8</key>
	<string>8强</string>
	<key>rank16</key>
	<string>16强</string>
	<key>rank99</key>
	<string>未进入排名</string>
	<key>notice_title</key>
	<string>公告修改</string>
	<key>notice_inout</key>
	<string>在此输入公告内容！</string>
	<key>dyn_menu0</key>
	<string>任命军团长</string>
	<key>dyn_menu1</key>
	<string>任命副军团长</string>
	<key>dyn_menu2</key>
	<string>任命成员</string>
	<key>title0</key>
	<string>全体成员</string>
	<key>title1</key>
	<string>【军团长】</string>
	<key>title2</key>
	<string>【副军团长】</string>
	<key>title3</key>
	<string>【长老】</string>
	<key>title4</key>
	<string>【先锋】</string>
	<key>title9</key>
	<string>【成员】</string>
	<key>title10</key>
	<string>【实习】</string>
	<key>btn0</key>
	<string>免职</string>
	<key>btn1</key>
	<string>退出</string>
	<key>btn2</key>
	<string>取消解散</string>
	<key>dis_1</key>
	<string>后解散</string>
	<key>dis_warning</key>
	<string>军团解散！！！</string>
	<key>app_1</key>
	<string>后可申请</string>
	<key>app_success</key>
	<string>申请成功！</string>
	<key>rec_app</key>
	<string>你被任命为@</string>
	<key>rec_app2</key>
	<string>你被免职</string>
	<key>rec_expel</key>
	<string>你被驱逐出军团</string>
	<key>rec_pass</key>
	<string>军团审核同意你的申请</string>
	<key>rec_joinin</key>
	<string>成功加入军团</string>
	<key>no_rank</key>
	<string>暂无排名</string>
	<key>exit_family</key>
	<string>是否确定退出军团？</string>
	<key>family_warning1</key>
	<string>是否确定转让军团长？</string>
	<key>family_warning2</key>
	<string>是否确定驱逐该成员？</string>
	<key>offline1</key>
	<string>@分钟前</string>
	<key>offline2</key>
	<string>@小时前</string>
	<key>offline3</key>
	<string>@天前</string>
	<key>login</key>
	<string>登录</string>
	<key>77</key>
	<string>开启军团成员审核</string>
	<key>78</key>
	<string>关闭军团成员审核</string>
	<key>90</key>
	<string>解散军团</string>
	<key>91</key>
	<string>管理</string>
	<key>92</key>
	<string>退团</string>
	<key>104</key>
	<string>退出军团</string>
	<key>no_skill</key>
	<string>未学习</string>
	<key>unlock_skill_tip</key>
	<string>军团达到@级解锁该图腾</string>
	<key>skill_research</key>
	<string>研究等级提高到@级</string>
	<key>spe_skill_limit</key>
	<string>上限等级:\\w{c=60FF00}@\\w{c=FFA330}（提升军团等级可提高上限）</string>
	<key>update1</key>
	<string>成员人数@</string>
	<key>update2</key>
	<string>商店刷新@折</string>
	<key>update3</key>
	<string>商店购买@折</string>
	<key>update4</key>
	<string>图腾研究等级上限@</string>
	<key>update5</key>
	<string>解锁图腾:@</string>
	<key>update6</key>
	<string>参加军团战</string>
	<key>update7</key>
	<string>金矿数量:@</string>
	<key>update8</key>
	<string>高级图腾等级上限:@</string>
	<key>update9</key>
	<string>副团长人数@</string>
	<key>update10</key>
	<string>长老人数@</string>
	<key>update11</key>
	<string>先锋人数@</string>
	<key>110</key>
	<string>周贡献</string>
	<key>111</key>
	<string>月贡献</string>
</dict>
</plist>
