<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>txt_family_stage_act_tip</key>
	<string>@邀请@参与[\\w{c=ff0000}军团竞赛\\]</string>
	<key>txt_stage_basic_attrInfo</key>
	<string>上阵武将@</string>
	<key>title_stage_lefttime</key>
	<string>进行中:</string>
	<key>txt_minor_buff</key>
	<string>次要效果</string>
	<key>txt_stage_fight_desc</key>
	<string>经过\\w{c=fd50ff}@\\的英勇战斗，贡献了\\w{c=ff0000}@\\的副本进度</string>
	<key>txt_stage_kill_info</key>
	<string>\\w{c=e083ff}@\\击败了\\w{c=e083ff}@\\的头目,掉落了@</string>
	<key>txt_ore_cry_reward</key>
	<string>军团每集满100颗水晶，团员可获得@金币</string>
	<key>name1</key>
	<string>贡献</string>
	<key>spring_drink_ok</key>
	<string>您今日已饮过泉水了！</string>
	<key>3</key>
	<string>规则</string>
	<key>4</key>
	<string>饮 泉</string>
	<key>5</key>
	<string>召 唤</string>
	<key>6</key>
	<string>当前饮泉人数：</string>
	<key>7</key>
	<string>仙泉召唤者</string>
	<key>8</key>
	<string>当前封魔人数：</string>
	<key>9</key>
	<string>加 入</string>
	<key>10</key>
	<string>协助</string>
	<key>seven_all_help</key>
	<string>您已经封魔过了，同时5名协助者无法完成封魔！</string>
	<key>hd_reward1</key>
	<string>奖励个人贡献</string>
	<key>hd_reward2</key>
	<string>奖励金币，体力等</string>
	<key>hd_reward3</key>
	<string>奖励个人贡献</string>
	<key>hd_reward4</key>
	<string>奖励个人贡献</string>
	<key>hd_content1</key>
	<string>每人每日1次擂鼓，可以获得个人贡献以及增加军团活跃度</string>
	<key>hd_content2</key>
	<string>每人每日1次砸金蛋，可以获得金币，有几率获得体力以及增加军团活跃度</string>
	<key>hd_content3</key>
	<string>与军团成员一起练魔可以获得大量个人贡献以及增加军团活跃度</string>
	<key>hd_content4</key>
	<string>与军团成员一同分享仙泉将获得大量个人贡献以及增加军团活跃度</string>
	<key>hd_tip1</key>
	<string>已擂鼓</string>
	<key>hd_tip2</key>
	<string>已砸蛋</string>
	<key>hd_tip3</key>
	<string>封魔人数(@/5)</string>
	<key>hd_tip4</key>
	<string>已饮泉</string>
	<key>hd_tip4_1</key>
	<string>已召唤</string>
	<key>hd_tip4_2</key>
	<string>饮泉人数已满</string>
	<key>lab_active_box</key>
	<string>今日军团活跃度达到@即可领取</string>
	<key>shop</key>
	<string>军团商店</string>
	<key>mobai1</key>
	<string>你确定花费\\i{p=images/ui_public1/coin.png;s=0.35}\\w{c=00ffff}@\\w{c=ffffff}膜拜\\w{c=ff00ff}【@】\\w{c=ffffff}吗？</string>
	<key>mobai2</key>
	<string>本次膜拜可以获得\\i{p=images/ui_public1/energy.png;s=0.35}\\w{c=00ffff}@</string>
	<key>mobai3</key>
	<string>今日还可以膜拜\\w{c=00ffff}@\\w{c=ffffff}次</string>
	<key>mobai_no_num</key>
	<string>今日膜拜次数已用完!</string>
	<key>25</key>
	<string>(需要军团等级@)</string>
	<key>seven_invite1</key>
	<string>邀请您加入</string>
	<key>seven_invite2</key>
	<string>封魔台</string>
	<key>28</key>
	<string>膜拜</string>
	<key>29</key>
	<string>是否花费\\c{n=90001;s=0.4;v=0}\\@召唤泉水，可以立即获得\\c{n=90014;s=0.4;v=0}\\@，并且军团里每增加一名饮泉者都会立即获得\\c{n=90014;s=0.4;v=0}\\@</string>
	<key>30</key>
	<string>上届实况</string>
	<key>31</key>
	<string>报名</string>
	<key>32</key>
	<string>军团排名</string>
	<key>33</key>
	<string>第@届</string>
	<key>family_war_rule1</key>
	<string>报名时间：</string>
	<key>family_war_rule2</key>
	<string>每周三00:00至次周一24:00</string>
	<key>family_war_rule3</key>
	<string>开战时间：</string>
	<key>family_war_rule4</key>
	<string>1/8赛每周二10:00点公布  1/4强赛每周二14:00点公布
半决赛每周二18:00点公布  总决赛每周二21:00点公布</string>
	<key>family_war_rule5</key>
	<string>报名条件：</string>
	<key>family_war_rule6</key>
	<string>军团达到2级自动报名，本周活跃排名达到前16可参与最终比赛</string>
	<key>35</key>
	<string>我的军团\\w{c=5aff00}@\\</string>
	<key>36</key>
	<string>排名\\w{c=5aff00}@\\</string>
	<key>37</key>
	<string>战力\\w{c=5aff00}@\\</string>
	<key>38</key>
	<string>等级\\w{c=5aff00}@\\</string>
	<key>39</key>
	<string>本周贡献@</string>
	<key>40</key>
	<string>军团布阵</string>
	<key>41</key>
	<string>我的队伍</string>
	<key>42</key>
	<string>调整队伍</string>
	<key>43</key>
	<string>查看</string>
	<key>45</key>
	<string>贡献:@</string>
	<key>46</key>
	<string>战力:@</string>
	<key>47</key>
	<string>保存出战</string>
	<key>48</key>
	<string>我的支持</string>
	<key>49</key>
	<string>支持记录</string>
	<key>50</key>
	<string>支持</string>
	<key>51</key>
	<string>实况</string>
	<key>52</key>
	<string>战报</string>
	<key>58</key>
	<string>家族等级:@</string>
	<key>59</key>
	<string>本周活跃度\\i{p=images/icon/sep_item/190014.png;s=0.35}:\\w{c=5aff00}@\\</string>
	<key>family_war_sign_check</key>
	<string>是否决定参加本次军团战？</string>
	<key>family_war_sign_success</key>
	<string>报名成功！</string>
	<key>family_war_sign_fail1</key>
	<string>抱歉，军团等级需要达到@级</string>
	<key>family_war_sign_fail2</key>
	<string>抱歉，军团战只有团长与副团长有资格报名</string>
	<key>family_war_state_8</key>
	<string>1/8决赛</string>
	<key>family_war_state_4</key>
	<string>1/4决赛</string>
	<key>family_war_state_2</key>
	<string>半决赛</string>
	<key>family_war_state_1</key>
	<string>决赛</string>
	<key>check_save_family_team</key>
	<string>军团站位有改动，是否保存？</string>
	<key>74</key>
	<string>个人奖励</string>
	<key>75</key>
	<string>军团奖励</string>
	<key>76</key>
	<string>个人连胜奖励</string>
	<key>77</key>
	<string>强</string>
	<key>78</key>
	<string>击败@人</string>
	<key>79</key>
	<string>参战总战力：@</string>
	<key>80</key>
	<string>单场比赛连续</string>
	<key>82</key>
	<string>封魔就等你啦</string>
	<key>family_mail1</key>
	<string>邮件标题不能为空</string>
	<key>family_mail2</key>
	<string>邮件内容不能为空</string>
	<key>family_donate</key>
	<string>捐赠</string>
	<key>family_help</key>
	<string>求助</string>
	<key>family_cdtime</key>
	<string>请稍等片刻再请求捐赠</string>
	<key>family_helpfreq</key>
	<string>发送频率过快，请稍后再发</string>
	<key>family_help_notice</key>
	<string>已经发送请求到军团聊天窗口</string>
	<key>family_donate_lock</key>
	<string>等级不足，不能捐献</string>
</dict>
</plist>
