<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item_desc_90029</key>
	<string>用来购买与竞拍军团物品</string>
	<key>item_id_90029</key>
	<string>命运硬币</string>
	<key>item_desc_90022</key>
	<string>用来跨服战商店购买物品</string>
	<key>item_id_90022</key>
	<string>魔晶</string>
	<key>item_id_90001</key>
	<string>元宝</string>
	<key>item_desc_90001</key>
	<string>最好的流通货币，不是金币可以比拟的</string>
	<key>item_id_90005</key>
	<string>声望</string>
	<key>item_desc_90005</key>
	<string>用来将魂商店购买物品</string>
	<key>item_id_95001</key>
	<string>战功</string>
	<key>item_desc_95001</key>
	<string>可用来在战功商店兑换稀有道具或英雄魂魄</string>
    <key>item_id_95005</key>
	<string>流动物资</string>
	<key>item_desc_95005</key>
	<string>可以被占据的流动物资，也可以通过占据别人来增加自己的流动物资</string>
	<key>item_id_190014</key>
	<string>军团活跃度</string>
	<key>item_desc_190014</key>
	<string>用于升级军团等级，研究图腾</string>
	<key>item_id_95002</key>
	<string>功勋</string>
	<key>item_desc_95002</key>
	<string>可用来兑换功勋奖励</string>
	<key>item_id_90002</key>
	<string>金币</string>
	<key>item_desc_90002</key>
	<string>仅次于元宝的流通货币，谁都不会拒绝这些闪闪发光的玩意儿</string>
	<key>item_id_90006</key>
	<string>体力</string>
	<key>item_desc_90006</key>
	<string>用于战斗中消耗</string>
	<key>item_id_90012</key>
	<string>灵玉</string>
	<key>item_desc_90012</key>
	<string>在灵玉商店中用于兑换的货币</string>
	<key>item_id_90015</key>
	<string>技能点</string>
	<key>item_desc_90015</key>
	<string>用于英雄升级技能</string>
	<key>item_id_90016</key>
	<string>兽魂</string>
	<key>item_desc_90016</key>
	<string>用于培养灵兽</string>
	<key>item_id_90004</key>
	<string>经验</string>
	<key>item_desc_90004</key>
	<string>用于战队升级</string>
	<key>item_id_90017</key>
	<string>英雄经验</string>
	<key>item_desc_90017</key>
	<string>用于英雄升级</string>
	<key>item_id_90018</key>
	<string>熔液</string>
	<key>item_desc_90018</key>
	<string>神器淬炼必需品</string>
	<key>item_id_90020</key>
	<string>将魂</string>
	<key>item_desc_90020</key>
	<string>在将星商店中用于兑换的货币</string>
	<key>item_id_90014</key>
	<string>军团贡献</string>
	<key>item_desc_90014</key>
	<string>可用于军团商店购买物品，军团图腾学习技能</string>
	<key>item_id_90027</key>
	<string>情义值</string>
	<key>item_desc_90027</key>
	<string>在情义商店中用于兑换的货币</string>
	<key>item_id_90024</key>
	<string>无尽徽章</string>
	<key>item_desc_90024</key>
	<string>在无尽之塔商店中用于兑换的货币</string>
	<key>item_id_60001</key>
	<string>气血之石</string>
	<key>item_desc_60001</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_60003</key>
	<string>攻击之石</string>
	<key>item_desc_60003</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_60005</key>
	<string>物防之石</string>
	<key>item_desc_60005</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_60006</key>
	<string>魔防之石</string>
	<key>item_desc_60006</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_60067</key>
	<string>命中之石</string>
	<key>item_desc_60067</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_60068</key>
	<string>闪避之石</string>
	<key>item_desc_60068</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_60069</key>
	<string>会心之石</string>
	<key>item_desc_60069</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_60070</key>
	<string>抗爆之石</string>
	<key>item_desc_60070</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_60072</key>
	<string>抗性之石</string>
	<key>item_desc_60072</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_60073</key>
	<string>疗效之石</string>
	<key>item_desc_60073</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_60041</key>
	<string>减伤之石</string>
	<key>item_desc_60041</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_60044</key>
	<string>输出之石</string>
	<key>item_desc_60044</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_61001</key>
	<string>气血之灵</string>
	<key>item_desc_61001</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_61003</key>
	<string>攻击之灵</string>
	<key>item_desc_61003</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_61005</key>
	<string>物防之灵</string>
	<key>item_desc_61005</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_61006</key>
	<string>魔防之灵</string>
	<key>item_desc_61006</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_61067</key>
	<string>命中之灵</string>
	<key>item_desc_61067</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_61068</key>
	<string>闪避之灵</string>
	<key>item_desc_61068</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_61069</key>
	<string>会心之灵</string>
	<key>item_desc_61069</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_61072</key>
	<string>抗性之灵</string>
	<key>item_desc_61072</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_61073</key>
	<string>疗效之灵</string>
	<key>item_desc_61073</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_61041</key>
	<string>减伤之灵</string>
	<key>item_desc_61041</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_61044</key>
	<string>输出之灵</string>
	<key>item_desc_61044</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_61070</key>
	<string>抗爆之灵</string>
	<key>item_desc_61070</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_62001</key>
	<string>气血之精</string>
	<key>item_desc_62001</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_62003</key>
	<string>攻击之精</string>
	<key>item_desc_62003</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_62005</key>
	<string>物防之精</string>
	<key>item_desc_62005</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_62006</key>
	<string>魔防之精</string>
	<key>item_desc_62006</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_62067</key>
	<string>命中之精</string>
	<key>item_desc_62067</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_62068</key>
	<string>闪避之精</string>
	<key>item_desc_62068</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_62069</key>
	<string>会心之精</string>
	<key>item_desc_62069</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_62070</key>
	<string>抗爆之精</string>
	<key>item_desc_62070</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_62072</key>
	<string>抗性之精</string>
	<key>item_desc_62072</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_62073</key>
	<string>疗效之精</string>
	<key>item_desc_62073</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_62041</key>
	<string>减伤之精</string>
	<key>item_desc_62041</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_62044</key>
	<string>输出之精</string>
	<key>item_desc_62044</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_63001</key>
	<string>气血之魂</string>
	<key>item_desc_63001</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_63003</key>
	<string>攻击之魂</string>
	<key>item_desc_63003</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_63005</key>
	<string>物防之魂</string>
	<key>item_desc_63005</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_63006</key>
	<string>魔防之魂</string>
	<key>item_desc_63006</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_63067</key>
	<string>命中之魂</string>
	<key>item_desc_63067</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_63068</key>
	<string>闪避之魂</string>
	<key>item_desc_63068</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_63069</key>
	<string>会心之魂</string>
	<key>item_desc_63069</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_63070</key>
	<string>抗爆之魂</string>
	<key>item_desc_63070</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_63072</key>
	<string>抗性之魂</string>
	<key>item_desc_63072</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_63073</key>
	<string>疗效之魂</string>
	<key>item_desc_63073</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_63041</key>
	<string>减伤之魂</string>
	<key>item_desc_63041</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_63044</key>
	<string>输出之魂</string>
	<key>item_desc_63044</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_64001</key>
	<string>气血之魄</string>
	<key>item_desc_64001</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_64003</key>
	<string>攻击之魄</string>
	<key>item_desc_64003</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_64005</key>
	<string>物防之魄</string>
	<key>item_desc_64005</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_64006</key>
	<string>魔防之魄</string>
	<key>item_desc_64006</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_64067</key>
	<string>命中之魄</string>
	<key>item_desc_64067</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_64068</key>
	<string>闪避之魄</string>
	<key>item_desc_64068</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_64069</key>
	<string>会心之魄</string>
	<key>item_desc_64069</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_64070</key>
	<string>抗爆之魄</string>
	<key>item_desc_64070</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_64072</key>
	<string>抗性之魄</string>
	<key>item_desc_64072</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_64073</key>
	<string>疗效之魄</string>
	<key>item_desc_64073</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_64041</key>
	<string>减伤之魄</string>
	<key>item_desc_64041</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_64044</key>
	<string>输出之魄</string>
	<key>item_desc_64044</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_68001</key>
	<string>气血之源</string>
	<key>item_desc_68001</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_68003</key>
	<string>攻击之源</string>
	<key>item_desc_68003</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_68005</key>
	<string>物防之源</string>
	<key>item_desc_68005</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_68006</key>
	<string>魔防之源</string>
	<key>item_desc_68006</key>
	<string>用于装备在阵位上的命魂</string>
	<key>item_id_69999</key>
	<string>命魂碎片</string>
	<key>item_desc_69999</key>
	<string>用于兑换橙色命魂</string>
	<key>item_source_name_mine</key>
	<string>海底探险</string>
	<key>item_source_desc_mine</key>
	<string>前往海底探险</string>
	<key>item_source_name_draw</key>
	<string>抽卡掉落</string>
	<key>item_source_desc_draw</key>
	<string>前往点将台抽卡</string>
	<key>item_source_name_shop1</key>
	<string>普通商店</string>
	<key>item_source_desc_shop1</key>
	<string>有概率刷出英雄魂魄</string>
	<key>item_source_name_shop2</key>
	<string>秘宝</string>
	<key>item_source_desc_shop2</key>
	<string>有概率刷出英雄魂魄</string>
	<key>item_source_name_shop3</key>
	<string>神品</string>
	<key>item_source_desc_shop3</key>
	<string>有概率刷出英雄魂魄</string>
	<key>item_source_name_shopfamily</key>
	<string>军团商店</string>
	<key>item_source_desc_shopfamily</key>
	<string>有概率刷出英雄魂魄</string>
	<key>item_source_name_shoparena</key>
	<string>竞技场</string>
	<key>item_source_desc_shoparena</key>
	<string>竞技场商店用声望兑换</string>
	<key>item_source_name_shopcardstar</key>
	<string>将星商店</string>
	<key>item_source_desc_shopcardstar</key>
	<string>有概率刷出英雄魂魄</string>
	<key>item_source_name_shopworld</key>
	<string>跨服战商店</string>
	<key>item_source_desc_shopworld</key>
	<string>产出英雄魂魄</string>
	<key>item_source_name_shopcrusade</key>
	<string>战功商店</string>
	<key>item_source_desc_shopcrusade</key>
	<string>产出英雄魂魄</string>
	<key>item_source_name_shopdragonball</key>
	<string>龙珠商店</string>
	<key>item_source_desc_shopdragonball</key>
	<string>产出英雄魂魄</string>
	<key>item_source_name_shopmine</key>
	<string>海底商店</string>
	<key>item_source_desc_shopmine</key>
	<string>购买@可获得</string>
	<key>item_source_desc_shopmine2</key>
	<string>购买资源包可获得</string>
	<key>item_source_name_shoptower</key>
	<string>无尽之塔商店</string>
	<key>item_source_desc_shoptower</key>
	<string>产出英雄魔纹</string>
	<key>item_source_name_equsoulact</key>
	<string>挑战溶液试炼可获得大量溶液</string>
	<key>item_source_desc_equsoulact</key>
	<string></string>
	<key>item_source_name_equmelt</key>
	<string>熔炼多余装备材料获得溶液</string>
	<key>item_source_desc_equmelt</key>
	<string></string>
	<key>item_source_name_atlasdevis</key>
	<string>挑战魔王副本可获得大量将魂</string>
	<key>item_source_desc_atlasdevis</key>
	<string>今日剩余次数：@</string>
	<key>item_source_name_cardsoulmelt</key>
	<string>分解英雄碎片可获得将魂</string>
	<key>item_source_desc_cardsoulmelt</key>
	<string></string>
	<key>item_source_name_petshop</key>
	<string>灵玉商店</string>
	<key>item_source_desc_petshop</key>
	<string>可使用灵玉购买</string>
	<key>item_source_name_goldbox</key>
	<string>金宝箱</string>
	<key>item_source_desc_goldbox</key>
	<string>有概率获得灵兽魂魄</string>
	<key>item_source_name_soulbox</key>
	<string>神秘魂匣</string>
	<key>item_source_desc_soulbox</key>
	<string>有概率刷出英雄魂魄</string>
    <key>item_source_desc_daytask</key>
	<string>完成日常任务中的任务达人可获得</string>
	<key>item_source_name_diamondbuy</key>
	<string>元宝购买</string>
	<key>item_source_desc_diamondbuy</key>
	<string>今日还可以购买@个</string>
</dict>
</plist>
