<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lb_hd_soullife_saleoff</key>
	<string>我一直在寻找，完美的命魂在哪里？活动期间\\w{c=ff0000}寻仙价格打@折\\，更有甄甄与你全程相伴，让你撸到完全停不下来！</string>
	<key>lab_end_lefttime</key>
	<string>剩余时间:@</string>
	<key>lab_open_quick_time</key>
	<string>即将开始: @</string>
	<key>lab_unlock_time_week</key>
	<string>每周@点开启</string>
	<key>lab_ad_word3</key>
	<string>前后通吃,  无限回怒</string>
	<key>lab_ad_word2</key>
	<string>魔功群伤,  满血复活</string>
	<key>lab_ad_word1</key>
	<string>高攻单胜,  无人能及</string>
	<key>lab_free_title</key>
	<string>免费:</string>
	<key>lab_pickax_supplement</key>
	<string>点击任意区域获得钻头,指针越靠近中心钻头越多!</string>
	<key>lab_blackmarket_buy_timeout</key>
	<string>兑换期限已过，下次再来哦!</string>
	<key>lab_mine_lefttime</key>
	<string>剩余时间:</string>
	<key>lab_mine_trade_empty</key>
	<string>所选兑换物数量不能为0</string>
	<key>lab_mine_value_no_enough</key>
	<string>交易失败！所需价值不足。</string>
	<key>lab_mine_max_trade_value</key>
	<string>已达到兑换所需价值</string>
	<key>lab_mermaid_reward</key>
	<string>偶遇美人鱼，得到青睐获赠\\w{c=0033ff;s=20}@*@\\</string>
	<key>lab_mermaid_buy_timeout</key>
	<string>购买期限已过，下次再来哦!</string>
	<key>lab_mermaid_buy_lefttime</key>
	<string>@到期</string>
	<key>lab_my_diamond</key>
	<string>我的元宝</string>
	<key>lab_senior</key>
	<string>高级</string>
	<key>lab_intermediate</key>
	<string>中级</string>
	<key>lab_primary</key>
	<string>初级</string>
	<key>lab_my_resource</key>
	<string>我的资源</string>
	<key>title_mine_total_value</key>
	<string>总价值</string>
	<key>lab_discount_price</key>
	<string>折后:</string>
	<key>lab_original_price</key>
	<string>原价:</string>
	<key>lab_tip_mermaid</key>
	<string>这是我海底一族的珍品，既然我们这么有缘分，低价卖给你咯!</string>
	<key>lab_apps_txt2_2</key>
	<string>给自己点个赞!</string>
	<key>lab_apps_txt2_1</key>
	<string>孤王乏了!</string>
	<key>lab_apps_info2</key>
	<string>主公麾下武将勇不可挡，浩浩铁骑已荡平虎牢关，皇图霸业指日可待</string>
	<key>lab_apps_title2</key>
	<string>主公威武</string>
	<key>lab_apps_txt1_2</key>
	<string>中意，点赞!</string>
	<key>lab_apps_txt1_1</key>
	<string>不中意</string>
	<key>lab_apps_info1</key>
	<string>赵云大将，智能双全，勇冠三国，获此良将霸业可图，不知主公是否中意？</string>
	<key>lab_apps_title1</key>
	<string>恭喜主公</string>
	<key>lab_mine_proj_cancel2</key>
	<string>是否确定取消该工程，并返还\\i{p=images/icon/sep_item/90019.png;s=0.3}\\x@,\\i{p=images/icon/mine/79.png;s=0.3}\\x@</string>
	<key>lab_mine_proj_cancel1</key>
	<string>是否确定取消该工程，并返还\\i{p=images/icon/sep_item/90019.png;s=0.3}\\x@</string>
	<key>lab_mine_proj_vip6</key>
	<string>vip6工程时间缩短20%</string>
	<key>lab_mine_new_time3</key>
	<string>4小时</string>
	<key>lab_mine_new_time2</key>
	<string>2小时</string>
	<key>lab_mine_new_time1</key>
	<string>1小时</string>
	<key>lab_mine_diging_pos</key>
	<string>有正在挖掘的资源，坐标位于(X:@,Y:@)</string>
	<key>lab_mine_use_detonator1</key>
	<string>是否消耗\\i{p=images/icon/mine/79.png;s=0.3}\\x@立即获得@</string>
	<key>lab_mine_unget_pos</key>
	<string>有未领取的矿石，坐标位于(X:@,Y:@)</string>
	<key>lab_mine_mystical_use</key>
	<string>神秘的宝石，使用后会立即重置您的探险进度。</string>
	<key>lab_exchange_box_title</key>
	<string>完成所有兑换即可领取</string>
	<key>lab_exchange_heleText</key>
	<string>兑换物品需要一定数量的矿石，兑换会在规定时间内刷新，只要在规定时间内完成所有的兑换即可领取一份丰厚的奖励！</string>
	<key>lab_new_proj_detonator_limit</key>
	<string>新建工程需要@个雷管，您当前的雷管数量\\w{c=ff0000;s=20}(@)\\不足，是否需要购买?</string>
	<key>lab_new_proj_pickax_limit</key>
	<string>新建工程需要@个电钻，您当前的电钻数量\\w{c=ff0000;s=20}(@)\\不足，是否需要购买?</string>
	<key>lab_dig_detonator_num_limit</key>
	<string>开采@需要@个雷管，你当前的雷管数量\\w{c=ff0000;s=20}(@)\\不足，是否需要购买?</string>
	<key>lab_detonator_num_limit</key>
	<string>立即结束需要@个雷管，你当前的雷管数量\\w{c=ff0000;s=20}(@)\\不足，是否需要购买?</string>
	<key>lab_pickax_num_limit</key>
	<string>当前的电钻数量不足，是否需要使用电钻资源包增加电钻次数？</string>
	<key>lab_project_vip_lock</key>
	<string>VIP@可自动解锁此工程</string>
	<key>lab_time_sec</key>
	<string>@秒</string>
	<key>lab_time_hour</key>
	<string>@小时</string>
	<key>lab_time_min</key>
	<string>@分钟</string>
	<key>lab_mine_dig_time_limit</key>
	<string>确定开采@吗？预计耗时@</string>
	<key>lab_mine_layer_desc</key>
	<string>将获得@-@份矿石</string>
	<key>lab_mine_layer_lv4</key>
	<string>海底L@</string>
	<key>lab_mine_layer_lv3</key>
	<string>深层L@</string>
	<key>lab_mine_layer_lv2</key>
	<string>中层L@</string>
	<key>lab_mine_layer_lv1</key>
	<string>浅层L@</string>
	<key>lab_count</key>
	<string>数量:</string>
	<key>lab_project_waitfor</key>
	<string>准备施工</string>
	<key>lab_project_cost</key>
	<string>工程消耗</string>
	<key>lab_choose_dig_time</key>
	<string>选择挖掘时间</string>
	<key>lab_choose_dig_depth</key>
	<string>选择挖掘深度</string>
	<key>lab_new_project_pro</key>
	<string>新工程属性</string>
	<key>lab_new_project_title</key>
	<string>添加工程</string>
	<key>lab_mine_use_detonator</key>
	<string>是否消耗\\i{p=images/icon/mine/79.png;s=0.3}\\x@炸掉@</string>
	<key>lab_mine_reset_warning</key>
	<string>重置探险刷新时间未到，无法刷新</string>
	<key>lab_mine_reset_content</key>
	<string>海底探险每两天可以手动刷新重置，届时神秘之鲨怪物等级清零，确定要刷新重置吗？</string>
	<key>lab_unlock</key>
	<string>解锁</string>
	<key>lab_project_lock</key>
	<string>锁住</string>
	<key>lab_new_project</key>
	<string>新工程</string>
	<key>lab_finish</key>
	<string>完成</string>
	<key>lab_mine_idle_project</key>
	<string>空闲队列</string>
	<key>lab_mine_dig_depth</key>
	<string>挖掘深度</string>
	<key>lab_mine_workshop</key>
	<string>探险工程</string>
	<key>lab_mine_ high</key>
	<string>高级资源</string>
	<key>lab_mine_ middle</key>
	<string>中级资源</string>
	<key>lab_mine_ primary</key>
	<string>初级资源</string>
	<key>lab_dig_tool_nums</key>
	<string>电钻:  @</string>
	<key>lab_lv_ex</key>
	<string>等级:  @</string>
	<key>lab_mine_reset</key>
	<string>重置探险</string>
	<key>lab_mine_recover</key>
	<string>点击恢复</string>
	<key>lab_endure</key>
	<string>耐久: </string>
	<key>lab_get_souls_by_card</key>
	<string>已拥有此武将，自动转化成\\w{c=73ff00;s=20}@\\个武将魂魄</string>
	<key>lab_comatlas_next_stage</key>
	<string>点击进入下一章</string>
	<key>lab_actatlas_pet_soul_title</key>
	<string>累计获得兽魂:</string>
	<key>lab_actatlas_equ_soul_title</key>
	<string>累计获得熔液:</string>
	<key>lab_actatlas_kill_title</key>
	<string>累计击败敌数:</string>
	<key>lab_actatlas_exp_reward_title</key>
	<string>累计获得经验:</string>
	<key>lab_actatlas_gold_reward_title</key>
	<string>累计获得金币:</string>
	<key>lab_actatlas_itemawake_reward_title</key>
	<string>累计获得觉醒丹:</string>
	<key>lab_actatlas_item_reward_title</key>
	<string>累计获得物品:</string>
	<key>lab_actatlas_hurt_title</key>
	<string>累计造成伤害:</string>
	<key>lab_actatlas_double_rate</key>
	<string>成功率</string>
	<key>lab_account</key>
	<string>账号:</string>
	<key>lab_psw</key>
	<string>密码:</string>
	<key>lab_server</key>
	<string>服务器:</string>
	<key>lab_lv</key>
	<string>等级:</string>
	<key>lab_exp</key>
	<string>经验:</string>
	<key>lab_power</key>
	<string>战力:</string>
	<key>lab_card_pro</key>
	<string>武将属性</string>
	<key>lab_card_info</key>
	<string>武将简介</string>
	<key>lab_card_hp</key>
	<string>气血</string>
	<key>lab_card_phy_attack</key>
	<string>攻击</string>
	<key>lab_card_magic_attack</key>
	<string>攻击</string>
	<key>lab_card_phy_def</key>
	<string>物防</string>
	<key>lab_card_magic_def</key>
	<string>魔防</string>
	<key>lab_card_speed</key>
	<string>速度</string>
	<key>lab_card_hit</key>
	<string>命中</string>
	<key>lab_card_dodge</key>
	<string>闪避</string>
	<key>lab_card_critical</key>
	<string>会心</string>
	<key>lab_sell_price</key>
	<string>出售单价</string>
	<key>lab_cur_skill_pos</key>
	<string>当前\\i{p=images/ui_public1/90015.png;s=0.35}\\:@</string>
	<key>lab_full_skill_pos</key>
	<string>当前\\i{p=images/ui_public1/90015.png;s=0.35}\\:@(满)</string>
	<key>lab_recover_skill_pos</key>
	<string>\\w{c=3BF9FF}@\\后恢复1\\i{p=images/ui_public1/90015.png;s=0.35}\\</string>
	<key>lab_atlas_enemy</key>
	<string>敌方阵容</string>
	<key>lab_atlas_produce</key>
	<string>副本产出</string>
	<key>lab_atlas_energy</key>
	<string>体力消耗:</string>
	<key>lab_atlas_time</key>
	<string>挑战次数:</string>
	<key>lab_skill_unlock</key>
	<string>达到@解锁</string>
	<key>lab_data</key>
	<string>数据</string>
	<key>lab_fail_info</key>
	<string>通过以下途径可以强化团队实力</string>
	<key>lab_reamin_num</key>
	<string>拥有@个</string>
	<key>lab_reamin_num2</key>
	<string>拥有 \\w{c=8CFA32}@ \\个</string>
	<key>lab_com_price</key>
	<string>合成花费：</string>
	<key>lab_com_num</key>
	<string>合成需要魂魄：</string>
	<key>lab_num_name</key>
	<string>件</string>
	<key>lab_title_detail</key>
	<string>详情</string>
	<key>lab_rank</key>
	<string>排名:</string>
	<key>lab_atlas_type0</key>
	<string>普通副本</string>
	<key>lab_atlas_type1</key>
	<string>精英副本</string>
	<key>lab_my_rank</key>
	<string>我的排名:</string>
	<key>lab_fight_remain_num</key>
	<string>剩余次数:</string>
	<key>lab_win_num</key>
	<string>胜利场数：</string>
	<key>lab_need_com</key>
	<string>集齐@个魂魄可以合成@</string>
	<key>lab_need_com2</key>
	<string>收集@个碎片，可合成@</string>
	<key>lab_server_list</key>
	<string>服务器列表</string>
	<key>lab_all_server</key>
	<string>---所有服务器---</string>
	<key>lab_recent_server</key>
	<string>---最近登录服务器---</string>
	<key>lab_buy_num</key>
	<string>购买@个</string>
	<key>lab_next_refresh_time</key>
	<string>下次刷新时间:</string>
	<key>lab_left_time</key>
	<string>商店消失倒计时：</string>
	<key>lab_free</key>
	<string>免费</string>
	<key>lab_free_today</key>
	<string>本日免费次数:@</string>
	<key>lab_free_time</key>
	<string>@后免费</string>
	<key>lab_gold</key>
	<string>金币：</string>
	<key>lab_atlas_auto_idx</key>
	<string>第@次战斗</string>
	<key>lab_get_atlas_reward</key>
	<string>达到@星可以领取</string>
	<key>lab_level_up_level</key>
	<string>玩家等级:</string>
	<key>lab_lvup_cur_eng</key>
	<string>当前体力：</string>
	<key>lab_lvup_max_card_lv</key>
	<string>武将等级上限:</string>
	<key>lab_lvup_max_card_lv_1</key>
	<string>体力上限:</string>
	<key>lab_set_name</key>
	<string>名字:</string>
	<key>invite_defalt_words</key>
	<string>我看你骨骼清奇，不如共闯梦境吧！</string>
	<key>lab_user_info_max_level1</key>
	<string>角色等级上限:</string>
	<key>lab_user_info_max_level2</key>
	<string>武将等级上限:</string>
	<key>lab_unlock_level</key>
	<string>@级解锁</string>
	<key>lab_b_total_hp</key>
	<string>累积伤害:</string>
	<key>lab_aae_totoalhp</key>
	<string>本轮伤害:</string>
	<key>lab_unlock_week</key>
	<string>每周@开启</string>
	<key>lab_up_my_pet_feed</key>
	<string>我的兽魂：</string>
	<key>lab_up_upgrade_dic</key>
	<string>升级条件</string>
	<key>lab_up_unlock_skill</key>
	<string>灵兽@星开启</string>
	<key>lab_up_upgrade_skill</key>
	<string>灵兽达到@阶可升级</string>
	<key>lab_b_total_gold</key>
	<string>累积金币:</string>
	<key>lab_b_total_die</key>
	<string>累积死亡:</string>
	<key>lab_b_total_exp</key>
	<string>累积经验:</string>
	<key>lab_upt_cur_stage</key>
	<string>当前挑战记录：\\w{c=ffffff}@</string>
	<key>lab_upt_cur_time</key>
	<string>剩余挑战次数：</string>
	<key>lab_upt_cur_stage2</key>
	<string>第 层</string>
	<key>lab_upt_sweep_total_time</key>
	<string>剩余时间:</string>
	<key>lab_upt_sweep_stage</key>
	<string>第@层挑战中:</string>
	<key>lab_up_preset</key>
	<string>每次额外赠送@元宝</string>
	<key>lab_up_preset_fisrt</key>
	<string>\\w{c=FFC000}首次额外\\赠送@元宝</string>
	<key>lab_card_pay</key>
	<string>每天可领取@元宝</string>
	<key>lab_up_need_pay</key>
	<string>你当前是                      再充值                   将成为               </string>
	<key>lab_upi_vip_box</key>
	<string>vip@特权礼包</string>
	<key>lab_upi_vip</key>
	<string>vip@特权</string>
	<key>lab_hd_level_up_need</key>
	<string>等级达到@级</string>
	<key>lab_hd_level_up_extra</key>
	<string>额外奖励</string>
	<key>lab_hd_touzi_info</key>
	<string>等级达到@级可领取@元宝</string>
	<key>lab_hd_touzi_info0</key>
	<string>\\w{c=f1d347}购买后即可领取</string>
	<key>lab_hd_touzi_info1</key>
	<string>小伙伴等级达到\\w{c=f1d347}@级\\可领取</string>
	<key>mcard_help0</key>
	<string>1.购买后可续费延长月卡时间
2.购买后即可获得@元宝的返现
3.购买当日即可在每日任务中领取每天@元宝的返现
4.购买月卡费用累计到vip充值中</string>
	<key>mcard_help1</key>
	<string>1.终身卡仅限购买1次
2.购买后即可获得@元宝的返现
3.购买当日即可在每日任务中领取每天@元宝的返现
4.购买终身卡费用累计到vip充值中
5.服务器运营期间终身卡持久有效</string>
	<key>lb_hd_pay_reward_box</key>
	<string>充值@可以领取</string>
	<key>lab_ua_enter_double</key>
	<string>武将魂魄掉落双倍</string>
	<key>lb_hd_atlas_double</key>
	<string>为了犒赏天下英雄侠士，聚拢民心，活动期间，\\w{c=ff0000}副本武将魂魄掉落数量双倍\\，骚年们，勒紧裤腰带，都战斗起来吧！</string>
	<key>lb_hd_atlas_skip</key>
	<string>欢度佳节，超强福利强烈来袭！活动期间，VIP等级达到\\w{c=ff0000}@\\级或者战队等级达到\\w{c=ff0000}@\\级的主公将获得佳节福利：\\w{c=ff0000}普通副本、精英副本和卧龙窟副本可直接跳过\\，骚年们，勒紧裤腰带，都战斗起来吧！</string>
	<key>lb_hd_draw_card_saleoff</key>
	<string>走过路过不要错过，抽卡活动来袭，特价大钜惠，在活动期间，\\w{c=ff0000}用元宝抽卡均打@折\\，骚年们，抽起来吧！</string>
	<key>lb_hd_activity_time</key>
	<string>活动时间 @~@</string>
	<key>lb_hd_activity_time_left</key>
	<string>活动到期时间：@</string>
	<key>lb_day_time</key>
	<string>@-@-@ @:@</string>
	<key>lb_mday_time</key>
	<string>@月@日</string>
	<key>lb_touzi_get</key>
	<string>你已经领取@元宝</string>
	<key>lb_touzi_remain</key>
	<string>你还可以领取@元宝</string>
	<key>lb_pet_tower_no_pass</key>
	<string> 你当前未通关任何层，无法探索</string>
	<key>lb_pet_tower_no_pass2</key>
	<string> 你当前未通关任何层，无法购买探索次数</string>
	<key>lb_pet_tower_no_time</key>
	<string> 今日已经没有多余的挑战次数。</string>
	<key>lb_pet_tower_no_time_sweep</key>
	<string> 今日已经没有多余的探索次数。</string>
	<key>num0</key>
	<string>日</string>
	<key>num1</key>
	<string>一</string>
	<key>num2</key>
	<string>二</string>
	<key>num3</key>
	<string>三</string>
	<key>num4</key>
	<string>四</string>
	<key>num5</key>
	<string>五</string>
	<key>num6</key>
	<string>六</string>
	<key>num7</key>
	<string>七</string>
	<key>num8</key>
	<string>八</string>
	<key>num9</key>
	<string>九</string>
	<key>num10</key>
	<string>十</string>
	<key>num_symbol</key>
	<string>、</string>
	<key>102</key>
	<string>进行中</string>
	<key>lb_hd_card_time1</key>
	<string>@到期</string>
	<key>lb_hd_card_time2</key>
	<string>永久使用</string>
	<key>lb_need_atlas_num</key>
	<string>还需@个</string>
	<key>lb_atlas_num_enough</key>
	<string>已足够</string>
	<key>112</key>
	<string>账号:</string>
	<key>113</key>
	<string>选择头像</string>
	<key>114</key>
	<string>武将进阶到蓝色可设置为头像</string>
	<key>115</key>
	<string>选择外框</string>
	<key>lab_max_vip_level</key>
	<string>vip 等级已到上限</string>
	<key>frame_unlock1</key>
	<string>vip@即可解锁</string>
	<key>frame_unlock2</key>
	<string>竞技场排名@以内即可解锁</string>
	<key>119</key>
	<string>竞技场排名：</string>
	<key>120</key>
	<string>此次探索未获得物品</string>
	<key>121</key>
	<string>时间未到</string>
	<key>121-3</key>
	<string>错过还可以补吃哦</string>
	<key>lab_collect_soul</key>
	<string>收集@个武将魂魄，可以召唤武将@</string>
	<key>lab_collect_pet_soul</key>
	<string>用于灵兽升星，灵兽升星可以解锁新的技能,目前拥有@个</string>
	<key>lab_buy_success</key>
	<string>购买成功</string>
	<key>lab_task_box</key>
	<string>活跃度达到@即可领取</string>
	<key>get</key>
	<string>恭喜你获得</string>
	<key>normalAtlasTimes</key>
	<string>无限</string>
	<key>lab_card_toughness</key>
	<string>韧性</string>
	<key>136</key>
	<string>推荐</string>
	<key>roleSplitLine</key>
	<string>未招募英雄</string>
	<key>lingqi</key>
	<string>灵气</string>
	<key>skill_level_limit</key>
	<string>下一级要求:武将等级@级</string>
	<key>145</key>
	<string>请选择一位武将</string>
	<key>146</key>
	<string>剩余探索次数：\\w{c=ffffff}@</string>
	<key>left_times</key>
	<string>剩余次数:</string>
	<key>soul_name</key>
	<string>魂魄</string>
	<key>cooperate_with</key>
	<string>与\\w{c=00FFF0}@\\同时上阵可触发</string>
	<key>card_pro_add</key>
	<string>@\\w{c=609400}@\\</string>
	<key>149</key>
	<string>官方第一发言人－小乱</string>
	<key>150</key>
	<string>今日功勋：</string>
	<key>151</key>
	<string>累积战功：</string>
	<key>find_crucash</key>
	<string>将军,发现\\w{c=@}@\\(@级),是否攻打</string>
	<key>find_crucash2</key>
	<string>将军,发现\\w{c=@}@\\(@级)</string>
	<key>153</key>
	<string>发现者:@</string>
	<key>154</key>
	<string>逃走时间:</string>
	<key>crusade_info1</key>
	<string>\\w{c=ffffff;s=22}@:00-@:00\\
全力一击消耗\\w{c=ffffff}征讨次数\\减半</string>
	<key>crusade_info2</key>
	<string>\\w{c=ffffff;s=22}@:00-@:00\\
攻打叛军获得\\w{c=ffffff}功勋\\翻倍</string>
	<key>crusade_own_key</key>
	<string>当前拥有\\w{c=ffffff}@\\个</string>
	<key>crusade_buy_time</key>
	<string>还可以购买\\w{c=ffffff}@\\次</string>
	<key>need_feat_num</key>
	<string>功勋达到@可领取</string>
	<key>need_feat_num1</key>
	<string>积分达到@可领取</string>
	<key>165</key>
	<string>未发现叛军，前往\\w{c=FFAE00}副本探索\\可发现叛军！</string>
	<key>166</key>
	<string>（击败后可在邮箱领取奖励）</string>
	<key>167</key>
	<string>消耗征讨次数:</string>
	<key>pet_relation_info1</key>
	<string>拥有上述灵兽：</string>
	<key>pet_relation_info2</key>
	<string>当前缘分属性：</string>
	<key>pet_relation_info3</key>
	<string>总星数达到\\w{c=ff0000}@\\：(当前\\w{c=ff0000}@\\星)</string>
	<key>relation_info1</key>
	<string>拥有上述武将：@+@%</string>
	<key>relation_info2</key>
	<string>当前缘分属性：@+@%</string>
	<key>relation_info3</key>
	<string>武将总星\\w{c=ff0000}@\\，当前\\w{c=ff0000}@\\星：@+@%</string>
	<key>relation_info5</key>
	<string>缘分武将@提升</string>
	<key>rusade_shop_title</key>
	<string>战功商店</string>
	<key>npc_word_1_1</key>
	<string>谁说便宜没好货？</string>
	<key>npc_word_1_2</key>
	<string>有眼光！</string>
	<key>npc_word_2_1</key>
	<string>一分钱一分货喵。</string>
	<key>npc_word_2_2</key>
	<string>买到就是赚到喵。</string>
	<key>npc_word_3_1</key>
	<string>在我这才能买到惊喜!</string>
	<key>npc_word_3_2</key>
	<string>我不需要好评</string>
	<key>npc_word_9_1</key>
	<string>好久不见！</string>
	<key>npc_word_9_2</key>
	<string>你的选择还是那么明智</string>
	<key>npc_word_10_1</key>
	<string>哔--本店商品享受三年质保。 </string>
	<key>npc_word_10_2</key>
	<string>谢谢，祝您身体健康。</string>
	<key>lb_hd_buy_gold_critical</key>
	<string>大把金币袭来，千万不要手软，赶紧挥霍起来，在活动期间，\\w{c=ff0000}点宝成金会心的概率大幅提升！\\</string>
	<key>lb_hd_buy_energy_limit</key>
	<string>千盼万盼的活动来啦！大把的时间自然需要大把的体力，在活动期间，每位玩家\\w{c=ff0000}购买的体力次数上限都加@哦！\\赶紧挥霍起来吧！</string>
	<key>lb_hd_buy_atlas_reset</key>
	<string>为了加速武将的战力成长，活动期间，\\w{c=ff0000}副本重置的价格打@折\\！各位主公们，赶紧行动起来吧！</string>
	<key>lb_hd_bath_double</key>
	<string>普天同庆，修仙台奖励翻翻，在活动期间，\\w{c=ff0000}修仙台的修仙奖励翻@倍\\</string>
	<key>lb_hd_family_act</key>
	<string>为了聚拢各路军团，在活动期间，\\w{c=ff0000}军团擂鼓和召唤泉水获得的军团贡献奖励翻倍\\</string>
	<key>194</key>
	<string>熔液淬炼</string>
	<key>195</key>
	<string>金币淬炼</string>
	<key>196</key>
	<string>元宝淬炼</string>
	<key>lb_hd_pay_reset</key>
	<string>劲爆！劲爆！劲爆！活动期间内，首次充值以下档位，即可获得\\w{c=ae00ff}双倍元宝大返利\\！
          \\w{c=ff0000;s=20}●充30元档，立返：\\\\i{p=images/ui_public1/gold.png;s=0.3}\\\\w{c=ff0000;s=20}300 \\
          \\w{c=ff0000;s=20}●充198元档，立返：\\\\i{p=images/ui_public1/gold.png;s=0.3}\\\\w{c=ff0000;s=20}1980 \\
          \\w{c=ff0000;s=20}●充648元档，立返：\\\\i{p=images/ui_public1/gold.png;s=0.3}\\\\w{c=ff0000;s=20}6480 \\</string>
	<key>lb_hd_buy_energy_saleoff</key>
	<string>没有体力，再好的游戏都玩不起来，活动期间\\w{c=ff0000}购买体力元宝价格打@折\\，活动期间甄甄与你全程相伴，让你撸到完全停不下来！</string>
	<key>lb_hd_saleoff_limit</key>
	<string>钜惠让利即将开始，活动期间内\\w{c=ff0000}杂货、秘宝、神品\\物品全部\\w{c=ff0000}打@折，并且刷新价格打@折\\！错过一次再等一年，赶紧买买买！</string>
	<key>lb_hd_constellation_saleoff_1</key>
	<string>钜惠让利即将开始，活动期间内\\w{c=ff0000}星魂兑换商店\\物品全部\\w{c=ff0000}打@折，并且刷新价格打@折\\！错过一次再等几世，赶紧买买买！</string>
	<key>lb_hd_constellation_saleoff_2</key>
	<string>钜惠让利即将开始，活动期间内\\w{c=ff0000}星魂兑换商店\\物品全部\\w{c=ff0000}打@折\\！错过一次再等几世，赶紧买买买！</string>
	<key>lb_hd_constellation_saleoff_3</key>
	<string>钜惠让利即将开始，活动期间内\\w{c=ff0000}星魂兑换商店\\刷新价格\\w{c=ff0000}打@折\\！错过一次再等几世，赶紧买买买！</string>
	<key>card_raise_nex_level</key>
	<string>下一等级：强化\\w{c=4eff00}+@\\</string>
	<key>card_raise_nex_level_desc</key>
	<string>突破效果:@</string>
	<key>203</key>
	<string>vip@或@等级开启</string>
	<key>card_raise_time</key>
	<string>淬炼\\w{c=4eff00}@\\次</string>
	<key>205</key>
	<string>点击选择</string>
	<key>txt_raise_rate_add</key>
	<string>成功率@%</string>
	<key>txt_weapon_lv_info</key>
	<string>			\\w{c=ff0000,s=25}【强化效果】\\
		\\w{c=ffffff,s=22}气血淬炼上限 @\\
		\\w{c=ffffff,s=22}攻击淬炼上限 @\\
		\\w{c=ffffff,s=22}物防淬炼上限 @\\
		\\w{c=ffffff,s=22}灵防淬炼上限 @\\
	
			\\w{c=ff0000,s=25}【突破效果】\\</string>
	<key>txt_weapon_lv_info_item</key>
	<string>[@]@</string>
	<key>216</key>
	<string>淬炼值@</string>
	<key>224</key>
	<string>功勋奖励</string>
	<key>224-1</key>
	<string>积分奖励</string>
	<key>226</key>
	<string>功勋值和功勋奖励列表 每天凌晨0：00 更新</string>
	<key>226-1</key>
	<string>累计获得的积分可领取奖励</string>
	<key>228</key>
	<string>暂无产出，敬请期待！</string>
	<key>228-1</key>
	<string>暂无奖励</string>
	<key>231</key>
	<string>突破等级：\\w{c=ffffff}@\\ \\i{p=images/ui_public1/jiantou_green1.png;s=0.5}\\ \\w{c=550000}@\\</string>
	<key>232</key>
	<string>淬炼值：\\w{c=ffffff}@\\ \\i{p=images/ui_public1/jiantou_green1.png;s=0.5}\\ \\w{c=550000}@\\</string>
	<key>tranform_lost</key>
	<string>【失效】</string>
	<key>tranform_activity</key>
	<string>【激活】</string>
	<key>236</key>
	<string>突破等级：@</string>
	<key>237</key>
	<string>淬炼值：@</string>
	<key>239</key>
	<string>突破效果</string>
	<key>240</key>
	<string>淬炼效果</string>
	<key>241</key>
	<string>每天零点更新</string>
	<key>weapon_cur_state</key>
	<string>\\w{c=ffc323}当前状态\\</string>
	<key>weapon_wait_state</key>
	<string>\\w{c=9e2b00}敬请期待\\</string>
	<key>weapon_need_state</key>
	<string>\\w{c=82ff00}突破+@换武器\\</string>
	<key>card_raise_nex_level2</key>
	<string>下一等级：突破\\w{c=4eff00}+@\\</string>
	<key>raise_attr_limit_1</key>
	<string>淬炼气血上限\\w{c=4eff00}+@\\</string>
	<key>raise_attr_limit_2</key>
	<string>淬炼攻击上限\\w{c=4eff00}+@\\</string>
	<key>raise_attr_limit_3</key>
	<string>淬炼物防上限\\w{c=4eff00}+@\\</string>
	<key>raise_attr_limit_4</key>
	<string>淬炼魔防上限\\w{c=4eff00}+@\\</string>
	<key>raise_attr_1</key>
	<string>气血\\w{c=4eff00}+@\\</string>
	<key>raise_attr_2</key>
	<string>攻击\\w{c=4eff00}+@\\</string>
	<key>raise_attr_3</key>
	<string>物防\\w{c=4eff00}+@\\</string>
	<key>raise_attr_4</key>
	<string>魔防\\w{c=4eff00}+@\\</string>
	<key>259</key>
	<string>当前Lv.@</string>
	<key>cardawake_fulllv</key>
	<string>已满级</string>
	<key>274</key>
	<string>解锁</string>
	<key>275</key>
	<string>下一等级：</string>
	<key>276</key>
	<string>今日可挑战次数:@</string>
	<key>282</key>
	<string>称号:</string>
	<key>283</key>
	<string>今日已充值:\\w{c=ffedaf}@元\\</string>
	<key>284</key>
	<string>剩余时间:\\w{c=ffedaf}@\\</string>
	<key>285</key>
	<string>剩余时间:</string>
	<key>286</key>
	<string>本轮剩余时间:</string>
	<key>289</key>
	<string>剩余充值时间:</string>
	<key>289-1</key>
	<string>剩余领取时间:</string>
	<key>draw_card_lucky</key>
	<string>再购买\\w{c=84ff00}@\\次必得</string>
	<key>draw_card_lucky_just</key>
	<string>\\w{c=84ff00}本次\\购买必得</string>
	<key>287</key>
	<string>年卡</string>
	<key>288</key>
	<string>终身卡</string>
	<key>ignore_card</key>
	<string>隐藏红点</string>
	<key>cancel_ignore_card</key>
	<string>显示红点</string>
	<key>307</key>
	<string>上阵三个神级英雄，效果将提升至10%</string>
	<key>308</key>
	<string>上阵四个同阵营英雄，效果将提升至10%</string>
	<key>309</key>
	<string>上阵三个同阵营英雄即可激活</string>
	<key>310</key>
	<string>下面的关卡危险重重，战队等级15级方才开启。主公您还是探索点装备，提升战队等级再来吧！</string>
	<key>322</key>
	<string>免费\\w{c=ffffff}@\\次</string>
	<key>323</key>
	<string>售卖稀缺武将碎片，各种材料</string>
	<key>324</key>
	<string>已发现【秘宝】！</string>
	<key>325</key>
	<string>已发现【神品商人】！</string>
	<key>328</key>
	<string>第@章(@)第@个宝箱</string>
	<key>minSecName</key>
	<string>@分@秒</string>
	<key>secName</key>
	<string>@秒</string>
	<key>vipscore</key>
	<string>VIP积分</string>
	<key>345</key>
	<string>情义商店</string>
	<key>346</key>
	<string>限购(@/@)</string>
	<key>347</key>
	<string>消耗</string>
	<key>348</key>
	<string>幻灵守卫</string>
	<key>349</key>
	<string>3星赵云+土豪大礼包</string>
	<key>349-1</key>
	<string>赵云碎片+土豪大礼包</string>
	<key>350</key>
	<string>首次充值\\w{c=00FFF0}任意金额\\即可获得</string>
	<key>350-1</key>
	<string>再充\\w{c=00FFF0}@元\\即可获得</string>
	<key>353</key>
	<string>提升至\\w{c=f0c830}@星\\可幻化出\\w{c=f0c830}@阶\\幻灵守卫形态</string>
	<key>354</key>
	<string>提升</string>
	<key>355</key>
	<string>为所有出战武将属性加成</string>
	<key>356</key>
	<string>军团图腾</string>
	<key>357</key>
	<string>已达最高星数</string>
	<key>358</key>
	<string>已满星</string>
	<key>money_symbol</key>
	<string>￥</string>
	<key>buy_halo</key>
	<string>幻灵守卫提升</string>
	<key>hd_itemdrop_double_dec</key>
	<string>活动期间：副本掉落\\w{c=ff0000}双倍\\材料的几率提升\\w{c=ff0000}@%\\
（双倍掉落的装备材料从 @ 开始）</string>
	<key>will_open</key>
	<string>敬请期待</string>
	<key>snatch_shop_title</key>
	<string>夺宝商店</string>
	<key>box_content</key>
	<string>宝箱内容</string>
	<key>star_suipian</key>
	<string>碎片</string>
	<key>star_longlin</key>
	<string>龙鳞</string>
	<key>direction_2</key>
	<string>横线</string>
	<key>direction_3</key>
	<string>竖线</string>
	<key>direction_1</key>
	<string>斜线</string>
	<key>direction_4</key>
	<string>全不同</string>
	<key>lab_lv_banshu</key>
	<string>等级</string>
	<key>lab_lv_default</key>
	<string>Lv</string>
</dict>
</plist>
