<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tip1</key>
	<string>完成日常任务可以快速地提升战队等级</string>
	<key>tip2</key>
	<string>副本三星通关后就可以进行探索了</string>
	<key>tip3</key>
	<string>装备突破可以提升英雄的品质，解锁新的技能</string>
	<key>tip4</key>
	<string>我方英雄每次出手后都有一定的几率触发灵兽的大招</string>
	<key>tip5</key>
	<string>技能点每5分钟回复1点，达到上限就不再回复了，要记得使用哦~</string>
	<key>tip6</key>
	<string>经验试炼和金币试炼，伤害越高获得的奖励也越高哦~</string>
	<key>tip7</key>
	<string>英雄的回血技能攻击力越高回复效果越强哦</string>
	<key>tip8</key>
	<string>通关第二章黄巾之乱-1后开启战斗3倍速，让战斗无比爽快</string>
	<key>tip9</key>
	<string>通关第二章黄巾之乱-3后开启探索功能</string>
	<key>tip10</key>
	<string>通关第九章将星陨落(下)-12解锁神器</string>
	<key>tip11</key>
	<string>每一名英雄都有专属神器，神器能大幅提升英雄战斗力</string>
	<key>tip12</key>
	<string>神器每强化5次就能突破1级</string>
	<key>tip13</key>
	<string>神器突破到4级不仅能激活神器效果还能改变神器的酷炫造型哦</string>
	<key>tip14</key>
	<string>只要花费少量元宝即可将神器所有属性转移到另一名英雄的神器上哦</string>
	<key>tip15</key>
	<string>通关第九章将星陨落(下)-12解锁海底探险</string>
	<key>tip16</key>
	<string>神器强化的所需资源都能在海底探险中获得</string>
	<key>tip17</key>
	<string>击败海底探险中的神秘之鲨能获得千年珍珠等稀有材料</string>
	<key>tip18</key>
	<string>海底挂机工程能大幅减少探险时间并能获得大量资源</string>
	<key>tip19</key>
	<string>英雄满星后就能觉醒，觉醒需要觉醒丹和英雄魂魄</string>
	<key>tip20</key>
	<string>觉醒丹可通过魔王副本获得</string>
	<key>tip21</key>
	<string>通关第十一章四世三公(下)-3解锁魔王副本</string>
	<key>tip22</key>
	<string>英雄可通过重铸炉返还身上的全部装备，80%金币，80%英雄经验和80%技能点</string>
	<key>tip23</key>
	<string>通关第十一章四世三公(下)-15解锁命魂</string>
	<key>tip24</key>
	<string>每个阵位都对应六个命魂格，装备命魂可大幅提升阵位英雄战力</string>
	<key>tip25</key>
	<string>巨兽来袭产出大量金币以及千年珍珠等材料</string>
	<key>tip26</key>
	<string>每周一，三，五，七晚八点开启巨兽来袭</string>
	<key>tip27</key>
	<string>每周二公布军团战结果，记得要在周二前报名军团战哦</string>
	<key>tip28</key>
	<string>修仙台修仙能获得大量声望，记得每天都要来哦</string>
	<key>tip29</key>
	<string>踩水车能获得大量的英雄经验，每天必须来锻炼一下</string>
	<key>tip30</key>
	<string>如果发现了很强大的叛军，可以分享给好友，让好友一起来击败</string>
	<key>tip31</key>
	<string>发现叛军能获得元宝哦，击败叛军还能获得更多的元宝哦</string>
	<key>tipLoadingLua</key>
	<string>加载模块中</string>
</dict>
</plist>
