<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>txt_im_finish_project</key>
	<string>花费@元宝，立即结束挂机</string>
	<key>txt_mastery_add_pro</key>
	<string>并增加@点熟练度</string>
	<key>txt_mastery_value_proj</key>
	<string>(拥有@个矿工)</string>
	<key>txt_mastery_add_res</key>
	<string>资源获得+@%</string>
	<key>txt_has_not_free_miner</key>
	<string>暂时没有空闲的矿工了</string>
	<key>txt_has_unget_mine</key>
	<string>有矿石还未领取哦!</string>
	<key>txt_draw_ret_tip</key>
	<string>获得海胆祝福，快去战斗吧!</string>
	<key>txt_mine_pic_cost</key>
	<string>消耗电钻:</string>
	<key>txt_more_miner</key>
	<string>即将开放更多矿工！</string>
	<key>txt_box2_title</key>
	<string>海底珍宝低价放送</string>
	<key>txt_lv_unlock_atlas</key>
	<string>达到@级可解锁密穴</string>
	<key>txt_no_unget_mine</key>
	<string>该位置没有可领取矿石</string>
	<key>txt_atlas_map_limit</key>
	<string>重置副本进度后可重新挑战</string>
	<key>txt_atlas_reset_dia</key>
	<string>主公确定要花费@元宝重置副本进度吗?</string>
	<key>notice_no_reset_atlas</key>
	<string>主公现在无需重置副本进度哦!</string>
	<key>txt_atlas_name4</key>
	<string>幽暗森藻</string>
	<key>txt_atlas_name3</key>
	<string>溶洞之心</string>
	<key>txt_atlas_name2</key>
	<string>深海漩涡</string>
	<key>txt_atlas_name1</key>
	<string>海底密穴</string>
	<key>txt_ret_condition7</key>
	<string>上阵@个不同阵营英雄</string>
	<key>txt_atlas_power_limit</key>
	<string>战力不足，无法扫荡！</string>
	<key>txt_passed_six_stage</key>
	<string>通关前六关可查看</string>
	<key>txt_reset_nums</key>
	<string>主公确定要重置剩余次数吗？</string>
	<key>txt_can_not_challenge</key>
	<string>今日已无挑战次数</string>
	<key>txt_draw_lot_first</key>
	<string>请先戳个海胆再战斗！</string>
	<key>txt_ret_condition6</key>
	<string>所有英雄血量始终高于@%</string>
	<key>txt_ret_condition5</key>
	<string>@回合内击败全部敌人</string>
	<key>txt_ret_condition4</key>
	<string>禁用@阵营英雄</string>
	<key>txt_ret_condition3</key>
	<string>击败全部敌人</string>
	<key>txt_ret_condition2</key>
	<string>全队死亡人数少于@人</string>
	<key>txt_ret_condition1</key>
	<string>全队总血量大于@%</string>
	<key>txt_pass_3_reward</key>
	<string>通关前3关可领取</string>
	<key>txt_first_full_reward_title</key>
	<string>首次满星宝箱奖励</string>
	<key>txt_history_star</key>
	<string>历史最高 @</string>
	<key>txt_first_full_reward</key>
	<string>首次满星</string>
	<key>txt_box_total_star</key>
	<string>根据通关总星数领取对应宝箱</string>
	<key>txt_buy_box_dia</key>
	<string>@元宝</string>
	<key>txt_box_titile</key>
	<string>通关前@关可领取</string>
	<key>txt_condition4</key>
	<string>战力&gt;@</string>
	<key>txt_condition3</key>
	<string>队伍总血量&gt;70%</string>
	<key>txt_condition2</key>
	<string>战斗回合数&lt;10</string>
	<key>txt_condition1</key>
	<string>击败头目</string>
	<key>txt_shake_shake</key>
	<string>摇一摇抽签</string>
	<key>txt_atlas_drop</key>
	<string>可能掉落</string>
	<key>txt_mine_atlas_reset</key>
	<string>重置</string>
	<key>txt_mine_atlas_lefttime</key>
	<string>剩余重置次数:</string>
	<key>skill_exp_lock</key>
	<string>熟练度@解锁</string>
	<key>11content</key>
	<string>【1】手动挖矿消耗电钻可增加熟练度，工程可增加消耗电钻20%的熟练度。
【2】提高熟练度可解锁海底副本、购买更多的矿工。提高矿工数可增加挂机工程的资源获得和手动挖矿的效率。</string>
	<key>txt_cur_skill_exp</key>
	<string>当前熟练度:</string>
	<key>txt_miner_num</key>
	<string>矿工数</string>
	<key>txt_skill_exp</key>
	<string>熟练度</string>
</dict>
</plist>
