<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>no_enough_consmoney</key>
	<string>星魂不足!</string>
	<key>circle_extra_attr_active</key>
	<string>需要激活满@组，才能激活该特殊效果</string>
	<key>no_enough_treasure_map</key>
	<string>宝图数量不足</string>
	<key>family_stage_buff_rate_up</key>
	<string>鼓舞成功，鼓舞值提升@！</string>
	<key>family_stage_buff_lv_up</key>
	<string>鼓舞成功，增益效果等级提升！</string>
	<key>family_stage_set_buff_suc</key>
	<string>选择成功，军团竞赛副本开启！</string>
	<key>no_family_stage_buff_up_num</key>
	<string>鼓舞次数已用完</string>
	<key>no_family_stage_fight_time</key>
	<string>休战期间，敬请期待下届开战</string>
	<key>no_family_stage_fight_num</key>
	<string>挑战次数已用完</string>
	<key>no_family_stage_tip_to_self</key>
	<string>无法给自己发送提醒</string>
	<key>family_type_lim</key>
	<string>权限不足，无法进行提醒</string>
	<key>set_family_stage_buff_lim</key>
	<string>权限不足，只有团长/副团长可进行选择！</string>
	<key>not_sel_same_buff</key>
	<string>不能选择相同阵营的增益效果</string>
	<key>family_stage_no_choose_buff</key>
	<string>请选择一个增益效果</string>
	<key>no_enough_famoney</key>
	<string>命运币不足!</string>
	<key>no_draw_gold_item</key>
	<string>点将卡不足!</string>
	<key>login_success</key>
	<string>登录服务端成功</string>
	<key>connect_success</key>
	<string>连接服务端成功</string>
	<key>connect_fail</key>
	<string>连接服务端失败</string>
	<key>disconnect</key>
	<string>断开链接</string>
	<key>get_server_list</key>
	<string>获取服务器列表</string>
	<key>get_server_list_success</key>
	<string>获取服务器列表成功</string>
	<key>get_server_list_fail</key>
	<string>获取服务器列表失败</string>
	<key>session_success</key>
	<string>session 获取成功</string>
	<key>session_fail</key>
	<string>session 获取失败</string>
	<key>login_success1</key>
	<string>登录成功，连接服务器</string>
	<key>no_enough_mastery</key>
	<string>熟练度达到@解锁</string>
	<key>http_chg_psw_5</key>
	<string>新密码中含有非法字符。</string>
	<key>http_chg_psw_10</key>
	<string>新密码要求4至12位英文/数字点/减号/下划线。</string>
	<key>new_old_psw_equal</key>
	<string>新密码不能与旧密码一样</string>
	<key>new_re_psw_no_equal</key>
	<string>两次新密码必须一样</string>
	<key>psw_change_suc</key>
	<string>密码修改成功</string>
	<key>change_psw_empty</key>
	<string>请填写完整所有项</string>
	<key>has_pickax_reward_items</key>
	<string>请点击领取奖励!</string>
	<key>has_pickax_supplement</key>
	<string>还有\\w{c=ff0000}@\\次获得电钻的机会，确定要退出吗？</string>
	<key>no_pickax_supplement</key>
	<string>游戏次数已用完</string>
	<key>touch_get_item</key>
	<string>获得\\w{c=e55eff;s=24}@\\,点击领取奖励!</string>
	<key>no_gold_enough</key>
	<string>金币不足</string>
	<key>no_cardexp</key>
	<string>武将经验不足，是否要购买</string>
	<key>no_serverbattle</key>
	<string>魔晶不足</string>
	<key>no_towermoney</key>
	<string>无尽徽章不足</string>
	<key>no_snatchmoney</key>
	<string>积分不足</string>
	<key>name_length_less</key>
	<string>名字长度太短</string>
	<key>buy_energy</key>
	<string>花费@元宝,补充@体力</string>
	<key>buy_energy2</key>
	<string>今日已购买@次</string>
	<key>max_buy_energy</key>
	<string>购买次数已用完</string>
	<key>full_energy</key>
	<string>体力已满</string>
	<key>no_gold</key>
	<string>金币不足 ，是否要点宝成金</string>
	<key>no_formation_empty</key>
	<string>队伍至少要一个人</string>
	<key>no_skill_point</key>
	<string>技能点不足</string>
	<key>no_pet_point</key>
	<string>兽魂不足，是否购买？</string>
	<key>no_energy</key>
	<string>体力不足 ，是否要吃包子</string>
	<key>no_atlas_boss_time</key>
	<string>今日的魔王副本攻打次数不足，是否进行购买？</string>
	<key>no_dia</key>
	<string>元宝不足 ，是否要充值</string>
	<key>no_repu</key>
	<string>声望币不足。</string>
	<key>no_devote</key>
	<string>贡献不足。</string>
	<key>no_pet_skill</key>
	<string>灵兽技能丹不足。</string>
	<key>no_pet_money</key>
	<string>灵玉不足。</string>
	<key>no_soul_money</key>
	<string>将魂不足。</string>
	<key>no_level</key>
	<string>等级不足。</string>
	<key>full_pet_level</key>
	<string>灵兽等级达到上限。</string>
	<key>connect_lost</key>
	<string>与服务器断开连接，点击确定重新连接。</string>
	<key>connect_lost_cheat</key>
	<string>网络堵塞，断开连接</string>
	<key>need_update</key>
	<string>官人，版本已更新，请重新登录</string>
	<key>login_zone_null</key>
	<string>登录失败，分区不存在。</string>
	<key>login_session_null</key>
	<string>登录失败，验证信息不存在。</string>
	<key>login_session_wrong</key>
	<string>登录失败，您的账号已经在其他设备上登录。</string>
	<key>login_version_low</key>
	<string>登录失败，版本号太低，请更新客户端。</string>
	<key>login_userid_wrong</key>
	<string>登录失败，用户不存在。</string>
	<key>login_user_null</key>
	<string>登录失败，用户数据为空。</string>
	<key>login_already_logged</key>
	<string>登录失败，重复登录。</string>
	<key>login_too_ofen</key>
	<string>登录失败，操作太频繁请稍后再试。</string>
	<key>login_server_maintain</key>
	<string>登录失败，服务器正在维护中。</string>
	<key>arena_no_time</key>
	<string>挑战次数已经用完，是否要购买</string>
	<key>arena_cool_down</key>
	<string>冷却中，是否要重置cd</string>
	<key>bind_successful</key>
	<string>绑定成功，重回登陆界面。</string>
	<key>bind_pay_error</key>
	<string>游客登录无法使用支付功能，请先绑定账号!</string>
	<key>code_sent</key>
	<string>短信验证码已发送到你的手机。</string>
	<key>send_sms_time_interval</key>
	<string>发送短信时间间隔不足60秒。</string>
	<key>phone_number_empty</key>
	<string>手机号码不能为空。</string>
	<key>phone_number_error</key>
	<string>请输入11位的手机号码。</string>
	<key>http_get_err_36</key>
	<string>该手机号已经绑定，请更换绑定手机。</string>
	<key>http_get_err_35</key>
	<string>无效的手机号码。</string>
	<key>http_get_err_34</key>
	<string>该角色已绑定手机号码。</string>
	<key>http_get_err_20</key>
	<string>密码错误。</string>
	<key>http_get_err_21</key>
	<string>帐号名不存在。</string>
	<key>http_get_err_8</key>
	<string>您选择的服务器没有角色。</string>
	<key>http_get_err_7</key>
	<string>注册失败，账号名中含有非法字符。</string>
	<key>http_get_err_5</key>
	<string>注册失败，密码中含有非法字符。</string>
	<key>http_get_err_23</key>
	<string>注册失败，账号名中含有敏感字符。</string>
	<key>http_get_err_26</key>
	<string>此角色已经绑定账号，无法登录。</string>
	<key>http_get_err_15</key>
	<string>注册失败，此账号名已经被使用。</string>
	<key>http_get_err_9</key>
	<string>注册失败，账号名要求4至12个英文或数字字符。</string>
	<key>http_get_err_101</key>
	<string>用户名不能为空</string>
	<key>http_get_err_102</key>
	<string>密码不能为空</string>
	<key>http_get_err_103</key>
	<string>密码不一致</string>
	<key>http_get_err_10</key>
	<string>注册失败，密码要求4至12位英文/数字点/减号/下划线。</string>
	<key>http_get_err_31</key>
	<string>账号已经有角色。</string>
	<key>http_get_err_32</key>
	<string>userid与accountid不符。</string>
	<key>http_get_err_22</key>
	<string>无法注册</string>
	<key>name_limit</key>
	<string>(名字长度为4~14个字符)</string>
	<key>intput_empty</key>
	<string>不能为空</string>
	<key>jz_notice</key>
	<string>(最多可输入@个字)</string>
	<key>act_atlas_no_batnum</key>
	<string>次数已用完</string>
	<key>act_atlas_cd</key>
	<string>冷却中，是否消耗@元宝重置cd?</string>
	<key>addressee_empty</key>
	<string>收件人不能为空。</string>
	<key>use_exp_max_level</key>
	<string>等级已满</string>
	<key>use_exp_no_enough</key>
	<string>经验丹已用完</string>
	<key>use_exp_busy</key>
	<string>服务器繁忙</string>
	<key>card_levelup_tip</key>
	<string>英雄最高等级不能超过战队等级（@级）</string>
	<key>card_levelup_noexp</key>
	<string>奖池没有经验了！</string>
	<key>card_awake_tip</key>
	<string>英雄达到@级才开启觉醒</string>
	<key>familytip0</key>
	<string>今日已贡献！</string>
	<key>not_battle_auto</key>
	<string>本次战斗只允许自动模式</string>
	<key>51</key>
	<string>今日已经砸过蛋了！</string>
	<key>touch_tip</key>
	<string>点击任意区域退出</string>
	<key>friend_full</key>
	<string>自己的好友数量已达上限</string>
	<key>need_select_card</key>
	<string>请先选择一位英雄进行领取</string>
	<key>guide_no_exist</key>
	<string>引导中，不能退出</string>
	<key>atlas_type1_no_pass</key>
	<string>该关卡的普通副本未通关</string>
	<key>atlas_type7_no_pass</key>
	<string>该关卡的精英副本未通关</string>
	<key>online_gift_no_get</key>
	<string>时间未到，不能领取！</string>
	<key>equip_quality_full</key>
	<string>已达最高品质</string>
	<key>rename_notice</key>
	<string>修改名字需要花费\\i{p=images/ui_public1/gold.png;s=0.35}\\@,确定改名吗？</string>
	<key>rename_success</key>
	<string>改名成功</string>
	<key>rename_fail</key>
	<string>还要隔\\w{c=54ff00}@\\才能改名</string>
	<key>pk_level</key>
	<string>战队等级达到@级，才可以开启切磋</string>
	<key>friend_pk_level</key>
	<string>对方战队等级不足@级，无法切磋</string>
	<key>no_pet_tower_item</key>
	<string>你已经打到最大关卡</string>
	<key>no_family</key>
	<string>请加入或创建军团</string>
	<key>family_maxlevel</key>
	<string>达到军团开放等级上限。</string>
	<key>no_family_level</key>
	<string>军团等级不足</string>
	<key>no_tower_star</key>
	<string>历史最高星数不足</string>
	<key>need_equip_upgrade</key>
	<string>需要所有的装备强化到@级才可以突破到下一阶</string>
	<key>no_enough_item</key>
	<string>@不足</string>
	<key>no_enough_exploit</key>
	<string>战功不足</string>
	<key>use_item_name_41</key>
	<string>获得征讨次数X@</string>
	<key>crusade_no_buy_time</key>
	<string>购买次数已用完</string>
	<key>crusade_no_item</key>
	<string>征讨令不足</string>
	<key>skip_battle_limint</key>
	<string>@级后或者VIP@可略过倒计时，直接跳过战斗</string>
	<key>skip_battle_not</key>
	<string>该场战斗不能退出</string>
	<key>chapter_need_level</key>
	<string>战队等级达到@级解锁下一章节</string>
	<key>error_transmit_treasure1</key>
	<string>请选择转换者</string>
	<key>error_transmit_treasure2</key>
	<string>请选择被转换者</string>
	<key>error_transmit_lv</key>
	<string>传承者的强化等级必须大于被传承者</string>
	<key>confirm_transmit</key>
	<string>本次互换需要花费\\i{p=images/ui_public1/gold.png;s=0.35}\\@,确定互换吗？</string>
	<key>confirm_treasure_transmit</key>
	<string>本次转换需要花费\\i{p=images/ui_public1/gold.png;s=0.35}\\@,确定转换吗？</string>
	<key>no_enough_equip_soul</key>
	<string>熔液不足，是否要熔炼</string>
	<key>card_raise_full</key>
	<string>淬炼属性已达上限</string>
	<key>card_raise_no_items</key>
	<string>材料不足</string>
	<key>weapon_need_level</key>
	<string>战队等级达到@才能突破</string>
	<key>weapon_level_fail</key>
	<string>强化失败</string>
	<key>weapon_level_fail2</key>
	<string>突破失败</string>
	<key>weapon_level_success</key>
	<string>强化成功</string>
	<key>weapon_level_success2</key>
	<string>突破成功</string>
	<key>error_transmit_level</key>
	<string>神器强化等级不能为0</string>
	<key>check_transmit_rate</key>
	<string>你当前的强化成功率只有@%，你确定要强化吗?</string>
	<key>check_transmit_rate2</key>
	<string>你当前的突破成功率只有@%，你确定要突破吗?</string>
	<key>92</key>
	<string>（还可输入\\w{c=ff0000}@\\个字）</string>
	<key>family_war_max_num</key>
	<string>军团出战人数不能超过@个</string>
	<key>atlas_boss_fight_limit_one</key>
	<string>本关卡每天只能挑战一次</string>
	<key>atlas_boss_fight_limit_one2</key>
	<string>本关卡一生只能挑战一次</string>
	<key>confirm_transmit_card</key>
	<string>回炉操作不可逆转，确定要回炉吗</string>
	<key>confirm_exchange_card</key>
	<string>变身操作不可逆转，确定要变身吗</string>
	<key>confirm_exchange_card_success</key>
	<string>变身成功</string>
	<key>confirm_transmit_card_error</key>
	<string>该英雄无需回炉</string>
	<key>confirm_transmit_card_error2</key>
	<string>请放入需要回炉的英雄</string>
	<key>confirm_exchange_card_error1</key>
	<string>请放入主位英雄</string>
	<key>confirm_exchange_card_error2</key>
	<string>请放入次位英雄</string>
	<key>confirm_exchange_card_error3</key>
	<string>主位的英雄需要达到5星或觉醒</string>
	<key>confirm_exchange_card_error4</key>
	<string>主次位的英雄需是同一变身等级</string>
	<key>confirm_exchange_card_error5</key>
	<string>次位英雄星数不能低于主位英雄初始星数</string>
	<key>confirm_exchange_card_error6</key>
	<string>次位英雄星数不能高于主位英雄星数</string>
	<key>confirm_exchange_card_error7</key>
	<string>主次位英雄不能是同一位</string>
	<key>confirm_exchange_card_error8</key>
	<string>请先选择主位英雄</string>
	<key>confirm_exchange_card_error9</key>
	<string>变身卡不足，是否花费元宝购买？</string>
	<key>user_status_seal</key>
	<string>您的账号已停止使用，如有疑问请联系客服 QQ：800180502</string>
	<key>user_gm_use</key>
	<string>账号异常，请联系客服QQ:800180502</string>
	<key>error_dragon_exchange1</key>
	<string>该英雄今日兑换次数已用完！</string>
	<key>error_dragon_exchange2</key>
	<string>龙珠不足，无法进行兑换</string>
	<key>touch_tip2</key>
	<string>点击空白区关闭</string>
	<key>old_appstore</key>
	<string>AppStore有新版本了！是否前往更新？（您也可以继续用老版本玩，但是部分新功能将无法使用！）</string>
	<key>old_appstore_no_account</key>
	<string>appstore有新版本了！是否前往更新? (您也可以继续用老版本玩,但是部分新功能将无法使用)</string>
	<key>not_enough_level</key>
	<string>战队等级不足</string>
	<key>data_error</key>
	<string>数据异常，刷新数据中</string>
	<key>change_lan</key>
	<string>您确定要更改语言设置吗？</string>
	<key>tencent_token_wrong</key>
	<string>登录过期，请重新登录</string>
	<key>code125</key>
	<string>code125,解析失败</string>
	<key>code124</key>
	<string>code124,验证失败</string>
	<key>sweep_boss_vip</key>
	<string>vip等级需要达到@级,才能进行扫荡</string>
	<key>confirm_check_order_delete</key>
	<string>确定要删除这条订单吗？</string>
	<key>confirm_check_order_miss</key>
	<string>请确认这是您未到账的充值项，错误点击会导致补发失败!</string>
	<key>buy_goldkey</key>
	<string>钥匙已用完，是否进行购买？</string>
	<key>item_buy</key>
	<string>主公确定要花费@元宝购买吗？</string>
	<key>pettower_finish_sweep</key>
	<string>花费@元宝，立即完成扫荡？</string>
	<key>talk_input</key>
	<string>最多输入@个字符</string>
	<key>name_input</key>
	<string>请输入名字</string>
	<key>family_create_input</key>
	<string>输入4-14个字符</string>
	<key>no_draw_senior_item</key>
	<string>龙卡不足</string>
	<key>no_sprite_call</key>
	<string>唤灵符不足</string>
	<key>snatch_success_tip</key>
	<string>投币成功，获得@积分</string>
	<key>activity_sweep_openlv</key>
	<string>达到@可以使用一键试炼</string>
	<key>iap_order_null</key>
	<string>获取订单失败</string>
</dict>
</plist>
