<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lab_wakeup_after</key>
	<string>觉醒后</string>
	<key>lab_wakeup_before</key>
	<string>觉醒前</string>
	<key>lab_skill_up_des_wakeup</key>
	<string>觉醒后等级上限+@</string>
	<key>lab_up_upgrade_skill</key>
	<string>战队等级@级开启</string>
	<key>lab_up_add_all_attr</key>
	<string>全员增加属性:</string>
	<key>lab_up_add_all_attr2</key>
	<string>全体英雄</string>
	<key>lab_up_next_level</key>
	<string>下一级</string>
	<key>lab_up_unlock_skill</key>
	<string>灵兽@星开启</string>
	<key>5</key>
	<string>每次培养消耗:</string>
	<key>6</key>
	<string>灵气</string>
	<key>7</key>
	<string>灵玉商店</string>
	<key>8</key>
	<string>卧龙窟通关@层
可开启购买</string>
	<key>9</key>
	<string>所有灵兽的培养属性不用上阵也会生效</string>
	<key>unlock2</key>
	<string>战队等级达到@级</string>
	<key>12</key>
	<string>消耗@个@魂魄(当前拥有：@)</string>
	<key>13</key>
	<string>下一星级</string>
	<key>14</key>
	<string>已满级</string>
	<key>lock_talent</key>
	<string>锁定一个天赋</string>
	<key>unlock_talent</key>
	<string>解锁一个天赋</string>
	<key>full_locks</key>
	<string>最多只能锁定@个天赋</string>
	<key>unlock_5</key>
	<string>灵兽达到3星解锁</string>
	<key>unlock_6</key>
	<string>灵兽达到4星解锁</string>
	<key>unlock_7</key>
	<string>灵兽达到5星解锁</string>
	<key>unlock_8</key>
	<string>灵兽完成一阶觉醒解锁</string>
	<key>unlock_9</key>
	<string>灵兽等级达到100级解锁</string>
	<key>EventName1</key>
	<string>卡牌大师</string>
	<key>EventName2</key>
	<string>神秘商人</string>
	<key>EventName3</key>
	<string>远古兽骸</string>
	<key>EventName4</key>
	<string>神奇宝箱</string>
	<key>EventName5</key>
	<string>挑战守卫</string>
	<key>EventName6</key>
	<string>事件6 元宝事件</string>
	<key>EventName7</key>
	<string>事件7 无事</string>
	<key>EventName8</key>
	<string>事件8 金币</string>
	<key>EventName9</key>
	<string>事件9 精灵</string>
	<key>CoinName1</key>
	<string>卡牌硬币</string>
	<key>CoinName2</key>
	<string>商人硬币</string>
	<key>CoinName3</key>
	<string>兽骸硬币</string>
	<key>CoinName4</key>
	<string>宝箱硬币</string>
	<key>CoinName5</key>
	<string>守卫硬币</string>
	<key>CoinName6</key>
	<string>元宝硬币</string>
	<key>CoinName7</key>
	<string>足迹硬币</string>
	<key>CoinName8</key>
	<string>铜钱硬币</string>
	<key>CoinName9</key>
	<string>药水硬币</string>
	<key>no_pet_explore_event</key>
	<string>没有探索事件</string>
	<key>possess_to_card</key>
	<string>（附身于@）</string>
	<key>full_coin</key>
	<string>宝箱奖励</string>
	<key>noEnough_shard</key>
	<string>碎片不足</string>
	<key>will_use_shard</key>
	<string>加入碎片领悟，必定获得A级或以上的天赋，且领悟专属技能与SSS级技能的概率提升6倍，确定要加入碎片吗？</string>
	<key>retain_one_cell</key>
	<string>无法全部锁定，至少需留一个未锁定的天赋格</string>
	<key>full_explore_coin</key>
	<string>硬币已满，请先领取宝箱</string>
	<key>learn_talent_sss</key>
	<string>灵兽存在sss天赋技能还未锁定，领悟的话SSS天赋将有可能被替换，确定领悟吗？</string>
	<key>time_end</key>
	<string>已结束</string>
	<key>lab_exporeing</key>
	<string>考古中</string>
	<key>lab_expore_end</key>
	<string>考古结束</string>
	<key>lab_no_talentReplace</key>
	<string>没有天赋可以替换</string>
	<key>word_talent_rep</key>
	<string>确定消耗\\i{p=images/icon/item/402.png;s=0.3}\\w{c=ff00ff}@\\将【@】替换为【@】吗</string>
</dict>
</plist>
