<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>11content</key>
	<string>\\w{c=d5aa00}【1】\\军团长可对军团成员进行任命与开除
\\w{c=d5aa00}【2】\\副团长由军团长任命，可以接受或开除普通军团成员
\\w{c=d5aa00}【3】\\每位加入军团的成员均有实习期，实习期期间所贡献的活跃度不计入军团总活跃度\\c{n=190014;s=0.2;v=0}\\
\\w{c=d5aa00}【4】\\军团升级需消耗军团活跃度，军团升级可解锁相关的军团权限
\\w{c=d5aa00}【5】\\军团成员所获得的个人贡献\\c{n=90014;s=0.2;v=0}\\可用于兑换物品，学习图腾技能
\\w{c=d5aa00}【6】\\每位军团成员每天有两次机会膜拜其他成员，膜拜后可获得体力奖励
\\w{c=d5aa00}【7】\\军团成员达到30级将开启军团捐献功能，成员之间可以互相赠送魔纹和武将碎片
\\w{c=d5aa00}【8】\\若军团长超过5天未上线，则将自动传位于副团长，若无副团长，则传位于历史贡献最多的成员</string>
	<key>11title</key>
	<string>军团规则</string>
	<key>12content</key>
	<string>\\w{c=d5aa00}【1】\\卧龙窟共有200层，玩家需要成功挑战当前层才能开启下一层的挑战
\\w{c=d5aa00}【2】\\卧龙窟的挑战次数不限
\\w{c=d5aa00}【3】\\玩家每天有\\w{c=d5aa00}1\\次免费探索已通关的洞窟，探索次数凌晨0点重置
\\w{c=d5aa00}【4】\\洞窟中每一层都有不定波数的怪物，全部通关后获得奖励
\\w{c=d5aa00}【5】\\首次通关将会获得元宝奖励
\\w{c=d5aa00}【6】\\探索过程中可花费20元宝立即结束探索</string>
	<key>12title</key>
	<string>卧龙窟规则</string>
	<key>13content</key>
	<string>\\w{c=d5aa00}【1】\\属性面板中绿色部分表示当前灵兽附加属性值，白色部分表示其他灵兽的附加属性值
\\w{c=d5aa00}【2】\\全部灵兽的属性都会直接作用到所有英雄身上，无需上阵
\\w{c=d5aa00}【3】\\灵兽的技能效果只有该灵兽上阵后才会产生作用</string>
	<key>13title</key>
	<string>灵兽</string>
	<key>19content</key>
	<string>\\w{c=d5aa00}【1】\\点击当前可挑战的武将进行挑战，挑战成功即可挑战下一名武将。
\\w{c=d5aa00}【2】\\挑战分为\\w{c=d5aa00}简单\\、\\w{c=d5aa00}困难\\和\\w{c=d5aa00}噩梦\\三种级别，级别越高，难度越高，获得的无尽徽章和星星数量越多。
\\w{c=d5aa00}【3】\\战力达到本层所有武将的三星挑战战力或者已经三星通过本层所有关卡，即可探索本层。(直接跳过繁琐的挑战过程）
\\w{c=d5aa00}【4】\\当前层的所有武将都挑战成功，将自动进入下一层。
\\w{c=d5aa00}【5】\\无尽徽章可用于兑换奖励，历史获得的星星数可以用于开启更多的兑换权限。
\\w{c=d5aa00}【6】\\每层所获得的星星可以在下一层换取战斗所需的增益效果。
\\w{c=d5aa00}【7】\\无尽之塔每天可重置一次，每天0点时更新重置次数
\\w{c=d5aa00}【8】\\一键探索可自动探索至已经三星通关的层和关卡，探索时将自动选择增强的属性
</string>
	<key>19title</key>
	<string>无尽之塔</string>
	<key>31content</key>
	<string>\\w{c=d5aa00}【1】\\每位玩家每次踩水车的最长时间为6小时，在此期间也可离线挂机
\\w{c=d5aa00}【2】\\根据玩家的等级以及房间的不同，踩水车结算的英雄经验也会不同
\\w{c=d5aa00}【3】\\在踩水车过程中，玩家可以花费元宝来增加保护时间
\\w{c=d5aa00}【4】\\普通训练与VIP训练房中，不会遭遇被占领位置，但获得的英雄经验较少
\\w{c=d5aa00}【5】\\其他高级房可被占领，若被占领，只能获得当前完成时间的英雄经验</string>
	<key>31title</key>
	<string>训练房规则</string>
	<key>32content</key>
	<string>\\w{c=d5aa00}【1】\\每位玩家每天有3次修炼机会
\\w{c=d5aa00}【2】\\玩家在修仙时可以选择修炼坐骑，不同的修炼坐骑带来的奖励也不同
\\w{c=d5aa00}【3】\\在修炼过程中，玩家可以去挑战其他玩家，成功后将会获得被挑战玩家的部分奖励
\\w{c=d5aa00}【4】\\玩家每日挑战的次数为4次
\\w{c=d5aa00}【5】\\玩家召唤佛光可以立即获得\\c{n=90005;s=0.2;v=0}\\2000，并获得召唤佛光期间内其他玩家完成修练的5%声望
\\w{c=d5aa00}【6】\\每次召唤佛光时长60分钟，在召唤佛光期间所有完成修练的玩家所获得的声望都比平时多20%
\\w{c=d5aa00}【7】\\使用帝尊之旅必定获得仙令，使用奢享养生大概率获得仙令，获得的仙令会在邮件中进行发放
</string>
	<key>32title</key>
	<string>修仙台规则</string>
	<key>33content</key>
	<string>\\w{c=d5aa00}【1】\\每个军团每天只能召唤一次泉水，每天凌晨0点重置
\\w{c=d5aa00}【2】\\军团成员需花费\\c{n=90001;s=0.2;v=0}\\900召唤泉水，召唤者立即获得\\c{n=90014;s=0.2;v=0}\\7000
\\w{c=d5aa00}【3】\\军团的其它成员可以饮泉，饮泉者获得相应军团贡献，军团等级越高，军团贡献越多
\\w{c=d5aa00}【4】\\每增加一名饮泉者，召唤者同时获得与饮泉者相同的军团贡献加成
\\w{c=d5aa00}【5】\\每位召唤者最多可以获得20份军团贡献加成</string>
	<key>33title</key>
	<string>饮泉规则</string>
	<key>34content</key>
	<string>\\w{c=d5aa00}【1】\\封魔台站满5人后，即可完成封魔，封魔后，每人均可以获得\\c{n=90014;s=0.2;v=0}\\500
\\w{c=d5aa00}【2】\\每人每日只能获得一次奖励，已经完成封魔的玩家，可以协助其他玩家完成封魔，但无法再获得奖励
\\w{c=d5aa00}【3】\\军团的等级越高，封魔的奖励越丰厚</string>
	<key>34title</key>
	<string>封魔规则</string>
	<key>36content</key>
	<string>\\w{c=d5aa00}【1】\\玩家可通过消耗金币来获得不同品质的命魂
\\w{c=d5aa00}【2】\\命魂可以装备在阵位上，提升该阵位上英雄的属性
\\w{c=d5aa00}【3】\\随着玩家等级的提升，所装备的命魂数量也会逐渐增加，部分命魂格需要消耗元宝才能开启，元宝开启的命魂格将额外增加一定的命魂等级
\\w{c=d5aa00}【4】\\命魂可以通过吞噬未装备的命魂来提升等级
\\w{c=d5aa00}【5】\\不同品阶的神仙所产出的命魂也有所不同
\\w{c=d5aa00}【6】\\品质越高的命魂所带来的属性加成也越高
\\w{c=d5aa00}【7】\\使用唤灵符可免费召唤，十连召唤必定可获得仙令
\\w{c=d5aa00}【8】\\召唤天演可以让下一次寻仙直接从天演开始
</string>
	<key>36title</key>
	<string>命魂规则</string>
	<key>39content</key>
	<string>\\w{c=d5aa00}【1】\\通关普通副本扬名江东（上）-12后，将会解锁叛军系统，每次探索副本都有概率触发叛军，可以单独或邀请好友一起围剿叛军
\\w{c=d5aa00}【2】\\每次围剿叛军都会获得功勋值，造成的伤害越高，功勋值也越多
\\w{c=d5aa00}【3】\\若叛军被成功击败，发现叛军的玩家和完成最后一击的玩家都可获得元宝奖励
\\w{c=d5aa00}【4】\\围剿叛军时，每消耗一个征讨令，都可获得10战功。
\\w{c=d5aa00}【5】\\获得的战功可在战功商店中兑换
\\w{c=d5aa00}【6】\\每天12:00 到 14:00 全力一击只消耗1个征讨令，18:00 到 20:00围剿叛军功勋翻倍
\\w{c=d5aa00}【7】\\使用全力一击，所有英雄输出翻倍
\\w{c=d5aa00}【8】\\征讨令每1小时恢复一个，上限10个
\\w{c=d5aa00}【9】\\每天消耗的体力越多，当天可召唤的叛军越多</string>
	<key>39title</key>
	<string>叛军规则</string>
	<key>40content</key>
	<string>\\w{c=d5aa00}【1】\\使用诚意点可以选择任意的心愿，点击后宝藏格即可开出对应的奖励，第二天登录即可领取宝藏奖励
\\w{c=d5aa00}【2】\\玩家每在线5分钟即可获得1个诚意点
\\w{c=d5aa00}【3】\\每日最多只能回复10点诚意点
\\w{c=d5aa00}【4】\\活动时间为创建角色后七天</string>
	<key>40title</key>
	<string>神灯许愿规则</string>
	<key>51content</key>
	<string>\\w{c=d5aa00}【1】\\VIP等级达到8级，即可开启神秘魂匣
\\w{c=d5aa00}【2】\\神秘魂匣10元宝刷新一次，每次刷新都有几率刷出1名特殊英雄魂魄与3名普通英雄魂魄
\\w{c=d5aa00}【3】\\神秘魂匣400元宝购买一次，每次购买共开出6个物品，其中必会开出被刷新的英雄魂魄
\\w{c=d5aa00}【4】\\每次购买，将增加随机点数的幸运值，幸运值达到100即可领对应英雄魂魄若干，领完将重新累计。
\\w{c=d5aa00}【5】\\英雄魂魄每周一自动刷新一次</string>
	<key>51title</key>
	<string>魂匣规则</string>
	<key>56content</key>
	<string>\\w{c=d5aa00}【1】\\军团图腾分为普通图腾和高级图腾，都可为军团成员提升强力属性。
\\w{c=d5aa00}【2】\\军团管理人员可研究普通图腾以便军团成员进行学习，学习等级不能超过研究等级。
\\w{c=d5aa00}【3】\\普通图腾研究等级受军团等级影响，军团等级越高，研究等级的上限越高。
\\w{c=d5aa00}【4】\\研究普通图腾需消耗军团活跃度\\c{n=190014;s=0.2;v=0}\\，学习普通图腾需消耗个人贡献\\c{n=90014;s=0.2;v=0}\\和寒溟晶石\\c{n=32;s=0.2;v=0}。
\\w{c=d5aa00}【5】\\寒溟晶石\\c{n=32;s=0.2;v=0}\\在每日军团活跃度宝箱可领取。
\\w{c=d5aa00}【6】\\高级图腾不需研究，但需提高军团等级以提高等级上限。
\\w{c=d5aa00}【7】\\学习高级图腾需消耗个人贡献和补天石。
\\w{c=d5aa00}【8】\\补天石主要在军团战奖励中产出。
</string>
	<key>56title</key>
	<string>图腾规则</string>
	<key>57content</key>
	<string>\\w{c=d5aa00}【1】\\海底探险需要消耗电钻，针对不同障碍需要消耗的电钻数不同
\\w{c=d5aa00}【2】\\针对不同的资源，所需要电钻数也不同，越高级的资源花费的时间越多
\\w{c=d5aa00}【3】\\雷管可直接爆破资源，无需等待时间即可领取资源
\\w{c=d5aa00}【4】\\\\w{c=ff0000}电钻数2分钟恢复一点\\
\\w{c=d5aa00}【5】\\资源在海底的分布不均，越低级的资源离海面越近，越高级的资源离海面越远
\\w{c=d5aa00}【6】\\海底躲藏着神秘怪物，在海底探险过程中有可能碰到，击败神秘怪物有可能会获得千年珍珠或其他高级资源
\\w{c=d5aa00}【7】\\当出现神秘怪物时，最好优先击败怪物，\\w{c=ff0000}否则消耗电钻的数量变成神秘怪物的数量加1\\
\\w{c=d5aa00}【8】\\海底的各种资源都是强化英雄神器的必须消耗品，而千年珍珠则是英雄神器突破的必需品
\\w{c=d5aa00}【9】\\海底探险，尽可能的往深度探险，前期在100层以内会获得大量初级矿石，最好手动探险，到后期可以选择挂机探险
\\w{c=d5aa00}【10】\\前期出现的神秘怪物不会太猖獗，可以边打边探险，但深度越深，怪物就比较难对付，需谨慎！
\\w{c=d5aa00}【11】\\大概在120米左右到230左右就进入玄武岩区，这里只能用雷管炸毁，炸毁后会获得资源，所以最好尽快通过该区域！
\\w{c=d5aa00}【12】\\越往下探险会出现高级宝石资源，当然也是强化神器的稀缺资源，不过用电钻获取资源时要消耗大量时间，可以选择睡前钻取，第二天来收获
\\w{c=d5aa00}【13】\\重置探险进度最好在电钻包，雷管数，电钻数满的时候重置
\\w{c=d5aa00}【14】\\手动挖矿时有机会遇到各种海底事件：美人鱼、鱼雷、转盘等海底事件，每种事件每天都有次数上限，零点重置
\\w{c=d5aa00}【15】\\达到一定等级可解锁密穴，密穴里的副本需要达到对应熟练度才可挑战。提高熟练度还可解锁更多的矿工。
\\w{c=d5aa00}【16】\\解锁矿工后在挖矿时有几率获得双倍奖励，还有一定几率消耗3个电钻并获得3倍奖励，增加电钻的挖矿效率。
\\w{c=d5aa00}【17】\\探险挂机工程可花费少量元宝立即完成。
</string>
	<key>57title</key>
	<string>海底探险规则</string>
	<key>58content</key>
	<string>\\w{c=d5aa00}【1】\\每位英雄都有自己的专属神器
\\w{c=d5aa00}【2】\\神器淬炼可以提升属性，淬炼主要消耗熔液\\c{n=90018;s=0.2;v=0}\\
\\w{c=d5aa00}【3】\\熔液可以从材料碎片通过熔炼获得
\\w{c=d5aa00}【4】\\神器突破可以提升淬炼上限
\\w{c=d5aa00}【5】\\神器每5级突破一次，每突破一次都会解锁新的被动技能
\\w{c=d5aa00}【6】\\神器在第4次，第7次，第11次突破的时候会改变神器造型</string>
	<key>58title</key>
	<string>神器规则</string>
	<key>59content</key>
	<string>\\w{c=d5aa00}【1】\\神器互换是将两位武将身上的神器进行互换
\\w{c=d5aa00}【2】\\神器互换的数据包括，淬炼等级、淬炼上限、强化等级和突破等级
\\w{c=d5aa00}【3】\\用于转换的神器若突破等级皆为0，则无法用于转换
\\w{c=d5aa00}【4】\\根据神器强化的等级不同，所需要传承花费的元宝也不同</string>
	<key>59title</key>
	<string>神器互换规则</string>
	<key>61content</key>
	<string>\\w{c=d5aa00}【1】\\英雄升至五星并且英雄等级达到40级之后即可开启英雄觉醒
\\w{c=d5aa00}【2】\\英雄觉醒之后星会变成钻石\\i{p=images/ui_public1/stdia.png}\\
\\w{c=d5aa00}【3】\\每位英雄一共能觉醒6次
\\w{c=d5aa00}【4】\\第1次，第3次，第6次觉醒能够改变英雄造型
\\w{c=d5aa00}【5】\\英雄觉醒需要激活经脉，每激活6次即可觉醒1次
\\w{c=d5aa00}【6】\\将星商店或通关魔王副本可获得觉醒丹\\c{n=42;s=0.2;v=0}\\</string>
	<key>61title</key>
	<string>觉醒规则</string>
	<key>62content</key>
	<string>\\w{c=d5aa00}【1】\\开启军团战的军团将自动参赛，军团管理人员可进行布阵
\\w{c=d5aa00}【2】\\参与军团战需军团等级达到2级并且军团活跃度达到前16名，处于解散状态的军团无法参与
\\w{c=d5aa00}【3】\\军团战报名时间：每周三00：00至次周一24：00
\\w{c=d5aa00}【4】\\1/8赛公布时间为每周二10:00点，1/4赛公布时间为每周二14:00点，半决赛公布时间为每周二18:00点，决赛公布时间为每周二21:00
\\w{c=d5aa00}【5】\\16强公布后，在决赛公布之前，管理人员可继续布阵，参战团员也可调整阵容
\\w{c=d5aa00}【6】\\军团战以车轮战进行，必须击溃对方军团所有成员才可获胜，\\w{c=ff0000}上阵成员每打败一人，增加10%疲劳度，即战力下降10%\\
\\w{c=d5aa00}【7】\\每周二00:00点报名截止后，将重新累计军团周活跃度，实习期的军团成员贡献的活跃度不计入本周活跃度
\\w{c=d5aa00}【8】\\军团等级越高，参与军团战的人数也越多
\\w{c=d5aa00}【9】\\参赛军团均可获得奖励，按照进入分赛的不同给予不同的奖励
\\w{c=d5aa00}【10】\\参赛队员在军团战单场比赛中若连胜敌方，则可获得个人连胜奖励，连胜次数越大，奖励越丰厚。奖励以连胜最多的次数发放
\\w{c=d5aa00}【11】\\军团战奖励以邮件形式发送
\\w{c=d5aa00}【12】\\军团战战斗中，血量不会重置</string>
	<key>62title</key>
	<string>军团战规则</string>
	<key>63content</key>
	<string>\\w{c=d5aa00}【1】\\巨兽来袭每周一，五晚八点开启，活动结束后会通过邮件统一发放奖励
\\w{c=d5aa00}【2】\\攻打巨兽，每次五回合，若五回合之内未击败巨兽，我方会被巨兽击败
\\w{c=d5aa00}【3】\\每次被巨兽击败后需要冷却时间，可用元宝复活
\\w{c=d5aa00}【4】\\每位玩家有五次鼓舞的机会，每次鼓舞会增加5%的伤害输出
\\w{c=d5aa00}【5】\\排名奖励会根据玩家造成的伤害总量排名进行发放。玩家排名越高，奖励越好
\\w{c=d5aa00}【6】\\若巨兽在活动时间内未被击败，则排行奖励减半
\\w{c=d5aa00}【7】\\完成最后一击的玩家，能获得击败奖励
\\w{c=d5aa00}【8】\\在3分钟内击败巨兽，则巨兽等级提升3级，3-5分钟内击败则提升2级，5-7分钟内击败则提升1级，7-12分钟内击败则不提升等级
\\w{c=d5aa00}【9】\\在12-15分钟内击败巨兽，则巨兽等级降低1级，巨兽未击败则降低2级
</string>
	<key>63title</key>
	<string>巨兽来袭规则</string>
	<key>65content</key>
	<string>\\w{c=d5aa00}【1】\\赛季进行时，周一到周五每天晚上九点，将根据当天段位等级所在评级，发放评级奖励
\\w{c=d5aa00}【2】\\每个赛季会持续六天，在周六晚上九点时结算，并且重置段位等级，结算后发放赛季奖励，但不在发放每日的评级等级
\\w{c=d5aa00}【3】\\每人每日可挑战20次段位赛，挑战次数在每日0点时重置
\\w{c=d5aa00}【4】\\系统将根据玩家当前的段位与战队等级，寻找对手进行匹配
\\w{c=d5aa00}【5】\\匹配成功后玩家可在限定时间内在系统推送的对手中进行选择，放弃视为失败
\\w{c=d5aa00}【6】\\战斗胜利后可获得一颗星星，在一些段位中连续胜利两场以上可获得两颗星星
\\w{c=d5aa00}【7】\\当前段位星数达到最大后会进阶下一段位
\\w{c=d5aa00}【8】\\战斗失败后不会降低段位
\\w{c=d5aa00}【9】\\被挑战失败后会降低段位，但不打断连胜
\\w{c=d5aa00}【10】\\当前段位星数小于0时段位会降低一个段位
\\w{c=d5aa00}【11】\\段位提升至王者段后段位星数将变为王者排名，与比自身高名次的玩家胜利将不会获得星星，而变为排名互换，挑战失败则排名不变
\\w{c=d5aa00}【12】\\进入王者段后段位将不再下降
\\w{c=d5aa00}【13】\\进入王者段挑战将可购买次数，购买次数随VIP等级而定
\\w{c=d5aa00}【14】\\新赛季的初始段位会受上赛季段位影响，上赛季段位越高，初始段位越高
\\w{c=d5aa00}\\巅峰对决规则：
\\w{c=d5aa00}【1】\\赛季结束时，王者排名前16名的玩家将进入天榜对决名单，17-32名的玩家将进入地榜对决名单
\\w{c=d5aa00}【2】\\巅峰对决的阵容将取跨服战中的防守阵容进行对决
\\w{c=d5aa00}【3】\\每周日12
00巅峰对决正式开启，天榜地榜进行8强赛对决，15:00进行4强赛对决，18:00进行半决赛对决，21:00进行决赛
\\w{c=d5aa00}【4】\\对决名次奖励将会在决赛结束后进行发放
\\w{c=d5aa00}【5】\\发放称号持续时间为6天，且只能在非PVP战斗中生效
\\w{c=d5aa00}\\称号属性预览：
\\w{c=d5aa00}【天榜第一】\\天榜第一可获得此称号，称号效果为：全属性提升10%，灵兽触发概率提升6%
\\w{c=d5aa00}【天榜第二】\\天榜第二可获得此称号，称号效果为：全属性提升8%,灵兽触发概率提升4%
\\w{c=d5aa00}【天榜四强】\\天榜四强可获得此称号，称号效果为：全属性提升7%,灵兽触发概率提升3%
\\w{c=d5aa00}【天榜八强】\\天榜八强可获得此称号，称号效果为：全属性提升6%,灵兽触发概率提升2%
\\w{c=d5aa00}【初入天榜】\\天榜十六强可获得此称号，称号效果为：全属性提升5%
\\w{c=d5aa00}【地榜第一】\\地榜第一可获得此称号，称号效果为：攻击力+10%，防御+10%
\\w{c=d5aa00}【地榜四强】\\地榜四强可获得此称号，称号效果为：攻击力+8%，防御+8%
\\w{c=d5aa00}【地榜八强】\\地榜八强可获得此称号，称号效果为：攻击力+7%，防御+7%
\\w{c=d5aa00}【初入地榜】\\地榜十六强可获得此称号，称号效果为：攻击力+5%，防御+5%
</string>
	<key>65title</key>
	<string>跨服战相关规则</string>
	<key>67content</key>
	<string>\\w{c=d5aa00}【1】\\已培养的英雄才可回炉。包括提升过英雄等级或技能等级、升星觉醒、装备过材料。
\\w{c=d5aa00}【2】\\回炉将返还培养该英雄所消耗的全部装备材料，以及80%的金币、英雄经验和技能点。
\\w{c=d5aa00}【3】\\回炉后的英雄等级为1，技能等级为1，且未装备任何材料。
\\w{c=d5aa00}【4】\\回炉时可勾选回炉至初始星数，将返还英雄升星、觉醒所消耗的全部英雄碎片和80%的觉醒丹及金币。
\\w{c=d5aa00}【5】\\神器属性、魔纹不受英雄回炉影响。</string>
	<key>67title</key>
	<string>回炉规则</string>
	<key>68content</key>
	<string>\\w{c=d5aa00}【1】\\花费龙卡单抽和十连抽将额外获得跟龙卡等值的龙珠。
\\w{c=d5aa00}【2】\\免费单抽可获得288龙珠。
\\w{c=d5aa00}【3】\\龙珠可在龙珠商店兑换英雄魂魄。
\\w{c=d5aa00}【4】\\每个英雄的魂魄每天都有兑换次数上限，零点重置次数。 
</string>
	<key>68title</key>
	<string>龙珠兑换规则</string>
	<key>70content</key>
	<string>\\w{c=d5aa00}【1】\\海底一族携带矿产珍宝提供主公进行兑换。
\\w{c=d5aa00}【2】\\手动挖矿时有机会遇到海底兑换，每天最多触发一次。
\\w{c=d5aa00}【3】\\兑换的资源都将换算成价值，主公可以使用已有的资源和元宝凑足价值，即可兑换。
\\w{c=d5aa00}【4】\\每种资源每天都有固定的兑换次数上限，每日零点重置。</string>
	<key>70title</key>
	<string>海底兑换</string>
	<key>73content</key>
	<string>\\w{c=d5aa00}【1】\\魔纹强化可以提升属性，强化主要消耗金币。
\\w{c=d5aa00}【2】\\可强化等级受战队等级影响，上限为战队等级的两倍。
\\w{c=d5aa00}【3】\\强化有概率会心，会心可提升2-3倍强化等级，会心率与会心等级与VIP等级挂钩。
\\w{c=d5aa00}【4】\\四件魔纹每同时强化整十级可提升强化大师等级，提升自身属性。</string>
	<key>73title</key>
	<string>魔纹强化</string>
	<key>74content</key>
	<string>\\w{c=d5aa00}【1】\\魔纹精炼可以提升属性，精炼主要消耗魔泉，提升精炼经验，精炼经验达到后升级。
\\w{c=d5aa00}【2】\\可精炼等级受战队等级影响，上限为战队等级的一半。
\\w{c=d5aa00}【3】\\四件魔纹每同时精炼整三级可提升精炼大师等级，提升自身属性。</string>
	<key>74title</key>
	<string>魔纹精炼</string>
	<key>75content</key>
	<string>\\w{c=d5aa00}【1】\\小伙伴填写主公的招募令后，每达到一定战力，主公即可领取福利。
\\w{c=d5aa00}【2】\\每项招募福利的领取次数有限制。
\\w{c=d5aa00}【3】\\招募的小伙伴每次充值，主公都将获得对应比例的情义值。每充值2元，主公都将获得5情义值。
\\w{c=d5aa00}【4】\\情义值可在情义商店兑换物品。
\\w{c=d5aa00}【5】\\招募令可跨服使用哦！</string>
	<key>75title</key>
	<string>伙伴招募</string>
	<key>77content</key>
	<string>\\w{c=d5aa00}【1】\\占卜分为幸运和豪华两档，档次越高，所需的费用越高，获得的奖励也越好。
\\w{c=d5aa00}【2】\\每次占卜都会获得积分值，积分可以兑换积分奖励。
\\w{c=d5aa00}【3】\\每个玩家每日均有限制占卜次数，使用占卜卡将不消耗限制次数。
\\w{c=d5aa00}【4】\\奖池元宝会根据玩家占卜的次数一直叠加，直到有人获得奖池奖励，则奖池会扣除对应的奖励
\\w{c=d5aa00}【5】\\积分奖励、占卜次数和奖池元宝将每日重置</string>
	<key>77title</key>
	<string>占卜规则</string>
	<key>78content</key>
	<string>\\w{c=d5aa00}【1】\\手动挖矿可增加熟练度，工程可增加消耗电钻20%的熟练度
\\w{c=d5aa00}【2】\\提高熟练度可解锁海底副本、购买更多的矿工。提高矿工数可增加挂机工程的资源获得和手动挖矿的效率。
\\w{c=d5aa00}【3】\\主公每次可挑选一个大关进行挑战，要更换大关或重新挑战需重置副本进度。
\\w{c=d5aa00}【4】\\每日零点自动重置副本进度，恢复重置次数。
\\w{c=d5aa00}【5】\\挑战海底副本需要消耗电钻耐久。</string>
	<key>78title</key>
	<string>海底副本规则</string>
	<key>79content</key>
	<string>\\w{c=d5aa00}【1】\\提升军团等级，将增加矿位的数量、每日铁铲数量和初始金币。
\\w{c=d5aa00}【2】\\探索相应的矿位将获得初始金币，随着挖掘层数的增加，奖励会不断提升。
\\w{c=d5aa00}【3】\\层数越深，需要的铲子越高级，若无对应的铲子，可花费元宝挖掘。
\\w{c=d5aa00}【4】\\每次挖掘有概率获得水晶，获得水晶时将同时获得200的军团贡献。
\\w{c=d5aa00}【5】\\军团的水晶累计到100个，所有团员即可获得一次金币奖励，奖励将以邮件形式发放。
\\w{c=d5aa00}【6】\\已收获的矿位将无法继续挖掘，每日凌晨0点将重置可挖矿位、铁铲数量。
\\w{c=d5aa00}【7】\\若当前挖掘没有收获奖励，隔天将被自动重置，请及时领取！</string>
	<key>79title</key>
	<string>金矿规则</string>
	<key>80content</key>
	<string>\\w{c=d5aa00}【1】\\军团竞赛在帮会等级达到2级后开启。
\\w{c=d5aa00}【2】\\每周一12：00到周三24:00、周五12:00到周日24:00进行军团竞赛。
\\w{c=d5aa00}【3】\\竞赛开启时会会将符合开启条件的军团根据成员总战力匹配对手，总战力越高，奖励越高。
\\w{c=d5aa00}【4】\\若在竞赛开启后方才达成开启条件，无法参加本届竞赛。
\\w{c=d5aa00}【5】\\开启后军团长/副军团长需先选择阵营效果，选择后军团内成员方可进行挑战，实习期内玩家无法进行挑战。
\\w{c=d5aa00}【6】\\选择效果可提升成员基础属性与对应阵营武将输出，并可在结算时全员获得对应阵营的神将碎片。
\\w{c=d5aa00}【7】\\增益效果分为主效果和次效果，次效果不提升基础属性，只提升对应阵营的输出，获得的神将碎片也比主效果少。
\\w{c=d5aa00}【8】\\效果选择后双方可各自挑战4个大章的军团副本，率先通过所有军团副本的军团获胜，若双方都未通关，则比较双方挑战总进度，进度高的一方获胜。
\\w{c=d5aa00}【9】\\4个大章的难度不同，掉落物品也不同，越往后的章节难度越高，掉落物品也越好。
\\w{c=d5aa00}【10】\\获胜方可在结算之后领取胜利奖励，失败则领取失败奖励，小章通关数需大于6个才可领取胜负奖励。
\\w{c=d5aa00}【11】\\每次挑战小章都可获得一定数量的命运硬币，并根据进程贡献获得一定量的金币，当小章通关后，击败者可获得最后一击奖励，对该小章伤害贡献前三的玩家可获得伤害排名奖励。
\\w{c=d5aa00}【12】\\当小章通关后，会掉落一定数量的稀有物品，帮会成员可去热拍中进行竞拍。
\\w{c=d5aa00}【13】\\每次竞拍需支付当前价格高10%的价格进行加价，加价成功后倒计时刷新，上一个竞拍者的货币返还，当倒计时结束后仍无人加价，则竞拍者获得该物品，物品通过邮件发放。
\\w{c=d5aa00}【14】\\若掉落物品无人竞拍，则该物品在倒计时结束后进入帮会宝库，成员可在宝库中消耗货币进行购买，宝库最多只能保存20件物品。
</string>
	<key>80title</key>
	<string>军团竞赛规则</string>
	<key>81content</key>
	<string>\\w{c=d5aa00}【1】\\军团竞赛效果可消耗次数进行鼓舞，鼓舞等级提升后可提升增益效果。
\\w{c=d5aa00}【2】\\每个成员每天都有一定数量的免费鼓舞次数，每天0点重置。
\\w{c=d5aa00}【3】\\每次鼓舞可提升鼓舞进度，鼓舞进度满后可提升鼓舞等级。
\\w{c=d5aa00}【4】\\鼓舞效果对全体成员能生效。
</string>
	<key>81title</key>
	<string>军团竞赛增益效果鼓舞规则</string>
	<key>82title</key>
	<string>变身规则</string>
	<key>82content</key>
	<string>\\w{c=d5aa00}【1】\\英雄变身在两个英雄之间进行，变身后将互换双方的培养属性，包括英雄星数、英雄等级、装备、技能等级、神器、英雄魂魄数量、魔纹。
\\w{c=d5aa00}【2】\\主位的英雄星数必须达到5星或觉醒，次位的英雄星数不能高于主位英雄的星数，同时不能低于主位英雄的初始星数。
\\w{c=d5aa00}【3】\\英雄变身分为几档：1档变身、2档变身等。每个英雄都会属于某档变身里，只有属于同档变身的两个英雄才能进行变身。
\\w{c=d5aa00}【4】\\1档变身：董卓、张角、张飞、赵云、许褚、司马懿、太史慈、小乔、战争之影、功夫女皇、武道先驱、孟获、刘备、张郃、孙尚香、甄姬、貂蝉、华佗、关羽、黄月英、夏侯惇、张辽、孙权、大乔、大剑豪、炫斗英豪、幕府、袁绍、张宝、马超、蔡文姬、甘宁、背锅侠。
\\w{c=d5aa00}【5】\\2档变身：诸葛亮、周瑜、曹操、吕布、郭嘉、孙策。
\\w{c=d5aa00}【6】\\其他档位变身英雄暂未开放。
\\w{c=d5aa00}【7】\\变身需要消耗变身卡，主位英雄的星数越高，变身档次越高，所需消耗的变身卡也越多。
</string>
	<key>84title</key>
	<string>物资收集战规则</string>
	<key>84content</key>
	<string>\\w{c=d5aa00}【1】\\活动开启后，玩家点击活动图标进入主界面，并自动根据此时的战队等级分配至对应的战场
\\w{c=d5aa00}【2】\\每次活动开始时，玩家都会获得一定的固定粮草和流动粮草
\\w{c=d5aa00}【3】\\每隔一小时会都会自动获得一些固定粮草，同时玩家还可以通过战胜其他玩家占据对方25%的流动粮草
\\w{c=d5aa00}【4】\\每个玩家初始都会拥有固定的占据次数，同时每一个小时会增加1点占据次数，最多累计到10次
\\w{c=d5aa00}【5】\\活动结束后，系统将会通过邮件发送排行榜奖励
</string>
	<key>83title</key>
	<string>幻境寻宝基础规则</string>
	<key>83content</key>
	<string>\\w{c=d5aa00}【1】\\玩家在军团金矿挖矿，有机会获得宝图。
\\w{c=d5aa00}【2】\\玩家可以在指定等级的房间与其它服务器的玩家一起合作寻宝，部分房间对护送宝图的价值有所提升
\\w{c=d5aa00}【3】\\寻宝双方可放置品质相同的宝图来增加宝图的价值。
\\w{c=d5aa00}【4】\\寻宝护送过程中，玩家如果没有损失，可提升自身安全勋章等级，安全勋章等级可以增加下次宝图的价值。双方的安全勋章等级越高，提升的宝图价值越高。若玩家护送过程中有所损失，则安全勋章等级重置为0级。安全勋章等级最高可升级至3级
\\w{c=d5aa00}【5】\\当寻宝双方加入指定房间后，队长可以开启宝图护送，宝图护送将经历几个阶段，分别是分岔口选择，经过指定路线的各个路叉口，达到终点。在分岔口选择的阶段，其它玩家可以进入该房间选择指定的埋伏点进行埋伏，埋伏点会有地形、天气和时间来影响双方的状态。护送方可以通过合理选择路线来避开埋伏路线上的强敌或者不好的天气。
\\w{c=d5aa00}【6】\\埋伏者在埋伏点击败护送者，可获得双方一定价值的宝图奖励，在指定时间埋伏，成功后可占据更多的宝图价值。
\\w{c=d5aa00}【7】\\到达终点后，奖励则会通过邮件通知参与人。
</string>
	<key>85title</key>
	<string>幻境寻宝基础规则</string>
	<key>85content</key>
	<string>\\w{c=d5aa00}【1】\\玩家在军团金矿挖矿，有机会获得宝图。
\\w{c=d5aa00}【2】\\玩家可以在指定等级的房间与其它服务器的玩家一起合作寻宝，部分房间对护送宝图的价值有所提升
\\w{c=d5aa00}【3】\\寻宝双方可放置品质相同的宝图来增加宝图的价值。
\\w{c=d5aa00}【4】\\寻宝护送过程中，玩家如果没有损失，可提升自身安全勋章等级，安全勋章等级可以增加下次宝图的价值。双方的安全勋章等级越高，提升的宝图价值越高。若玩家护送过程中有所损失，则安全勋章等级重置为0级。安全勋章等级最高可升级至3级
\\w{c=d5aa00}【5】\\当寻宝双方加入指定房间后，队长可以开启宝图护送，宝图护送将经历几个阶段，分别是分岔口选择，经过指定路线的各个路叉口，达到终点。在分岔口选择的阶段，其它玩家可以进入该房间选择指定的埋伏点进行埋伏，埋伏点会有地形、天气和时间来影响双方的状态。护送方可以通过合理选择路线来避开埋伏路线上的强敌或者不好的天气。
\\w{c=d5aa00}【6】\\埋伏者在埋伏点击败护送者，可获得双方一定价值的宝图奖励，在指定时间埋伏，成功后可占据更多的宝图价值。
\\w{c=d5aa00}【7】\\到达终点后，奖励则会通过邮件发送给参与者
</string>
	<key>87title</key>
	<string>探索规则</string>
	<key>87content</key>
	<string>\\w{c=d5aa00}【1】\\宇宙遨游中，玩家需要投骰前进一定格子数，然后根据到达的格子获得不同的奖励！
\\w{c=d5aa00}【2】\\宇宙中共有6种格子：
\\w{c=d5aa00}--\\起点格：玩家行驶完一圈经过起点时将获得积分奖励。
\\w{c=d5aa00}--\\金币格：玩家随机获取一定金币。
\\w{c=d5aa00}--\\移动格：玩家将随机移动到后六格之内的随机一格。
\\w{c=d5aa00}--\\道具格：玩家随机获取游戏道具。
\\w{c=d5aa00}--\\商店格：玩家可在商店购买稀有道具（幸运骰子可以这里买）！
\\w{c=d5aa00}--\\事件格：玩家将触发各种事件，随机获得不同奖励！
\\w{c=d5aa00}【3】\\玩家每投掷一次骰子（包括幸运骰子），投出的点数为本轮获取的积分，经过起点将获得20积分。
\\w{c=d5aa00}【4】\\骰子数每30分钟恢复1个（上限为20个），也可花费元宝购买。
\\w{c=d5aa00}【5】\\活动结束后，上榜的玩家将获得神秘奖励。（奖励通过邮箱发送）
</string>
	<key>86title</key>
	<string>星宿规则</string>
	<key>86content</key>
	<string>\\w{c=d5aa00}【1】\\通过挑战、兑换和猎星三种途径可获得星宿，星宿根据星级从优到劣分为\\w{c=ff000c}红色\\、\\w{c=ff7800}橙色\\、\\w{c=c800d4}紫色\\和\\w{c=00aeff}蓝色\\
\\w{c=d5aa00}【2】\\星宿可用于激活法阵中的星宿组合，也能通过化魂来变成星魂，星魂可用在星魂商店购买星宿
\\w{c=d5aa00}【3】\\每个法阵都有专属的星宿组合，激活一定数量的组合将解锁法阵的\\w{c=fcff00}特殊效果\\，特殊效果在激活后将直接作用到全部武将身上（不受法阵选择的影响）；激活所有的组合，法阵的动画效果将呈现到战斗中
\\w{c=d5aa00}【4】\\布阵可点击星宿按钮选择法阵，所选法阵的动画效果将作用到战斗中
\\w{c=d5aa00}【5】\\激活的星宿组合越多，则解锁的星宿成就越多，获得的属性加成也就越多
\\w{c=d5aa00}【6】\\系统每天有\\w{c=fcff00}5\\次挑战的机会
\\w{c=d5aa00}【7】\\每天有1次免费猎取星宿的机会，猎星达到一定次数即可获得橙色星宿
\\w{c=d5aa00}【8】\\星魂兑换的商品每4小时刷新一次，也可以用刷新令直接刷新哦
\\w{c=d5aa00}【9】\\战队等级达到90级开启星宿组升星功能（目前只开放部分星宿组的升星）
\\w{c=d5aa00}【10】\\玩家激活星宿组后，消耗星宿进行升星，每次升星都将获得属性加成和星宿值
</string>
	<key>88title</key>
	<string>星宿挑战规则</string>
	<key>88content</key>
	<string>\\w{c=d5aa00}【1】\\每天有\\w{c=fcff00}5\\次挑战的机会。
\\w{c=d5aa00}【2】\\每天有\\w{c=fcff00}5\\次换武将的机会，次数用完可用元宝继续购买。
\\w{c=d5aa00}【3】\\挑战的武将级别越高，难度越高，掉落高阶级星宿的概率越大。
\\w{c=d5aa00}【4】\\挑战武将成功，将随机获得该武将可能掉落的星宿1个；挑战失败则不获得星宿也不扣除次数。
</string>
	<key>90title</key>
	<string>军团捐赠规则</string>
	<key>90content</key>
	<string>\\w{c=d5aa00}【1】\\军团成员每天可发起捐赠请求：任意武将碎片或者紫色及以上魔纹碎片。
\\w{c=d5aa00}【2】\\对发起捐赠的成员进行捐赠会消耗对应的碎片，并获得军团贡献。
\\w{c=d5aa00}【3】\\普通武将每次最多可请求\\w{c=fcff00}3\\个碎片，S级武将每次最多可请求\\w{c=fcff00}1\\个碎片，紫色魔纹每次最多可请求\\w{c=fcff00}4\\个碎片，橙色魔纹每次最多可请求\\w{c=fcff00}2\\个碎片。
\\w{c=d5aa00}【4】\\每次发布的捐赠最多可保留12小时，发布新的请求时将覆盖原先的请求。
\\w{c=d5aa00}【5】\\每日的\\w{c=fcff00}0\\点和\\w{c=fcff00}12\\点将重置请求捐赠的次数。
\\w{c=d5aa00}【6】\\每日捐赠上限30个。
\\w{c=d5aa00}【7】\\团员捐赠的碎片将\\w{c=fcff00}通过邮箱发放\\，请及时查收。
</string>
	<key>91title</key>
	<string>夺宝规则</string>
	<key>91content</key>
	<string>\\w{c=d5aa00}【1】\\玩家投入夺宝币到投币池中，获得相对数量的积分。
\\w{c=d5aa00}【2】\\积分可在积分商城兑换道具，兑换成功将扣除相对应的积分，积分在活动结束时清零。
\\w{c=d5aa00}【3】\\玩家只要投入1个夺宝币便拥有获得道具的机会，投入的夺宝币越多，获得的概率越高。
\\w{c=d5aa00}【4】\\投币池满了之后，将从此轮夺宝的玩家中抽出一位幸运玩家直接获得对应的道具，并同时开启下一轮夺宝。
\\w{c=d5aa00}【5】\\活动结束时若投币池未满，系统将从参与最后一轮夺宝的玩家中选出一名幸运者获得奖品。
\\w{c=d5aa00}【6】\\每个道具可被夺宝的轮数不同，达到轮数后则该道具的夺宝结束。
\\w{c=d5aa00}【7】\\奖池道具通过邮件发放，投币时获得的随机道具直接获得
</string>
	<key>93title</key>
	<string>一键试炼</string>
	<key>93content</key>
	<string>\\w{c=d5aa00}【1】\\等级达到\\w{c=d5aa00}68\\级开启一键试炼。
\\w{c=d5aa00}【2】\\一键试炼开启后默认挑战当前已解锁的最高副本，并记录玩家手动挑战该副本的最高伤害值作为一键试炼的挑战结果。
\\w{c=d5aa00}【友情提醒】\\在一键试炼开启后先手动挑战，再进行一键试炼，可以让试炼结果更合情合理哦~
</string>
	<key>94title</key>
	<string>升星</string>
	<key>94content</key>
	<string>\\w{c=d5aa00}【1】\\每次升星操作根据星级可选择不同的消耗材料，选择的材料不同则升星经验值和属性值的增加也不同。
\\w{c=d5aa00}【2】\\每升到一定星级将额外获得纹耀之力，纹耀之力可用于提升纹耀技能。
</string>
	<key>95title</key>
	<string>天赋</string>
	<key>95content</key>
	<string>\\w{c=d5aa00}【1】\\灵兽天赋共有7种品质，从低到高分别为：D、C、B、A、S、SS、SSS
\\w{c=d5aa00}【2】\\悟性值满足条件即可随机领悟一个天赋技能，若天赋栏已满，则随机替换一个未锁定的天赋
\\w{c=d5aa00}【3】\\锁定的天赋不会被新天赋替换
\\w{c=d5aa00}【4】\\最多可以锁定5个天赋，锁定的天赋越多，每次领悟所需要消耗的悟性就越大
\\w{c=d5aa00}【5】\\加入灵兽碎片领悟将必出A级或以上天赋，且领悟SSS天赋和专属天赋的概率将大大增加
\\w{c=d5aa00}【6】\\每只灵兽只要满足条件，就有可能领悟自身专属的天赋
\\w{c=d5aa00}【7】\\普通天赋与专属天赋若为互斥技能，则无法同时领悟在一只灵兽上，互斥技能只能领悟其中一个。
</string>
	<key>96title</key>
	<string>灵兽探险规则</string>
	<key>96content</key>
	<string>\\w{c=d5aa00}【1】\\灵洞窟探索可获得灵悟丹，获得的灵悟丹有一定概率获得会心，加倍获得的数量
\\w{c=d5aa00}【2】\\每次探索都会获得一枚事件硬币，共有9种硬币，收集到的硬币会依次飞向硬币宫格盘
\\w{c=d5aa00}【3】\\当硬币宫格盘里有横线、竖线、斜线3种相同硬币，或全部不同硬币存在的情况时，会增加相应的奖励倍率
\\w{c=d5aa00}【4】\\获得的硬币可以选择替换成新的硬币，达成连线奖励
\\w{c=d5aa00}【5】\\探索过程中有机会遇到探索事件，完成探索事件可获得丰富奖励
\\w{c=d5aa00}【6】\\精灵事件获得的增益状态只会在挑战守卫中生效，增益状态在9次探险后失效
\\w{c=d5aa00}【7】\\挑战守卫事件，选择的难度越大，则获得的奖励越高
\\w{c=d5aa00}【8】\\每天最多有27次探索机会，探索次数将在隔天恢复
</string>
	<key>97title</key>
	<string>魔纹转换规则</string>
	<key>97content</key>
	<string>\\w{c=d5aa00}【1】\\魔纹转换可以将拥有的魔纹转化成其他同品质同部位的魔纹，转换后魔纹的培养属性，即魔纹的强化等级、精炼等级和星级，都将转换到新的魔纹上
\\w{c=d5aa00}【2】\\魔纹品质需达到\\w{c=ff7e00}橙色\\及以上才能进行魔纹转换
\\w{c=d5aa00}【3】\\魔纹转换的品质不同，则所花费的元宝也不同
</string>
	<key>63title_new</key>
	<string>地狱犬挑战规则</string>
	<key>63content_new</key>
	<string>\\w{c=d5aa00}【1】\\地狱犬每周三、日全天开放，活动结束后会通过邮件发放伤害排名奖励。
\\w{c=d5aa00}【2】\\地狱犬每次被打败后将复活并提升1级。
\\w{c=d5aa00}【3】\\挑战地狱犬的初始次数为5次，每天6点、12点、18点、22点恢复5次，恢复上限为10次。
\\w{c=d5aa00}【4】\\每位玩家有五次鼓舞的机会，每次鼓舞会增加5%的伤害输出。
\\w{c=d5aa00}【5】\\排名奖励会根据玩家造成的伤害总量排名进行发放。玩家排名越高，奖励越好。
\\w{c=d5aa00}【6】\\战斗等级达到50级或者VIP等级达到3级便可直接探索。
\\w{c=d5aa00}【7】\\特定等级的地狱犬被击败后，全服玩家都可以领取全服击败奖励。
\\w{c=d5aa00}【8】\\每级最后击败地狱犬的玩家都将获得击败奖励，击败的地狱犬等级越高奖励越多。
</string>
</dict>
</plist>