<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>txt_rank_no_open</key>
	<string>本届跨服战圆满结束，敬请期待下一届跨服战！</string>
	<key>txt_server_name</key>
	<string>乱斗星球</string>
	<key>txt_preview_2</key>
	<string>你这赛季初始段位为：</string>
	<key>txt_preview_1</key>
	<string>根据上季表现</string>
	<key>txt_pre_process</key>
	<string>\\w{c=00FFF6}准备开始\\@</string>
	<key>txt_find_free</key>
	<string>免费</string>
	<key>txt_video_defened</key>
	<string>防守</string>
	<key>txt_video_attack</key>
	<string>进攻</string>
	<key>txt_rival_king_rank</key>
	<string>王者@名</string>
	<key>txt_rank_rew_titie</key>
	<string>第@名奖励</string>
	<key>txt_rank_sky16</key>
	<string>9-16</string>
	<key>txt_rank_sky8</key>
	<string>5-8</string>
	<key>txt_rank_sky4</key>
	<string>3-4</string>
	<key>txt_rank_sky2</key>
	<string>2</string>
	<key>txt_rank_sky1</key>
	<string>1</string>
	<key>txt_rank_ground16</key>
	<string>9-16</string>
	<key>txt_rank_ground8</key>
	<string>5-8</string>
	<key>txt_rank_ground4</key>
	<string>2-4</string>
	<key>txt_rank_ground2</key>
	<string>2-4</string>
	<key>txt_rank_ground1</key>
	<string>1</string>
	<key>txt_lefttime_less_one</key>
	<string>小于1分钟</string>
	<key>txt_lefttime_days</key>
	<string>@天</string>
	<key>txt_find_num_no_enough</key>
	<string>寻找对手次数已用完</string>
	<key>txt_sky_rank_range</key>
	<string>1-16名</string>
	<key>txt_ground_rank_range</key>
	<string>17-32名</string>
	<key>txt_ground_rank_final</key>
	<string>可入围地榜对决赛</string>
	<key>txt_sky_rank_final</key>
	<string>可入围天榜对决赛</string>
	<key>season_week_rew</key>
	<string>[{&quot;id&quot;:38,&quot;num&quot;:5},{&quot;id&quot;:90022,&quot;num&quot;:30},{&quot;id&quot;:90002,&quot;num&quot;:120000}]</string>
	<key>txt_finish_find</key>
	<string>倒计时结束，将随机一名玩家进入挑战</string>
	<key>txt_began_find</key>
	<string>正在寻找对手</string>
	<key>txt_finding_rivals</key>
	<string>准备寻找对手</string>
	<key>txt_servername_title</key>
	<string>服务器名字:</string>
	<key>txt_title_effect</key>
	<string>称号效果:</string>
	<key>txt_finish</key>
	<string>已结束</string>
	<key>king_rank_title</key>
	<string>巅峰对决榜:</string>
	<key>my_king_rank_title</key>
	<string>我的王者排名:</string>
	<key>txt_in_process_of</key>
	<string>\\w{c=00FFF6}正在进行\\@</string>
	<key>season_finish</key>
	<string>赛季已结束</string>
	<key>lab_1</key>
	<string>1.竞技场战斗自动进行，玩家不能手动释放技能
2.若战斗胜利，且防守排名高于进攻方，则双方排名互换
3.若战斗超时，则判进攻方失败 
4.每天每个玩家，可以在竞技场赛场分别发起5次战斗，每天凌晨5点重置次数
5.每次攻击后，若失败则进攻方将进入10分钟的等待时间
6.正在进行战斗的敌人，无法被选择作为对手
</string>
	<key>lab_rule_1</key>
	<string>跨服战规则</string>
	<key>next_section_title</key>
	<string>下级段位:</string>
	<key>cur_section_title</key>
	<string>当前段位:</string>
	<key>cur_section_rank</key>
	<string>当前排名:</string>
	<key>cur_king_rank_title</key>
	<string>当前王者排名:  \\w{c=ffffff}@</string>
	<key>layout_defend_tip</key>
	<string>请先布置防守阵容后再寻找对手</string>
	<key>shop_title</key>
	<string>跨服战商店</string>
	<key>quit_serverbattle</key>
	<string>离开界面后此次战斗将视为失败，是否继续？</string>
	<key>not_find_rival</key>
	<string>未匹配到对手!</string>
	<key>no_rank</key>
	<string>暂未进入排名</string>
	<key>title_power</key>
	<string>战力:</string>
	<key>season_reward_title</key>
	<string>跨服战赛季奖励</string>
	<key>day_reward</key>
	<string>每日奖励</string>
	<key>look_up</key>
	<string>查看</string>
	<key>ground_rank</key>
	<string>地榜</string>
	<key>sky_rank</key>
	<string>天榜</string>
	<key>king_fight_rank</key>
	<string>巅峰对决榜:</string>
	<key>king_rank</key>
	<string>王者排名:</string>
	<key>past_report_5</key>
	<string>十六强赛</string>
	<key>past_report_4</key>
	<string>八强赛</string>
	<key>past_report_3</key>
	<string>四强赛</string>
	<key>past_report_2</key>
	<string>半决赛</string>
	<key>past_report_1</key>
	<string>决赛</string>
	<key>past_battle_report</key>
	<string>往期对决</string>
	<key>ground_rank_first</key>
	<string>地榜第一</string>
	<key>sky_rank_first</key>
	<string>天榜第一</string>
	<key>king_reward_info</key>
	<string>奖励内容:</string>
	<key>king_reward_preview</key>
	<string>奖励预览:</string>
	<key>ground_rank_title</key>
	<string>王者排名17-32名入围地榜对决赛</string>
	<key>sky_rank_title</key>
	<string>王者排名1-16名可入围天榜对决赛</string>
	<key>king_fight</key>
	<string>巅峰对决</string>
	<key>search_rival</key>
	<string>搜索对手</string>
	<key>king_reward</key>
	<string>王者奖励</string>
	<key>section_reward</key>
	<string>段位奖励</string>
	<key>season_reward</key>
	<string>赛季奖励</string>
	<key>season_count_down</key>
	<string>巅峰对决开启倒计时</string>
	<key>cur_title</key>
	<string>当前称号:</string>
	<key>find_opponent</key>
	<string>寻找对手</string>
	<key>log</key>
	<string>日志</string>
	<key>reward_exchange</key>
	<string>兑换</string>
	<key>defend_zhen</key>
	<string>防守阵容</string>
	<key>king_exchange</key>
	<string>王者排名</string>
	<key>reward</key>
	<string>奖励</string>
	<key>reward_rank1011</key>
	<string>王者11-32名</string>
	<key>reward_rank1004</key>
	<string>王者4-10名</string>
	<key>reward_rank1003</key>
	<string>王者第3名</string>
	<key>reward_rank1002</key>
	<string>王者第2名</string>
	<key>reward_rank1001</key>
	<string>王者第1名</string>
</dict>
</plist>
