<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>spirit_baoli_again</key>
	<string>再寻一次(@)</string>
	<key>spirit_discharge</key>
	<string>卸下</string>
	<key>spirit_call_shen_intro</key>
	<string>召唤十次必得一个【仙令】并且有更高几率获得【橙色命魂】</string>
	<key>spirit_forbid_vp</key>
	<string>暂未开放</string>
	<key>spirit_pos_open_suc</key>
	<string>开启成功</string>
	<key>double_soullife_break_up</key>
	<string>可以分解成@个命魂碎片,@个仙令</string>
	<key>attr73</key>
	<string>疗效</string>
	<key>attr72</key>
	<string>抗性</string>
	<key>attr70</key>
	<string>抗暴</string>
	<key>attr69</key>
	<string>会心</string>
	<key>attr68</key>
	<string>闪避</string>
	<key>attr67</key>
	<string>命中</string>
	<key>attr20</key>
	<string>抗暴</string>
	<key>spirit_pos_can_open</key>
	<string>可开启</string>
	<key>spirit_open_soul_pos</key>
	<string>是否消耗@元宝开启此命魂位?</string>
	<key>spirit_buy_item_exhausted</key>
	<string>今日购买次数已经用完</string>
	<key>spirit_buy_item_enough</key>
	<string>仙令不足</string>
	<key>spirit_double_prefix_name</key>
	<string>真-</string>
	<key>spirit_buy_item_limit</key>
	<string>限购次数:</string>
	<key>spirit_baoli_tip</key>
	<string>暴力寻仙模式下每次可直接消耗@金币，并可略过寻仙动画，除紫色和橙色命魂外，其他的命魂直接化为命魂经验，你确定要选择吗？</string>
	<key>spirit_equip_item_txt</key>
	<string>装备</string>
	<key>spirit_pos_for_equip</key>
	<string>当前位于:</string>
	<key>spirit_pos_name5</key>
	<string>后3位</string>
	<key>spirit_pos_name4</key>
	<string>后2位</string>
	<key>spirit_pos_name3</key>
	<string>后1位</string>
	<key>spirit_pos_name2</key>
	<string>前3位</string>
	<key>spirit_pos_name1</key>
	<string>前2位</string>
	<key>spirit_pos_name0</key>
	<string>前1位</string>
	<key>spirit_hide_equiped</key>
	<string>隐藏已装备命魂</string>
	<key>spirit_upgrade_have_tian_double</key>
	<string>选择的命魂中含有\\w{c=ff0000;s=20}@\\个稀有红色命魂和\\w{c=ff0000;s=20}@\\个稀有红色命魂，你确认要继续？</string>
	<key>spirit_upgrade_have_double</key>
	<string>选择的命魂中含有\\w{c=ff0000;s=20}@\\个稀有红色命魂，你确认要继续？</string>
	<key>spirit_upgrade_have_tian</key>
	<string>选择的命魂中含有\\w{c=ff0000;s=20}@\\个稀有橙色命魂，你确认要继续？</string>
	<key>spirit_exp_up</key>
	<string>升级</string>
	<key>spirit_exp_full</key>
	<string>命魂经验池已满</string>
	<key>spirit_exp</key>
	<string>命魂经验</string>
	<key>spirit_exp_inject</key>
	<string>注入</string>
	<key>spirit_left_exp</key>
	<string>剩余经验:</string>
	<key>spirit_exp_pool</key>
	<string>命魂经验池</string>
	<key>spirit_detail_exp_pool</key>
	<string>经验池:</string>
	<key>spirit_detail_bag</key>
	<string>吞噬</string>
	<key>spirit_quick_cost_no_enough</key>
	<string>一键寻仙金币设置已超过最大值</string>
	<key>spirit_quick_cost_no_empty</key>
	<string>一键寻仙金币设置不能为0</string>
	<key>spirit_quick_cost_title2</key>
	<string>金币后自动停止寻仙</string>
	<key>spirit_quick_cost_title1</key>
	<string>消耗</string>
	<key>spirit_quick_max_title</key>
	<string>最大</string>
	<key>spirit_zhen_type1</key>
	<string>摇钱</string>
	<key>spirit_zhen_type2</key>
	<string>卜卦</string>
	<key>spirit_zhen_type3</key>
	<string>占星</string>
	<key>spirit_zhen_type4</key>
	<string>天演</string>
	<key>spirit_zhen_type5</key>
	<string>神谕</string>
	<key>spirit_type1_1</key>
	<string>之石</string>
	<key>spirit_type2_2</key>
	<string>之灵</string>
	<key>spirit_type3_3</key>
	<string>之晶</string>
	<key>spirit_type4_4</key>
	<string>之魂</string>
	<key>spirit_type5_5</key>
	<string>之魄</string>
	<key>spirit_type9_9</key>
	<string>之源</string>
	<key>soullife_equip_panel_title2</key>
	<string>升级命魂</string>
	<key>soullife_equip_panel_title1</key>
	<string>装备命魂</string>
	<key>zhen_pos_open_lev_and_vip</key>
	<string>VIP@或等级@级开启</string>
	<key>zhen_pos_open_lev</key>
	<string>@级开启</string>
	<key>zhen_pos_not_open</key>
	<string>未开启</string>
	<key>quick_xunxian_vip</key>
	<string>(vip@开启)</string>
	<key>quick_xunxing_title</key>
	<string>一键寻仙时会自动将如下品质的命魂转化成命魂经验</string>
	<key>spirit_detail_type5</key>
	<string>魄之命魂</string>
	<key>spirit_detail_type4</key>
	<string>魂之命魂</string>
	<key>spirit_detail_type3</key>
	<string>晶之命魂</string>
	<key>spirit_detail_type2</key>
	<string>灵之命魂</string>
	<key>spirit_detail_type1</key>
	<string>石之命魂</string>
	<key>auto_choose_soullife_title</key>
	<string>自动选择如下品质的命魂</string>
	<key>spirit_detail_breakup</key>
	<string>分解</string>
	<key>spirit_detail_exchange</key>
	<string>更换</string>
	<key>zhen_name5</key>
	<string>魔兔</string>
	<key>zhen_name4</key>
	<string>天鹿</string>
	<key>zhen_name3</key>
	<string>吉鸟</string>
	<key>zhen_name2</key>
	<string>兰豹</string>
	<key>zhen_name1</key>
	<string>青龙</string>
	<key>zhen_name0</key>
	<string>神马</string>
	<key>attr_zhen_add</key>
	<string>【@】获得加成:</string>
	<key>soullife_alread_equ</key>
	<string>[@]</string>
	<key>bag_maxcount_limit</key>
	<string>背包空间不足</string>
	<key>not_enough_fra</key>
	<string>魂魄数量不足</string>
	<key>quick_vip_limit</key>
	<string>VIP等级不足，是否前往充值</string>
	<key>quick_type4</key>
	<string>自动合成神仙命魂</string>
	<key>soullife_fra_no_enough</key>
	<string>命魂碎片不足</string>
	<key>soullife_break_up_tip</key>
	<string>你确定要将@分解吗？
分解可以获得@个命魂碎片</string>
	<key>double_soullife_break_up_tip</key>
	<string>你确定要将@分解吗？
分解可以获得@个命魂碎片,@个仙令</string>
	<key>soullife_break_up</key>
	<string>可以分解成@个命魂碎片</string>
	<key>soullife_exp</key>
	<string>经验:</string>
	<key>soullife_attr</key>
	<string>属性:</string>
	<key>soullife_frag_title</key>
	<string>命魂碎片:</string>
	<key>spirit_formation_jc</key>
	<string>第@位英雄阵位获得加成:</string>
	<key>spirit_intro</key>
	<string>命魂介绍</string>
	<key>spirit_info</key>
	<string>命魂信息</string>
	<key>spirit_upgrade</key>
	<string>命魂升级</string>
	<key>spirit_equ</key>
	<string>装备命魂</string>
	<key>spirit_exchange</key>
	<string>魂魄兑换</string>
	<key>spirit_type1</key>
	<string>石</string>
	<key>spirit_type2</key>
	<string>灵</string>
	<key>spirit_type3</key>
	<string>晶</string>
	<key>spirit_type4</key>
	<string>魂</string>
	<key>spirit_type5</key>
	<string>魄</string>
	<key>spirit_type6</key>
	<string>命魂碎片</string>
	<key>spirit_type9</key>
	<string>源</string>
	<key>spirit_find</key>
	<string>寻仙</string>
	<key>spirit_find10</key>
	<string>寻仙十次</string>
	<key>spirit_call</key>
	<string>召唤</string>
	<key>spirit_call1</key>
	<string>召唤一次</string>
	<key>spirit_call10</key>
	<string>召唤十次</string>
	<key>spirit_type</key>
	<string>类型：</string>
	<key>quality</key>
	<string>品质</string>
	<key>call_title</key>
	<string>召唤神仙</string>
	<key>call_rule</key>
	<string>优先消耗唤灵符！</string>
	<key>find_title</key>
	<string>恭喜获得以下命魂</string>
	<key>spirit_max_level</key>
	<string>已达最高等级</string>
	<key>spirit_atuo_select</key>
	<string>选择命魂品质</string>
	<key>spirit_name</key>
	<string>命魂</string>
	<key>lab_spirit</key>
	<string>命魂:</string>
	<key>lab_lv</key>
	<string>等级:</string>
	<key>need_lv</key>
	<string>@级
开放</string>
	<key>spirit_upgrade_no_select</key>
	<string>不能选择高于自己品质的命魂</string>
	<key>equ_in</key>
	<string>装备于：@</string>
	<key>find10_not enough</key>
	<string>金币不足，无法继续进行寻仙</string>
	<key>bag_list_null</key>
	<string>当前没有可装备的命魂，请进入“寻仙”获取</string>
	<key>get_fragment</key>
	<string>\\w{c=ffffff;s=36}恭喜获得\\w{c=ff8400;s=36}天仙魂魄\\w{c=ffffff;s=36}！</string>
	<key>spirit_find_quick</key>
	<string>一键寻仙</string>
	<key>spirit_find_quick_stop</key>
	<string>停止寻仙</string>
	<key>quick_type1</key>
	<string>自动合成鬼仙命魂</string>
	<key>quick_type2</key>
	<string>自动合成人仙命魂</string>
	<key>quick_type3</key>
	<string>自动合成地仙命魂</string>
	<key>quick_help</key>
	<string>1. 根据设定的命魂品质自动转化成命魂经验，并保留高品质命魂。 2. 一键寻仙开始后，可主动停止。当预设金币不足、背包空间不足和经验池到达上限时，系统将主动停止寻仙。</string>
</dict>
</plist>
