<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>00_0001</key>
	<string>暴汉气数已尽，本天师顺应天命继承大业，快快交出灵兽，本天师保你一生荣华富贵！</string>
	<key>00_0002</key>
	<string>呸！想让本姑娘助纣为虐简直就是白日做梦！</string>
	<key>00_0003</key>
	<string>冥顽不灵的死丫头，现在就让你尝尝本天师“花式虐狗十八式”的腻害！</string>
	<key>00_0006</key>
	<string> 咳咳……我相信，肯定会有一位盖世英雄驾着那七色云彩来救我的……</string>
	<key>00_0007</key>
	<string>切～～～不要以为多了两个臭鸟蛋，就可以逃得出本天师的手心！</string>
	<key>00_0008</key>
	<string>老贼休要猖狂！跟本少爷比一比颜值你敢吗！！</string>
	<key>00_0009</key>
	<string>相公，奴家可不喜欢这个猥琐大叔来当我们的皇帝！</string>
	<key>00_0010</key>
	<string>二哥休要伤心，就让子龙上前给这老贼来一个七进七出！</string>
	<key>00_0011</key>
	<string>为了追上你这老贼，连俺大哥送的草鞋都磨破了！</string>
	<key>00_0012</key>
	<string>要死啦～要死啦！你们这群没用的东西！白吃了我那么多米饭，到头来还是要靠本天师来解决问题！</string>
	<key>00_0015</key>
	<string>招齐魂兽，终结乱世……看来要尽快找些帮手才行，可在这之前，最重要的是该为我们的队伍取一个既拉轰又响亮的名字！</string>
	<key>00_0016</key>
	<string>不好……这里似乎都被那妖道的同伙包围了……</string>
	<key>00_0017</key>
	<string>喂喂喂……我只是打个酱油而已，不要把我拖下水好不好？？</string>
	<key>00_0018</key>
	<string>咱们先解决掉眼前这些麻烦再说吧！</string>
	<key>00_0020</key>
	<string>那么现在，就让姐姐带着你一起离开这里好了</string>
	<key>00_0021</key>
	<string>请主公点击开放的副本进入战斗</string>
	<key>00_0024</key>
	<string>使用金币招募一次</string>
	<key>00_0025</key>
	<string>什么？还是觉得不够给力，那就来试试龙卡招募，肯定让主公满意！</string>
	<key>00_0026</key>
	<string>赶紧让这些可恶的黄巾贼了见识下我们的厉害吧！~</string>
	<key>00_0028</key>
	<string>战场征战，没有装备可不行哦，刚才战斗获得了一些材料，刚好可以用来制作我们的装备。</string>
	<key>00_0029</key>
	<string>当装备可以强化时会出现小红点的提示</string>
	<key>00_0030</key>
	<string>当拥有所有强化材料后，可对该装备进行升阶！</string>
	<key>00_0031</key>
	<string>点击升阶</string>
	<key>00_0032</key>
	<string>主公好棒呀！装备升阶后可大幅提升我们的战斗力。</string>
	<key>00_0033</key>
	<string>这些烦人的尾巴真是讨厌，主公现在就来试试刚刚招募的帮手的实力吧！</string>
	<key>00_0034</key>
	<string>不要装成跟我很熟的样子好不好？</string>
	<key>00_0035</key>
	<string>其实主公就是小女子一直苦苦寻找的灵兽之主，只是主公的记忆尚被封印，待小女子解除那封印之后，主公自然会知道一切的！</string>
	<key>00_0036</key>
	<string>灵兽之主？封印记忆？我警告你哦，不要乱打我的主意！还有，我这灵兽之主怎么打小兵都这么吃力啊？</string>
	<key>00_0037</key>
	<string>不～不要过来！你们这群淫贼！！！</string>
	<key>00_0038</key>
	<string>小姑娘，乱讲话小心姐姐打你屁屁！</string>
	<key>00_0039</key>
	<string>呜呜呜……那些黄巾恶贼欺负人家，求你带我离开这里好不好？</string>
	<key>00_0040</key>
	<string>可恶！！姐姐一定帮你把那些人揍到连亲妈都不认识他们！</string>
	<key>00_0041</key>
	<string>最近黄巾乱党总是混进村子来打探虚实，看你们鬼鬼祟祟的样子估计也不是什么好人！</string>
	<key>00_0042</key>
	<string>大胡子蜀黍，你那把明晃晃的刀真是要吓死宝宝了！！</string>
	<key>00_0043</key>
	<string>哇呀呀啊！气煞俺也！！</string>
	<key>00_0044</key>
	<string>对女生这么粗鲁，活该你单身一辈子！</string>
	<key>00_0045</key>
	<string>咳～吾观汝，如内个……内个～插标卖首尔！嗯，是的没错！</string>
	<key>00_0046</key>
	<string>………要打就打好了，不要故意来拽词好不啦？</string>
	<key>00_0047</key>
	<string>大哥……吾败矣……</string>
	<key>00_0048</key>
	<string>玻璃心的文艺男青年，真的是伤不起……</string>
	<key>00_0049</key>
	<string>哇咔咔，俺老张换了大长矛，这回一定要捅翻你们！！</string>
	<key>00_0050</key>
	<string>呸！打死你这个臭流氓！！</string>
	<key>00_0051</key>
	<string>老大！剩下的事情就交给你了！！</string>
	<key>00_0052</key>
	<string>老大……？听起来好像很腻害的样子。</string>
	<key>00_0053</key>
	<string>中山靖王之后，刘玄德在此领教姑娘的高招！</string>
	<key>00_0054</key>
	<string>没有想到，这小小乡村竟然也是卧虎藏龙之地！</string>
	<key>00_0055</key>
	<string>姑娘如此本领，为何不效力我大汉却偏要助纣为虐？</string>
	<key>00_0056</key>
	<string>拜托～本姑娘就是为了躲避那些乱党才躲进你们村子里的……</string>
	<key>00_0057</key>
	<string>哇哈哈～既然是误会，姑娘何不与我兄弟三人把酒言欢？</string>
	<key>00_0058</key>
	<string>谁管你……你以为小爷会傻到在这里一直等你吗？</string>
	<key>00_0059</key>
	<string>主公，刚刚那人身上散发的气息甚是熟悉……也许也是灵兽守卫的传人！</string>
	<key>00_0060</key>
	<string>强龙不压地头蛇，说不定内个编草鞋的小子真的会叫来一群的人……</string>
	<key>00_0061</key>
	<string>若是此人也是守卫传人说不定可以帮助到我们，不如现在就让小女子为你解除封印好了！</string>
	<key>00_0062</key>
	<string>喂！！你要是再不住手，我可要喊人了……啊！</string>
	<key>00_0063</key>
	<string>主公，醒醒！主公……</string>
	<key>00_0064</key>
	<string>头好痛……这是哪里……你又是谁？</string>
	<key>00_0065</key>
	<string>这就说来话长了……balabala（甄姬讲出了事情的始末）</string>
	<key>00_0066</key>
	<string>二弟，就是他们这几个外乡人欺负我！</string>
	<key>00_0067</key>
	<string>小贼，欺我桃源无人乎？看刀！！</string>
	<key>00_0068</key>
	<string>各位且慢动手，先听小女子一言可好？</string>
	<key>00_0069</key>
	<string>小女子观察阁下良久，料定阁下必是那灵兽守卫的传人！不知阁下可否认出这位主公是何人？</string>
	<key>00_0070</key>
	<string>果然没错，其实在下早就发现了这主公的不同之处，刚刚的所为只是想证实一下在下的猜测而已。</string>
	<key>00_0071</key>
	<string>不知阁下可否有意与我等共同匡扶汉室，重振天威？（解除记忆封印的主角，语境竟有了翻天覆地的变化，这样粗糙的转变真的没关系吗？）</string>
	<key>00_0072</key>
	<string>如今天下大乱，汉室摇摇欲坠，能遇到主公这等志同道合之士实属不易，不如今日我等就在这桃源义结金兰如何？</string>
	<key>00_0073</key>
	<string>甚好！甚好！</string>
	<key>00_0074</key>
	<string>“黄天在上天，厚土为证，今日我等在此结为兄弟。不求同年同月同日生，但求同年同月同日死……誓必驱除贼寇，振我大汉天威！”</string>
	<key>00_0075</key>
	<string>主公有所不知，那张角便是恶名昭著的钟南七怪之一。如今天下大乱，这七怪甘心为异族侵吞中原的马前卒，实在是可恶至极！</string>
	<key>00_0076</key>
	<string>看来这件事情并没有表面上那么简单……额，真是头疼！</string>
	<key>00_0077</key>
	<string>既然主公已与那刘备结拜，现在咱们的当务之急就是找到更多的守卫传人，联合他们的力量才能粉碎异族的阴谋！</string>
	<key>00_0078</key>
	<string>苍天已死，黄天当立，二位为何不投到我天师门下，一同为天下苍生谋福？</string>
	<key>00_0079</key>
	<string>真没想到……竟会有这么多的百姓被他们所迷惑！</string>
	<key>00_0080</key>
	<string>看来留给我们的时间不多了，咱们现在要赶快找到那张角，才能搞清他们阴谋的真相！</string>
	<key>00_0081</key>
	<string>这一带黄巾乱党活动的十分平凡，说不定我们能找到一些线索。</string>
	<key>00_0082</key>
	<string>主公说的有力，我们这就动身！！</string>
	<key>00_0083</key>
	<string>看样子，我们应该里他们的老巢不远了。</string>
	<key>00_0084</key>
	<string>没错，咱们一定要多加小心才好。</string>
	<key>00_0085</key>
	<string>天灵灵，地灵灵，谁都没有黄巾灵～～尔等凡人，见了本天师还不跪拜？</string>
	<key>00_0086</key>
	<string>跪拜个毛线～赶快说出你们老大的下落，饶你不死！</string>
	<key>00_0087</key>
	<string>就凭你们这几个臭鸟蛋，烂西瓜也想与我们黄巾军做对？简直就是白日做梦！</string>
	<key>00_0088</key>
	<string>就算是掘地三尺，我们也会把他挖出来！</string>
	<key>00_0089</key>
	<string>刚刚从他慌乱的眼神中，可以猜测出他们的大佬应该就在附近！小姬，你怎么看？</string>
	<key>00_0090</key>
	<string>拜托，不要随便给人家乱起外号好不好？</string>
	<key>00_0091</key>
	<string>这些难缠的喽啰真是烦人！</string>
	<key>00_0092</key>
	<string>小心，一大波贼寇来袭！</string>
	<key>00_0093</key>
	<string>吾等只为解救天下苍生，汝为何百般阻挠？</string>
	<key>00_0094</key>
	<string>异族亡我中华之心不死，尔等甘心为其爪牙，还敢在小爷面前大言不惭？</string>
	<key>00_0095</key>
	<string>世人愚昧透顶，枉费吾等苦心传教……</string>
	<key>00_0096</key>
	<string>看来那个张角虽然身手不怎么样，但这洗脑的功力还真是强啊！</string>
	<key>00_0097</key>
	<string>主公，快看前面似乎有人正被那些贼寇围攻！</string>
	<key>00_0098</key>
	<string>说不定也是志同道合之士，我们赶快上前助其一臂之力！</string>
	<key>00_0099</key>
	<string>桃源一别已有数日，主公可曾安好？</string>
	<key>00_0100</key>
	<string>被人群殴成这个样子，还能心平气和的跟我问好，还真是霸气侧露啊……话说回来，为什么你们会出现在这里？</string>
	<key>00_0101</key>
	<string>主公有所不知，当今圣上号令天下群雄平定黄巾之乱，吾等热血儿郎岂有置身事外之理？</string>
	<key>00_0102</key>
	<string>嘿嘿～莫非你们是决定要献出灵兽，投靠本座门下？</string>
	<key>00_0103</key>
	<string>呸！想让小爷给你当跟班，简直就是白日做梦！</string>
	<key>00_0104</key>
	<string>可恶！竟然会让他在眼皮底下逃走！</string>
	<key>00_0105</key>
	<string>主公不用担心，各路群雄已部下天罗地网，那张角肯定逃不掉的！</string>
	<key>00_0106</key>
	<string>主公请先稳住这些溃兵，在下这就前往联系各方诸侯！</string>
	<key>00_0107</key>
	<string>言之有理！那你我二人就先在此别过，兄台一路小心。</string>
	<key>00_0108</key>
	<string>想必此时，那刘备已经联络到了那些群雄，主公，咱们也赶快与他们汇合吧！</string>
	<key>00_0109</key>
	<string>事不宜迟，说走就走！</string>
	<key>00_0110</key>
	<string>想我堂堂黄巾天师，竟会被尔等蝼蚁逼到如此地步……</string>
	<key>00_0111</key>
	<string>勾结异族，亡我中华者，必定人人诛之！说出其他七怪的下落，小爷可保你全尸！</string>
	<key>00_0112</key>
	<string>你们不要高兴的太早，鹿死谁手还不一定！</string>
	<key>00_0113</key>
	<string>妖道，这次你输的可否服气？</string>
	<key>00_0114</key>
	<string>嘿嘿嘿……你们以为这样就能制服我？真是太天真了，咱们来日方长！</string>
	<key>00_0115</key>
	<string>我去……piu的一下，就不见了！</string>
	<key>00_0116</key>
	<string>恭喜主公开启商店系统，赶紧点击进去逛逛吧！</string>
	<key>00_0117</key>
	<string>恭喜主公，精英副本开启！</string>
	<key>00_0118</key>
	<string>精英副本产出大量的英雄魂魄跟稀有装备材料，赶紧挑战吧！</string>
	<key>00_0119</key>
	<string>恭喜主公，点石成金系统开启，没金币了就来兑换吧！</string>
	<key>00_0120</key>
	<string>恭喜主公开启任务系统，要想升级快，每日任务必须要完成哦！</string>
	<key>00_0121</key>
	<string>好棒，又升级啦！现在我们开启了技能系统，又可以提示伙伴们的实力啦！</string>
	<key>00_0122</key>
	<string>恭喜主公开启好友系统，来吧，扩大你的朋友圈吧！</string>
	<key>00_0123</key>
	<string>恭喜主公开启金币试炼，金币试炼可以获得大量金币，赶紧挑战吧！</string>
	<key>00_0124</key>
	<string>恭喜主公开启经验试炼，经验试炼可以获得大量经验丹，赶紧挑战吧！</string>
	<key>00_0125</key>
	<string>恭喜主公开启兽魂试炼，兽魂试炼可以获得大量兽魂，赶紧挑战吧！</string>
	<key>00_0126</key>
	<string>恭喜主公开启竞技场，是时候展示您的实力了！</string>
	<key>00_0127</key>
	<string>主公，调整您的防守阵容，用战斗力最强的英雄，守住您的排名！</string>
	<key>00_0128</key>
	<string>恭喜主公开启军团，军团可以获得贡献，做任务，打副本，欢乐无穷！</string>
	<key>00_0129</key>
	<string>恭喜主公开启卧龙窟，里面盛产灵兽魂魄哦，赶紧挑战吧！</string>
	<key>00_0130</key>
	<string>恭喜主公开启灵兽系统，灵兽可以大幅提升战斗力哦，赶紧试试吧！</string>
	<key>00_0131</key>
	<string>点击解锁灵兽</string>
	<key>00_0132</key>
	<string>灵兽升级能提升英雄属性，可通过兽魂来培养，赶紧试试吧！</string>
	<key>00_0133</key>
	<string>恭喜主公，灵兽升到第二阶了，现在可以升级灵兽的技能，赶紧试试吧！</string>
	<key>00_0134</key>
	<string>灵兽每升一阶，就能提高2点技能上限，赶紧升级吧！</string>
	<key>00_0135</key>
	<string>恭喜主公灵兽可以升星啦，灵兽每升星一次，就解锁一个技能，快试试吧！</string>
	<key>00_0136</key>
	<string>恭喜主公解锁第一个被动技能，赶快给被动技能升级吧！</string>
	<key>00_0137</key>
	<string>获取足够的通关星数，便可领取对应宝箱中的奖励哦</string>
	<key>00_0138</key>
	<string>恭喜主公开启加速功能，开启加速，让你的战斗更加流畅！</string>
	<key>00_0139</key>
	<string>恭喜主公开启灵兽阵位，赶紧让灵兽上阵助主公一臂之力吧！</string>
	<key>00_0140</key>
	<string>怒气值充满后，即可释放必胜技，点击对面的敌人试试吧！</string>
	<key>00_0141</key>
	<string>除升阶外，还可以对装备进行强化，强化后的装备属性也会有所提升哦！</string>
	<key>00_0142</key>
	<string>好棒哦！感觉全身都充满了能量，让我们继续前进吧！!</string>
	<key>00_0143</key>
	<string>好棒哦！战斗力直线飙升，我已经迫不及待要去征战了!</string>
	<key>00_0144</key>
	<string>主公～主公～又有新的英雄投靠咱们来了！</string>
	<key>00_0145</key>
	<string>当收集到足够数量的英雄魂魄就可以招募到一个完整的英雄哦！</string>
	<key>00_0146</key>
	<string>这位英雄骨骼惊奇，得此良将，主公何愁大业不成！</string>
	<key>00_0147</key>
	<string>有合体技的的英雄一起上阵，就可以释放出合体技，威力超级无穷大</string>
	<key>00_0148</key>
	<string>我跟姬姬就能搭配释放出合体技哦</string>
	<key>00_0149</key>
	<string>获获，就让我们一起释放出合体技吧，消灭所有敌人</string>
	<key>00_0150</key>
	<string>释放合体技时，当大光圈与小光圈重合时，所能释放的威力最强，连击的次数也是最多的！</string>
	<key>00_0151</key>
	<string>“自动战斗”功能开启了，主公辛劳，可以小小偷个懒哟</string>
	<key>00_0152</key>
	<string>哇～这次收集到了奴家的魂魄，可以让奴家升星啦！</string>
	<key>00_0153</key>
	<string>集齐更多英雄魂魄可以为英雄升星！</string>
	<key>00_0154</key>
	<string>升星可以让英雄战力得到大幅度提升！此刻，我感觉战斗力直线飙升！</string>
	<key>00_0155</key>
	<string>焦豆麻袋～～让我来！</string>
	<key>00_0156</key>
	<string> 看准时机，就是现在！</string>
	<key>00_0157</key>
	<string> 恭喜主公开启修仙系统，修仙能带来大量的声望和金币哦，来体验下吧！</string>
	<key>00_0158</key>
	<string> 坐骑越高级带来的奖励也越丰厚，点击按钮来选择坐骑吧！</string>
	<key>00_0159</key>
	<string> 哇！相当不错的坐骑，接下来就开始修炼吧</string>
	<key>00_0160</key>
	<string> 记得修炼结束后到邮件领取奖励哦！</string>
	<key>00_0161</key>
	<string> 恭喜主公开启训练房，在训练房训练会获得大量英雄经验哦，来体验下吧！</string>
	<key>00_0162</key>
	<string> 训练房共有三种，每个房间带来的英雄经验加成都不一样哦，我们先到普通训练瞧瞧吧！</string>
	<key>00_0163</key>
	<string> 普通训练中不会被其他玩家占领位置，但获得的英雄经验比较少，主公可以安心的在此训练哦！</string>
	<key>00_0164</key>
	<string> 魔鬼训练获得的经验相对较高，但位置会被占领，需要很强的实力来捍卫自己的位置，主公稍后不妨也来试试看！</string>
	<key>00_0165</key>
	<string> 恭喜主公开启寻仙系统，寻仙能获得大量命魂来提高阵位上英雄的属性哦！</string>
	<key>00_0166</key>
	<string> 点击前往寻仙</string>
	<key>00_0167</key>
	<string> 点击寻仙一次</string>
	<key>00_0168</key>
	<string> 恭喜主公获得命魂，点击返回阵位界面</string>
	<key>00_0169</key>
	<string> 把刚刚召唤的命魂装备上吧！</string>
	<key>00_0170</key>
	<string> 点击装备命魂</string>
	<key>00_0171</key>
	<string> 不同的命魂增加的属性也不同哦，主公稍后回来继续寻仙吧！</string>
	<key>00_0172</key>
	<string> 不好！</string>
	<key>00_0173</key>
	<string> 大家小心！</string>
	<key>00_0174</key>
	<string> 惊恐 </string>
	<key>00_0175</key>
	<string> \\i{p=images/biaoqing/15.png;s=0.35} </string>
	<key>00_0176</key>
	<string> 主公真是天赋异禀，那么以后的事情就交给主公自己啦，奴家暂且退下咯～ </string>
	<key>00_0177</key>
	<string> 大耳朵皇叔还真是不靠谱，说好的结伴而行，结果就尿遁了……  </string>
	<key>00_0178</key>
	<string> 天师有令，凡生擒此人者皆可享受20天超长带薪假期！！！ </string>
	<key>00_0179</key>
	<string> 我的带薪假期泡汤了…… </string>
	<key>00_0180</key>
	<string> 告诉你们那个鸟蛋天师，小爷我来找他叙旧了！ </string>
	<key>00_0181</key>
	<string> 我是老军医，专治吹牛！ </string>
	<key>00_0182</key>
	<string> 如果能治好，小爷请你吃炸鸡！ </string>
	<key>00_0183</key>
	<string> 世风日下！世风日下！！老朽心灰意冷，决意归隐山林！ </string>
	<key>00_0184</key>
	<string> 喂~刚刚出炉的炸鸡不吃了嘛？？ </string>
	<key>00_0185</key>
	<string> 站，站住！老子手里的大刀绝不会同意你们再前进一步的！ </string>
	<key>00_0186</key>
	<string> 颜值为负的杂兵是没有资格跟主角说话的！ </string>
	<key>00_0187</key>
	<string> ……………（乖乖的遵循了主角的教诲，保持了沉默） </string>
	<key>00_0188</key>
	<string> 张角的老巢应该就在前面，这次一定要从他口中找到其他灵兽的下落！ </string>
	<key>00_0189</key>
	<string> 年轻人，我佩服你们孤军深入的勇气……但这只是然并卵而已！ </string>
	<key>00_0190</key>
	<string> 废话少说，快带我去见你们的大佬！ </string>
	<key>00_0191</key>
	<string> 哎哟～哎哟～疼！！哥，有人欺负我！ </string>
	<key>00_0192</key>
	<string> 这就对了，赶快把你的家长叫过来！ </string>
	<key>00_0193</key>
	<string> 就算找到了我又能怎样？你们这些战5渣，难道忘了本尊体内洪荒之力的恐怖了吗？ </string>
	<key>00_0194</key>
	<string> 记得又怎么样，这次不说出灵兽下落，我绝对不会放过你！ </string>
	<key>00_0195</key>
	<string> 纳……纳尼！！！本尊竟然败了……黄天无眼啊！！！！ </string>
	<key>00_0196</key>
	<string> 快快说出灵兽下落，可以饶你不死！ </string>
	<key>00_0197</key>
	<string> ……咳咳咳……你以为本尊会告诉你灵兽的下落吗？太天真了！告诉你……乱世……乱世！就要来了！！！ </string>
	<key>00_0198</key>
	<string> 封路啦！封路啦！董太师有令，凡闲杂人员一律禁止通行！！ </string>
	<key>00_0199</key>
	<string> 小小杂兵竟敢无视主角的存在？找打！ </string>
	<key>00_0200</key>
	<string> 隐约觉得这个董卓跟那个妖道有着某种联系，说不定也能问出灵兽的下落！ </string>
	<key>00_0201</key>
	<string> 已经连续被斩了十几员上将，你们还不死心吗？ </string>
	<key>00_0202</key>
	<string> 那是因为你们没有遇到小爷我！ </string>
	<key>00_0203</key>
	<string> 死心吧！！就算你们再厉害也不可能打败那个男人的！ </string>
	<key>00_0204</key>
	<string> 哪个男人……？ </string>
	<key>00_0205</key>
	<string> 来的刚刚好，这次一定要洗刷掉之前的耻辱！ </string>
	<key>00_0206</key>
	<string> 真是太天真了，小爷我是不会让你如愿的！ </string>
	<key>00_0207</key>
	<string> 又失败了，奴家还有什么脸面去见董大大？ </string>
	<key>00_0208</key>
	<string> 嘿嘿，你可以试试带着面具回去见他呢！ </string>
	<key>00_0209</key>
	<string> 你这小子是那些诸侯们，派来求和的吗？ </string>
	<key>00_0210</key>
	<string> 只要说出灵兽的下落，你可以继续做你的大太师，不然小爷我绝对不会放过你! </string>
	<key>00_0211</key>
	<string> 吾儿奉先！！！快来救我！ </string>
	<key>00_0212</key>
	<string> 不说出灵兽的下落，你就算叫来亲爹也没用！ </string>
	<key>00_0213</key>
	<string> 马中赤兔，人中吕布！赶快放开我董大大！ </string>
	<key>00_0214</key>
	<string> 原来你这怪婴就是那个忍者口中的男人？ </string>
	<key>00_0215</key>
	<string> 董大大，这小子战斗力已经碾压我了……您自求多福吧！ </string>
	<key>00_0216</key>
	<string> 切~什么无法战胜的男人，都是骗人的！ </string>
	<key>00_0217</key>
	<string>  贼妖道，这次看你要怎么跑！ </string>
	<key>00_0218</key>
	<string> 笑话～吾堂堂天公将军需要躲着你这小娃娃？ </string>
	<key>00_0219</key>
	<string> 哟～堂堂天公将军怎么会被我这个小娃娃打败了呢？ </string>
	<key>00_0220</key>
	<string> 不要枉费心机了……就算是死本尊也不会告诉你一丝灵兽的消息……  </string>
	<key>00_0221</key>
	<string> 不放下手中凶器，听奴家弹上一曲《十八拍》如何？ </string>
	<key>00_0222</key>
	<string> 总是打来打去，偶尔听听小曲放松一下也是不错！ </string>
	<key>00_0223</key>
	<string> 不可能！！奴家百试不爽的催魂曲，为什么对你没有效果！！ </string>
	<key>00_0224</key>
	<string> 小爷我是不会你，其实小爷并不通晓音律…… </string>
	<key>00_0225</key>
	<string> 怎么又遇到你这个老军医了？ </string>
	<key>00_0226</key>
	<string> 嘿嘿～打仗伤人，老夫才有的钱赚…… </string>
	<key>00_0227</key>
	<string> 罢了，罢了～你这小子注定是老夫命中的克星！ </string>
	<key>00_0228</key>
	<string> 那以后见到小爷我，记得要绕开走哟！ </string>
	<key>00_0229</key>
	<string> 还我哥哥命来～还我哥哥命来！！ </string>
	<key>00_0230</key>
	<string> 败军之将，何敢言勇？ </string>
	<key>00_0231</key>
	<string> 啧啧……现在你可以安心的去陪你哥哥咯～！ </string>
	<key>00_0232</key>
	<string> 黄天不死～～我们还会回来的！！！！ </string>
	<key>00_0233</key>
	<string> 没想到又见面了，这次奴家绝对不会失败了！ </string>
	<key>00_0234</key>
	<string> 姑娘，你是属跟屁虫的吗？怎么到哪里都能见到你！ </string>
	<key>00_0235</key>
	<string> 你知道么，小爷我最喜欢做的事情，就是对那些自认能力出众的人出手了～～！ </string>
	<key>00_0236</key>
	<string> 昙花虽美，却仅一瞬……你处处与我为难，注定是我的冤家…… </string>
	<key>00_0237</key>
	<string> 人中吕布，马中赤兔～小子又见到本大爷有没有一点小激动？ </string>
	<key>00_0238</key>
	<string> 喂～你这句台词真的很low好么！！ </string>
	<key>00_0239</key>
	<string> 记得下次见面，一定要换一句台词！ </string>
	<key>00_0240</key>
	<string> 哇呀呀～～人中吕布，马中赤兔！！本大爷绝对不会放过你！ </string>
	<key>00_0241</key>
	<string> 可笑～可笑～区区十八路杂兵就想来打灵兽的主意？真是笑死个人啦！！ </string>
	<key>00_0242</key>
	<string> 还是那句话，乖乖交出灵兽，小爷我保你不死！ </string>
	<key>00_0243</key>
	<string> 既然你们一直这样紧紧相逼，那本太师不介意跟你们玩玩……来人啊，快放火！！！ </string>
	<key>00_0244</key>
	<string> 不好，董胖子狗急跳墙了！ </string>
	<key>00_0245</key>
	<string> 你们这些中原人，仗着人多势众，还真的当我们西凉没有勇士了吗？ </string>
	<key>00_0246</key>
	<string> 董卓残暴不仁，天怒人怨，将军为何要助纣为虐？？ </string>
	<key>00_0247</key>
	<string> 原本小爷是想找那战神吕布一较高下，谁知道那个怂蛋竟然跑路了，所以就找你们练练手咯…… </string>
	<key>00_0248</key>
	<string> 额……你这理由也是让我醉了…… </string>
	<key>00_0249</key>
	<string> 就让本将来继承战神最后的意志吧！！！ </string>
	<key>00_0250</key>
	<string> 你这是愚忠！你这是愚忠！你这是愚忠！重要的事情要说三遍！！！ </string>
	<key>00_0251</key>
	<string> 难道……难道本将之前守卫的道义都是错的么…… </string>
	<key>00_0252</key>
	<string> 对错自在人心，现在回头还不算太晚！ </string>
	<key>00_0253</key>
	<string> 我家主公邀你一起秉烛夜谈！ </string>
	<key>00_0254</key>
	<string> 秉～烛～夜～谈！！你把小爷当成什么人咯！！ </string>
	<key>00_0255</key>
	<string> 气煞我也～竟然无视我家主公满满的诚意！！ </string>
	<key>00_0256</key>
	<string> 要真是有诚意，就让你家主公亲自来！ </string>
	<key>00_0257</key>
	<string> 我主诚心相邀，你却不识抬举，该打！！ </string>
	<key>00_0258</key>
	<string> 大块头，实话告诉你，小爷我可不是吓大的！ </string>
	<key>00_0259</key>
	<string> 主公……许褚失败了…… </string>
	<key>00_0260</key>
	<string> 嘿嘿~这回你家主公该露面了吧！ </string>
	<key>00_0261</key>
	<string> 小子，老夫观你天庭饱满，骨骼惊奇，何不归顺老夫，一同逐鹿天下？？ </string>
	<key>00_0262</key>
	<string> 哟~你不就是之前跑路的赛亚人大叔吗？ </string>
	<key>00_0263</key>
	<string> 可恶……等老夫寻得灵兽，你们这些与老夫为敌的人都得死！！！ </string>
	<key>00_0264</key>
	<string> 难道你这大叔也知道灵兽的下落？ </string>
	<key>00_0265</key>
	<string> 哇哈哈哈～跟了一个智商为负数的主公，还真是让奴家头疼…… </string>
	<key>00_0266</key>
	<string> 刚好我认识一个老军医，专治疑难杂症，保证药到命除～ </string>
	<key>00_0267</key>
	<string> 今日之辱，懿当牢记心头！！将士们撤！ </string>
	<key>00_0268</key>
	<string> 快！跟着这赛亚人大叔，一定会找到灵兽的下落！！ </string>
	<key>00_0269</key>
	<string> 恭喜主公开启更高等级段训练房，该阶段的训练房获得的英雄经验会更多，同样！对手也会更强，加油吧！ </string>
	<key>00_0270</key>
	<string> 灵兽绝对不能落在你们这些凡人的手里！ </string>
	<key>00_0271</key>
	<string> 战5渣不配与本座交手！ </string>
	<key>00_0272</key>
	<string> 点击左上角的箭头，即可退出当前副本 </string>
	<key>00_0273</key>
	<string> 有了新的伙伴，对付眼前的敌人应该利索了许多，让我们赶紧出发，追击灵兽的下落 </string>
	<key>00_0274</key>
	<string> 挑战现在开始了哟～ </string>
	<key>00_0275</key>
	<string>现在我们需要选择一个需要进行强化的英雄</string>
	<key>00_0276</key>
	<string>如果有英雄可以进行技能升级，会出现小红点提示哦～</string>
	<key>00_0277</key>
	<string>点击技能后的加号按钮，就可以对所选的技能进行升级了</string>
	<key>00_0278</key>
	<string>消耗掉的技能点是可以通过累计时间来恢复的，当到达上线后就不会再增加了哦。</string>
	<key>00_0279</key>
	<string>呱～呱灵兽绝对不能落在你们这些凡人的手里！呱～～！</string>
	<key>00_0280</key>
	<string>战5渣不配与本座交手！</string>
	<key>00_0281</key>
	<string>恭喜主公开启叛军系统，击败叛军可获得丰厚奖励,叛军可通过探索副本触发，赶紧前往吧！</string>
	<key>00_0282</key>
	<string>恭喜主公开启英雄神器系统，神器能大幅提升英雄战斗力，跟我来吧！</string>
	<key>00_0283</key>
	<string>通过淬炼能够提升神器的属性，而淬炼有等级上限，需要通过强化神器提升</string>
	<key>00_0284</key>
	<string>神器强化到一定等级后突破神器还能够改变神器的造型和增加特殊被动技能，可通过预览查看</string>
	<key>00_0285</key>
	<string>神器强化和突破需要消耗很多资源，资源的获取可通过海底探险获得，跟我来吧！</string>
	<key>00_0286</key>
	<string>这就是海底探险的入口，里面蕴藏着很多强化神器的资源，一起来探险吧！</string>
	<key>00_0287</key>
	<string>欢迎来到海底探险，点击障碍物，可用电钻清除，点击矿石，可获得资源哦！</string>
	<key>00_0288</key>
	<string>海底有很多神秘的资源等着主公探索哦，不懂的时候记得点击帮助，查看规则，甄甄就帮您到这了！</string>
	<key>00_0289</key>
	<string>恭喜主公开启魔王副本，魔王副本主要掉落觉醒丹，将魂等稀有材料，赶紧去挑战吧！</string>
	<key>00_0290</key>
	<string>恭喜主公开启探索功能，只要3星通关的副本都可以探索哦，来试试吧！</string>
	<key>00_0291</key>
	<string>苍天已死，黄天当道！识相的就乖乖交出灵兽，等本尊凭借灵兽之力穿越时空，成为大皇帝，绝对不会亏待尔等！！</string>
	<key>00_0292</key>
	<string>笑话！我们千辛万苦才找到回家的办法，怎么可能会交给你去做那么无聊的事情？</string>
	<key>00_0293</key>
	<string>收拾你们，本尊有一百种方法，而你们却无可奈何！</string>
	<key>00_0294</key>
	<string>要死啦！要死啦！！本尊生气起来可是连自己都害怕的！</string>
	<key>00_0295</key>
	<string>凡人，好好享受一下本尊体内洪荒之力的滋味！</string>
	<key>00_0296</key>
	<string>大块头不一定会有大智慧，兄弟们使出全力干掉他！</string>
	<key>00_0297</key>
	<string>感叹号</string>
	<key>00_0298</key>
	<string>这是什么怪物，好强大的战力！小丽是时候合体了！</string>
	<key>00_0299</key>
	<string>好！就让我们代表月亮消灭他！</string>
	<key>00_0300</key>
	<string>寂寞了多年，终于遇到了可以让本尊认真起来的人了！此事，本尊绝不会善罢甘休！</string>
	<key>00_0301</key>
	<string>吾观汝脚步轻浮，神色慌张，定是黄巾乱军的细作！</string>
	<key>00_0302</key>
	<string>红面大叔，酒可以多吃，话可不能乱说！我们也正在追缴张角余孽。</string>
	<key>00_0303</key>
	<string>呱呱呱~</string>
	<key>00_0304</key>
	<string>为了能万无一失得找到灵兽，咱们最好分头行动……只是路途凶险，一定要找到几个给力的帮手！</string>
	<key>00_0305</key>
	<string>那么问题来了，这么好用的帮手，我去哪里才能找到呢？</string>
	<key>00_0306</key>
	<string>问得好！俗话说舍不得孩子套不着狼，只要你肯舍得花钱，相信怎样的帮手都能找的到！！</string>
	<key>00_0307</key>
	<string>骑都校尉曹操，奉天子之命，率军前来擒贼！</string>
	<key>00_0308</key>
	<string>真是愚昧！看来你也没有打算给我辩解的机会咯？</string>
	<key>00_0309</key>
	<string>哈哈，来的正好！哥哥，让这个大叔瞧瞧咱们的厉害！</string>
	<key>00_0310</key>
	<string>蓝衣服的小子，战斗力竟然达到了3000,已经完全碾压身为菜鸟头目的我了……不行，一定要想一个巧妙的办法离开这里……</string>
	<key>00_0311</key>
	<string>大叔，你一个人在那里碎碎念的干嘛？</string>
	<key>00_0312</key>
	<string>（故作镇定）众将士听令！黄巾乱军就在身后50里处，快快随本都尉策马奔腾起来！！</string>
	<key>00_0313</key>
	<string>来者何人，胆敢扰了我和乔妹的美梦！</string>
	<key>00_0314</key>
	<string>公瑾久违了，在下追随小主来此寻觅灵兽，还望通融！</string>
	<key>00_0315</key>
	<string>拍森~拍森~我们恰巧路过，你们继续好了……</string>
	<key>00_0316</key>
	<string>臭鱼，你！</string>
	<key>00_0317</key>
	<string>憋说话，吻我……  </string>
	<key>00_0318</key>
	<string>小子，你站住！听说你打了我兄弟的脸，这完全是不把我这个当皇叔的大哥放在眼里啊！</string>
	<key>00_0319</key>
	<string>呼……真是无奈，古代英雄都是一条脑筋的么？ </string>
	<key>00_0320</key>
	<string>九豆麻袋！皇叔，都是误会！我等可以解释…… </string>
	<key>00_0321</key>
	<string>误会!绝对的误会！肯定又是我那二弟酒后闹事……我请诸位喝茶，顺便小弟也有关于灵兽的下落告知！</string>
	<key>00_0322</key>
	<string>灵兽的下落？……太好了！</string>
	<key>00_0323</key>
	<string>耳根总算是清净了，内个刘备还真是个话唠……不过得到了灵兽的下落，也算值了~ ~</string>
	<key>00_0324</key>
	<string>灵兽？在哪里？交出情报，不然统统完蛋！</string>
	<key>00_0325</key>
	<string>三姓家奴，你助董卓兴风作浪，人人得而诛之！</string>
	<key>00_0326</key>
	<string>蠢蛋，没找到灵兽，董大大又要发脾气了！！</string>
	<key>00_0327</key>
	<string>此二人乃当朝太师董卓手下的雌雄双煞，为了夺取灵兽不择手段，我等特奉家主之命前来阻止二人……</string>
	<key>00_0328</key>
	<string>吕布与董卓定会将灵兽的秘密散播得天下皆知，咱们要加紧行动了！</string>
	<key>00_0329</key>
	<string>幕府技能专打【一排】敌军，正好解决他们阵前的英雄！</string>
	<key>00_0330</key>
	<string>功夫女皇善冲刺，技能能打【一列】敌军，直取张角人头！</string>
	<key>00_0331</key>
	<string>战争之影善各个突破，可攻击【任意三个】敌军！出击！马勒戈壁~</string>
	<key>00_0332</key>
	<string>六指琴魅武功盖世，【群伤】神技，无人能敌！</string>
	<key>00_0333</key>
	<string>太棒了！大剑豪精于【单取】敌军，就让他来完成致命一击吧！</string>
	<key>00_0334</key>
	<string>点击这里可以招募英雄哦，快来试试看吧~</string>
	<key>00_0335</key>
	<string>主公，完成“新手任务”可获取新手豪礼，我们快去看看吧！</string>
	<key>00_0336</key>
	<string>又有新的任务完成了，赶快来领取奖励吧！</string>
	<key>00_0337</key>
	<string>真棒，领取到了5个英雄魂魄，只要凑齐足够数量的英雄魂魄就可以进行招募了！</string>
	<key>00_0338</key>
	<string>主公好棒，让我们看看这次获得了什么任务奖励吧！</string>
	<key>00_0339</key>
	<string>太好了！凑齐了张宝的魂魄，现在我们就可以对其进行招募了！</string>
	<key>00_0340</key>
	<string>董卓溃军在逃离时，遗留下大批的无主宝物，赶快去把它们收入囊中！</string>
	<key>00_0341</key>
	<string>“Bingo！”咱们的运气真不错，竟然获得了足够数量的甄姬魂魄，我们可以对其进行升星操作了！</string>
	<key>00_0342</key>
	<string>太棒了！炫斗英豪精于【单取】敌军，就让他来完成致命一击吧！（非正式文字）</string>
	<key>00_0343</key>
	<string>主公注意！当外圈与中圈重叠之时，合体技威力可达最大！</string>
	<key>00_0344</key>
	<string>休要狡辩，世上哪有承认自己是坏人的坏人，待我拿了你的人头，回去找大哥邀功！哈哈~~</string>
	<key>00_0345</key>
	<string>我们的计划可不能让你这个大叔给破坏了！~</string>
	<key>00_0346</key>
	<string>聪明！束手就擒，我可以考虑给你个痛快！~</string>
	<key>00_0347</key>
	<string>哟西！追了这赛亚老头三天三夜，果然是图谋不轨！让本大爷一刀斩了他！~</string>
	<key>00_0348</key>
	<string>小明？难道你就是为了什么灵兽，就背弃了我们之间的誓言，这跟咸鱼有什么区别？~</string>
	<key>00_0349</key>
	<string>解释个球！先与爷爷大战三百回合再说！~</string>
	<key>00_0350</key>
	<string>我儿真是甚得我心！有我儿在，何愁霸业不成啊~哈哈哈哈</string>
	<key>00_0351</key>
	<string>董卓老儿，为了追你们，林被的腿都要跑断了！</string>
	<key>00_0352</key>
	<string>恭喜主公开启加速速功能，开启3倍加速，让你的战斗无比流畅！</string>
	<key>00_0353</key>
	<string>主公，探索副本可发现叛军，击败叛军有奖励可领取哦！</string>
	<key>00_0354</key>
	<string>好了主公，甄姬陪伴即将告一段落，霸业之路坎坷曲折，望主公谨记甄姬之言，不吝军资，广结英豪，厉兵秣马！如此，横扫中原，指日可待！</string>
	<key>00_0355</key>
	<string>姑娘，不知道你有没有看到一个狼狈的大叔从这里经过？</string>
	<key>00_0356</key>
	<string>为了夫君的志愿，江东绝不会让外人染指！！</string>
	<key>00_0357</key>
	<string>落花有意流水无情，夫君妾身失败了…… </string>
	<key>00_0358</key>
	<string>姑娘，你误会我们了……我们真的不是什么好人……</string>
	<key>00_0359</key>
	<string>是你们！！肯定又是来找周郎麻烦的！</string>
	<key>00_0360</key>
	<string>不~不~不~！小爷对你家周郎并不感兴趣~</string>
	<key>00_0361</key>
	<string>原来你是来找哪个什么鬼灵兽的下落……可是，刚刚我已经派人去叫帮手了…… </string>
	<key>00_0362</key>
	<string>你这马后炮放的~小爷给你一百分！！</string>
	<key>00_0363</key>
	<string>林被绝不会同意有人来打江东灵兽的主意！</string>
	<key>00_0364</key>
	<string>江东灵兽……？难道这江东就有灵兽镇守？</string>
	<key>00_0365</key>
	<string>快说！快说！江东的灵兽在哪里！</string>
	<key>00_0366</key>
	<string>呸！白日做梦……林被就算是被打死也不会说的！</string>
	<key>00_0367</key>
	<string>竖子！安敢欺我江东无人？！</string>
	<key>00_0368</key>
	<string>诶……你不就是之前那个大个子么？</string>
	<key>00_0369</key>
	<string>江东灵兽绝对不会落到你的手里…… </string>
	<key>00_0370</key>
	<string>看来小爷没来错地方，这江东真的有灵兽的存在！</string>
	<key>00_0371</key>
	<string>不知先生可否告知在下，关于江东灵兽的消息？</string>
	<key>00_0372</key>
	<string>我认得你！小明就是被你给带走的！</string>
	<key>00_0373</key>
	<string>守卫灵兽乃先主的遗志，吾等决不会放弃！</string>
	<key>00_0374</key>
	<string>你这个说翻脸就翻脸的本事，小爷还真是佩服…… </string>
	<key>00_0375</key>
	<string>我这一双铁拳，定能阻止你的阴谋…… </string>
	<key>00_0376</key>
	<string>想必你就是这江东少主吧……？</string>
	<key>00_0377</key>
	<string>家父誓死守卫的灵兽，难道要在我的手上被夺走么…… </string>
	<key>00_0378</key>
	<string>少主真的误会在下的来意了…… </string>
	<key>00_0379</key>
	<string>为了江东，妾身定当奋战到底！ </string>
	<key>00_0380</key>
	<string>要真的是为了你们江东，你就该安安静静的听我解释一下！ </string>
	<key>00_0381</key>
	<string>你们还真是死缠烂打，再耽搁下去那个猥琐大叔就跑远了！ </string>
	<key>00_0382</key>
	<string>小子胆敢伤我！绝对不会让你活着离开江东！ </string>
	<key>00_0383</key>
	<string>总是这样打来打去不是办法，一定要跟这江东少主和解才行……  </string>
	<key>00_0384</key>
	<string>想要跟我江东和解？除非从林被的身上踏过去！ </string>
	<key>00_0385</key>
	<string>竟然连着被你打败两次，林被真的要去赶羚羊了……  </string>
	<key>00_0386</key>
	<string>……绿色环保好游戏，请从你我做起！ </string>
	<key>00_0387</key>
	<string>难道我江东又要遭受一次血雨腥风了么？ </string>
	<key>00_0388</key>
	<string>要是你们继续纠缠不休，这肯定是迟早的事情！ </string>
	<key>00_0389</key>
	<string>时间要来不及了……快带我去见你们少主！ </string>
	<key>00_0390</key>
	<string>花言巧语！先夫的遗愿绝不会让你玷污！</string>
	<key>00_0391</key>
	<string>看来要想说服江东少主，就要先从那个周瑜身上找到突破口…… </string>
	<key>00_0392</key>
	<string>吼！！你果然还对我家周郎贼心不死！！</string>
	<key>00_0393</key>
	<string>周郎是我一个人的…… 你们谁都不能把他带走！</string>
	<key>00_0394</key>
	<string>小妹妹，我向你保证绝对不会带走你的周郎……快带我去找他吧！</string>
	<key>00_0395</key>
	<string>猥琐大叔潜入江东肯定是在打圣兽的注意，要是被他得逞天下必定乱上加乱！</string>
	<key>00_0396</key>
	<string>天下大乱与我江东何干？吾仅力保江东不失即可…… </string>
	<key>00_0397</key>
	<string>难道…… 我一直守卫的正道是错的么…… </string>
	<key>00_0398</key>
	<string>现在后悔还来得及，快去带我见你家少主！</string>
	<key>00_0399</key>
	<string>江东灵兽再现，肯定会引来无数豪强窥视，不如我们联手一同御敌如何？</string>
	<key>00_0400</key>
	<string>想要我江东跟你合作，就要再问问我这双铁拳答不答应！</string>
	<key>00_0401</key>
	<string>长话短说，一个叫曹操的猥琐大叔已经潜入江东，现在我们应该合力找到他！</string>
	<key>00_0402</key>
	<string>什么？曹贼已到我江东地界？？？</string>
	<key>00_0403</key>
	<string>听曹公说这江东有一种灵兽，身上隐藏着我们族人需要的力量!</string>
	<key>00_0404</key>
	<string>难道你又是曹操内个大叔叫来的同伙么？</string>
	<key>00_0405</key>
	<string>真是鸡贼！这曹操逃往江东，果然是另有图谋的！</string>
	<key>00_0406</key>
	<string>为了部落！！我绝对不会放弃灵兽的！</string>
	<key>00_0407</key>
	<string>跳槽后的第一仗绝对不能让曹公失望！</string>
	<key>00_0408</key>
	<string>一败再败，你也不嫌害臊！</string>
	<key>00_0409</key>
	<string>首战失利……影响仕途啊！！</string>
	<key>00_0410</key>
	<string>你回去告诉曹贼，只要有小爷我在，他的奸计绝不会得逞！</string>
	<key>00_0411</key>
	<string>嘻嘻，有了新董大大的支持，这次肯定洗刷耻辱！</string>
	<key>00_0412</key>
	<string>就算换了一百个董大大，也没什么卵用！</string>
	<key>00_0413</key>
	<string>不可能！这不可能！难道董大大都是骗我的？</string>
	<key>00_0414</key>
	<string>好傻，好天真！看来这打来打去的日子真的不适合你！</string>
	<key>00_0415</key>
	<string>马中赤兔，人中吕布！小子，我又满血复活了！</string>
	<key>00_0416</key>
	<string>嘿嘿嘿~昔日的战神却三度易主，真是可悲！</string>
	<key>00_0417</key>
	<string>小爷放你一马，快去找你的小婵妹妹吧！</string>
	<key>00_0418</key>
	<string>…………今日之恩，布当铭记在心！</string>
	<key>00_0419</key>
	<string>这些雇佣军果然不靠谱，看来解决你们还是要靠我们正规军！</string>
	<key>00_0420</key>
	<string>为了灵兽，就算你们来的再多，小爷也不怕！</string>
	<key>00_0421</key>
	<string>哈哈哈，就算打败了我又能怎样，曹公的步伐你们永远追赶不上！</string>
	<key>00_0422</key>
	<string>曹贼只派少量嫡系出战，此事定有蹊跷！</string>
	<key>00_0423</key>
	<string>坏了奴家这完美的驱虎吞狼之计，你究竟什么来头？？</string>
	<key>00_0424</key>
	<string>不要问我从哪里来~我的故乡在远方！</string>
	<key>00_0425</key>
	<string>咳咳咳，想必另一路的人马此刻已经击溃江东杂兵了吧……</string>
	<key>00_0426</key>
	<string>另一路人马……？糟糕！！！</string>
	<key>00_0427</key>
	<string>恭喜主公开启熔液试炼，熔液试炼产出大量的熔液，赶紧试试吧！</string>
	<key>00_0428</key>
	<string>完成每日任务可获得大量的战队经验，让我们前往去完成任务吧！</string>
	<key>00_0429</key>
	<string>主公，请将武将【拖动】到对应阵位上。</string>
	<key>00_0430</key>
	<string>主公，欢迎来到无尽之塔。古塔深处机关敌人众多，主公先随我来学习如何操作吧~</string>
	<key>00_0431</key>
	<string>主公每次移动都将扣除对应数量的步数，步数用完主公就过关失败咯~</string>
	<key>00_0432</key>
	<string>消灭敌人可以获得一定数量的星星碎片，碎片达到对应数量后即可获得黄色五星！</string>
	<key>00_0433</key>
	<string>主公太棒了！消灭了所有敌人获得了4星。</string>
	<key>00_0434</key>
	<string>地图中的宝箱往往有不错的奖励，主公不要错过哟~</string>
	<key>00_0434_1</key>
	<string>恭喜主公，进入传送门即可到达终点！</string>
	<key>00_0434_2</key>
	<string>主公，点击这里领取奖励并进入下一层。</string>
	<key>00_0435</key>
	<string>每层结束后主公都可以消耗所得星数来换取想要的效果</string>
	<key>00_0436</key>
	<string>请主公点击【绿色区域】进行移动，主公每次只能移动【一格】哟~</string>
	<key>00_0436_1</key>
	<string>主公小心，前方有敌人挡住了我们的去路，让我们消灭他！</string>
	<key>00_0437</key>
	<string>恭喜主公开启了幻灵守卫系统，让我们进去看看吧！</string>
	<key>00_0438</key>
	<string>幻灵守卫可以给所有的出战武将获得属性加成，当提升至一定星数还能幻化出超萌的小精灵跟随，主公元宝足够时一定要记得回来提升哦！</string>
	<key>00_0439</key>
	<string>选择武将</string>
	<key>00_0440</key>
	<string>点击这里打开魔纹系统</string>
	<key>00_0441</key>
	<string>选择一个可装备的魔纹</string>
	<key>00_0442</key>
	<string>点击装备</string>
	<key>00_0443</key>
	<string>是不是感觉战斗力又提升了好多！以后的冒险中还会不断的获得新的魔纹，要记得装备哦！</string>
	<key>00_1012</key>
	<string>人家才不想一开场就领便当呀！说好的主角光环呢？</string>
	<key>00_1015</key>
	<string>此地不宜久留，不如主公随我去一个安全的地方，再听小女子慢慢道来！</string>
	<key>00_1019</key>
	<string>附近的山林经常出没的黄巾余党，刚好可以成为我们的试刀石！</string>
	<key>00_1020</key>
	<string>灵兽……守卫者？</string>
	<key>00_1021</key>
	<string>点击播放按钮即可开始调整阵容</string>
	<key>00_1028</key>
	<string>现在让我们来点击菜单按钮</string>
	<key>00_1029</key>
	<string>绿色加号是说明已经拥有可以用来升阶装备的材料哦</string>
	<key>00_2012</key>
	<string>哇哈哈哈～好好感受本天师洪荒之力的恐怖吧，凡人们！灵兽注定是本天师的！！</string>
	<key>00_2020</key>
	<string>没错，每一只灵兽都会有一只世代相传的守卫部族，小女子正是其中一个部族的传人之一。</string>
	<key>00_2021</key>
	<string>拖动布阵</string>
	<key>00_2024</key>
	<string>点击结算界面的返回按钮 即可退出当前战斗场景。</string>
	<key>00_2028</key>
	<string>进入英雄选择界面</string>
	<key>00_3020</key>
	<string>内个……完全……听不懂你在讲什么……而且这些东西跟我有毛关系啊？</string>
	<key>00_3021</key>
	<string>主公调整好阵容后，就可以开始战斗了！</string>
	<key>00_3024</key>
	<string>路途越发凶险了，主公要适时壮大自己的阵容哟！</string>
	<key>00_4012</key>
	<string>可恶！！本天师可是要成为大皇帝的人，绝对不会善罢甘休的！！</string>
	<key>00_4020</key>
	<string>主公很快就会知道这其中的原因了！现在的当务之急就是想办法去找些帮手来帮助我们！</string>
	<key>00_5012</key>
	<string>树的影，人的名！主公实力不俗，想必很快就能在这乱世中扬名立万，只是还不知主公尊姓大名？</string>
	<key>00_6012</key>
	<string>真是一个既威风又霸气的好名字！</string>
	<key>00_7012</key>
	<string>这天下共有十二只灵兽，凑齐所有魂兽能召唤出一种神秘的力量，从而终结这乱世……而姑娘你，就将担负起招齐魂兽的重任……本座就此告辞，你我他日再会！</string>
	<key>00_8012</key>
	<string>寻找灵兽事不宜迟，现在就让我们粗发吧！</string>
	<key>00_8013</key>
	<string>让我们先布阵个最强阵容！</string>
	<key>00_8100</key>
	<string>无尽之塔已经开启，快去一探究竟吧！</string>
	<key>00_8101</key>
	<string>主公，这里就是无尽之塔了！现在，就让甄姬给你介绍下闯关规则吧！</string>
	<key>00_8102</key>
	<string>点击头顶有战斗标志的武将进行挑战</string>
	<key>00_8103</key>
	<string>战力达到本层所有武将的三星挑战战力，即可直接探索本层。(直接跳过繁琐的挑战过程）</string>
	<key>00_8104</key>
	<string>亲爱的主公，挑战的武将难度越高，获得的无尽徽章和星星的数量就越多哟。无尽徽章可以用来兑换丰厚的奖励，而星星数量则决定主公的排名哦。</string>
	<key>00_8105</key>
	<string>主公，冒险开始咯！</string>
</dict>
</plist>
