<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>condition1</key>
	<string>战斗不超过@回合</string>
	<key>condition2</key>
	<string>战斗结束时武将血量不低于@%</string>
	<key>condition3</key>
	<string>战斗中死亡人数不超过@人</string>
	<key>weather0</key>
	<string>晴：无</string>
	<key>weather1</key>
	<string>雨：步数消耗翻倍</string>
	<key>weather2</key>
	<string>雪：每走一步，全属性下降@%</string>
	<key>unlockStar</key>
	<string>历史最高星数达到@可购买</string>
	<key>type_name5</key>
	<string>步数</string>
	<key>type_content5</key>
	<string>触发事件后可增加步数</string>
	<key>type_name10</key>
	<string>全属性增加</string>
	<key>type_content10</key>
	<string>触发事件后可增加全属性</string>
	<key>type_name8</key>
	<string>积分</string>
	<key>type_content8</key>
	<string>触发事件后可增加积分</string>
	<key>type_name11</key>
	<string>积分双倍</string>
	<key>type_content11</key>
	<string>触发事件后当前积分翻倍</string>
	<key>type_name12</key>
	<string>步数双倍</string>
	<key>type_content12</key>
	<string>触发事件后当前步数翻倍</string>
	<key>5</key>
	<string>商品</string>
	<key>6</key>
	<string>橙装</string>
	<key>7</key>
	<string>红装</string>
	<key>8</key>
	<string>奖励</string>
	<key>9</key>
	<string>过关奖励</string>
	<key>10</key>
	<string>可用星星不足</string>
	<key>11</key>
	<string>没有加成次数</string>
	<key>12</key>
	<string>您的步数已经耗尽！</string>
	<key>13</key>
	<string>本次达</string>
	<key>14</key>
	<string>获得\\w{c=89fe00}1\\次购买机会</string>
	<key>15</key>
	<string>星过关，获得以下奖励！</string>
	<key>16</key>
	<string>进入\\w{c=89fe00}@\\层</string>
	<key>17</key>
	<string>本关要求</string>
	<key>18</key>
	<string>扫荡战力</string>
	<key>19</key>
	<string>当前星数:</string>
	<key>20</key>
	<string>历史最高星数:</string>
	<key>21</key>
	<string>过关且达到扫荡战力</string>
	<key>22</key>
	<string>今日次数:</string>
	<key>23</key>
	<string>属性加成:</string>
	<key>24</key>
	<string>层</string>
	<key>25</key>
	<string>只有每层的起点且未行走过才能扫荡</string>
	<key>29</key>
	<string>天气</string>
	<key>30</key>
	<string>死亡状态下无法加成属性</string>
	<key>31</key>
	<string>死亡状态下无法扫荡</string>
	<key>32</key>
	<string>战力:</string>
	<key>33</key>
	<string>是否重置当前进度？

（重置后关卡回到1层）</string>
	<key>34</key>
	<string>已达最高层无法加成属性</string>
	<key>35</key>
	<string>已达最高层无法扫荡</string>
	<key>36</key>
	<string>过关奖励</string>
	<key>37</key>
	<string>点击继续，可重置当前进度</string>
	<key>38</key>
	<string>无尽秘宝</string>
	<key>39</key>
	<string>稍后</string>
	<key>40</key>
	<string>购买</string>
	<key>41</key>
	<string>恭喜到达最高层！敬请期待后续关卡！</string>
	<key>42</key>
	<string>历史最高星数达到@即可购买</string>
	<key>43</key>
	<string>很遗憾战斗失败了！重置进度可以再次挑战哦！</string>
	<key>44</key>
	<string>战力不足，无法扫荡！!</string>
	<key>45</key>
	<string>确定要开始一键扫荡吗？
    （扫荡后将自动选择增强的属性）</string>
	<key>46</key>
	<string>一键扫荡无法扫荡到更高层！</string>
</dict>
</plist>
