<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>txt_finish_hunt</key>
	<string>恭喜你成功完成护送任务，奖励已通过邮件发送到你邮箱，请注意查收!</string>
	<key>txt_ambush_cd</key>
	<string>埋伏冷却时间中，无法埋伏</string>
	<key>txt_group_enter_lim</key>
	<string>等级不满足要求</string>
	<key>txt_kick_by_leader</key>
	<string>您已被队长踢出房间！</string>
	<key>txt_kick_by_sys</key>
	<string>由于您长时间未开启房间，已被系统踢出房间！</string>
	<key>txt_look_ambush</key>
	<string>查看埋伏</string>
	<key>txt_look_treasure_hunt</key>
	<string>查看寻宝</string>
	<key>txt_escort_fail</key>
	<string>护送方失败了</string>
	<key>choose_path_limit</key>
	<string>不是队长不能选择路线</string>
	<key>txt_ambush_record_ret1</key>
	<string>无法获得奖励</string>
	<key>txt_ambush_record_ret0</key>
	<string>获取宝藏奖励的@%</string>
	<key>txt_ambush_record_info2</key>
	<string>\\w{c=5f5bff;s=20;f=0}@\\与\\w{c=5f5bff;s=20;f=0}@\\运送宝藏绕道了，埋伏失败!</string>
	<key>txt_ambush_record_info1</key>
	<string>您埋伏\\w{c=5f5bff;s=20;f=0}@\\与\\w{c=5f5bff;s=20;f=0}@\\的宝藏时被对手击败!</string>
	<key>txt_ambush_record_info0</key>
	<string>您成功获得了\\w{c=5f5bff;s=20;f=0}@\\与\\w{c=5f5bff;s=20;f=0}@\\的宝藏。</string>
	<key>txt_escort_record_info</key>
	<string>\\w{c=5f5bff;s=20;f=0}@\\与\\w{c=5f5bff;s=20;f=0}@\\完成了寻宝，获得宝藏奖励的@%。</string>
	<key>tip_choose_road_tip2_2</key>
	<string>队长已选择路线@</string>
	<key>tip_choose_road_tip2_1</key>
	<string>队长可选择路线</string>
	<key>tip_stage_pre2</key>
	<string>到达埋伏点@</string>
	<key>tip_stage_pre1</key>
	<string>前往埋伏点@</string>
	<key>tip_stage_final1</key>
	<string>前往终点</string>
	<key>tip_stage_final2</key>
	<string>到达终点</string>
	<key>day_effect1</key>
	<string>晚上可发动奇袭，埋伏者战力+@%，埋伏成功获得+@%的宝图价值</string>
	<key>day_effect0</key>
	<string>白天埋伏者埋伏成功获得+@%的宝图价值
</string>
	<key>road2</key>
	<string>左</string>
	<key>road1</key>
	<string>右</string>
	<key>road0</key>
	<string>无</string>
	<key>day1</key>
	<string>黑夜</string>
	<key>day0</key>
	<string>白天</string>
	<key>weather4</key>
	<string>刮沙</string>
	<key>weather3</key>
	<string>闪电</string>
	<key>weather2</key>
	<string>暴风雪</string>
	<key>weather1</key>
	<string>下雨</string>
	<key>weather0</key>
	<string>晴天</string>
	<key>terrain4</key>
	<string>大哈沙漠</string>
	<key>terrain3</key>
	<string>巨石山谷</string>
	<key>terrain2</key>
	<string>格雷雪山</string>
	<key>terrain1</key>
	<string>野蛮丛林</string>
	<key>terrain0</key>
	<string>开阔平原</string>
	<key>txt_hall_name5</key>
	<string>至尊宝藏点</string>
	<key>txt_hall_name4</key>
	<string>混合宝藏点</string>
	<key>txt_hall_name3</key>
	<string>高级宝藏点</string>
	<key>txt_hall_name2</key>
	<string>中级宝藏点</string>
	<key>txt_hall_name1</key>
	<string>初级宝藏点</string>
	<key>txt_choose_path</key>
	<string>队长已选择路线1，达到分叉口前可以调整路线</string>
	<key>txt_wait_title</key>
	<string>等待开始</string>
	<key>txt_make_leave_team</key>
	<string>请离</string>
	<key>txt_leave_team</key>
	<string>退出</string>
	<key>txt_lv_limit</key>
	<string>Lv.@-@</string>
</dict>
</plist>
