<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist>
    <dict>
        <key>1</key>
        <string>魔纹</string>
        <key>2</key>
        <string>精炼</string>
        <key>3</key>
        <string>可装备</string>
        <key>4</key>
        <string>可合成</string>
        <key>5</key>
        <string>强化</string>
        <key>6</key>
        <string>精炼大师:</string>
        <key>7</key>
        <string>强化大师:</string>
        <key>8</key>
        <string>属性加成</string>
        <key>9</key>
        <string>强化</string>
        <key>10</key>
        <string>等级提升</string>
        <key>11</key>
        <string>等级提升</string>
        <key>12</key>
        <string>可装备</string>
        <key>13</key>
        <string>可合成</string>
        <key>14</key>
        <string>可获取</string>
        <key>15</key>
        <string>精炼等阶:</string>
        <key>16</key>
        <string>专属阵营:</string>
        <key>17</key>
        <string>强化等级:</string>
        <key>18</key>
        <string>分解可获得</string>
        <key>19</key>
        <string>分解</string>
        <key>20</key>
        <string>精炼@阶</string>
        <key>full_quench_level</key>
        <string>精炼等级已满</string>
        <key>22</key>
        <string>（全身魔纹精炼到+@）</string>
        <key>23</key>
        <string>分解后所消耗部分可100%返还</string>
        <key>24</key>
        <string>(全身魔纹强化到+@)</string>
        <key>25</key>
        <string>积分达到@可领取</string>
        <key>26</key>
        <string>经验</string>
        <key>no_item</key>
        <string>@不足</string>
        <key>full_level</key>
        <string>已满级</string>
        <key>reset_skill</key>
        <string>是否确定重置所有技能</string>
        <key>onekey_merge</key>
        <string>一键合成</string>
        <key>merge</key>
        <string>合成</string>
        <key>seltreasure</key>
        <string>选择魔纹</string>
    </dict>
</plist>
