<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>要买东西，来这里就对了，这里有主公想要的一切，买买买</string>
	<key>2</key>
	<string>精英副本可以获取大量的英雄魂魄和珍贵装备材料</string>
	<key>3</key>
	<string>可以通过点石成金获取大量的金币</string>
	<key>4</key>
	<string>主公要想升级快，每日任务是主要的途径哦，要想获得元宝，拿下主线任务</string>
	<key>5</key>
	<string>升级英雄的技能，提高战斗力，让主公越战越勇</string>
	<key>6</key>
	<string>挑战你的好友吧，证明你是好友中最强者</string>
	<key>7</key>
	<string>一起来挑战头目吧，主要产出金币，输出越高，奖励越多</string>
	<key>8</key>
	<string>一起来挑战头目吧，主要产出经验丹，输出越高，奖励越多</string>
	<key>9</key>
	<string>一起来挑战头目吧，主要产出兽魂，击败敌人越多，奖励越丰厚</string>
	<key>10</key>
	<string>冲击排名吧，名次越高，元宝奖励越多，声望越多，还有专属英雄等你兑换</string>
	<key>11</key>
	<string>创建或加入军团，与军团好友共同成长起来</string>
	<key>12</key>
	<string>闯关卧龙窟，有大量的灵兽魂魄可以获取，主公，尽情的闯关吧</string>
	<key>13</key>
	<string>灵兽，能大幅提高主公的战斗力</string>
	<key>19</key>
	<string>无尽之塔困难重重，但是可以获得大量的稀有宝物，能大幅增加武将实力</string>
	<key>20</key>
	<string>外域远征内容</string>
	<key>31</key>
	<string>踩水车能获得大量的英雄经验，赶紧行动起来吧</string>
	<key>32</key>
	<string>在修仙台中能获得大量的声望以及金币哦</string>
	<key>36</key>
	<string>寻仙能获得大量命魂来提高阵位上英雄的属性哦</string>
	<key>37</key>
	<string>和小伙伴们愉快的聊天吧～</string>
	<key>39</key>
	<string>快去击退叛军吧～</string>
	<key>58</key>
	<string>神器是提高英雄战斗力中很重要的一个环节哦！</string>
	<key>64</key>
	<string>魔王副本可以获取大量的觉醒丹和将魂等材料！</string>
	<key>66</key>
	<string>副本3星通关后，即可开启探索功能</string>
	<key>69</key>
	<string>主要产出熔液，击败敌人越多，奖励越丰厚</string>
	<key>40</key>
	<string>神灯许愿</string>
	<key>72</key>
	<string>武将可以通过佩戴魔纹大幅提升自身的战斗力</string>
	<key>76</key>
	<string> 恭喜主公解锁了幻灵守卫系统</string>
	<key>name1</key>
	<string>神秘商人</string>
	<key>name2</key>
	<string>精英副本</string>
	<key>name3</key>
	<string>点石成金</string>
	<key>name4</key>
	<string>任务</string>
	<key>name5</key>
	<string>英雄技能</string>
	<key>name6</key>
	<string>好友</string>
	<key>name7</key>
	<string>金币试炼</string>
	<key>name8</key>
	<string>经验试炼</string>
	<key>name9</key>
	<string>兽魂试炼</string>
	<key>name10</key>
	<string>竞技场</string>
	<key>name11</key>
	<string>军团</string>
	<key>name12</key>
	<string>卧龙窟</string>
	<key>name13</key>
	<string>灵兽</string>
	<key>name19</key>
	<string>无尽之塔</string>
	<key>name20</key>
	<string>外域远征</string>
	<key>name23</key>
	<string>试炼场</string>
	<key>name32</key>
	<string>修仙台</string>
	<key>name31</key>
	<string>训练房</string>
	<key>name35</key>
	<string>自动战斗</string>
	<key>name36</key>
	<string>命魂</string>
	<key>name37</key>
	<string>聊天</string>
	<key>name39</key>
	<string>叛军袭来</string>
	<key>name57</key>
	<string>海底探险</string>
	<key>name58</key>
	<string>神器</string>
	<key>name64</key>
	<string>魔王副本</string>
	<key>name65</key>
	<string>跨服战</string>
	<key>name66</key>
	<string>探索</string>
	<key>name69</key>
	<string>熔液试炼</string>
	<key>name72</key>
	<string>魔纹</string>
	<key>name76</key>
	<string>幻灵守卫</string>
	<key>name94</key>
	<string>升星</string>
	<key>name96</key>
	<string>灵兽探险</string>
	<key>unlock_tip</key>
	<string>@级解锁@</string>
	<key>unlock_tip_speed</key>
	<string>通关\\w{c=ff0000}@\\可解锁@倍速</string>
	<key>unlock_tip2</key>
	<string>敬请期待</string>
	<key>unlock_tip_pos</key>
	<string>@级解锁</string>
	<key>unlock_vip</key>
	<string>VIP@解锁，是否前往充值？</string>
	<key>unlock_vip2</key>
	<string>VIP@才可购买，是否前往充值？</string>
	<key>unlock_vip3</key>
	<string>VIP@永久开启！</string>
	<key>unlock_shop2</key>
	<string>是否花费@元宝永久解锁秘宝？</string>
	<key>unlock_shop3</key>
	<string>是否花费@元宝永久解锁神品？</string>
	<key>unlock_tip_atlas</key>
	<string>通过\\w{c=ff0000}@\\可解锁@</string>
	<key>unlock_tip_quick_spirit</key>
	<string>战队等级达到@或VIP@可以解锁，是否前往充值？</string>
	<key>unlock_item36_name1</key>
	<string>第三格命魂</string>
	<key>unlock_item36_name2</key>
	<string>第四格命魂</string>
	<key>unlock_item36_name3</key>
	<string>第五格命魂</string>
	<key>unlock_item36_name4</key>
	<string>第六格命魂</string>
	<key>unlock_item36_content</key>
	<string>装备命魂可提升上阵武将属性</string>
	<key>unlock_item7_name1</key>
	<string>金币试炼-普通</string>
	<key>unlock_item7_content1</key>
	<string>产出比简单试炼更多的金币</string>
	<key>unlock_item7_name2</key>
	<string>金币试炼-困难</string>
	<key>unlock_item7_content2</key>
	<string>产出比普通试炼更多的金币</string>
	<key>unlock_item7_name3</key>
	<string>金币试炼-炼狱</string>
	<key>unlock_item7_content3</key>
	<string>产出比困难试炼更多的金币</string>
	<key>unlock_item8_name1</key>
	<string>经验试炼-普通</string>
	<key>unlock_item8_content1</key>
	<string>产出比简单试炼更多的武将经验</string>
	<key>unlock_item8_name2</key>
	<string>经验试炼-困难</string>
	<key>unlock_item8_content2</key>
	<string>产出比普通试炼更多的武将经验</string>
	<key>unlock_item8_name3</key>
	<string>经验试炼-炼狱</string>
	<key>unlock_item8_content3</key>
	<string>产出比困难试炼更多的武将经验</string>
	<key>unlock_item9_name1</key>
	<string>兽魂试炼-普通</string>
	<key>unlock_item9_content1</key>
	<string>产出比简单试炼更多的兽魂</string>
	<key>unlock_item9_name2</key>
	<string>兽魂试炼-困难</string>
	<key>unlock_item9_content2</key>
	<string>产出比普通试炼更多的兽魂</string>
	<key>unlock_item9_name3</key>
	<string>兽魂试炼-炼狱</string>
	<key>unlock_item9_content3</key>
	<string>产出比困难试炼更多的兽魂</string>
	<key>unlock_item69_name1</key>
	<string>熔液试炼-普通</string>
	<key>unlock_item69_content1</key>
	<string>产出比简单试炼更多的熔液</string>
	<key>unlock_item69_name2</key>
	<string>熔液试炼-困难</string>
	<key>unlock_item69_content2</key>
	<string>产出比普通试炼更多的熔液</string>
	<key>unlock_item69_name3</key>
	<string>熔液试炼-炼狱</string>
	<key>unlock_item69_content3</key>
	<string>产出比困难试炼更多的熔液</string>
	<key>unlock_item13_name1</key>
	<string>仙灵兔</string>
	<key>unlock_item13_content1</key>
	<string>是一只以治愈为主的辅助性灵兽</string>
	<key>unlock_item13_name2</key>
	<string>霸天虎</string>
	<key>unlock_item13_content2</key>
	<string>是一只以攻击为主的输出型灵兽</string>
	<key>unlock_item13_name3</key>
	<string>齐天大圣</string>
	<key>unlock_item13_content3</key>
	<string>是一只集辅助与输出为一体的灵兽</string>
	<key>unlock_item13_name4</key>
	<string>阿努比斯</string>
	<key>unlock_item13_content4</key>
	<string>是一只攻守兼备、克制复活的群体输出型灵兽</string>
	<key>unlock_worldboss_new_sweep</key>
	<string>战斗等级达到@或者VIP@开启探索</string>
</dict>
</plist>
