<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>itemType24</key>
	<string>跨服战寻找对手次数</string>
	<key>itemType105</key>
	<string>雷管</string>
	<key>itemType104</key>
	<string>高级资源包</string>
	<key>itemType103</key>
	<string>中级资源包</string>
	<key>itemType102</key>
	<string>初级资源包</string>
	<key>itemType101</key>
	<string>电钻资源包</string>
	<key>itemType23</key>
	<string>魔王副本挑战次数</string>
	<key>itemType33</key>
	<string>无尽徽章</string>
	<key>itemType37</key>
	<string>金钥匙</string>
	<key>word1</key>
	<string>开启连续扫荡功能</string>
	<key>content1</key>
	<string>三星通过的副本可进行快速扫荡，升级拿装必备利器！</string>
	<key>word2</key>
	<string>开启装备一键强化功能</string>
	<key>content2</key>
	<string>轻轻一点，强化无忧！免去屏幕被狂点爆裂的尴尬！</string>
	<key>word3</key>
	<string>每天可购买兽魂@次</string>
	<key>content3</key>
	<string>每日可额外获取大量兽魂的尊贵权限，保主公神兽等级胜人一筹！</string>
	<key>word4</key>
	<string>试炼场奖励翻倍@次</string>
	<key>content4</key>
	<string>试炼珍贵物资轻易翻倍~翻倍~再翻倍，不信你试试？</string>
	<key>word5</key>
	<string>每天可购买竞技场门票@次</string>
	<key>content5</key>
	<string>每日可额外获取竞技场挑战次数的尊贵权限，实为竞技扬名，称霸全服必备利器！</string>
	<key>word6</key>
	<string>每天可购买体力@次</string>
	<key>content6</key>
	<string>更多的体力就是更多的经验、更多的装备、更多的英雄碎片，值！</string>
	<key>word7</key>
	<string>技能点增加10点</string>
	<key>content7</key>
	<string>技能点上限提升，妈妈再也不用担心我技能点储备溢出了！</string>
	<key>word8</key>
	<string>每天可重置精英关卡@次</string>
	<key>content8</key>
	<string>精英关卡盛产武将碎片，每日更多精英关卡挑战次数让主公武将升星快人一步！</string>
	<key>word9</key>
	<string>好友数量增加至@名</string>
	<key>content9</key>
	<string>在家靠父母，游戏靠朋友，提升好友上限，每日获得更多好友互赠！</string>
	<key>word10</key>
	<string>每天可购买技能点@次</string>
	<key>content10</key>
	<string>每日可额外获得技能点购买次数，免去武将升级技能不足的尴尬！</string>
	<key>word11</key>
	<string>每天可使用点宝成金@次</string>
	<key>content11</key>
	<string>每日可额外获得购买金币的次数，点宝成金优惠多多！</string>
	<key>word12</key>
	<string>开启养成基金购买功能</string>
	<key>content12</key>
	<string>养成基金，1倍投入，10倍返还，主公还在犹豫什么？</string>
	<key>word13</key>
	<string>永久解锁秘宝</string>
	<key>content13</key>
	<string>秘宝产出【稀缺武将碎片】和【装备材料碎片】，永久解锁，无限购买！</string>
	<key>word14</key>
	<string>永久解锁神品</string>
	<key>content14</key>
	<string>神品产出【稀有神将碎片】和【高级整装】，永久解锁，无限购买！</string>
	<key>word15</key>
	<string>每天可购买英雄经验@次</string>
	<key>content15</key>
	<string>每日可额外获得购买英雄经验的尊贵权限，主公再也不用担心小伙伴等级掉队了！</string>
	<key>word16</key>
	<string>开启训练房VIP训练</string>
	<key>content16</key>
	<string>我是大V我傲娇，专属高产训练房，不怕被占和挑战。</string>
	<key>word17</key>
	<string>开启一键寻仙</string>
	<key>content17</key>
	<string>一键寻仙，稳定快速自动合成，帝王级的享受，轻轻一点，全套搞定！用了都说好！</string>
	<key>word18</key>
	<string>每天可购买征讨令@次</string>
	<key>content18</key>
	<string>家里叛军多，打不完？拥有征讨令购买权限，再多叛军都不怕，奖励多多爽到爆。</string>
	<key>word19</key>
	<string>海底探险上限次数增加至@次</string>
	<key>content19</key>
	<string>每日海底探险次数增加，更多矿产获得，神器升级不再困难！</string>
	<key>word20</key>
	<string>开启自动海底探险工程@个</string>
	<key>content20</key>
	<string>更多海底探险工程位，全自动挂机操作，产量稳定，省时省力，专为尊贵的你而准备！</string>
	<key>word21</key>
	<string>开启神器淬炼@次</string>
	<key>content21</key>
	<string>提升神器淬炼效率，提升淬炼成功率，你懂的~</string>
	<key>word22</key>
	<string>开启魂匣抽卡</string>
	<key>content22</key>
	<string>魂匣抽卡，大量产出神将碎片和各种珍稀道具，任意指定，有求必得！</string>
	<key>word23</key>
	<string>每天可购买魔王副本挑战次数@次</string>
	<key>content23</key>
	<string>魔王副本调整次数=更多将魂、更多熔液、更多珍贵武将碎片，值！</string>
	<key>word24</key>
	<string>每天可购买跨服战挑战@次</string>
	<key>word38</key>
	<string>军团竞赛战斗鼓舞次数增加至@次</string>
	<key>content24</key>
	<string>跨服挑战，扬名立万的好机会！每日更多次数，让主公又一次赢在起跑线上！</string>
	<key>word25</key>
	<string>海底探险工程时间减少@%</string>
	<key>content25</key>
	<string>海底探险工程挂机还不够？好吧！加个涡轮来加速！大大减少挂机时间，事半功倍！</string>
	<key>word26</key>
	<string>兽魂试炼次数+@</string>
	<key>content26</key>
	<string>每日可额外获取兽魂试炼的挑战次数，更多的兽魂，灵兽升级无忧！</string>
	<key>word27</key>
	<string>金币试炼次数+@</string>
	<key>content27</key>
	<string>每日可额外获取金币试炼的挑战次数，更多的金币，主公征途无忧！</string>
	<key>word28</key>
	<string>开启直接购买修仙台帝豪之旅</string>
	<key>content28</key>
	<string>帝豪之旅，帝王级座驾，座驾中的劳斯莱斯，更高的声望奖励等着你！</string>
	<key>word29</key>
	<string>修仙台收益加成@%</string>
	<key>content29</key>
	<string>修仙台收益加成，花同样的时间，拿更多的奖励，岂不快哉？</string>
	<key>word30</key>
	<string>将星商店每天刷新@次</string>
	<key>content30</key>
	<string>每天可额外多几次刷新次数，更多的机会刷出神级道具，你已赢在起跑线上了！</string>
	<key>word31</key>
	<string>开启魔纹强化5次功能</string>
	<key>content31</key>
	<string>小手一点，快速强化，加快魔纹强化等级！</string>
	<key>word33</key>
	<string>每天可购买无尽徽章@次</string>
	<key>content33</key>
	<string>每日可额外获取大量无尽徽章的尊贵权限，保主公魔纹胜人一筹！</string>
	<key>word34</key>
	<string>魔纹强化时，@%2倍会心</string>
	<key>word35</key>
	<string>魔纹强化时，@%3倍会心</string>
	<key>word37</key>
	<string>每日可购买@金钥匙</string>
	<key>word100</key>
	<string>拥有VIP@所有特权</string>
	<key>vipBuy</key>
	<string>VIP@可以购买。立即前往充值？</string>
	<key>maxBuy</key>
	<string>今日购买次数已达上限</string>
	<key>maxRefresh</key>
	<string>今日刷新次数已达上限</string>
	<key>firstPay</key>
	<string>恭喜您在本游戏完成首次充值，我们为您发了一封首次充值礼包邮件，您现在可以前往邮件，领取奖励！</string>
	<key>vipTip</key>
	<string>只要再充值@元宝，您就可以成为VIP@，是否充值？</string>
	<key>vipTip2</key>
	<string>您当前是@再充值@ 成为</string>
	<key>vipTip3</key>
	<string>您当前是@ 已到达最高VIP等级</string>
	<key>vipBuy10</key>
	<string>是否花费\\i{p=images/ui_public1/gold.png;s=0.35}\\@购买@技能点？</string>
	<key>vipBuy5</key>
	<string>是否花费\\i{p=images/ui_public1/gold.png;s=0.35}\\@购买@次竞技场挑战次数?</string>
	<key>vipBuy8</key>
	<string>是否花费\\i{p=images/ui_public1/gold.png;s=0.35}\\@重置精英副本挑战次数到@次？</string>
	<key>vipTimes</key>
	<string>今日还可购买：\\w{c=ffffff;f=1}@/@</string>
	<key>vipTimes8</key>
	<string>今日还可重置@次</string>
	<key>itemType6</key>
	<string>体力</string>
	<key>itemType3</key>
	<string>兽魂</string>
	<key>itemType5</key>
	<string>竞技场门票</string>
	<key>itemType8</key>
	<string>副本挑战次数</string>
	<key>itemType10</key>
	<string>技能点</string>
	<key>itemType15</key>
	<string>英雄经验</string>
	<key>itemType100</key>
	<string>占领次数</string>
	<key>itemType40</key>
	<string>探索次数</string>
	<key>itemType42</key>
	<string>重置次数</string>
	<key>itemType111</key>
	<string>收集次数</string>
	<key>itemType112</key>
	<string>复仇次数</string>
	<key>itemType113</key>
	<string>骰子次数</string>
	<key>itemType114</key>
	<string>随机品质宝图</string>
	<key>buy_title</key>
	<string>购买@</string>
	<key>buy_tip</key>
	<string>花费元宝购买@</string>
	<key>vip_levelup</key>
	<string>恭喜主公VIP等级提升至</string>
	<key>40</key>
	<string>恭喜获得 VIP@ 特权</string>
	<key>41</key>
	<string>封测期间暂不开放充值功能</string>
	<key>vipGiftBuy</key>
	<string>VIP@可购买</string>
	<key>word32</key>
	<string>每天可重置海底副本@次</string>
	<key>content32</key>
	<string>每天可获得额外重置海底副本的次数，矿产资源多多益善哦主公！</string>
	<key>word36</key>
	<string>开启暴力寻仙模式</string>
	<key>content36</key>
	<string>一次性消耗200W金币并略过寻仙动画直接获得最终的命魂经验和其他稀有命魂</string>
	<key>42</key>
	<string>购买次数将在次日凌晨重置</string>
	<key>word39</key>
	<string>开启巨兽来袭跳过战斗功能</string>
	<key>content39</key>
	<string>一键跳过战斗，更加节省主公时间了哦！</string>
	<key>word40</key>
	<string>卧龙窟扫荡次数可购买@次</string>
	<key>content40</key>
	<string>扫一扫，跑一跑，奖励轻松到手。</string>
	<key>word42</key>
	<string>无尽之塔重置次数可购买@次</string>
	<key>content42</key>
	<string>请叫我刷塔狂魔。</string>
	<key>vipTimes_forever</key>
	<string>今日还可购买：\\w{c=ffffff;f=1}无限制</string>
	<key>vipTimes_buy_treasure_map</key>
	<string>剩余@次免费购买机会，购买多次则可获得随机品质宝图若干张</string>
	<key>snatch_coin</key>
	<string>夺宝币</string>
	<key>snatch_totalcoin</key>
	<string>夺宝币总价：</string>
	<key>snatch</key>
	<string>投币</string>
</dict>
</plist>
