<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>-1</key>
    <string>{0,0,0,0}</string>
    <key>-2</key>
    <string>{0,0,0,0}</string>
    <key>-4</key>
    <string>{0,0,0,0}</string>
    <key>-3</key>
    <string>{0,0,0,0}</string>
    <key>20343</key>
    <string>{0,0,0,0}</string>
    <key>20047</key>
    <string>{0,0,0,0}</string>
    <key>20092_1</key>
    <string>{0,0,0,0}</string>
    <key>20047_1</key>
    <string>{0,0,0,0}</string>
    <key>20027</key>
    <string>{0,0,0,0}</string>
    <key>20062_1</key>
    <string>{0,0,0,0}</string>
    <key>20625</key>
    <string>{0,0,0,0}</string>
    <key>20936</key>
    <string>{0,0,0,0}</string>
    <key>20601</key>
    <string>{0,0,0,0}</string>
    <key>20313</key>
    <string>{0,0,0,0}</string>
    <key>20039_1</key>
    <string>{0,0,0,0}</string>
    <key>20343_1</key>
    <string>{0,0,0,0}</string>
    <key>20325</key>
    <string>{0,0,0,0}</string>
    <key>20044_1</key>
    <string>{0,0,0,0}</string>
    <key>20028_1</key>
    <string>{0,0,0,0}</string>
    <key>20325_1</key>
    <string>{0,0,0,0}</string>
    <key>20038_1</key>
    <string>{0,0,0,0}</string>
    <key>20609</key>
    <string>{0,0,0,0}</string>
    <key>20315</key>
    <string>{0,0,0,0}</string>
    <key>20049</key>
    <string>{0,0,0,0}</string>
    <key>20007_1</key>
    <string>{0,0,0,0}</string>
    <key>20026_1</key>
    <string>{0,0,0,0}</string>
    <key>20612</key>
    <string>{0,0,0,0}</string>
    <key>20314</key>
    <string>{0,0,0,0}</string>
    <key>20912</key>
    <string>{0,0,0,0}</string>
    <key>20061</key>
    <string>{0,0,0,0}</string>
    <key>20056</key>
    <string>{0,0,0,0}</string>
    <key>20330</key>
    <string>{0,0,0,0}</string>
    <key>20020</key>
    <string>{0,0,0,0}</string>
    <key>20019</key>
    <string>{0,0,0,0}</string>
    <key>20001</key>
    <string>{0,0,0,0}</string>
    <key>20334</key>
    <string>{0,0,0,0}</string>
    <key>20317</key>
    <string>{0,0,0,0}</string>
    <key>20356</key>
    <string>{0,0,0,0}</string>
    <key>20025</key>
    <string>{0,0,0,0}</string>
    <key>20026</key>
    <string>{0,0,0,0}</string>
    <key>20620</key>
    <string>{0,0,0,0}</string>
    <key>20621</key>
    <string>{0,0,0,0}</string>
    <key>20044</key>
    <string>{0,0,0,0}</string>
    <key>20013</key>
    <string>{0,0,0,0}</string>
    <key>20641</key>
    <string>{0,0,0,0}</string>
    <key>20338</key>
    <string>{0,0,0,0}</string>
    <key>20311</key>
    <string>{0,0,0,0}</string>
    <key>20924</key>
    <string>{0,0,0,0}</string>
    <key>20323</key>
    <string>{0,0,0,0}</string>
    <key>20033</key>
    <string>{0,0,0,0}</string>
    <key>20604</key>
    <string>{0,0,0,0}</string>
    <key>20328</key>
    <string>{0,0,0,0}</string>
    <key>20326</key>
    <string>{0,0,0,0}</string>
    <key>20339</key>
    <string>{0,0,0,0}</string>
    <key>20028</key>
    <string>{0,0,0,0}</string>
    <key>20959</key>
    <string>{0,0,0,0}</string>
    <key>20915</key>
    <string>{0,0,0,0}</string>
    <key>20929</key>
    <string>{0,0,0,0}</string>
    <key>20916</key>
    <string>{0,0,0,0}</string>
    <key>20053</key>
    <string>{0,0,0,0}</string>
    <key>20038</key>
    <string>{0,0,0,0}</string>
    <key>20605</key>
    <string>{0,0,0,0}</string>
    <key>20039</key>
    <string>{0,0,0,0}</string>
    <key>20007</key>
    <string>{0,0,0,0}</string>
    <key>20021</key>
    <string>{0,0,0,0}</string>
    <key>20042</key>
    <string>{0,0,0,0}</string>
    <key>20360</key>
    <string>{0,0,0,0}</string>
    <key>20639</key>
    <string>{0,0,0,0}</string>
    <key>20638</key>
    <string>{0,0,0,0}</string>
    <key>20617</key>
    <string>{0,0,0,0}</string>
    <key>20357</key>
    <string>{0,0,0,0}</string>
    <key>20642</key>
    <string>{0,0,0,0}</string>
    <key>20307</key>
    <string>{0,0,0,0}</string>
    <key>20608</key>
    <string>{0,0,0,0}</string>
    <key>20624</key>
    <string>{0,0,0,0}</string>
    <key>20308</key>
    <string>{0,0,0,0}</string>
    <key>20057</key>
    <string>{0,0,0,0}</string>
    <key>20607</key>
    <string>{0,0,0,0}</string>
    <key>20016</key>
    <string>{0,0,0,0}</string>
    <key>20355</key>
    <string>{0,0,0,0}</string>
    <key>20344</key>
    <string>{0,0,0,0}</string>
    <key>20002</key>
    <string>{0,0,0,0}</string>
    <key>20640</key>
    <string>{0,0,0,0}</string>
    <key>20627</key>
    <string>{0,0,0,0}</string>
    <key>20633</key>
    <string>{0,0,0,0}</string>
    <key>20634</key>
    <string>{0,0,0,0}</string>
    <key>20055</key>
    <string>{0,0,0,0}</string>
    <key>20635</key>
    <string>{0,0,0,0}</string>
    <key>20636</key>
    <string>{0,0,0,0}</string>
    <key>20352</key>
    <string>{0,0,0,0}</string>
    <key>20349</key>
    <string>{0,0,0,0}</string>
    <key>20329</key>
    <string>{0,0,0,0}</string>
    <key>20615</key>
    <string>{0,0,0,0}</string>
    <key>20358</key>
    <string>{0,0,0,0}</string>
    <key>20319</key>
    <string>{0,0,0,0}</string>
    <key>20320</key>
    <string>{0,0,0,0}</string>
    <key>20037</key>
    <string>{0,0,0,0}</string>
    <key>20043</key>
    <string>{0,0,0,0}</string>
    <key>20058</key>
    <string>{0,0,0,0}</string>
    <key>20622</key>
    <string>{0,0,0,0}</string>
    <key>20305</key>
    <string>{0,0,0,0}</string>
    <key>20321</key>
    <string>{0,0,0,0}</string>
    <key>20051</key>
    <string>{0,0,0,0}</string>
    <key>20050</key>
    <string>{0,0,0,0}</string>
    <key>20322</key>
    <string>{0,0,0,0}</string>
    <key>20001_1</key>
    <string>{0,0,0,0}</string>
    <key>-5</key>
    <string>{0,0,0,0}</string>
    <key>20618</key>
    <string>{0,0,0,0}</string>
    <key>20359</key>
    <string>{0,0,0,0}</string>
    <key>20327</key>
    <string>{0,0,0,0}</string>
    <key>20048</key>
    <string>{0,0,0,0}</string>
    <key>20013_1</key>
    <string>{0,0,0,0}</string>
    <key>20049_1</key>
    <string>{0,0,0,0}</string>
    <key>20077_1</key>
    <string>{0,0,0,0}</string>
    <key>20041</key>
    <string>{0,0,0,0}</string>
    <key>20010_1</key>
    <string>{0,0,0,0}</string>
    <key>22222</key>
    <string>{0,0,0,0}</string>
    <key>11111</key>
    <string>{0,0,0,0}</string>
    <key>10028</key>
    <string>{0,0,0,0}</string>
    <key>10029</key>
    <string>{0,0,0,0}</string>
    <key>0</key>
    <string>{0,0,0,0}</string>
    <key>10001</key>
    <string>{0,0,0,0}</string>
    <key>10020</key>
    <string>{0,0,0,0}</string>
    <key>10006</key>
    <string>{0,0,0,0}</string>
    <key>10013</key>
    <string>{0,0,0,0}</string>
</dict>
