<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>atlas_1_5_began</key>
	<string>188</string>
	<key>atlas_1_5_appear</key>
	<string>211</string>
	<key>atlas_1_5_end</key>
	<string>189</string>
	
	<key>atlas_1_7_began</key>
	<string>190</string> 
	<key>atlas_1_7_appear</key>
	<string>212</string>
	<key>atlas_1_7_end</key>
	<string>191</string>
	
	
	<key>atlas_1_9_began</key>
	<string>192</string>
	<key>atlas_1_9_appear</key>
	<string>213</string>
	<key>atlas_1_9_end</key>
	<string>193</string>
	
	<key>atlas_2_1_began</key>
    <string>115</string>
    <key>atlas_2_1_end</key>
    <string>116</string>
    <key>atlas_2_3_began</key>
    <string>117</string>
    <key>atlas_2_3_end</key>
    <string>118</string>
    <key>atlas_2_5_began</key>
    <string>119</string>
    <key>atlas_2_5_end</key>
    <string>120</string>
    <key>atlas_2_7_began</key>
    <string>121</string>
    <key>atlas_2_7_end</key>
    <string>122</string>
    <key>atlas_2_9_began</key>
    <string>123</string>
    <key>atlas_2_9_end</key>
    <string>124</string>

    <key>atlas_3_1_began</key>
    <string>125</string>
    <key>atlas_3_1_end</key>
    <string>126</string>
    <key>atlas_3_4_began</key>
    <string>127</string>
    <key>atlas_3_4_end</key>
    <string>128</string>
    <key>atlas_3_7_began</key>
    <string>129</string>
    <key>atlas_3_7_end</key>
    <string>130</string>
    <key>atlas_3_10_began</key>
    <string>131</string>
    <key>atlas_3_10_end</key>
    <string>132</string>
    <key>atlas_3_13_began</key>
    <string>133</string>
    <key>atlas_3_13_end</key>
    <string>134</string>
    <key>atlas_3_16_began</key>
    <string>135</string>
    <key>atlas_3_16_end</key>
    <string>136</string>

    <key>atlas_4_1_began</key>
    <string>137</string>
    <key>atlas_4_1_end</key>
    <string>138</string>
    <key>atlas_4_4_began</key>
    <string>139</string>
    <key>atlas_4_4_end</key>
    <string>140</string>
    <key>atlas_4_7_began</key>
    <string>141</string>
    <key>atlas_4_7_end</key>
    <string>142</string>
    <key>atlas_4_10_began</key>
    <string>143</string>
    <key>atlas_4_10_end</key>
    <string>144</string>
    <key>atlas_4_13_began</key>
    <string>145</string>
    <key>atlas_4_13_end</key>
    <string>146</string>
    <key>atlas_4_16_began</key>
    <string>147</string>
    <key>atlas_4_16_end</key>
    <string>148</string>

    <key>atlas_5_3_began</key>
    <string>149</string>
    <key>atlas_5_3_end</key>
    <string>150</string>
    <key>atlas_5_6_began</key>
    <string>151</string>
    <key>atlas_5_6_end</key>
    <string>152</string>
    <key>atlas_5_9_began</key>
    <string>153</string>
    <key>atlas_5_9_end</key>
    <string>154</string>
    <key>atlas_5_12_began</key>
    <string>155</string>
    <key>atlas_5_12_end</key>
    <string>156</string>
    <key>atlas_5_15_began</key>
    <string>157</string>
    <key>atlas_5_15_end</key>
    <string>158</string>
    <key>atlas_5_18_began</key>
    <string>159</string>
    <key>atlas_5_18_end</key>
    <string>160</string>
	
	<key>atlas_6_3_began</key>
    <string>217</string>
    <key>atlas_6_3_end</key>
    <string>218</string>
    <key>atlas_6_6_began</key>
    <string>219</string>
    <key>atlas_6_6_end</key>
    <string>220</string>
    <key>atlas_6_9_began</key>
    <string>221</string>
    <key>atlas_6_9_end</key>
    <string>222</string>
    <key>atlas_6_12_began</key>
    <string>223</string>
    <key>atlas_6_12_end</key>
    <string>224</string>
    <key>atlas_6_15_began</key>
    <string>225</string>
    <key>atlas_6_15_end</key>
    <string>226</string>
    <key>atlas_6_18_began</key>
    <string>227</string>
    <key>atlas_6_18_end</key>
    <string>228</string>
	
	<key>atlas_7_3_began</key>
    <string>229</string>
    <key>atlas_7_3_end</key>
    <string>230</string>
    <key>atlas_7_6_began</key>
    <string>231</string>
    <key>atlas_7_6_end</key>
    <string>232</string>
    <key>atlas_7_9_began</key>
    <string>233</string>
    <key>atlas_7_9_end</key>
    <string>234</string>
    <key>atlas_7_12_began</key>
    <string>235</string>
    <key>atlas_7_12_end</key>
    <string>236</string>
    <key>atlas_7_15_began</key>
    <string>237</string>
    <key>atlas_7_15_end</key>
    <string>238</string>
    <key>atlas_7_18_began</key>
    <string>239</string>
    <key>atlas_7_18_end</key>
    <string>240</string>
	
	<key>atlas_8_3_began</key>
    <string>241</string>
    <key>atlas_8_3_end</key>
    <string>242</string>
    <key>atlas_8_6_began</key>
    <string>243</string>
    <key>atlas_8_6_end</key>
    <string>244</string>
    <key>atlas_8_9_began</key>
    <string>245</string>
    <key>atlas_8_9_end</key>
    <string>246</string>
    <key>atlas_8_12_began</key>
    <string>247</string>
    <key>atlas_8_12_end</key>
    <string>248</string>
    <key>atlas_8_15_began</key>
    <string>249</string>
    <key>atlas_8_15_end</key>
    <string>250</string>
    <key>atlas_8_18_began</key>
    <string>251</string>
    <key>atlas_8_18_end</key>
    <string>252</string>
	
</dict>
</plist>
