<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>init</key>
    <dict>
        <key>result</key>
        <string>1</string>
        <key>up</key>
        <array>
            <string>0,10025,0,18000,99102</string>
            <string>1,10027,0,18000,99102</string>
            <string>2,10019,0,18000,99102</string>
            <string>3,10018,0,18000,99102</string>
            <string>4,10028,0,280000,99102</string>
            <string>5,10016,0,18000,99102</string>
            <string>6,0,0,0,2</string>
        </array>
        <key>down</key>
        <array>
            <string>0,10104,0,20000,2</string>
            <string>1,10105,0,20000,2</string>
            <string>2,10102,0,20000,2</string>
            <string>3,10101,0,20000,2</string>
            <string>4,10103,0,20000,2</string>
            <string>5,10100,0,20000,2</string>
            <string>6,1,0,0,2</string>
        </array>
    </dict>
    <key>cmds</key>
    <dict>
        <key>round</key>
        <dict>
            <key>round0</key>
            <dict>
                <key>att0</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,179</string>
                </dict>
                <key>att1</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,1,0,0</string>
                    <key>cmd1</key>
                    <string>1,2,0,0,1,0,123|256|342|456</string>
                    <key>cmd2</key>
                    <string>1,2,2,0,1,0,123|256|342|456</string>
                    <key>cmd3</key>
                    <string>1,2,4,0,1,0,123|256|342|456</string>
                </dict>
                <key>att2</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,1,2,5</string>
                    <key>cmd1</key>
                    <string>1,0,0,0,1,0,156|289|367|493|568</string>
                    <key>cmd2</key>
                    <string>1,0,1,0,1,0,156|289|367|493|568</string>
                    <key>cmd3</key>
                    <string>1,0,2,0,1,0,156|289|367|493|568</string>
                    <key>cmd4</key>
                    <string>1,0,3,0,1,0,156|289|367|493|568</string>
                    <key>cmd5</key>
                    <string>1,0,4,0,1,0,156|289|367|493|568</string>
                    <key>cmd6</key>
                    <string>1,0,5,0,1,0,156|289|367|493|568</string>
                </dict>
                <key>att3</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,1,4,1</string>
                    <key>cmd1</key>
                    <string>1,2,1,0,1,0,556|689|767|893</string>
                    <key>cmd2</key>
                    <string>1,2,4,0,1,0,556|689|767|893</string>
                </dict>
                <key>att4</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,3131020</string>
                    <key>cmd1</key>
                    <string>1,0,0,0,0,0,</string>
                    <key>cmd2</key>
                    <string>1,0,1,0,0,0,</string>
                    <key>cmd3</key>
                    <string>1,0,2,0,0,0,</string>
                </dict>
                <key>att5</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,0,5</string>
                    <key>cmd1</key>
                    <string>1,2,0,0,1,1,98267</string>
                    <key>cmd2</key>
                    <string>1,2,1,0,1,0,7589</string>
                    <key>cmd3</key>
                    <string>1,2,2,0,1,1,98267</string>
                </dict>
                <key>att6</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,3151121</string>
                    <key>cmd1</key>
                    <string>1,0,1,0,0,0,</string>
                    <key>cmd2</key>
                    <string>1,0,4,0,0,0,</string>
                </dict>
                <key>att7</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,1,1</string>
                    <key>cmd1</key>
                    <string>1,2,1,0,1,1,3254|3357|3543|4543|4543|4543|5543|5543|5543|5543</string>
                    <key>cmd2</key>
                    <string>1,2,4,0,1,0,3254|3357|3543|4543|4543|4543|5543|5543|5543|5543</string>
                </dict>
                <key>att8</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,3311222</string>
                    <key>cmd1</key>
                    <string>1,0,3,0,0,0,</string>
                    <key>cmd2</key>
                    <string>1,0,4,0,0,0,</string>
                    <key>cmd3</key>
                    <string>1,0,5,0,0,0,</string>
                </dict>
                <key>att9</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,2,5</string>
                    <key>cmd1</key>
                    <string>1,0,3,0,1,0,1246|1548|1367|1934|2168|2168</string>
                    <key>cmd2</key>
                    <string>1,0,4,0,1,0,1246|1548|1367|1934|2168|2168</string>
                    <key>cmd3</key>
                    <string>1,0,5,0,1,0,1246|1548|1367|1934|2168|2168</string>
                </dict>
                <key>att10</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,1,3,0</string>
                    <key>cmd1</key>
                    <string>1,0,0,0,1,0,123|256|342|456</string>
                    <key>cmd2</key>
                    <string>1,0,1,0,1,0,123|256|342|456</string>
                    <key>cmd3</key>
                    <string>1,0,2,0,1,0,123|256|342|456</string>
                </dict>
                <key>att11</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,1,5,5</string>
                    <key>cmd1</key>
                    <string>1,0,0,0,1,0,156|289|367|493|568</string>
                    <key>cmd2</key>
                    <string>1,0,1,0,1,0,156|289|367|493|568</string>
                    <key>cmd3</key>
                    <string>1,0,2,0,1,0,156|289|367|493|568</string>
                    <key>cmd4</key>
                    <string>1,0,3,0,1,0,156|289|367|493|568</string>
                    <key>cmd5</key>
                    <string>1,0,4,0,1,0,156|289|367|493|568</string>
                    <key>cmd6</key>
                    <string>1,0,5,0,1,0,156|289|367|493|568</string>
                </dict>
                <key>att12</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,3101323</string>
                    <key>cmd1</key>
                    <string>1,0,3,0,0,0,</string>
                    <key>cmd2</key>
                    <string>1,0,4,0,0,0,</string>
                    <key>cmd3</key>
                    <string>1,0,5,0,0,0,</string>
                </dict>
                <key>att13</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,3,4</string>
                    <key>cmd1</key>
                    <string>1,0,3,0,1,1,12460|15048|13607|19304|11608|21068|21608</string>
                    <key>cmd2</key>
                    <string>1,0,4,0,1,0,12460|15048|13607|19304|11608|21068|21608</string>
                    <key>cmd3</key>
                    <string>1,0,5,0,1,1,12460|15048|13607|19304|11608|21068|21608</string>
                </dict>
                <key>att14</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,3111524</string>
                    <key>cmd1</key>
                    <string>1,2,4,0,0,0,</string>
                </dict>
                <key>att15</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,5,4</string>
                    <key>cmd1</key>
                    <string>1,0,4,0,1,0,19304|11608|21068|21608</string>
                </dict>
                <key>att16</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,3,0,5,4</string>
                    <key>cmd1</key>
                    <string>1,3,4,0,1,0,29879</string>
                </dict>
                <key>att17</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,180</string>
                </dict>
                <key>att18</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,12411000</string>
                </dict>
                <key>att19</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,300010</string>
                </dict>
                <key>att20</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,500001</string>
                </dict>
                <key>att21</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,181</string>
                </dict>
                <key>att22</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,1,4,0</string>
                    <key>cmd1</key>
                    <string>1,0,0,0,1,0,1246|2548|2367|2934</string>
                    <key>cmd2</key>
                    <string>1,0,1,0,1,0,1246|2548|2367|2934</string>
                    <key>cmd3</key>
                    <string>1,0,2,0,1,0,1246|2548|2367|2934</string>
                    <key>cmd4</key>
                    <string>1,0,3,0,1,0,1246|2548|2367|2934</string>
                    <key>cmd5</key>
                    <string>1,0,4,0,1,0,1246|2548|2367|2934</string>
                    <key>cmd6</key>
                    <string>1,0,5,0,1,0,1246|2548|2367|2934</string>
                </dict>
                <key>att23</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,300020</string>
                </dict>
                <key>att24</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,500002</string>
                </dict>
                <key>att25</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,182</string>
                </dict>
                <key>att26</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,3111425</string>
                    <key>cmd1</key>
                    <string>1,0,4,0,0,0,</string>
                </dict>
                <key>att27</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,43005,0,4,4</string>
                    <key>cmd1</key>
                    <string>1,43006,4,0,1,0,1246|1148|1367|1934|2548|2367|2934|2934</string>
                </dict>
                <key>att28</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,6,0</string>
                    <key>cmd1</key>
                    <string>1,2,4,2,1,1,99999|99999</string>
                </dict>
                <key>att29</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,300050</string>
                </dict>
            </dict>
        </dict>
    </dict>
</dict>
