<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>init</key>
    <dict>
        <key>result</key>
        <string>1</string>
        <key>up</key>
        <array>
            <string>0,10502,0,10000,1</string>
            <string>1,10002,0,38000,99151</string>
            <string>2,10502,0,10000,1</string>
            <string>3,0,0,10000,1</string>
            <string>4,0,0,100000,1</string>
            <string>5,0,0,10000,1</string>
            <string>6,0,0,0,1</string>
        </array>
        <key>down</key>
        <array>
            <string>0,10101,2,10000,1</string>
            <string>1,10103,0,10000,1</string>
            <string>2,10100,2,10000,1</string>
            <string>3,0,0,10000,1</string>
            <string>4,0,0,10000,1</string>
            <string>5,0,0,10000,1</string>
            <string>6,1,0,0,1</string>
        </array>
    </dict>
    <key>cmds</key>
    <dict>
        <key>round</key>
        <dict>
            <key>round0</key>
            <dict>
                <key>att0</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,184</string>
                </dict>
                <key>att1</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,100000</string>
                    <key>cmd1</key>
                    <string>2,100002</string>
                </dict>
                <key>att2</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,209</string>
                </dict>
                <key>att3</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,1,0,0,0</string>
                    <key>cmd1</key>
                    <string>1,2,0,0,1,0,1168|1278|1289</string>
                    <key>cmd2</key>
                    <string>1,2,1,0,1,0,1168|1278|1289</string>
                    <key>cmd3</key>
                    <string>1,2,2,0,1,0,1168|1278|1289</string>
                </dict>
                <key>att4</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,1,1,0,0</string>
                    <key>cmd1</key>
                    <string>1,2,0,0,1,0,123</string>
                </dict>
                <key>att5</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,1,0,1,1</string>
                    <key>cmd1</key>
                    <string>1,1,1,0,1,0,68|78|89|99|102</string>
                </dict>
                <key>att6</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,1,1,1,1</string>
                    <key>cmd1</key>
                    <string>1,1,1,0,1,0,568|778|989</string>
                </dict>
                <key>att7</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,1,0,2,1</string>
                    <key>cmd1</key>
                    <string>1,1,0,0,1,0,1168|1278|1289|1289</string>
                    <key>cmd2</key>
                    <string>1,1,2,0,1,0,1168|1278|1289|1289</string>
                </dict>
                <key>att8</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,1,1,2,2</string>
                    <key>cmd1</key>
                    <string>1,1,2,0,1,0,123</string>
                </dict>
                <key>att9</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,0,0</string>
                    <key>cmd1</key>
                    <string>1,2,0,0,1,1,1168|1278|2289|2289|3278|3289|3289</string>
                    <key>cmd2</key>
                    <string>1,2,1,0,1,0,1168|1278|2289|2289|3278|3289|3289</string>
                    <key>cmd3</key>
                    <string>1,2,2,0,1,1,1168|1278|2289|2289|3278|3289|3289</string>
                </dict>
                <key>att10</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,3111126</string>
                    <key>cmd1</key>
                    <string>1,2,1,0,1,1,3271|3292|3283|3284</string>
                </dict>
                <key>att11</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,1,1</string>
                    <key>cmd1</key>
                    <string>1,2,1,0,1,0,116|127|228|228|327|329|328|328</string>
                </dict>
                <key>att12</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,1,1,0</string>
                    <key>cmd1</key>
                    <string>1,2,0,0,1,0,2388</string>
                    <key>cmd2</key>
                    <string>1,2,1,0,1,0,2388</string>
                    <key>cmd3</key>
                    <string>1,2,2,0,1,0,2388</string>
                </dict>
                <key>att13</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,2,1</string>
                    <key>cmd1</key>
                    <string>1,2,1,0,1,0,3271|3292|3283|3284</string>
                </dict>
                <key>att14</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,3,0,2,1</string>
                    <key>cmd1</key>
                    <string>1,3,1,0,1,1,5879</string>
                </dict>
                <key>att15</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,185</string>
                </dict>
            </dict>
        </dict>
    </dict>
</dict>
