<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>init</key>
    <dict>
        <key>result</key>
        <string>1</string>
        <key>up</key>
        <array>
            <string>0,10501,0,10000,10</string>
            <string>1,10501,0,18000,10</string>
            <string>2,10501,0,10000,10</string>
            <string>3,10008,0,10000,10</string>
            <string>4,10028,0,100000,11</string>
            <string>5,10025,0,10000,10</string>
            <string>6,0,0,0,10</string>
        </array>
        <key>down</key>
        <array>
            <string>0,10002,2,10000,10</string>
            <string>1,10018,2,10000,10</string>
            <string>2,10013,2,10000,10</string>
            <string>3,10015,2,10000,10</string>
            <string>4,10030,0,10000,10</string>
            <string>5,10026,2,10000,10</string>
            <string>6,1,0,0,10</string>
        </array>
    </dict>
    <key>cmds</key>
    <dict>
        <key>round</key>
        <dict>
            <key>round0</key>
            <dict>
                <key>att0</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,110</string>
                </dict>
                <key>att1</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,1</string>
                </dict>
                <key>att2</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,100003</string>
                    <key>cmd1</key>
                    <string>2,100005</string>
                </dict>
                <key>att3</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,7</string>
                </dict>
                <key>att4</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,100000</string>
                    <key>cmd1</key>
                    <string>2,100002</string>
                </dict>
                <key>att5</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,10</string>
                </dict>
                <key>att6</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,100001</string>
                </dict>
                <key>att7</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,93</string>
                </dict>
                <key>att8</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,1,1,1</string>
                    <key>cmd1</key>
                    <string>1,1,4,0,1,0,312|434|589</string>
                    <key>cmd2</key>
                    <string>1,1,3,0,1,0,312|434|589</string>
                </dict>
                <key>att9</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,1,3,1</string>
                    <key>cmd1</key>
                    <string>1,1,4,0,1,0,212|334|389|456|480|500</string>
                    <key>cmd2</key>
                    <string>1,1,5,0,1,0,212|334|389|456|480|500</string>
                    <key>cmd3</key>
                    <string>1,1,0,0,1,0,212|334|389|456|480|500</string>
                </dict>
                <key>att10</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,1,5,1</string>
                    <key>cmd1</key>
                    <string>1,2,4,0,1,0,212|334|389|456</string>
                    <key>cmd2</key>
                    <string>1,2,2,0,1,0,212|334|389|456</string>
                    <key>cmd3</key>
                    <string>1,2,3,0,1,0,212|334|389|456</string>
                </dict>
                <key>att11</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,4,4</string>
                    <key>cmd1</key>
                    <string>1,2,3,0,1,0,200|300|500|1200</string>
                    <key>cmd2</key>
                    <string>1,2,5,0,1,0,200|300|500|1200</string>
                </dict>
                <key>att12</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,1,4,1</string>
                    <key>cmd1</key>
                    <string>1,2,4,0,1,0,212|334|389|456</string>
                    <key>cmd2</key>
                    <string>1,2,1,0,1,0,212|334|389|456</string>
                </dict>
                <key>att13</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,0,0</string>
                    <key>cmd1</key>
                    <string>1,2,0,0,1,1,13044|</string>
                    <key>cmd2</key>
                    <string>1,2,1,0,1,0,13044|</string>
                    <key>cmd3</key>
                    <string>1,2,2,0,1,1,13044|</string>
                </dict>
                <key>att14</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,2,4</string>
                    <key>cmd1</key>
                    <string>1,2,1,0,1,1,10230|23450|32890</string>
                    <key>cmd2</key>
                    <string>1,2,4,0,1,0,10230|23450|32890</string>
                </dict>
                <key>att15</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,1,5</string>
                    <key>cmd1</key>
                    <string>1,2,3,0,1,0,1123|2244|2544|2844</string>
                    <key>cmd2</key>
                    <string>1,2,4,0,1,0,1123|2244|2544|2844</string>
                    <key>cmd3</key>
                    <string>1,2,5,0,1,0,1123|2244|2544|2844</string>
                </dict>
                <key>att16</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,5,1</string>
                    <key>cmd1</key>
                    <string>1,2,4,0,1,0,-1123|-2344|-3895|-4566</string>
                </dict>
                <key>att17</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,43001,0,3,1</string>
                    <key>cmd1</key>
                    <string>1,2,3,0,1,1,11239|23448|38957|45663</string>
                    <key>cmd2</key>
                    <string>1,2,4,0,1,0,11239|23448|38957|45663</string>
                    <key>cmd3</key>
                    <string>1,2,5,0,1,1,11239|23448|38957|45663</string>
                </dict>
                <key>att18</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,12</string>
                </dict>
                <key>att19</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,12411000</string>
                </dict>
                <key>att20</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,111</string>
                </dict>
                <key>att21</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,1,1,4,4</string>
                    <key>cmd1</key>
                    <string>1,2,0,2,1,0,458|567|867|1567</string>
                    <key>cmd2</key>
                    <string>1,2,1,2,1,0,458|567|867|1567</string>
                    <key>cmd3</key>
                    <string>1,2,2,2,1,0,458|567|867|1567</string>
                    <key>cmd4</key>
                    <string>1,2,3,2,1,0,458|567|867|1567</string>
                    <key>cmd5</key>
                    <string>1,2,4,2,1,0,45|56|87|157</string>
                    <key>cmd6</key>
                    <string>1,2,5,2,1,0,458|567|867|1567</string>
                </dict>
                <key>att22</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,1,4,4</string>
                    <key>cmd1</key>
                    <string>1,2,0,0,1,1,45890|56789</string>
                    <key>cmd2</key>
                    <string>1,2,1,0,1,1,45890|56789</string>
                    <key>cmd3</key>
                    <string>1,2,2,0,1,1,45890|56789</string>
                    <key>cmd4</key>
                    <string>1,2,3,0,1,1,45890|56789</string>
                    <key>cmd5</key>
                    <string>1,2,4,0,1,0,3127|4234</string>
                    <key>cmd6</key>
                    <string>1,2,5,0,1,1,45890|56789</string>
                </dict>
                <key>att23</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,42</string>
                </dict>
                <key>att24</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,200014</string>
                </dict>
                <key>att25</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,113</string>
                </dict>
                <key>att26</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,11010100</string>
                </dict>
                <key>att27</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,11210101</string>
                </dict>
                <key>att28</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,168</string>
                </dict>
                <key>att29</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,0,4</string>
                    <key>cmd1</key>
                    <string>1,2,4,0,1,0,23456|34666|23456|99999</string>
                </dict>
                <key>att30</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,2,4</string>
                    <key>cmd1</key>
                    <string>1,2,4,0,1,0,23456|34666|23456|23456|23566|29676|36786</string>
                </dict>
                <key>att31</key>
                <dict>
                    <key>cmd0</key>
                    <string>0,2,0,6,0</string>
                    <key>cmd1</key>
                    <string>1,2,4,2,1,1,99999|99999</string>
                </dict>
                <key>att32</key>
                <dict>
                    <key>cmd0</key>
                    <string>2,43</string>
                </dict>
            </dict>
        </dict>
    </dict>
</dict>
