<?xml version="1.0" encoding="UTF-8"?>
<dict>
 <key>objs</key>
<array>
<dict>
<key>id</key>
<string>camera</string>
<key>type</key>
<string>camera</string>
<key>fov</key>
<string>38</string>
<key>scale</key>
<string>{1.00,1.00,1.00}</string>
<key>pos</key>
<string>{0.0,0.0,990.0}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>main</string>
<key>type</key>
<string>node</string>
<key>path</key>
<string>luan03.c3b</string>
<key>scale</key>
<string>{1.00,1.00,1.00}</string>
<key>pos</key>
<string>{132.0,1011.4,-2484.1}</string>
<key>rotation</key>
 <string>{12.7,15.9,-0.9}</string>
<key>children</key>
<array>
<dict>
<key>id</key>
<string>water</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>water.c3b</string>
<key>scale</key>
<string>{1.00,1.70,1.00}</string>
<key>pos</key>
<string>{-47.7,206.9,-97.1}</string>
<key>rotation</key>
 <string>{-7.0,-0.9,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>kuafu</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>kuafu.c3b</string>
<key>scale</key>
<string>{9.50,9.50,9.50}</string>
<key>pos</key>
<string>{939.7,-422.3,1777.0}</string>
<key>rotation</key>
 <string>{-8.1,-7.2,1.5}</string>
</dict>
<dict>
<key>id</key>
<string>zhuanhuanwu</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>zhuanhuanwu.c3b</string>
<key>scale</key>
<string>{2.10,2.10,2.00}</string>
<key>pos</key>
<string>{526.4,-648.8,2219.4}</string>
<key>rotation</key>
 <string>{-98.4,-14.6,-2.0}</string>
</dict>
<dict>
<key>id</key>
<string>atlas</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>fubenmen.c3b</string>
<key>scale</key>
<string>{3.80,4.00,4.00}</string>
<key>pos</key>
<string>{-743.4,-635.8,2105.1}</string>
<key>rotation</key>
 <string>{-6.7,-30.0,-3.7}</string>
</dict>
<dict>
<key>id</key>
<string>wakuang</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>wakuan.c3b</string>
<key>scale</key>
<string>{1.00,0.80,1.40}</string>
<key>pos</key>
<string>{284.8,-667.2,2559.0}</string>
<key>rotation</key>
 <string>{-6.6,48.7,5.4}</string>
</dict>
<dict>
<key>id</key>
<string>panjun</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>panjun.c3b</string>
<key>scale</key>
<string>{1.40,1.40,1.40}</string>
<key>pos</key>
<string>{-1170.6,-445.2,1624.5}</string>
<key>rotation</key>
 <string>{6.8,-47.6,6.1}</string>
</dict>
<dict>
<key>id</key>
<string>dragon</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>longtan.c3b</string>
<key>scale</key>
<string>{22.00,22.00,20.00}</string>
<key>pos</key>
<string>{-971.3,-668.2,2449.5}</string>
<key>rotation</key>
 <string>{-1.9,-24.7,-3.1}</string>
</dict>
<dict>
<key>id</key>
<string>mail</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>xinxian.c3b</string>
<key>scale</key>
<string>{2.00,2.00,2.00}</string>
<key>pos</key>
<string>{-1215.6,-718.4,2572.4}</string>
<key>rotation</key>
 <string>{-84.4,50.4,-4.6}</string>
</dict>
<dict>
<key>id</key>
<string>mail_bird</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>xinge.c3b</string>
<key>param</key>
<string>0</string>
<key>scale</key>
<string>{2.00,2.00,2.00}</string>
<key>pos</key>
<string>{-1206.8,-591.9,2589.5}</string>
<key>rotation</key>
 <string>{0.0,52.3,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>new_stage</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>main_new_guanka</string>
<key>path</key>
<string>new_stage</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.50,1.50,1.50}</string>
<key>pos</key>
<string>{-781.5,-400.1,2149.1}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>family_tree</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_family_tree</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.00,1.20,0.60}</string>
<key>pos</key>
<string>{-1369.9,-342.6,2510.9}</string>
<key>rotation</key>
 <string>{2.3,-3.9,8.0}</string>
</dict>
<dict>
<key>id</key>
<string>standPos1</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>r10001_wait</string>
<key>path</key>
<string>r10001</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{0.55,0.55,0.60}</string>
<key>pos</key>
<string>{-422.2,-504.1,2381.1}</string>
<key>rotation</key>
 <string>{-17.3,-17.4,-5.4}</string>
</dict>
<dict>
<key>id</key>
<string>standPos2</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>r10001_wait</string>
<key>path</key>
<string>r10001</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{0.60,0.60,0.60}</string>
<key>pos</key>
<string>{181.8,-308.5,1910.2}</string>
<key>rotation</key>
 <string>{0.0,-12.8,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>boss</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_boss1</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{2.00,2.00,1.20}</string>
<key>pos</key>
<string>{-900.8,-591.8,1468.6}</string>
<key>rotation</key>
 <string>{0.2,4.0,-0.6}</string>
</dict>
<dict>
<key>id</key>
<string>liangcang</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>liangcang.c3b</string>
<key>scale</key>
<string>{2.00,2.00,2.00}</string>
<key>pos</key>
<string>{-934.3,-619.5,1520.5}</string>
<key>rotation</key>
 <string>{-90.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>shenmiao</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>shenmiao.c3b</string>
<key>scale</key>
<string>{2.00,2.00,2.00}</string>
<key>pos</key>
<string>{-960.7,-667.3,1405.2}</string>
<key>rotation</key>
 <string>{-97.0,14.3,1.0}</string>
</dict>
<dict>
<key>id</key>
<string>family_back_glass</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_family_glass</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{0.80,0.80,0.60}</string>
<key>pos</key>
<string>{-1340.1,-601.5,2186.8}</string>
<key>rotation</key>
 <string>{0.4,-0.0,-2.8}</string>
</dict>
<dict>
<key>id</key>
<string>rover_glass</string>
<key>type</key>
<string>sprite</string>
<key>path</key>
<string>images/ui_main_bg/grass_01.png</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.00,1.00,0.60}</string>
<key>pos</key>
<string>{2.6,-614.5,2385.5}</string>
<key>rotation</key>
 <string>{0.4,-19.5,2.3}</string>
</dict>
<dict>
<key>id</key>
<string>near_grass_1</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_near_grass1</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.80,1.60,0.60}</string>
<key>pos</key>
<string>{-1268.6,-658.2,2644.0}</string>
<key>rotation</key>
 <string>{0.3,-22.0,-0.0}</string>
</dict>
<dict>
<key>id</key>
<string>near_grass_3</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_near_glass3</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{0.70,0.65,0.60}</string>
<key>pos</key>
<string>{-649.2,-631.6,2609.9}</string>
<key>rotation</key>
 <string>{-19.5,-17.1,-2.8}</string>
</dict>
<dict>
<key>id</key>
<string>near_grass_5</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_near_grass2</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.00,1.00,0.60}</string>
<key>pos</key>
<string>{324.1,-643.1,2915.1}</string>
<key>rotation</key>
 <string>{1.3,3.4,-2.4}</string>
</dict>
<dict>
<key>id</key>
<string>near_grass_7</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_near_grass1</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.50,1.20,0.60}</string>
<key>pos</key>
<string>{635.0,-608.0,2900.0}</string>
<key>rotation</key>
 <string>{-5.4,4.0,-2.8}</string>
</dict>
<dict>
<key>id</key>
<string>near_grass_8</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_near_grass2</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.50,2.50,0.60}</string>
<key>pos</key>
<string>{-1592.1,-522.6,2290.3}</string>
<key>rotation</key>
 <string>{1.1,28.9,-0.0}</string>
</dict>
<dict>
<key>id</key>
<string>lan</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_lan</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{2.00,2.10,0.60}</string>
<key>pos</key>
<string>{-529.4,-593.4,1995.2}</string>
<key>rotation</key>
 <string>{0.0,-8.5,-0.8}</string>
</dict>
<dict>
<key>id</key>
<string>lantree1</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_far_bg_04_1</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string>1</string>
<key>scale</key>
<string>{2.00,2.20,1.00}</string>
<key>pos</key>
<string>{-270.4,-546.4,1868.6}</string>
<key>rotation</key>
 <string>{-0.1,-8.7,-1.1}</string>
</dict>
<dict>
<key>id</key>
<string>lantree2</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_far_bg_04_1</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string>1</string>
<key>scale</key>
<string>{2.00,2.00,1.00}</string>
<key>pos</key>
<string>{-1078.0,-576.7,1619.3}</string>
<key>rotation</key>
 <string>{0.0,-16.6,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>lantree5</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_far_bg_04_2</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string>1</string>
<key>scale</key>
<string>{1.80,1.50,1.00}</string>
<key>pos</key>
<string>{461.9,-604.9,1774.8}</string>
<key>rotation</key>
 <string>{1.6,10.7,3.4}</string>
</dict>
<dict>
<key>id</key>
<string>shan1</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_far_bg_05_1</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string>1</string>
<key>scale</key>
<string>{3.50,2.60,1.00}</string>
<key>pos</key>
<string>{-988.0,-591.1,1139.3}</string>
<key>rotation</key>
 <string>{0.0,-8.5,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>shan2</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_far_bg_05_2</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string>1</string>
<key>scale</key>
<string>{3.30,3.10,1.00}</string>
<key>pos</key>
<string>{57.6,-508.1,1484.0}</string>
<key>rotation</key>
 <string>{-0.0,-4.0,-2.3}</string>
</dict>
<dict>
<key>id</key>
<string>shan3</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_far_bg_05_3</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string>1</string>
<key>scale</key>
<string>{3.00,2.60,1.00}</string>
<key>pos</key>
<string>{947.5,-594.1,1437.6}</string>
<key>rotation</key>
 <string>{0.0,4.6,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>cloud</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_cloud3</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{3.50,3.20,0.60}</string>
<key>pos</key>
<string>{-82.0,-557.1,1034.9}</string>
<key>rotation</key>
 <string>{0.4,1.1,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>lan2</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_lan2</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{2.00,2.00,0.80}</string>
<key>pos</key>
<string>{720.8,-620.6,2031.5}</string>
<key>rotation</key>
 <string>{2.8,37.6,4.1}</string>
</dict>
<dict>
<key>id</key>
<string>tower</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>tower.c3b</string>
<key>scale</key>
<string>{3.20,3.20,3.60}</string>
<key>pos</key>
<string>{-64.6,-603.1,1825.3}</string>
<key>rotation</key>
 <string>{-100.4,-35.1,-6.4}</string>
</dict>
<dict>
<key>id</key>
<string>feichuan</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>tianyu.c3b</string>
<key>scale</key>
<string>{2.70,2.60,2.70}</string>
<key>pos</key>
<string>{196.6,-333.1,1865.1}</string>
<key>rotation</key>
 <string>{-1.0,-82.0,2.2}</string>
</dict>
<dict>
<key>id</key>
<string>shuiche</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>shuiche.c3b</string>
<key>scale</key>
<string>{2.80,2.80,2.80}</string>
<key>pos</key>
<string>{210.7,-660.8,2155.4}</string>
<key>rotation</key>
 <string>{-13.7,35.8,14.0}</string>
</dict>
<dict>
<key>id</key>
<string>fly_build</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>yuntai.c3b</string>
<key>scale</key>
<string>{3.00,3.00,3.00}</string>
<key>pos</key>
<string>{-513.2,-365.2,1942.4}</string>
<key>rotation</key>
 <string>{-7.9,-0.1,-2.5}</string>
</dict>
<dict>
<key>id</key>
<string>shop</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_shop</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{0.70,0.70,0.70}</string>
<key>pos</key>
<string>{-377.1,-601.3,2653.1}</string>
<key>rotation</key>
 <string>{-2.5,-16.4,-3.1}</string>
</dict>
<dict>
<key>id</key>
<string>shop_car</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>tuiche.c3b</string>
<key>scale</key>
<string>{2.10,2.10,2.10}</string>
<key>pos</key>
<string>{-367.1,-665.6,2620.6}</string>
<key>rotation</key>
 <string>{-95.1,-10.9,0.5}</string>
</dict>
<dict>
<key>id</key>
<string>wakuanshadow</string>
<key>type</key>
<string>sprite</string>
<key>path</key>
<string>images/ui_main_bg/wakuanshadow.png</string>
<key>depth2d</key>
<string>1</string>
<key>scale</key>
<string>{2.60,3.60,5.00}</string>
<key>pos</key>
<string>{245.0,-661.9,2604.4}</string>
<key>rotation</key>
 <string>{-93.8,-47.9,-0.5}</string>
</dict>
<dict>
<key>id</key>
<string>dixueshadow</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_dixueshadow</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string>1</string>
<key>scale</key>
<string>{3.80,3.80,0.00}</string>
<key>pos</key>
<string>{-51.2,-666.4,2658.0}</string>
<key>rotation</key>
 <string>{-86.3,-4.6,0.6}</string>
</dict>
<dict>
<key>id</key>
<string>zhuanhuanshadow</string>
<key>type</key>
<string>sprite</string>
<key>path</key>
<string>images/ui_main_bg/zhuanhuanwushadow.png</string>
<key>depth2d</key>
<string>1</string>
<key>scale</key>
<string>{5.60,5.00,0.00}</string>
<key>pos</key>
<string>{532.0,-650.5,2231.4}</string>
<key>rotation</key>
 <string>{-88.4,32.0,-0.1}</string>
</dict>
<dict>
<key>id</key>
<string>dragon_1</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_longchou2</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.00,1.00,1.00}</string>
<key>pos</key>
<string>{-1077.2,-651.2,2464.4}</string>
<key>rotation</key>
 <string>{-5.1,1.9,0.2}</string>
</dict>
<dict>
<key>id</key>
<string>zhuanhuanlight</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_zhuanhuanlight</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.30,1.30,1.00}</string>
<key>pos</key>
<string>{516.2,-592.8,2303.8}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>fubenlight</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_fbrk</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.00,1.00,1.00}</string>
<key>pos</key>
<string>{-759.5,-569.6,2125.0}</string>
<key>rotation</key>
 <string>{-20.7,-26.0,-24.3}</string>
</dict>
<dict>
<key>id</key>
<string>dixue</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>dixue.c3b</string>
<key>scale</key>
<string>{1.00,1.00,1.00}</string>
<key>pos</key>
<string>{-48.8,-668.2,2652.4}</string>
<key>rotation</key>
 <string>{-85.0,-0.1,0.1}</string>
</dict>
<dict>
<key>id</key>
<string>dixuelight</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_dixue3</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.60,1.20,1.00}</string>
<key>pos</key>
<string>{-49.9,-732.9,2664.0}</string>
<key>rotation</key>
 <string>{0.0,-18.2,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>feichuanyun1</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_feichuan_1</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.00,1.00,1.00}</string>
<key>pos</key>
<string>{263.9,-421.0,1947.6}</string>
<key>rotation</key>
 <string>{0.4,-2.3,8.5}</string>
</dict>
<dict>
<key>id</key>
<string>feichuanyun2</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_feichuan_1</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{0.80,1.00,1.00}</string>
<key>pos</key>
<string>{156.4,-410.8,1922.2}</string>
<key>rotation</key>
 <string>{27.2,-52.3,8.7}</string>
</dict>
<dict>
<key>id</key>
<string>quanshui1</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_quan</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.00,1.10,1.00}</string>
<key>pos</key>
<string>{-1269.0,-518.0,2327.0}</string>
<key>rotation</key>
 <string>{0.0,-21.2,-3.4}</string>
</dict>
<dict>
<key>id</key>
<string>shenmiaolight</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_shenmiao_1</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.40,1.20,1.00}</string>
<key>pos</key>
<string>{-965.5,-426.1,1363.0}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name11</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name1</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.00,1.00,1.00}</string>
<key>pos</key>
<string>{-1221.9,-465.0,2355.1}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name83</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name18</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.50,1.50,1.00}</string>
<key>pos</key>
<string>{-867.3,-342.6,1786.2}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name65</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name16</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.50,1.50,1.00}</string>
<key>pos</key>
<string>{1074.8,-275.2,1862.1}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name67</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name17</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.20,1.20,1.00}</string>
<key>pos</key>
<string>{575.1,-539.0,2348.4}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name10</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name2</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.10,1.10,1.00}</string>
<key>pos</key>
<string>{-561.4,-407.5,2343.5}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name22</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name3</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{0.90,0.90,1.00}</string>
<key>pos</key>
<string>{-866.3,-558.9,2535.6}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name63</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name15</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.70,1.70,1.00}</string>
<key>pos</key>
<string>{-827.0,-336.8,1460.8}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name18</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name4</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.20,1.20,1.00}</string>
<key>pos</key>
<string>{-899.2,-467.3,2066.6}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name1</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name5</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{0.90,0.90,1.00}</string>
<key>pos</key>
<string>{-287.7,-537.4,2648.3}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name12</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name6</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{0.90,0.90,1.00}</string>
<key>pos</key>
<string>{-22.6,-522.0,2689.7}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name39</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name13</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string>1</string>
<key>scale</key>
<string>{1.20,1.20,1.00}</string>
<key>pos</key>
<string>{-1111.1,-261.1,1790.6}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name23</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name7</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.30,1.30,1.00}</string>
<key>pos</key>
<string>{-664.0,-239.8,1972.6}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name20</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name8</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{0.00,1.20,1.00}</string>
<key>pos</key>
<string>{382.7,-463.7,2196.3}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name19</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name9</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.50,1.50,1.00}</string>
<key>pos</key>
<string>{-24.2,-220.2,1757.6}</string>
<key>rotation</key>
 <string>{0.0,-8.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name21</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name10</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{0.80,0.80,1.00}</string>
<key>pos</key>
<string>{-1174.1,-541.9,2597.8}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name32</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name11</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.30,1.30,1.00}</string>
<key>pos</key>
<string>{305.9,-285.6,1945.9}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name57</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name14</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.00,1.00,1.00}</string>
<key>pos</key>
<string>{362.7,-550.7,2545.5}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name31</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name12</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.20,1.20,1.00}</string>
<key>pos</key>
<string>{75.4,-493.8,2251.0}</string>
<key>rotation</key>
 <string>{0.0,0.0,0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name84</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name19</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.50,1.50,1.00}</string>
<key>pos</key>
<string>{-872.0,-345.9,1785.9}</string>
<key>rotation</key>
 <string>{0.0,-13.7,-0.0}</string>
</dict>
<dict>
<key>id</key>
<string>name96</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_name20</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{1.10,1.10,1.00}</string>
<key>pos</key>
<string>{826.0,-509.9,2134.1}</string>
<key>rotation</key>
 <string>{0.0,0.0,2.3}</string>
</dict>
<dict>
<key>id</key>
<string>arena</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>leitai.c3b</string>
<key>scale</key>
<string>{2.30,2.30,2.20}</string>
<key>pos</key>
<string>{-424.5,-636.2,2379.4}</string>
<key>rotation</key>
 <string>{-6.0,-5.1,-1.4}</string>
</dict>
<dict>
<key>id</key>
<string>red_tree</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_tree</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{0.80,0.80,1.50}</string>
<key>pos</key>
<string>{606.8,-544.2,2165.8}</string>
<key>rotation</key>
 <string>{6.2,2.3,4.3}</string>
</dict>
<dict>
<key>id</key>
<string>family</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>fangzi.c3b</string>
<key>scale</key>
<string>{2.50,2.50,2.50}</string>
<key>pos</key>
<string>{-1355.8,-660.5,2275.5}</string>
<key>rotation</key>
 <string>{-98.1,47.2,6.8}</string>
</dict>
<dict>
<key>id</key>
<string>lingshou</string>
<key>type</key>
<string>sprite3d</string>
<key>path</key>
<string>lingshouhd.c3b</string>
<key>scale</key>
<string>{25.00,25.00,25.00}</string>
<key>pos</key>
<string>{899.4,-656.6,2009.5}</string>
<key>rotation</key>
 <string>{-6.8,-45.6,-4.7}</string>
</dict>
</array></dict>
<dict>
<key>id</key>
<string>ui_main_bg</string>
<key>type</key>
<string>flash</string>
<key>action</key>
<string>ui_main_bg_bg</string>
<key>path</key>
<string>ui_main</string>
<key>depth2d</key>
<string> 1</string>
<key>scale</key>
<string>{7.30,6.00,0.60}</string>
<key>pos</key>
<string>{683.8,-2.3,-5397.6}</string>
<key>rotation</key>
 <string>{0.4,0.0,0.0}</string>
</dict>
</array></dict>
