<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10001</key>
	<dict>
		<key>offset</key>
		<string>-10,-10</string>
	</dict>
	<key>10007</key>
	<dict>
		<key>offset</key>
		<string>0,0</string>
		<key>scale</key>
		<string>1.1</string>
	</dict>
	<key>10009</key>
	<dict>
		<key>offset</key>
		<string>-10,-35</string>
	</dict>
	<key>10010</key>
	<dict>
		<key>offset</key>
		<string>0,-46</string>
		<key>scale</key>
		<string>0.9</string>
	</dict>
	<key>10011</key>
	<dict>
		<key>offset</key>
		<string>0,-4</string>
		<key>scale</key>
		<string>1</string>
	</dict>
	<key>10012</key>
	<dict>
		<key>offset</key>
		<string>10,-6</string>
		<key>scale</key>
		<string>1</string>
	</dict>
	<key>10015</key>
	<dict>
		<key>offset</key>
		<string>2,-8</string>
		<key>scale</key>
		<string>1.1</string>
	</dict>
	<key>10019</key>
	<dict>
		<key>offset</key>
		<string>-4,-4</string>
		<key>scale</key>
		<string>1.1</string>
	</dict>
	<key>10020</key>
	<dict>
		<key>offset</key>
		<string>-6,-20</string>
		<key>scale</key>
		<string>1</string>
	</dict>
	<key>10021</key>
	<dict>
		<key>offset</key>
		<string>-10,-10</string>
		<key>scale</key>
		<string>0.9</string>
	</dict>
	<key>10022</key>
	<dict>
		<key>offset</key>
		<string>-10,-10</string>
		<key>scale</key>
		<string>1</string>
	</dict>
	<key>10023</key>
	<dict>
		<key>offset</key>
		<string>-10,-10</string>
		<key>scale</key>
		<string>1</string>
	</dict>
	<key>10024</key>
	<dict>
		<key>offset</key>
		<string>-10,-4</string>
		<key>scale</key>
		<string>1</string>
	</dict>
	<key>10028</key>
	<dict>
		<key>offset</key>
		<string>-12,-15</string>
	</dict>
	<key>10030</key>
	<dict>
		<key>offset</key>
		<string>-10,0</string>
		<key>scale</key>
		<string>1</string>
	</dict>
	<key>10101</key>
	<dict>
		<key>offset</key>
		<string>0,-13</string>
		<key>scale</key>
		<string>1</string>
	</dict>
	<key>10016</key>
	<dict>
		<key>offset</key>
		<string>-18,-13</string>
		<key>scale</key>
		<string>1</string>
	</dict>
	<key>10017</key>
	<dict>
		<key>offset</key>
		<string>-15,-18</string>
		<key>scale</key>
		<string>1</string>
	</dict>
	<key>10100</key>
	<dict>
		<key>offset</key>
		<string>-5,0</string>
		<key>scale</key>
		<string>1</string>
	</dict>
	<key>10108</key>
	<dict>
		<key>offset</key>
		<string>0,-40</string>
		<key>scale</key>
		<string>1</string>
	</dict>
	<key>10031</key>
	<dict>
		<key>offset</key>
		<string>-5,-10</string>
		<key>scale</key>
		<string>0.9</string>
	</dict>
	<key>10110</key>
	<dict>
		<key>offset</key>
		<string>0,-10</string>
		<key>scale</key>
		<string>1</string>
	</dict>
	<key>10035</key>
	<dict>
		<key>offset</key>
		<string>0,-25</string>
		<key>scale</key>
		<string>0.9</string>
	</dict>
</dict>
</plist>
