<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>anchor</key>
		<string>0.5,0.687</string>
	</dict>
	<key>4_1</key>
	<dict>
		<key>anchor</key>
		<string>0.5,0.55</string>
	</dict>
	<key>4_3</key>
	<dict>
		<key>anchor</key>
		<string>0.5,0.38</string>
	</dict>
	<key>4_2</key>
	<dict>
		<key>anchor</key>
		<string>0.5,0.50</string>
	</dict>
</dict>
</plist>
