<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>enter/logo2.png</key>
    <string>{130,1316}</string>
    <key>enter/e4.png</key>
    <string>{90,1316}</string>
    <key>enter/e3.png</key>
    <string>{50,1316}</string>
    <key>enter/e2.png</key>
    <string>{10,1316}</string>
    <key>enter/e1.png</key>
    <string>{361,1092}</string>
    <key>enter/d3.png</key>
    <string>{10,1092}</string>
    <key>enter/d2.png</key>
    <string>{373,888}</string>
    <key>enter/d1.png</key>
    <string>{10,888}</string>
    <key>enter/c3.png</key>
    <string>{239,675}</string>
    <key>enter/c2.png</key>
    <string>{158,675}</string>
    <key>enter/c1.png</key>
    <string>{64,675}</string>
    <key>enter/b3.png</key>
    <string>{10,675}</string>
    <key>enter/b2.png</key>
    <string>{290,481}</string>
    <key>enter/b1.png</key>
    <string>{10,481}</string>
    <key>enter/a9.png</key>
    <string>{388,404}</string>
    <key>enter/a8.png</key>
    <string>{371,404}</string>
    <key>enter/a7.png</key>
    <string>{349,404}</string>
    <key>enter/a6.png</key>
    <string>{333,404}</string>
    <key>enter/a5.png</key>
    <string>{308,404}</string>
    <key>enter/a4.png</key>
    <string>{198,404}</string>
    <key>enter/a3.png</key>
    <string>{131,404}</string>
    <key>enter/a2.png</key>
    <string>{10,404}</string>
    <key>enter/a10.png</key>
    <string>{32,10}</string>
    <key>enter/a1.png</key>
    <string>{10,10}</string>
</dict>
