<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>fonts/font_img/gold_num/9.png</key>
    <string>{190,10}</string>
    <key>fonts/font_img/gold_num/8.png</key>
    <string>{170,10}</string>
    <key>fonts/font_img/gold_num/7.png</key>
    <string>{150,10}</string>
    <key>fonts/font_img/gold_num/6.png</key>
    <string>{130,10}</string>
    <key>fonts/font_img/gold_num/5.png</key>
    <string>{110,10}</string>
    <key>fonts/font_img/gold_num/4.png</key>
    <string>{90,10}</string>
    <key>fonts/font_img/gold_num/3.png</key>
    <string>{70,10}</string>
    <key>fonts/font_img/gold_num/2.png</key>
    <string>{50,10}</string>
    <key>fonts/font_img/gold_num/1.png</key>
    <string>{30,10}</string>
    <key>fonts/font_img/gold_num/0.png</key>
    <string>{10,10}</string>
</dict>
