<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>icon/sep_item/95004.png</key>
    <string>{232,158}</string>
    <key>icon/sep_item/95003.png</key>
    <string>{158,158}</string>
    <key>icon/sep_item/95002.png</key>
    <string>{6,226}</string>
    <key>icon/sep_item/95001.png</key>
    <string>{10,158}</string>
    <key>icon/sep_item/90024.png</key>
    <string>{84,158}</string>
    <key>icon/sep_item/90022.png</key>
    <string>{357,84}</string>
    <key>icon/sep_item/90020.png</key>
    <string>{283,84}</string>
    <key>icon/sep_item/90019.png</key>
    <string>{232,84}</string>
    <key>icon/sep_item/90018.png</key>
    <string>{158,84}</string>
    <key>icon/sep_item/90017.png</key>
    <string>{84,84}</string>
    <key>icon/sep_item/90016.png</key>
    <string>{10,84}</string>
    <key>icon/sep_item/90015.png</key>
    <string>{380,10}</string>
    <key>icon/sep_item/90014.png</key>
    <string>{304,11}</string>
    <key>icon/sep_item/90012.png</key>
    <string>{233,10}</string>
    <key>icon/sep_item/90005.png</key>
    <string>{158,13}</string>
    <key>icon/sep_item/90004.png</key>
    <string>{80,228}</string>
    <key>icon/sep_item/190015.png</key>
    <string>{84,10}</string>
    <key>icon/sep_item/190014.png</key>
    <string>{10,10}</string>
</dict>
