<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_9gong/zifaguang.png</key>
    <string>{350,1223}</string>
    <key>ui_9gong/zidi.png</key>
    <string>{269,887}</string>
    <key>ui_9gong/zi_di1.png</key>
    <string>{239,887}</string>
    <key>ui_9gong/zi_9g2.png</key>
    <string>{199,887}</string>
    <key>ui_9gong/zi_9g.png</key>
    <string>{152,887}</string>
    <key>ui_9gong/zhiyin.png</key>
    <string>{280,1237}</string>
    <key>ui_9gong/zhe-2.png</key>
    <string>{29,305}</string>
    <key>ui_9gong/zhe-1.png</key>
    <string>{30,291}</string>
    <key>ui_9gong/wep_9gong.png</key>
    <string>{58,1237}</string>
    <key>ui_9gong/wenli.png</key>
    <string>{14,838}</string>
    <key>ui_9gong/toumingdi0.png</key>
    <string>{293,1197}</string>
    <key>ui_9gong/toumingdi.png</key>
    <string>{258,1197}</string>
    <key>ui_9gong/title_di1.png</key>
    <string>{3,124}</string>
    <key>ui_9gong/tidiea.png</key>
    <string>{50,1197}</string>
    <key>ui_9gong/talk_friend2.png</key>
    <string>{290,757}</string>
    <key>ui_9gong/talk_friend1.png</key>
    <string>{250,757}</string>
    <key>ui_9gong/talk_2.png</key>
    <string>{207,757}</string>
    <key>ui_9gong/talk_2-2.png</key>
    <string>{164,757}</string>
    <key>ui_9gong/talk_1.png</key>
    <string>{333,994}</string>
    <key>ui_9gong/talk_1-3.png</key>
    <string>{54,910}</string>
    <key>ui_9gong/talk_1-2.png</key>
    <string>{234,979}</string>
    <key>ui_9gong/soul_di.png</key>
    <string>{298,805}</string>
    <key>ui_9gong/shendia.png</key>
    <string>{383,997}</string>
    <key>ui_9gong/shendi.png</key>
    <string>{253,805}</string>
    <key>ui_9gong/red_bao_di2.png</key>
    <string>{300,997}</string>
    <key>ui_9gong/red_bao_di1.png</key>
    <string>{253,997}</string>
    <key>ui_9gong/p_di2.png</key>
    <string>{37,757}</string>
    <key>ui_9gong/p_di.png</key>
    <string>{152,449}</string>
    <key>ui_9gong/niudi1.png</key>
    <string>{430,917}</string>
    <key>ui_9gong/niudi.png</key>
    <string>{132,994}</string>
    <key>ui_9gong/lvdise.png</key>
    <string>{238,874}</string>
    <key>ui_9gong/long_di2.png</key>
    <string>{264,915}</string>
    <key>ui_9gong/long_di.png</key>
    <string>{191,915}</string>
    <key>ui_9gong/line-light1.png</key>
    <string>{322,239}</string>
    <key>ui_9gong/line-2.png</key>
    <string>{10,278}</string>
    <key>ui_9gong/lantoudi_black.png</key>
    <string>{389,843}</string>
    <key>ui_9gong/lantoudi.png</key>
    <string>{10,874}</string>
    <key>ui_9gong/landiwa.png</key>
    <string>{276,843}</string>
    <key>ui_9gong/lanbankuai.png</key>
    <string>{350,802}</string>
    <key>ui_9gong/kuang_saodang.png</key>
    <string>{253,685}</string>
    <key>ui_9gong/jidutiaowa.png</key>
    <string>{92,843}</string>
    <key>ui_9gong/jianheidi.png</key>
    <string>{249,802}</string>
    <key>ui_9gong/huangdi.png</key>
    <string>{209,733}</string>
    <key>ui_9gong/hongsedi.png</key>
    <string>{162,733}</string>
    <key>ui_9gong/hongjianse.png</key>
    <string>{142,817}</string>
    <key>ui_9gong/hongdi01.png</key>
    <string>{47,802}</string>
    <key>ui_9gong/hongdi.png</key>
    <string>{216,685}</string>
    <key>ui_9gong/hengbiao.png</key>
    <string>{10,733}</string>
    <key>ui_9gong/heidia.png</key>
    <string>{182,685}</string>
    <key>ui_9gong/draw_9.png</key>
    <string>{10,717}</string>
    <key>ui_9gong/ditua.png</key>
    <string>{312,685}</string>
    <key>ui_9gong/ditiaohong.png</key>
    <string>{267,685}</string>
    <key>ui_9gong/disea.png</key>
    <string>{142,685}</string>
    <key>ui_9gong/dikuang01.png</key>
    <string>{119,685}</string>
    <key>ui_9gong/diheia.png</key>
    <string>{179,665}</string>
    <key>ui_9gong/diaa.png</key>
    <string>{167,685}</string>
    <key>ui_9gong/di_heng2.png</key>
    <string>{272,348}</string>
    <key>ui_9gong/di_heng.png</key>
    <string>{102,161}</string>
    <key>ui_9gong/di-9gong-talk2.png</key>
    <string>{365,605}</string>
    <key>ui_9gong/di-9gong-talk.png</key>
    <string>{301,605}</string>
    <key>ui_9gong/di-9gong-rank2.png</key>
    <string>{218,600}</string>
    <key>ui_9gong/di-9gong-rank.png</key>
    <string>{57,685}</string>
    <key>ui_9gong/di-9gong-black2.png</key>
    <string>{155,394}</string>
    <key>ui_9gong/di-9gong-9.png</key>
    <string>{429,258}</string>
    <key>ui_9gong/di-9gong-8.png</key>
    <string>{166,84}</string>
    <key>ui_9gong/di-9gong-8-1.png</key>
    <string>{243,85}</string>
    <key>ui_9gong/di-9gong-7.png</key>
    <string>{195,240}</string>
    <key>ui_9gong/di-9gong-6.png</key>
    <string>{99,184}</string>
    <key>ui_9gong/di-9gong-5.png</key>
    <string>{7,156}</string>
    <key>ui_9gong/di-9gong-4.png</key>
    <string>{280,5}</string>
    <key>ui_9gong/di-9gong-15.png</key>
    <string>{370,413}</string>
    <key>ui_9gong/di-9gong-14.png</key>
    <string>{315,413}</string>
    <key>ui_9gong/di-9gong-13.png</key>
    <string>{291,294}</string>
    <key>ui_9gong/di-9gong-12.png</key>
    <string>{119,297}</string>
    <key>ui_9gong/di-9gong-11.png</key>
    <string>{0,495}</string>
    <key>ui_9gong/di-9gong-10.png</key>
    <string>{349,181}</string>
    <key>ui_9gong/di-9gong-1-1.png</key>
    <string>{545,669}</string>
    <key>ui_9gong/di-9gong-002.png</key>
    <string>{331,336}</string>
    <key>ui_9gong/di-9gong-001.png</key>
    <string>{91,238}</string>
    <key>ui_9gong/dadise.png</key>
    <string>{374,156}</string>
    <key>ui_9gong/card_di5.png</key>
    <string>{375,239}</string>
    <key>ui_9gong/buy_di.png</key>
    <string>{10,239}</string>
    <key>ui_9gong/black_kuang_red.png</key>
    <string>{266,239}</string>
    <key>ui_9gong/black_kuang1.png</key>
    <string>{214,239}</string>
    <key>ui_9gong/black_di8.png</key>
    <string>{175,239}</string>
    <key>ui_9gong/9gong_title.png</key>
    <string>{58,239}</string>
    <key>ui_9gong/9gong_shen2.png</key>
    <string>{10,239}</string>
    <key>ui_9gong/9gong_shen.png</key>
    <string>{203,297}</string>
    <key>ui_9gong/9gong_info3.png</key>
    <string>{307,156}</string>
    <key>ui_9gong/9gong_info2.png</key>
    <string>{266,156}</string>
    <key>ui_9gong/9gong_info1.png</key>
    <string>{222,156}</string>
    <key>ui_9gong/9gong_didark_edge.png</key>
    <string>{222,156}</string>
    <key>ui_9gong/9gong_didark5.png</key>
    <string>{324,96}</string>
    <key>ui_9gong/9gong_didark4.png</key>
    <string>{389,6}</string>
    <key>ui_9gong/9gong_didark3.png</key>
    <string>{11,9}</string>
    <key>ui_9gong/9gong_didark2.png</key>
    <string>{202,343}</string>
    <key>ui_9gong/9gong-paper.png</key>
    <string>{0,587}</string>
    <key>ui_9gong/9black.png</key>
    <string>{158,299}</string>
    <key>ui_9gong/9_input.png</key>
    <string>{237,294}</string>
    <key>ui_9gong/2ji.png</key>
    <string>{0,817}</string>
    <key>ui_9gong/2ji-2.png</key>
    <string>{145,347}</string>
</dict>
