<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_bath/x-7.png</key>
    <string>{257,542}</string>
    <key>ui_bath/x-5.png</key>
    <string>{196,542}</string>
    <key>ui_bath/x-4.png</key>
    <string>{140,542}</string>
    <key>ui_bath/x-3.png</key>
    <string>{10,542}</string>
    <key>ui_bath/x-14.png</key>
    <string>{296,409}</string>
    <key>ui_bath/x-13.png</key>
    <string>{220,409}</string>
    <key>ui_bath/x-12.png</key>
    <string>{157,409}</string>
    <key>ui_bath/5b.png</key>
    <string>{10,409}</string>
    <key>ui_bath/5a.png</key>
    <string>{304,276}</string>
    <key>ui_bath/4b.png</key>
    <string>{157,276}</string>
    <key>ui_bath/4a.png</key>
    <string>{10,276}</string>
    <key>ui_bath/3b.png</key>
    <string>{304,143}</string>
    <key>ui_bath/3a.png</key>
    <string>{157,143}</string>
    <key>ui_bath/2b.png</key>
    <string>{10,143}</string>
    <key>ui_bath/2a.png</key>
    <string>{304,10}</string>
    <key>ui_bath/1b.png</key>
    <string>{157,10}</string>
    <key>ui_bath/1a.png</key>
    <string>{10,10}</string>
</dict>
