<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_cardawake/wood_hand_3.png</key>
    <string>{200,288}</string>
    <key>ui_cardawake/wood_hand_2.png</key>
    <string>{164,288}</string>
    <key>ui_cardawake/wood_hand_1.png</key>
    <string>{124,288}</string>
    <key>ui_cardawake/wood_food_3.png</key>
    <string>{81,288}</string>
    <key>ui_cardawake/wood_food_2.png</key>
    <string>{44,288}</string>
    <key>ui_cardawake/wood_food_1.png</key>
    <string>{10,288}</string>
    <key>ui_cardawake/wood_3.png</key>
    <string>{390,143}</string>
    <key>ui_cardawake/wood_2.png</key>
    <string>{340,143}</string>
    <key>ui_cardawake/wood_1.png</key>
    <string>{283,143}</string>
    <key>ui_cardawake/pan_di.png</key>
    <string>{233,143}</string>
    <key>ui_cardawake/pan.png</key>
    <string>{88,143}</string>
    <key>ui_cardawake/p_6.png</key>
    <string>{62,143}</string>
    <key>ui_cardawake/p_5.png</key>
    <string>{36,143}</string>
    <key>ui_cardawake/p_4.png</key>
    <string>{10,143}</string>
    <key>ui_cardawake/p_3.png</key>
    <string>{383,10}</string>
    <key>ui_cardawake/p_2.png</key>
    <string>{357,10}</string>
    <key>ui_cardawake/p_1.png</key>
    <string>{331,10}</string>
    <key>ui_cardawake/p_0.png</key>
    <string>{305,10}</string>
    <key>ui_cardawake/line.png</key>
    <string>{292,10}</string>
    <key>ui_cardawake/light.png</key>
    <string>{215,10}</string>
    <key>ui_cardawake/info_di1.png</key>
    <string>{145,10}</string>
    <key>ui_cardawake/ding.png</key>
    <string>{10,10}</string>
</dict>
