<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_crusade/zs_2.png</key>
    <string>{112,400}</string>
    <key>ui_crusade/zs_1.png</key>
    <string>{0,473}</string>
    <key>ui_crusade/red_2.png</key>
    <string>{273,247}</string>
    <key>ui_crusade/red_1.png</key>
    <string>{257,321}</string>
    <key>ui_crusade/miao.png</key>
    <string>{168,9}</string>
    <key>ui_crusade/line1.png</key>
    <string>{215,162}</string>
    <key>ui_crusade/ji_2.png</key>
    <string>{10,309}</string>
    <key>ui_crusade/ji_1.png</key>
    <string>{0,391}</string>
    <key>ui_crusade/di_r.png</key>
    <string>{295,184}</string>
    <key>ui_crusade/di_light2.png</key>
    <string>{276,184}</string>
    <key>ui_crusade/di_light1.png</key>
    <string>{256,184}</string>
    <key>ui_crusade/di_b.png</key>
    <string>{216,184}</string>
    <key>ui_crusade/boat_4.png</key>
    <string>{365,184}</string>
    <key>ui_crusade/boat_3.png</key>
    <string>{170,184}</string>
    <key>ui_crusade/boat_2.png</key>
    <string>{119,184}</string>
    <key>ui_crusade/boat_1.png</key>
    <string>{10,184}</string>
    <key>ui_crusade/blood_big.png</key>
    <string>{12,12}</string>
    <key>ui_crusade/black_zhe.png</key>
    <string>{337,10}</string>
    <key>ui_crusade/4.png</key>
    <string>{338,32}</string>
    <key>ui_crusade/3.png</key>
    <string>{277,10}</string>
    <key>ui_crusade/2.png</key>
    <string>{184,10}</string>
    <key>ui_crusade/1.png</key>
    <string>{0,0}</string>
</dict>
