<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_digmine/zhuanpan_jiaodi5.png</key>
    <string>{84,1061}</string>
    <key>ui_digmine/zhuanpan_jiaodi4.png</key>
    <string>{91,981}</string>
    <key>ui_digmine/zhuanpan_jiaodi3.png</key>
    <string>{0,1057}</string>
    <key>ui_digmine/zhuanpan_jiaodi2.png</key>
    <string>{17,1030}</string>
    <key>ui_digmine/zhuanpan_jiaodi.png</key>
    <string>{0,944}</string>
    <key>ui_digmine/zhuanpan_botton.png</key>
    <string>{351,477}</string>
    <key>ui_digmine/zhuanpan.png</key>
    <string>{194,479}</string>
    <key>ui_digmine/zhongxiaoguo.png</key>
    <string>{135,176}</string>
    <key>ui_digmine/zhongbiao.png</key>
    <string>{68,182}</string>
    <key>ui_digmine/yanpi_up.png</key>
    <string>{255,1748}</string>
    <key>ui_digmine/yanpi_down.png</key>
    <string>{207,1748}</string>
    <key>ui_digmine/xyzhou.png</key>
    <string>{414,5}</string>
    <key>ui_digmine/wen1.png</key>
    <string>{132,1748}</string>
    <key>ui_digmine/time_di.png</key>
    <string>{13,207}</string>
    <key>ui_digmine/time_1.png</key>
    <string>{14,193}</string>
    <key>ui_digmine/suoxiao.png</key>
    <string>{395,26}</string>
    <key>ui_digmine/star_di.png</key>
    <string>{10,1748}</string>
    <key>ui_digmine/shouzhi.png</key>
    <string>{397,1674}</string>
    <key>ui_digmine/shop.png</key>
    <string>{335,1674}</string>
    <key>ui_digmine/shigong.png</key>
    <string>{246,122}</string>
    <key>ui_digmine/shenmishi.png</key>
    <string>{289,134}</string>
    <key>ui_digmine/shenbiao.png</key>
    <string>{137,142}</string>
    <key>ui_digmine/shaoguang.png</key>
    <string>{10,1674}</string>
    <key>ui_digmine/renyu.png</key>
    <string>{0,657}</string>
    <key>ui_digmine/qianbiao.png</key>
    <string>{66,142}</string>
    <key>ui_digmine/proj_terrain35.png</key>
    <string>{10,142}</string>
    <key>ui_digmine/proj_terrain250.png</key>
    <string>{370,76}</string>
    <key>ui_digmine/proj_terrain120.png</key>
    <string>{314,76}</string>
    <key>ui_digmine/proj_terrain0.png</key>
    <string>{258,76}</string>
    <key>ui_digmine/pao3.png</key>
    <string>{177,670}</string>
    <key>ui_digmine/pao2.png</key>
    <string>{184,639}</string>
    <key>ui_digmine/pao1.png</key>
    <string>{163,631}</string>
    <key>ui_digmine/pao.png</key>
    <string>{310,1361}</string>
    <key>ui_digmine/num-9.png</key>
    <string>{288,1361}</string>
    <key>ui_digmine/num-8.png</key>
    <string>{266,1361}</string>
    <key>ui_digmine/num-7.png</key>
    <string>{244,1361}</string>
    <key>ui_digmine/num-6.png</key>
    <string>{222,1361}</string>
    <key>ui_digmine/num-5.png</key>
    <string>{200,1361}</string>
    <key>ui_digmine/num-4.png</key>
    <string>{177,1361}</string>
    <key>ui_digmine/num-3.png</key>
    <string>{155,1361}</string>
    <key>ui_digmine/num-2.png</key>
    <string>{132,1361}</string>
    <key>ui_digmine/num-1.png</key>
    <string>{112,1361}</string>
    <key>ui_digmine/num-0.png</key>
    <string>{90,1361}</string>
    <key>ui_digmine/niuguaia.png</key>
    <string>{345,208}</string>
    <key>ui_digmine/newzhuan.png</key>
    <string>{306,209}</string>
    <key>ui_digmine/name-di.png</key>
    <string>{227,1292}</string>
    <key>ui_digmine/naijiu.png</key>
    <string>{221,54}</string>
    <key>ui_digmine/mixue.png</key>
    <string>{135,1292}</string>
    <key>ui_digmine/mermaid.png</key>
    <string>{10,624}</string>
    <key>ui_digmine/luckywheel_5.png</key>
    <string>{400,229}</string>
    <key>ui_digmine/luckywheel_3.png</key>
    <string>{445,255}</string>
    <key>ui_digmine/luckywheel_1.png</key>
    <string>{402,262}</string>
    <key>ui_digmine/luckywheel_0.png</key>
    <string>{366,249}</string>
    <key>ui_digmine/line_1.png</key>
    <string>{132,76}</string>
    <key>ui_digmine/line3.png</key>
    <string>{39,1223}</string>
    <key>ui_digmine/line2.png</key>
    <string>{10,1223}</string>
    <key>ui_digmine/line1.png</key>
    <string>{351,1149}</string>
    <key>ui_digmine/light.png</key>
    <string>{286,1149}</string>
    <key>ui_digmine/lianxian.png</key>
    <string>{127,73}</string>
    <key>ui_digmine/lianxian-jian.png</key>
    <string>{105,76}</string>
    <key>ui_digmine/kuangshi.png</key>
    <string>{219,1149}</string>
    <key>ui_digmine/kuanggongicon.png</key>
    <string>{179,1149}</string>
    <key>ui_digmine/kuanggong.png</key>
    <string>{105,1149}</string>
    <key>ui_digmine/jindutiao3.png</key>
    <string>{60,644}</string>
    <key>ui_digmine/jindutiao2.png</key>
    <string>{32,644}</string>
    <key>ui_digmine/jindutiao1.png</key>
    <string>{10,644}</string>
    <key>ui_digmine/jiantou.png</key>
    <string>{348,564}</string>
    <key>ui_digmine/han_2.png</key>
    <string>{332,991}</string>
    <key>ui_digmine/han_1.png</key>
    <string>{292,991}</string>
    <key>ui_digmine/hailang.png</key>
    <string>{204,991}</string>
    <key>ui_digmine/haidi.png</key>
    <string>{0,471}</string>
    <key>ui_digmine/haidan_4.png</key>
    <string>{328,854}</string>
    <key>ui_digmine/haidan_3.png</key>
    <string>{151,854}</string>
    <key>ui_digmine/haidan_2.png</key>
    <string>{10,854}</string>
    <key>ui_digmine/haidan_1.png</key>
    <string>{388,727}</string>
    <key>ui_digmine/haidan_0.png</key>
    <string>{261,727}</string>
    <key>ui_digmine/guan-di.png</key>
    <string>{198,727}</string>
    <key>ui_digmine/guan-4.png</key>
    <string>{73,887}</string>
    <key>ui_digmine/guan-3.png</key>
    <string>{135,727}</string>
    <key>ui_digmine/guan-2.png</key>
    <string>{70,727}</string>
    <key>ui_digmine/guan-1.png</key>
    <string>{10,727}</string>
    <key>ui_digmine/green_light1.png</key>
    <string>{319,660}</string>
    <key>ui_digmine/gongchenga.png</key>
    <string>{0,70}</string>
    <key>ui_digmine/fangda_di2.png</key>
    <string>{395,11}</string>
    <key>ui_digmine/fangda_di1.png</key>
    <string>{379,3}</string>
    <key>ui_digmine/fangda.png</key>
    <string>{349,10}</string>
    <key>ui_digmine/eyes2.png</key>
    <string>{11,477}</string>
    <key>ui_digmine/eyes1.png</key>
    <string>{270,261}</string>
    <key>ui_digmine/eyes.png</key>
    <string>{75,660}</string>
    <key>ui_digmine/diguang.png</key>
    <string>{10,660}</string>
    <key>ui_digmine/digmine_bg_s.png</key>
    <string>{353,322}</string>
    <key>ui_digmine/dibana.png</key>
    <string>{305,8}</string>
    <key>ui_digmine/dianzuana.png</key>
    <string>{261,0}</string>
    <key>ui_digmine/dianzuan3.png</key>
    <string>{10,341}</string>
    <key>ui_digmine/dianzuan2.png</key>
    <string>{360,157}</string>
    <key>ui_digmine/dianzuan.png</key>
    <string>{207,658}</string>
    <key>ui_digmine/di_icon.png</key>
    <string>{286,332}</string>
    <key>ui_digmine/di2.png</key>
    <string>{421,76}</string>
    <key>ui_digmine/dh_di3.png</key>
    <string>{254,199}</string>
    <key>ui_digmine/dh_di2.png</key>
    <string>{129,188}</string>
    <key>ui_digmine/dh_di1.png</key>
    <string>{189,82}</string>
    <key>ui_digmine/deng_2.png</key>
    <string>{114,389}</string>
    <key>ui_digmine/deng.png</key>
    <string>{100,422}</string>
    <key>ui_digmine/button2.png</key>
    <string>{36,293}</string>
    <key>ui_digmine/button.png</key>
    <string>{0,381}</string>
    <key>ui_digmine/blue_light2.png</key>
    <string>{137,267}</string>
    <key>ui_digmine/blue_light1.png</key>
    <string>{96,255}</string>
    <key>ui_digmine/blackmarket.png</key>
    <string>{199,10}</string>
    <key>ui_digmine/beibaoa.png</key>
    <string>{136,0}</string>
    <key>ui_digmine/bankuaia2.png</key>
    <string>{133,187}</string>
    <key>ui_digmine/bankuaia.png</key>
    <string>{0,0}</string>
    <key>ui_digmine/4.png</key>
    <string>{569,129}</string>
    <key>ui_digmine/3.png</key>
    <string>{513,83}</string>
    <key>ui_digmine/2.png</key>
    <string>{484,30}</string>
    <key>ui_digmine/1.png</key>
    <string>{619,0}</string>
</dict>
