<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_family/zs_2.png</key>
    <string>{208,2137}</string>
    <key>ui_family/zs_1.png</key>
    <string>{214,2047}</string>
    <key>ui_family/zizuodi.png</key>
    <string>{211,2097}</string>
    <key>ui_family/ziguang05.png</key>
    <string>{397,2651}</string>
    <key>ui_family/ziguang04.png</key>
    <string>{339,2651}</string>
    <key>ui_family/ziguang03.png</key>
    <string>{281,2651}</string>
    <key>ui_family/ziguang02.png</key>
    <string>{223,2651}</string>
    <key>ui_family/ziguang01.png</key>
    <string>{165,2651}</string>
    <key>ui_family/zhe_black.png</key>
    <string>{54,121}</string>
    <key>ui_family/z-5.png</key>
    <string>{58,3301}</string>
    <key>ui_family/z-4.png</key>
    <string>{141,84}</string>
    <key>ui_family/z-3.png</key>
    <string>{308,68}</string>
    <key>ui_family/z-2.png</key>
    <string>{135,110}</string>
    <key>ui_family/z-1.png</key>
    <string>{62,36}</string>
    <key>ui_family/xianquan2.png</key>
    <string>{124,1817}</string>
    <key>ui_family/xianquan.png</key>
    <string>{327,2058}</string>
    <key>ui_family/X.png</key>
    <string>{281,2849}</string>
    <key>ui_family/world_zidi.png</key>
    <string>{97,2795}</string>
    <key>ui_family/world_y2.png</key>
    <string>{0,3337}</string>
    <key>ui_family/world_y1.png</key>
    <string>{0,3302}</string>
    <key>ui_family/world_x2.png</key>
    <string>{0,3409}</string>
    <key>ui_family/world_x1.png</key>
    <string>{0,3377}</string>
    <key>ui_family/world_tdi.png</key>
    <string>{64,2795}</string>
    <key>ui_family/world_t2.png</key>
    <string>{0,2628}</string>
    <key>ui_family/world_t2-1.png</key>
    <string>{53,2630}</string>
    <key>ui_family/world_t1.png</key>
    <string>{0,2599}</string>
    <key>ui_family/world_t1-1.png</key>
    <string>{54,2600}</string>
    <key>ui_family/world_name_di.png</key>
    <string>{219,2371}</string>
    <key>ui_family/world_jiang_di.png</key>
    <string>{217,2404}</string>
    <key>ui_family/world_di7.png</key>
    <string>{162,3314}</string>
    <key>ui_family/world_di6.png</key>
    <string>{159,3365}</string>
    <key>ui_family/world_di5.png</key>
    <string>{229,2945}</string>
    <key>ui_family/world_di4.png</key>
    <string>{391,2833}</string>
    <key>ui_family/world_di3.png</key>
    <string>{213,2480}</string>
    <key>ui_family/world_di2.png</key>
    <string>{10,2528}</string>
    <key>ui_family/world_di.png</key>
    <string>{0,2201}</string>
    <key>ui_family/war_vs_di.png</key>
    <string>{0,2860}</string>
    <key>ui_family/war_vs.png</key>
    <string>{153,2869}</string>
    <key>ui_family/war_team_n2.png</key>
    <string>{32,2663}</string>
    <key>ui_family/war_team_n.png</key>
    <string>{1,2664}</string>
    <key>ui_family/war_team_di.png</key>
    <string>{374,2769}</string>
    <key>ui_family/war_sk_blood_di.png</key>
    <string>{31,2778}</string>
    <key>ui_family/war_sk_blood.png</key>
    <string>{10,2778}</string>
    <key>ui_family/war_sk_2.png</key>
    <string>{284,2780}</string>
    <key>ui_family/war_sk_1.png</key>
    <string>{200,2779}</string>
    <key>ui_family/vs-2.png</key>
    <string>{324,3019}</string>
    <key>ui_family/ui_jz_ac_guang_07.png</key>
    <string>{388,2699}</string>
    <key>ui_family/ui_jz_ac_guang_06.png</key>
    <string>{325,2699}</string>
    <key>ui_family/ui_jz_ac_guang_05.png</key>
    <string>{262,2699}</string>
    <key>ui_family/ui_jz_ac_guang_04.png</key>
    <string>{199,2699}</string>
    <key>ui_family/ui_jz_ac_guang_03.png</key>
    <string>{136,2699}</string>
    <key>ui_family/ui_jz_ac_guang_02.png</key>
    <string>{73,2699}</string>
    <key>ui_family/ui_jz_ac_guang_01.png</key>
    <string>{10,2699}</string>
    <key>ui_family/ui-caikuang-yaogan.png</key>
    <string>{385,3655}</string>
    <key>ui_family/ui-caikuang-shengzi.png</key>
    <string>{371,3655}</string>
    <key>ui_family/ui-caikuang-qianzi.png</key>
    <string>{334,3655}</string>
    <key>ui_family/ui-caikuang-jing-3.png</key>
    <string>{265,3655}</string>
    <key>ui_family/ui-caikuang-jing-2.png</key>
    <string>{161,3655}</string>
    <key>ui_family/ui-caikuang-jing-1.png</key>
    <string>{66,3655}</string>
    <key>ui_family/ui-caikuang-diaogan.png</key>
    <string>{10,3655}</string>
    <key>ui_family/ui-caikuang-che.png</key>
    <string>{338,3597}</string>
    <key>ui_family/tuanname_di.png</key>
    <string>{7,3088}</string>
    <key>ui_family/tuan_zs.png</key>
    <string>{219,2067}</string>
    <key>ui_family/tongtou.png</key>
    <string>{53,3484}</string>
    <key>ui_family/time_di2.png</key>
    <string>{392,3034}</string>
    <key>ui_family/tietou.png</key>
    <string>{18,3482}</string>
    <key>ui_family/shuijing.png</key>
    <string>{12,3155}</string>
    <key>ui_family/shixi.png</key>
    <string>{320,97}</string>
    <key>ui_family/shikuai.png</key>
    <string>{0,1815}</string>
    <key>ui_family/shi04.png</key>
    <string>{464,1217}</string>
    <key>ui_family/shi03.png</key>
    <string>{424,1433}</string>
    <key>ui_family/shi02.png</key>
    <string>{120,1508}</string>
    <key>ui_family/shi01.png</key>
    <string>{0,1471}</string>
    <key>ui_family/s_n4.png</key>
    <string>{358,3114}</string>
    <key>ui_family/s_n3.png</key>
    <string>{282,3114}</string>
    <key>ui_family/s_n2.png</key>
    <string>{206,3114}</string>
    <key>ui_family/s_n1.png</key>
    <string>{130,3114}</string>
    <key>ui_family/s-win.png</key>
    <string>{110,3114}</string>
    <key>ui_family/s-skill-jt.png</key>
    <string>{89,3114}</string>
    <key>ui_family/s-skill-icon.png</key>
    <string>{70,3063}</string>
    <key>ui_family/s-skill-1.png</key>
    <string>{36,3114}</string>
    <key>ui_family/s-skill-0.png</key>
    <string>{10,3114}</string>
    <key>ui_family/s-red.png</key>
    <string>{380,3064}</string>
    <key>ui_family/s-gw.png</key>
    <string>{295,3064}</string>
    <key>ui_family/s-choose.png</key>
    <string>{155,3064}</string>
    <key>ui_family/s-cao-di.png</key>
    <string>{111,3064}</string>
    <key>ui_family/s-blue.png</key>
    <string>{423,3066}</string>
    <key>ui_family/s-b-di.png</key>
    <string>{19,3064}</string>
    <key>ui_family/qipao_di.png</key>
    <string>{111,2663}</string>
    <key>ui_family/qi01.png</key>
    <string>{85,1172}</string>
    <key>ui_family/point.png</key>
    <string>{111,18}</string>
    <key>ui_family/pig_7.png</key>
    <string>{289,3024}</string>
    <key>ui_family/pig_5.png</key>
    <string>{273,3024}</string>
    <key>ui_family/pig_4.png</key>
    <string>{239,3024}</string>
    <key>ui_family/pig_3.png</key>
    <string>{220,3024}</string>
    <key>ui_family/pig_2.png</key>
    <string>{197,3024}</string>
    <key>ui_family/pig_1.png</key>
    <string>{140,3024}</string>
    <key>ui_family/NPC_di.png</key>
    <string>{139,45}</string>
    <key>ui_family/name_zhe2.png</key>
    <string>{161,2964}</string>
    <key>ui_family/ME_2.png</key>
    <string>{349,151}</string>
    <key>ui_family/ME.png</key>
    <string>{320,152}</string>
    <key>ui_family/match_line8.png</key>
    <string>{63,2152}</string>
    <key>ui_family/match_line8-1.png</key>
    <string>{75,2136}</string>
    <key>ui_family/match_line4.png</key>
    <string>{98,2103}</string>
    <key>ui_family/match_line4-1.png</key>
    <string>{102,2053}</string>
    <key>ui_family/match_line2.png</key>
    <string>{23,2079}</string>
    <key>ui_family/match_line2-1.png</key>
    <string>{44,2051}</string>
    <key>ui_family/match_line1.png</key>
    <string>{0,2112}</string>
    <key>ui_family/match_line1-1.png</key>
    <string>{0,2051}</string>
    <key>ui_family/match_light2.png</key>
    <string>{292,2187}</string>
    <key>ui_family/maotu.png</key>
    <string>{542,895}</string>
    <key>ui_family/line_4.png</key>
    <string>{449,2504}</string>
    <key>ui_family/line.png</key>
    <string>{14,115}</string>
    <key>ui_family/level_icon_06.png</key>
    <string>{246,1952}</string>
    <key>ui_family/level_icon_05.png</key>
    <string>{175,1951}</string>
    <key>ui_family/level_icon_04.png</key>
    <string>{245,1898}</string>
    <key>ui_family/level_icon_03.png</key>
    <string>{317,1953}</string>
    <key>ui_family/level_icon_02.png</key>
    <string>{389,1952}</string>
    <key>ui_family/level_icon_01.png</key>
    <string>{101,1954}</string>
    <key>ui_family/jz_shop_1.png</key>
    <string>{494,543}</string>
    <key>ui_family/jz_shop.png</key>
    <string>{369,534}</string>
    <key>ui_family/jz_hall.png</key>
    <string>{238,488}</string>
    <key>ui_family/jz_fuwen.png</key>
    <string>{33,1976}</string>
    <key>ui_family/jz_fight_ing.png</key>
    <string>{331,2008}</string>
    <key>ui_family/jz_fight_1.png</key>
    <string>{458,426}</string>
    <key>ui_family/jz_fight.png</key>
    <string>{49,449}</string>
    <key>ui_family/jz_draw_b3.png</key>
    <string>{351,1817}</string>
    <key>ui_family/jz_draw_b2.png</key>
    <string>{353,1838}</string>
    <key>ui_family/jz_draw_b1.png</key>
    <string>{336,1826}</string>
    <key>ui_family/jz_draw_4.png</key>
    <string>{488,489}</string>
    <key>ui_family/jz_draw_3.png</key>
    <string>{430,445}</string>
    <key>ui_family/jz_draw_2.png</key>
    <string>{411,411}</string>
    <key>ui_family/jz_draw.png</key>
    <string>{336,438}</string>
    <key>ui_family/jz_door.png</key>
    <string>{506,488}</string>
    <key>ui_family/jz_dig2.png</key>
    <string>{185,2248}</string>
    <key>ui_family/jz_dig.png</key>
    <string>{57,2248}</string>
    <key>ui_family/jz_ac_3.png</key>
    <string>{391,1662}</string>
    <key>ui_family/jz_ac_2.png</key>
    <string>{367,1659}</string>
    <key>ui_family/jz_ac_1.png</key>
    <string>{347,1666}</string>
    <key>ui_family/jz_ac.png</key>
    <string>{0,480}</string>
    <key>ui_family/jz-64.png</key>
    <string>{247,2145}</string>
    <key>ui_family/jz-29.png</key>
    <string>{157,2145}</string>
    <key>ui_family/jz-25.png</key>
    <string>{117,2145}</string>
    <key>ui_family/jz-13.png</key>
    <string>{79,2145}</string>
    <key>ui_family/jz-12.png</key>
    <string>{46,2145}</string>
    <key>ui_family/jintou.png</key>
    <string>{10,2145}</string>
    <key>ui_family/icon_view.png</key>
    <string>{140,1634}</string>
    <key>ui_family/icon_support.png</key>
    <string>{188,1635}</string>
    <key>ui_family/icon_4.png</key>
    <string>{260,1601}</string>
    <key>ui_family/icon_3.png</key>
    <string>{351,724}</string>
    <key>ui_family/icon_2.png</key>
    <string>{405,722}</string>
    <key>ui_family/icon_1.png</key>
    <string>{453,721}</string>
    <key>ui_family/huodong_4.png</key>
    <string>{232,1694}</string>
    <key>ui_family/huodong_3.png</key>
    <string>{117,1690}</string>
    <key>ui_family/huodong_2.png</key>
    <string>{5,1686}</string>
    <key>ui_family/huodong_1.png</key>
    <string>{344,1696}</string>
    <key>ui_family/heiren7.png</key>
    <string>{376,1485}</string>
    <key>ui_family/heiren6.png</key>
    <string>{351,1485}</string>
    <key>ui_family/heiren5.png</key>
    <string>{328,1485}</string>
    <key>ui_family/heiren4.png</key>
    <string>{306,1485}</string>
    <key>ui_family/heiren3.png</key>
    <string>{284,1485}</string>
    <key>ui_family/heiren2.png</key>
    <string>{236,1485}</string>
    <key>ui_family/heiren1.png</key>
    <string>{202,1485}</string>
    <key>ui_family/heiren0.png</key>
    <string>{285,1439}</string>
    <key>ui_family/guang01.png</key>
    <string>{78,1307}</string>
    <key>ui_family/gu_light2.png</key>
    <string>{429,1138}</string>
    <key>ui_family/gu_light.png</key>
    <string>{230,1061}</string>
    <key>ui_family/gu_6.png</key>
    <string>{76,1196}</string>
    <key>ui_family/gu_5.png</key>
    <string>{165,1141}</string>
    <key>ui_family/gu_4.png</key>
    <string>{158,1171}</string>
    <key>ui_family/gu_3.png</key>
    <string>{476,918}</string>
    <key>ui_family/gu_2.png</key>
    <string>{0,1304}</string>
    <key>ui_family/gu_1.png</key>
    <string>{0,1220}</string>
    <key>ui_family/fighting_di2.png</key>
    <string>{10,1349}</string>
    <key>ui_family/fighting_di1.png</key>
    <string>{362,1032}</string>
    <key>ui_family/fengmotai.png</key>
    <string>{267,1102}</string>
    <key>ui_family/draw_name_di.png</key>
    <string>{64,1241}</string>
    <key>ui_family/draw_2.png</key>
    <string>{127,617}</string>
    <key>ui_family/draw_1.png</key>
    <string>{199,616}</string>
    <key>ui_family/dig_num_di.png</key>
    <string>{372,1182}</string>
    <key>ui_family/dig_di2.png</key>
    <string>{4,1051}</string>
    <key>ui_family/dig_di.png</key>
    <string>{351,832}</string>
    <key>ui_family/diban.png</key>
    <string>{0,927}</string>
    <key>ui_family/dian01.png</key>
    <string>{79,1015}</string>
    <key>ui_family/dan02.png</key>
    <string>{6,1155}</string>
    <key>ui_family/dan01.png</key>
    <string>{200,1293}</string>
    <key>ui_family/dai_2.png</key>
    <string>{358,2}</string>
    <key>ui_family/dai_1.png</key>
    <string>{279,4}</string>
    <key>ui_family/cao_line.png</key>
    <string>{365,668}</string>
    <key>ui_family/cao_5.png</key>
    <string>{417,680}</string>
    <key>ui_family/cao_4.png</key>
    <string>{360,702}</string>
    <key>ui_family/cao_3.png</key>
    <string>{360,680}</string>
    <key>ui_family/cao_2.png</key>
    <string>{397,654}</string>
    <key>ui_family/cao_1.png</key>
    <string>{369,652}</string>
    <key>ui_family/BUFF_wu.png</key>
    <string>{235,846}</string>
    <key>ui_family/BUFF_wei.png</key>
    <string>{191,847}</string>
    <key>ui_family/BUFF_shu.png</key>
    <string>{152,847}</string>
    <key>ui_family/BUFF_qun.png</key>
    <string>{111,847}</string>
    <key>ui_family/BUFF_luan.png</key>
    <string>{65,848}</string>
    <key>ui_family/buff_di.png</key>
    <string>{281,844}</string>
    <key>ui_family/buff_+.png</key>
    <string>{290,894}</string>
    <key>ui_family/bp_icon_di.png</key>
    <string>{0,840}</string>
    <key>ui_family/bp_icon_9.png</key>
    <string>{169,768}</string>
    <key>ui_family/bp_icon_8.png</key>
    <string>{110,768}</string>
    <key>ui_family/bp_icon_7.png</key>
    <string>{55,770}</string>
    <key>ui_family/bp_icon_6.png</key>
    <string>{0,768}</string>
    <key>ui_family/bp_icon_5.png</key>
    <string>{225,712}</string>
    <key>ui_family/bp_icon_4.png</key>
    <string>{171,711}</string>
    <key>ui_family/bp_icon_3.png</key>
    <string>{113,714}</string>
    <key>ui_family/bp_icon_2.png</key>
    <string>{57,711}</string>
    <key>ui_family/bp_icon_11.png</key>
    <string>{295,761}</string>
    <key>ui_family/bp_icon_10.png</key>
    <string>{226,767}</string>
    <key>ui_family/bp_icon_1.png</key>
    <string>{4,707}</string>
    <key>ui_family/bp-chuizi.png</key>
    <string>{301,682}</string>
    <key>ui_family/booo.png</key>
    <string>{558,394}</string>
    <key>ui_family/bian_2.png</key>
    <string>{173,17}</string>
    <key>ui_family/bian_1.png</key>
    <string>{396,0}</string>
    <key>ui_family/bg_water.png</key>
    <string>{165,332}</string>
    <key>ui_family/bg_shikuai.png</key>
    <string>{245,453}</string>
    <key>ui_family/bg_light.png</key>
    <string>{93,70}</string>
    <key>ui_family/bg_3.png</key>
    <string>{535,0}</string>
    <key>ui_family/bg_1.png</key>
    <string>{0,55}</string>
    <key>ui_family/ban_3.png</key>
    <string>{124,8}</string>
    <key>ui_family/ban_2.png</key>
    <string>{71,10}</string>
    <key>ui_family/ban_1.png</key>
    <string>{2,8}</string>
</dict>
