<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_fuben/title.png</key>
    <string>{321,765}</string>
    <key>ui_fuben/t.png</key>
    <string>{134,765}</string>
    <key>ui_fuben/shadow.png</key>
    <string>{51,765}</string>
    <key>ui_fuben/point.png</key>
    <string>{10,765}</string>
    <key>ui_fuben/map.png</key>
    <string>{151,444}</string>
    <key>ui_fuben/flag01.png</key>
    <string>{57,528}</string>
    <key>ui_fuben/fire01.png</key>
    <string>{69,469}</string>
    <key>ui_fuben/botton.png</key>
    <string>{10,469}</string>
    <key>ui_fuben/bg.png</key>
    <string>{178,82}</string>
    <key>ui_fuben/b.png</key>
    <string>{10,91}</string>
    <key>ui_fuben/06.png</key>
    <string>{373,10}</string>
    <key>ui_fuben/05.png</key>
    <string>{298,10}</string>
    <key>ui_fuben/04.png</key>
    <string>{229,10}</string>
    <key>ui_fuben/03.png</key>
    <string>{170,10}</string>
    <key>ui_fuben/02.png</key>
    <string>{101,10}</string>
    <key>ui_fuben/01.png</key>
    <string>{10,10}</string>
</dict>
