<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_fight/zidon_2.png</key>
    <string>{135,0}</string>
    <key>ui_fight/zidon_1.png</key>
    <string>{87,0}</string>
    <key>ui_fight/zidon_1-2.png</key>
    <string>{28,91}</string>
    <key>ui_fight/zidon_1-1.png</key>
    <string>{2,89}</string>
    <key>ui_fight/zidon_0.png</key>
    <string>{183,0}</string>
    <key>ui_fight/zi_di1.png</key>
    <string>{246,111}</string>
    <key>ui_fight/x3.png</key>
    <string>{201,111}</string>
    <key>ui_fight/x2.png</key>
    <string>{156,111}</string>
    <key>ui_fight/x1.png</key>
    <string>{111,111}</string>
    <key>ui_fight/victory_niu_06.png</key>
    <string>{74,917}</string>
    <key>ui_fight/victory_niu_05.png</key>
    <string>{36,911}</string>
    <key>ui_fight/victory_niu_04.png</key>
    <string>{0,905}</string>
    <key>ui_fight/victory_niu_03.png</key>
    <string>{89,873}</string>
    <key>ui_fight/victory_niu_02.png</key>
    <string>{53,868}</string>
    <key>ui_fight/victory_niu_01.png</key>
    <string>{12,869}</string>
    <key>ui_fight/victory_light.png</key>
    <string>{171,292}</string>
    <key>ui_fight/victory_2.png</key>
    <string>{186,377}</string>
    <key>ui_fight/victory_1.png</key>
    <string>{0,570}</string>
    <key>ui_fight/shilian_lian.png</key>
    <string>{161,790}</string>
    <key>ui_fight/shilian_headdi4.png</key>
    <string>{139,1433}</string>
    <key>ui_fight/shilian_headdi3.png</key>
    <string>{265,754}</string>
    <key>ui_fight/shilian_headdi2.png</key>
    <string>{193,681}</string>
    <key>ui_fight/shilian_headdi1.png</key>
    <string>{179,749}</string>
    <key>ui_fight/shilian_cao2.png</key>
    <string>{237,787}</string>
    <key>ui_fight/shilian_cao1.png</key>
    <string>{181,779}</string>
    <key>ui_fight/shilian_blood_r.png</key>
    <string>{161,749}</string>
    <key>ui_fight/shilian_blood_g.png</key>
    <string>{159,766}</string>
    <key>ui_fight/r_di4.png</key>
    <string>{149,379}</string>
    <key>ui_fight/r_di3.png</key>
    <string>{0,661}</string>
    <key>ui_fight/r_di2.png</key>
    <string>{147,416}</string>
    <key>ui_fight/r_di1.png</key>
    <string>{0,271}</string>
    <key>ui_fight/pause.png</key>
    <string>{0,0}</string>
    <key>ui_fight/over.png</key>
    <string>{40,0}</string>
    <key>ui_fight/mubiao.png</key>
    <string>{442,38}</string>
    <key>ui_fight/mubiao-2.png</key>
    <string>{459,78}</string>
    <key>ui_fight/me.png</key>
    <string>{230,71}</string>
    <key>ui_fight/lose_red.png</key>
    <string>{192,419}</string>
    <key>ui_fight/lose_light.png</key>
    <string>{206,264}</string>
    <key>ui_fight/lose_icon.png</key>
    <string>{314,771}</string>
    <key>ui_fight/lose_1.png</key>
    <string>{103,580}</string>
    <key>ui_fight/line_di_ends.png</key>
    <string>{289,456}</string>
    <key>ui_fight/line_di2.png</key>
    <string>{192,459}</string>
    <key>ui_fight/line_di.png</key>
    <string>{168,483}</string>
    <key>ui_fight/lev_qi_05.png</key>
    <string>{102,160}</string>
    <key>ui_fight/lev_qi_04.png</key>
    <string>{126,159}</string>
    <key>ui_fight/lev_qi_03.png</key>
    <string>{77,156}</string>
    <key>ui_fight/lev_qi_02.png</key>
    <string>{26,157}</string>
    <key>ui_fight/lev_qi_01.png</key>
    <string>{51,155}</string>
    <key>ui_fight/lev_qi2_light.png</key>
    <string>{110,732}</string>
    <key>ui_fight/lev_qi2.png</key>
    <string>{0,721}</string>
    <key>ui_fight/jiesuan_hen.png</key>
    <string>{0,146}</string>
    <key>ui_fight/huihe_di.png</key>
    <string>{0,66}</string>
    <key>ui_fight/hecao_light2.png</key>
    <string>{364,620}</string>
    <key>ui_fight/hecao_light.png</key>
    <string>{208,620}</string>
    <key>ui_fight/hecao_3.png</key>
    <string>{96,620}</string>
    <key>ui_fight/hecao_2.png</key>
    <string>{10,620}</string>
    <key>ui_fight/hecao_1.png</key>
    <string>{380,519}</string>
    <key>ui_fight/he_zi2.png</key>
    <string>{412,560}</string>
    <key>ui_fight/he_zi1.png</key>
    <string>{355,501}</string>
    <key>ui_fight/he_zi.png</key>
    <string>{354,594}</string>
    <key>ui_fight/he_perfect_BAO.png</key>
    <string>{10,519}</string>
    <key>ui_fight/he_perfect.png</key>
    <string>{488,490}</string>
    <key>ui_fight/he_miss.png</key>
    <string>{174,437}</string>
    <key>ui_fight/he_light_qiu_dian.png</key>
    <string>{455,331}</string>
    <key>ui_fight/he_light_qiu.png</key>
    <string>{10,456}</string>
    <key>ui_fight/he_light2.png</key>
    <string>{357,381}</string>
    <key>ui_fight/he_light1.png</key>
    <string>{333,371}</string>
    <key>ui_fight/he_hit.png</key>
    <string>{535,382}</string>
    <key>ui_fight/he_great.png</key>
    <string>{492,463}</string>
    <key>ui_fight/he_good.png</key>
    <string>{493,440}</string>
    <key>ui_fight/he_di4.png</key>
    <string>{439,285}</string>
    <key>ui_fight/he_di3.png</key>
    <string>{355,493}</string>
    <key>ui_fight/he_di2.png</key>
    <string>{330,272}</string>
    <key>ui_fight/he_di1.png</key>
    <string>{333,286}</string>
    <key>ui_fight/he_bg.png</key>
    <string>{348,117}</string>
    <key>ui_fight/he_bad.png</key>
    <string>{492,417}</string>
    <key>ui_fight/guide_star_up.png</key>
    <string>{366,722}</string>
    <key>ui_fight/guide_skill_up.png</key>
    <string>{390,683}</string>
    <key>ui_fight/guide_recruit.png</key>
    <string>{419,721}</string>
    <key>ui_fight/guide_pet_train.png</key>
    <string>{420,777}</string>
    <key>ui_fight/guide_equip.png</key>
    <string>{368,776}</string>
    <key>ui_fight/gailv_di.png</key>
    <string>{208,583}</string>
    <key>ui_fight/end_light.png</key>
    <string>{140,282}</string>
    <key>ui_fight/end_jieshuline.png</key>
    <string>{230,408}</string>
    <key>ui_fight/bufang.png</key>
    <string>{428,6}</string>
    <key>ui_fight/box4.png</key>
    <string>{378,8}</string>
    <key>ui_fight/box3.png</key>
    <string>{341,8}</string>
    <key>ui_fight/box2.png</key>
    <string>{301,10}</string>
    <key>ui_fight/box1.png</key>
    <string>{256,8}</string>
    <key>ui_fight/boss-small.png</key>
    <string>{95,72}</string>
    <key>ui_fight/boss-small-2.png</key>
    <string>{125,71}</string>
    <key>ui_fight/boss-di.png</key>
    <string>{0,51}</string>
    <key>ui_fight/boss-big.png</key>
    <string>{157,65}</string>
    <key>ui_fight/all_line2.png</key>
    <string>{139,10}</string>
    <key>ui_fight/all_line.png</key>
    <string>{10,10}</string>
</dict>
