<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_huodong/zs_di3.png</key>
    <string>{0,1709}</string>
    <key>ui_huodong/zs_4.png</key>
    <string>{200,654}</string>
    <key>ui_huodong/zs_3.png</key>
    <string>{190,565}</string>
    <key>ui_huodong/zs_2.png</key>
    <string>{194,617}</string>
    <key>ui_huodong/zs_1.png</key>
    <string>{200,638}</string>
    <key>ui_huodong/zs-1.png</key>
    <string>{721,51}</string>
    <key>ui_huodong/zhi_9g.png</key>
    <string>{486,780}</string>
    <key>ui_huodong/zan3.png</key>
    <string>{376,867}</string>
    <key>ui_huodong/zan2.png</key>
    <string>{345,856}</string>
    <key>ui_huodong/zan.png</key>
    <string>{337,827}</string>
    <key>ui_huodong/yuanfen_npc_di.png</key>
    <string>{370,1514}</string>
    <key>ui_huodong/yuanfen.png</key>
    <string>{373,1458}</string>
    <key>ui_huodong/wish_under.png</key>
    <string>{326,2157}</string>
    <key>ui_huodong/wish_top.png</key>
    <string>{298,2157}</string>
    <key>ui_huodong/wish_light.png</key>
    <string>{267,2157}</string>
    <key>ui_huodong/wish_ghost5.png</key>
    <string>{215,2157}</string>
    <key>ui_huodong/wish_ghost4.png</key>
    <string>{166,2157}</string>
    <key>ui_huodong/wish_ghost3.png</key>
    <string>{100,2157}</string>
    <key>ui_huodong/wish_ghost2.png</key>
    <string>{60,2157}</string>
    <key>ui_huodong/wish_ghost1.png</key>
    <string>{10,2157}</string>
    <key>ui_huodong/wish_bottle.png</key>
    <string>{306,2052}</string>
    <key>ui_huodong/wish_bg.png</key>
    <string>{0,2005}</string>
    <key>ui_huodong/wenhao2.png</key>
    <string>{9,3289}</string>
    <key>ui_huodong/vip_di4.png</key>
    <string>{272,1402}</string>
    <key>ui_huodong/vip_di3.png</key>
    <string>{244,1283}</string>
    <key>ui_huodong/vip_di2.png</key>
    <string>{244,1337}</string>
    <key>ui_huodong/vip_di1.png</key>
    <string>{287,837}</string>
    <key>ui_huodong/vip2.png</key>
    <string>{315,1306}</string>
    <key>ui_huodong/vip.png</key>
    <string>{424,782}</string>
    <key>ui_huodong/v_zhong.png</key>
    <string>{341,777}</string>
    <key>ui_huodong/v_di.png</key>
    <string>{242,213}</string>
    <key>ui_huodong/tuan_di2.png</key>
    <string>{108,2174}</string>
    <key>ui_huodong/tuan_di1.png</key>
    <string>{61,2174}</string>
    <key>ui_huodong/redline.png</key>
    <string>{545,121}</string>
    <key>ui_huodong/redbag_di.png</key>
    <string>{165,3530}</string>
    <key>ui_huodong/redbag_caidai.png</key>
    <string>{222,3492}</string>
    <key>ui_huodong/redbag_8.png</key>
    <string>{47,3287}</string>
    <key>ui_huodong/redbag_7.png</key>
    <string>{64,3492}</string>
    <key>ui_huodong/redbag_6.png</key>
    <string>{11,3594}</string>
    <key>ui_huodong/redbag_5.png</key>
    <string>{3,3498}</string>
    <key>ui_huodong/redbag_4.png</key>
    <string>{94,3454}</string>
    <key>ui_huodong/redbag_3_1.png</key>
    <string>{174,3375}</string>
    <key>ui_huodong/redbag_3.png</key>
    <string>{131,3375}</string>
    <key>ui_huodong/redbag_2.png</key>
    <string>{3,3379}</string>
    <key>ui_huodong/redbag_11.png</key>
    <string>{99,3425}</string>
    <key>ui_huodong/redbag_10.png</key>
    <string>{71,3556}</string>
    <key>ui_huodong/redbag_1.png</key>
    <string>{201,3433}</string>
    <key>ui_huodong/red_time.png</key>
    <string>{171,3290}</string>
    <key>ui_huodong/red_point.png</key>
    <string>{101,3306}</string>
    <key>ui_huodong/red.png</key>
    <string>{126,3293}</string>
    <key>ui_huodong/qiandao_pic.png</key>
    <string>{0,1280}</string>
    <key>ui_huodong/qiandao_di2.png</key>
    <string>{13,1368}</string>
    <key>ui_huodong/qiandao_di1.png</key>
    <string>{82,1270}</string>
    <key>ui_huodong/qi_di.png</key>
    <string>{192,504}</string>
    <key>ui_huodong/pop_8_3.png</key>
    <string>{267,2902}</string>
    <key>ui_huodong/pop_8_2.png</key>
    <string>{210,2854}</string>
    <key>ui_huodong/pop_8_1.png</key>
    <string>{134,2849}</string>
    <key>ui_huodong/pop_7.png</key>
    <string>{3,2810}</string>
    <key>ui_huodong/pop_6.png</key>
    <string>{18,2688}</string>
    <key>ui_huodong/pop_5.png</key>
    <string>{462,858}</string>
    <key>ui_huodong/pop_5-5.png</key>
    <string>{172,1627}</string>
    <key>ui_huodong/pop_5-4.png</key>
    <string>{201,1586}</string>
    <key>ui_huodong/pop_5-3.png</key>
    <string>{182,1583}</string>
    <key>ui_huodong/pop_5-2.png</key>
    <string>{0,1542}</string>
    <key>ui_huodong/pop_5-1.png</key>
    <string>{78,1540}</string>
    <key>ui_huodong/pop_4.png</key>
    <string>{75,576}</string>
    <key>ui_huodong/pop_3.png</key>
    <string>{2,621}</string>
    <key>ui_huodong/pop_2.png</key>
    <string>{0,624}</string>
    <key>ui_huodong/pop_10.png</key>
    <string>{10,2493}</string>
    <key>ui_huodong/pop_1.png</key>
    <string>{0,624}</string>
    <key>ui_huodong/point.png</key>
    <string>{306,808}</string>
    <key>ui_huodong/play.png</key>
    <string>{231,820}</string>
    <key>ui_huodong/num_black_big.png</key>
    <string>{500,87}</string>
    <key>ui_huodong/NO.png</key>
    <string>{505,114}</string>
    <key>ui_huodong/new7day_koushui2.png</key>
    <string>{397,1644}</string>
    <key>ui_huodong/new7day_koushui.png</key>
    <string>{20,1863}</string>
    <key>ui_huodong/new7day.png</key>
    <string>{85,1677}</string>
    <key>ui_huodong/n_di.png</key>
    <string>{327,668}</string>
    <key>ui_huodong/n_day.png</key>
    <string>{411,133}</string>
    <key>ui_huodong/LINE2.png</key>
    <string>{256,541}</string>
    <key>ui_huodong/light_y2.png</key>
    <string>{354,500}</string>
    <key>ui_huodong/light_y.png</key>
    <string>{344,557}</string>
    <key>ui_huodong/light_blue.png</key>
    <string>{346,580}</string>
    <key>ui_huodong/lamp_eff.png</key>
    <string>{262,1460}</string>
    <key>ui_huodong/lamp_di5.png</key>
    <string>{245,1468}</string>
    <key>ui_huodong/lamp_di4.png</key>
    <string>{197,1475}</string>
    <key>ui_huodong/lamp_di3.png</key>
    <string>{0,1445}</string>
    <key>ui_huodong/lamp_di2.png</key>
    <string>{47,1206}</string>
    <key>ui_huodong/lamp_di1.png</key>
    <string>{85,1479}</string>
    <key>ui_huodong/kase_di.png</key>
    <string>{398,2048}</string>
    <key>ui_huodong/jifen.png</key>
    <string>{471,397}</string>
    <key>ui_huodong/J_di2.png</key>
    <string>{273,583}</string>
    <key>ui_huodong/J_di.png</key>
    <string>{276,537}</string>
    <key>ui_huodong/j_2.png</key>
    <string>{267,701}</string>
    <key>ui_huodong/j_1.png</key>
    <string>{212,704}</string>
    <key>ui_huodong/icon_di2.png</key>
    <string>{404,34}</string>
    <key>ui_huodong/icon_di1.png</key>
    <string>{491,34}</string>
    <key>ui_huodong/icon_01.png</key>
    <string>{402,0}</string>
    <key>ui_huodong/iap_di.png</key>
    <string>{291,669}</string>
    <key>ui_huodong/huoyuedu_di.png</key>
    <string>{389,816}</string>
    <key>ui_huodong/hongbao_di4.png</key>
    <string>{148,2076}</string>
    <key>ui_huodong/hd_song_di2.png</key>
    <string>{97,1924}</string>
    <key>ui_huodong/hd_song_di1.png</key>
    <string>{46,1924}</string>
    <key>ui_huodong/hd_linqu.png</key>
    <string>{10,1924}</string>
    <key>ui_huodong/hd_cj.png</key>
    <string>{95,1949}</string>
    <key>ui_huodong/hd_bao.png</key>
    <string>{149,1877}</string>
    <key>ui_huodong/GO.png</key>
    <string>{10,1789}</string>
    <key>ui_huodong/g_di.png</key>
    <string>{350,1075}</string>
    <key>ui_huodong/g_08.png</key>
    <string>{212,1000}</string>
    <key>ui_huodong/g_07.png</key>
    <string>{126,996}</string>
    <key>ui_huodong/g_06_1.png</key>
    <string>{81,1773}</string>
    <key>ui_huodong/g_06.png</key>
    <string>{3,841}</string>
    <key>ui_huodong/g_05.png</key>
    <string>{75,839}</string>
    <key>ui_huodong/g_04.png</key>
    <string>{53,941}</string>
    <key>ui_huodong/g_03.png</key>
    <string>{54,887}</string>
    <key>ui_huodong/g_02.png</key>
    <string>{52,1037}</string>
    <key>ui_huodong/g_01.png</key>
    <string>{52,988}</string>
    <key>ui_huodong/firstpay_2.png</key>
    <string>{376,1248}</string>
    <key>ui_huodong/firstpay2_bg.png</key>
    <string>{0,1121}</string>
    <key>ui_huodong/firstpay2.png</key>
    <string>{149,1098}</string>
    <key>ui_huodong/firstpay.png</key>
    <string>{375,1161}</string>
    <key>ui_huodong/f_pay_6288.png</key>
    <string>{499,1370}</string>
    <key>ui_huodong/f_pay_5288.png</key>
    <string>{499,1397}</string>
    <key>ui_huodong/f_pay_12888.png</key>
    <string>{506,1342}</string>
    <key>ui_huodong/di_line2.png</key>
    <string>{457,606}</string>
    <key>ui_huodong/di_line.png</key>
    <string>{315,592}</string>
    <key>ui_huodong/di3.png</key>
    <string>{344,622}</string>
    <key>ui_huodong/card_di4.png</key>
    <string>{645,47}</string>
    <key>ui_huodong/card_di3.png</key>
    <string>{219,499}</string>
    <key>ui_huodong/card_di2_npc.png</key>
    <string>{590,473}</string>
    <key>ui_huodong/card_di2_1.png</key>
    <string>{254,502}</string>
    <key>ui_huodong/card_di2.png</key>
    <string>{622,802}</string>
    <key>ui_huodong/card_di1_npc.png</key>
    <string>{583,608}</string>
    <key>ui_huodong/card_di1.png</key>
    <string>{609,794}</string>
    <key>ui_huodong/card_di1-1.png</key>
    <string>{299,502}</string>
    <key>ui_huodong/card_bigkuang_di.png</key>
    <string>{447,247}</string>
    <key>ui_huodong/card_bigkuang.png</key>
    <string>{403,215}</string>
    <key>ui_huodong/card_b.png</key>
    <string>{431,319}</string>
    <key>ui_huodong/card_2.png</key>
    <string>{185,137}</string>
    <key>ui_huodong/card_1.png</key>
    <string>{121,135}</string>
    <key>ui_huodong/button_zuo.png</key>
    <string>{303,769}</string>
    <key>ui_huodong/box_di3.png</key>
    <string>{460,529}</string>
    <key>ui_huodong/box_di2.png</key>
    <string>{398,530}</string>
    <key>ui_huodong/box_di.png</key>
    <string>{193,743}</string>
    <key>ui_huodong/box1.png</key>
    <string>{357,652}</string>
    <key>ui_huodong/bg_night.png</key>
    <string>{619,605}</string>
    <key>ui_huodong/bg.png</key>
    <string>{653,629}</string>
    <key>ui_huodong/bg-cc2.png</key>
    <string>{531,1}</string>
    <key>ui_huodong/bg-cc.png</key>
    <string>{717,0}</string>
    <key>ui_huodong/baozi_bg.png</key>
    <string>{533,674}</string>
    <key>ui_huodong/baozi_9.png</key>
    <string>{60,473}</string>
    <key>ui_huodong/baozi_8.png</key>
    <string>{43,538}</string>
    <key>ui_huodong/baozi_7.png</key>
    <string>{23,518}</string>
    <key>ui_huodong/baozi_6.png</key>
    <string>{7,511}</string>
    <key>ui_huodong/baozi_5.png</key>
    <string>{0,392}</string>
    <key>ui_huodong/baozi_4.png</key>
    <string>{46,396}</string>
    <key>ui_huodong/baozi_3.png</key>
    <string>{90,508}</string>
    <key>ui_huodong/baozi_2.png</key>
    <string>{210,406}</string>
    <key>ui_huodong/baozi_14.png</key>
    <string>{366,933}</string>
    <key>ui_huodong/baozi_13.png</key>
    <string>{190,406}</string>
    <key>ui_huodong/baozi_12.png</key>
    <string>{176,406}</string>
    <key>ui_huodong/baozi_11.png</key>
    <string>{0,347}</string>
    <key>ui_huodong/baozi_10.png</key>
    <string>{0,417}</string>
    <key>ui_huodong/baozi_1.png</key>
    <string>{317,998}</string>
    <key>ui_huodong/ban_di.png</key>
    <string>{388,205}</string>
    <key>ui_huodong/b_VIP.png</key>
    <string>{449,673}</string>
    <key>ui_huodong/activity_type_zhaomulibao.png</key>
    <string>{206,900}</string>
    <key>ui_huodong/activity_type_zhaomu.png</key>
    <string>{281,901}</string>
    <key>ui_huodong/activity_type_wish.png</key>
    <string>{309,8}</string>
    <key>ui_huodong/activity_type_weichat.png</key>
    <string>{684,169}</string>
    <key>ui_huodong/activity_type_week.png</key>
    <string>{71,138}</string>
    <key>ui_huodong/activity_type_vip.png</key>
    <string>{400,205}</string>
    <key>ui_huodong/activity_type_tuangou.png</key>
    <string>{298,144}</string>
    <key>ui_huodong/activity_type_thousand.png</key>
    <string>{81,81}</string>
    <key>ui_huodong/activity_type_thankgiven.png</key>
    <string>{0,207}</string>
    <key>ui_huodong/activity_type_spring4.png</key>
    <string>{400,400}</string>
    <key>ui_huodong/activity_type_spring3.png</key>
    <string>{322,400}</string>
    <key>ui_huodong/activity_type_spring2.png</key>
    <string>{244,400}</string>
    <key>ui_huodong/activity_type_spring1.png</key>
    <string>{166,400}</string>
    <key>ui_huodong/activity_type_soullife.png</key>
    <string>{92,397}</string>
    <key>ui_huodong/activity_type_sign_pay.png</key>
    <string>{166,270}</string>
    <key>ui_huodong/activity_type_sign.png</key>
    <string>{88,270}</string>
    <key>ui_huodong/activity_type_second.png</key>
    <string>{0,142}</string>
    <key>ui_huodong/activity_type_sale_off.png</key>
    <string>{547,223}</string>
    <key>ui_huodong/activity_type_red.png</key>
    <string>{313,335}</string>
    <key>ui_huodong/activity_type_pay_present.png</key>
    <string>{400,140}</string>
    <key>ui_huodong/activity_type_pay.png</key>
    <string>{538,164}</string>
    <key>ui_huodong/activity_type_newyear.png</key>
    <string>{244,335}</string>
    <key>ui_huodong/activity_type_moneygod2.png</key>
    <string>{166,335}</string>
    <key>ui_huodong/activity_type_moneygod1.png</key>
    <string>{99,334}</string>
    <key>ui_huodong/activity_type_mine5.png</key>
    <string>{274,227}</string>
    <key>ui_huodong/activity_type_mine4.png</key>
    <string>{400,270}</string>
    <key>ui_huodong/activity_type_mine3.png</key>
    <string>{322,270}</string>
    <key>ui_huodong/activity_type_mine2.png</key>
    <string>{244,270}</string>
    <key>ui_huodong/activity_type_mine1.png</key>
    <string>{166,270}</string>
    <key>ui_huodong/activity_type_level_up.png</key>
    <string>{479,163}</string>
    <key>ui_huodong/activity_type_laba.png</key>
    <string>{15,267}</string>
    <key>ui_huodong/activity_type_invest.png</key>
    <string>{480,226}</string>
    <key>ui_huodong/activity_type_iap_card.png</key>
    <string>{480,287}</string>
    <key>ui_huodong/activity_type_gold.png</key>
    <string>{9,83}</string>
    <key>ui_huodong/activity_type_god.png</key>
    <string>{166,205}</string>
    <key>ui_huodong/activity_type_freevip.png</key>
    <string>{244,205}</string>
    <key>ui_huodong/activity_type_energy_50off.png</key>
    <string>{304,66}</string>
    <key>ui_huodong/activity_type_energy.png</key>
    <string>{234,63}</string>
    <key>ui_huodong/activity_type_eat.png</key>
    <string>{76,199}</string>
    <key>ui_huodong/activity_type_draw_card.png</key>
    <string>{609,222}</string>
    <key>ui_huodong/activity_type_digmon.png</key>
    <string>{614,373}</string>
    <key>ui_huodong/activity_type_dighand.png</key>
    <string>{538,375}</string>
    <key>ui_huodong/activity_type_dargon.png</key>
    <string>{166,75}</string>
    <key>ui_huodong/activity_type_contribution.png</key>
    <string>{322,75}</string>
    <key>ui_huodong/activity_type_chirstmas.png</key>
    <string>{244,75}</string>
    <key>ui_huodong/activity_type_cat.png</key>
    <string>{616,287}</string>
    <key>ui_huodong/activity_type_calendar.png</key>
    <string>{244,75}</string>
    <key>ui_huodong/activity_type_battle.png</key>
    <string>{10,7}</string>
    <key>ui_huodong/activity_type_bath.png</key>
    <string>{10,75}</string>
    <key>ui_huodong/activity_type_atlas_double.png</key>
    <string>{605,167}</string>
    <key>ui_huodong/activity_type_army.png</key>
    <string>{243,0}</string>
    <key>ui_huodong/activity_type_7_day.png</key>
    <string>{550,286}</string>
    <key>ui_huodong/activity_type_7_atlas.png</key>
    <string>{166,10}</string>
    <key>ui_huodong/activity_type_1111.png</key>
    <string>{94,10}</string>
    <key>ui_huodong/activity_type_0115.png</key>
    <string>{678,252}</string>
    <key>ui_huodong/321_di.png</key>
    <string>{700,354}</string>
    <key>ui_huodong/30day.png</key>
    <string>{413,100}</string>
    <key>ui_huodong/$.png</key>
    <string>{394,103}</string>
</dict>
