<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_jingji/zs_9.png</key>
    <string>{10,521}</string>
    <key>ui_jingji/zs_8.png</key>
    <string>{139,516}</string>
    <key>ui_jingji/zs_7.png</key>
    <string>{3,487}</string>
    <key>ui_jingji/zs_6.png</key>
    <string>{8,436}</string>
    <key>ui_jingji/zs_5.png</key>
    <string>{29,419}</string>
    <key>ui_jingji/zs_4.png</key>
    <string>{22,397}</string>
    <key>ui_jingji/zs_3.png</key>
    <string>{5,366}</string>
    <key>ui_jingji/zs_2.png</key>
    <string>{75,298}</string>
    <key>ui_jingji/zs_16.png</key>
    <string>{271,207}</string>
    <key>ui_jingji/zs_15.png</key>
    <string>{246,85}</string>
    <key>ui_jingji/zs_14.png</key>
    <string>{302,311}</string>
    <key>ui_jingji/zs_13.png</key>
    <string>{287,315}</string>
    <key>ui_jingji/zs_12.png</key>
    <string>{176,126}</string>
    <key>ui_jingji/zs_11.png</key>
    <string>{201,145}</string>
    <key>ui_jingji/zs_10.png</key>
    <string>{212,268}</string>
    <key>ui_jingji/zs_1.png</key>
    <string>{0,320}</string>
    <key>ui_jingji/zs_0.png</key>
    <string>{12,306}</string>
    <key>ui_jingji/zou.png</key>
    <string>{372,452}</string>
    <key>ui_jingji/z_2.png</key>
    <string>{421,110}</string>
    <key>ui_jingji/z_1.png</key>
    <string>{330,0}</string>
    <key>ui_jingji/yin.png</key>
    <string>{64,695}</string>
    <key>ui_jingji/xiajiang.png</key>
    <string>{482,384}</string>
    <key>ui_jingji/x-14.png</key>
    <string>{393,676}</string>
    <key>ui_jingji/ui_di1.png</key>
    <string>{241,126}</string>
    <key>ui_jingji/tong.png</key>
    <string>{0,700}</string>
    <key>ui_jingji/shibai.png</key>
    <string>{418,377}</string>
    <key>ui_jingji/shengli.png</key>
    <string>{373,377}</string>
    <key>ui_jingji/shangsheng.png</key>
    <string>{462,382}</string>
    <key>ui_jingji/no.3.png</key>
    <string>{421,319}</string>
    <key>ui_jingji/no.2.png</key>
    <string>{380,294}</string>
    <key>ui_jingji/no.1.png</key>
    <string>{335,318}</string>
    <key>ui_jingji/niuguang.png</key>
    <string>{256,569}</string>
    <key>ui_jingji/niudi5.png</key>
    <string>{174,569}</string>
    <key>ui_jingji/niudi4.png</key>
    <string>{92,569}</string>
    <key>ui_jingji/niudi3.png</key>
    <string>{10,569}</string>
    <key>ui_jingji/niudi2.png</key>
    <string>{371,403}</string>
    <key>ui_jingji/niudi1.png</key>
    <string>{289,403}</string>
    <key>ui_jingji/name_di2.png</key>
    <string>{194,403}</string>
    <key>ui_jingji/jin.png</key>
    <string>{116,696}</string>
    <key>ui_jingji/jiantou1.png</key>
    <string>{241,187}</string>
    <key>ui_jingji/j_biaodi.png</key>
    <string>{337,103}</string>
    <key>ui_jingji/j_9gong.png</key>
    <string>{335,37}</string>
    <key>ui_jingji/guangxiao.png</key>
    <string>{371,430}</string>
    <key>ui_jingji/fish_2.png</key>
    <string>{273,52}</string>
    <key>ui_jingji/fish.png</key>
    <string>{115,13}</string>
    <key>ui_jingji/ditiao.png</key>
    <string>{10,294}</string>
    <key>ui_jingji/di_1.png</key>
    <string>{0,0}</string>
    <key>ui_jingji/blood_y2.png</key>
    <string>{274,10}</string>
    <key>ui_jingji/blood_y.png</key>
    <string>{368,216}</string>
    <key>ui_jingji/blood_red2.png</key>
    <string>{216,10}</string>
    <key>ui_jingji/blood_red.png</key>
    <string>{337,216}</string>
    <key>ui_jingji/blood_di.png</key>
    <string>{318,181}</string>
</dict>
