<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_lingshou/zs_black4.png</key>
    <string>{55,1891}</string>
    <key>ui_lingshou/zs_black3.png</key>
    <string>{38,1891}</string>
    <key>ui_lingshou/zs_black2.png</key>
    <string>{222,1345}</string>
    <key>ui_lingshou/zs_black1.png</key>
    <string>{235,1344}</string>
    <key>ui_lingshou/zs_5.png</key>
    <string>{259,1181}</string>
    <key>ui_lingshou/zs_4.png</key>
    <string>{176,1326}</string>
    <key>ui_lingshou/zs_3.png</key>
    <string>{75,1300}</string>
    <key>ui_lingshou/zs_2.png</key>
    <string>{0,1264}</string>
    <key>ui_lingshou/zs_1.png</key>
    <string>{26,1270}</string>
    <key>ui_lingshou/zi_di.png</key>
    <string>{367,1178}</string>
    <key>ui_lingshou/yzy.png</key>
    <string>{10,1742}</string>
    <key>ui_lingshou/yun4.png</key>
    <string>{214,1208}</string>
    <key>ui_lingshou/yun3.png</key>
    <string>{217,1178}</string>
    <key>ui_lingshou/yuanniua.png</key>
    <string>{139,1680}</string>
    <key>ui_lingshou/time_di3.png</key>
    <string>{36,1394}</string>
    <key>ui_lingshou/time_di2.png</key>
    <string>{0,1438}</string>
    <key>ui_lingshou/time_di1.png</key>
    <string>{40,1435}</string>
    <key>ui_lingshou/tai_4.png</key>
    <string>{53,1174}</string>
    <key>ui_lingshou/tai_3.png</key>
    <string>{0,1186}</string>
    <key>ui_lingshou/tai_3-2.png</key>
    <string>{83,1534}</string>
    <key>ui_lingshou/tai_2.png</key>
    <string>{311,1083}</string>
    <key>ui_lingshou/tai_1.png</key>
    <string>{445,923}</string>
    <key>ui_lingshou/suon.png</key>
    <string>{248,1415}</string>
    <key>ui_lingshou/suodi.png</key>
    <string>{244,6}</string>
    <key>ui_lingshou/suo1.png</key>
    <string>{188,1415}</string>
    <key>ui_lingshou/skill_di2.png</key>
    <string>{316,1380}</string>
    <key>ui_lingshou/skill_di1.png</key>
    <string>{457,1287}</string>
    <key>ui_lingshou/s_di_9.png</key>
    <string>{291,946}</string>
    <key>ui_lingshou/s_di_8.png</key>
    <string>{235,928}</string>
    <key>ui_lingshou/s_di_14_1.png</key>
    <string>{279,1211}</string>
    <key>ui_lingshou/s_di_14.png</key>
    <string>{469,607}</string>
    <key>ui_lingshou/s_di_13.png</key>
    <string>{0,729}</string>
    <key>ui_lingshou/s_di_12.png</key>
    <string>{69,720}</string>
    <key>ui_lingshou/s_di_11.png</key>
    <string>{357,939}</string>
    <key>ui_lingshou/s_di_10.png</key>
    <string>{325,945}</string>
    <key>ui_lingshou/lzk.png</key>
    <string>{193,1089}</string>
    <key>ui_lingshou/lshd (9).png</key>
    <string>{154,1089}</string>
    <key>ui_lingshou/lshd (8).png</key>
    <string>{94,1089}</string>
    <key>ui_lingshou/lshd (7).png</key>
    <string>{10,1089}</string>
    <key>ui_lingshou/lshd (6).png</key>
    <string>{331,955}</string>
    <key>ui_lingshou/lshd (5).png</key>
    <string>{224,955}</string>
    <key>ui_lingshou/lshd (4).png</key>
    <string>{136,972}</string>
    <key>ui_lingshou/lshd (3).png</key>
    <string>{65,918}</string>
    <key>ui_lingshou/lshd (2).png</key>
    <string>{368,849}</string>
    <key>ui_lingshou/lshd (12).jpg</key>
    <string>{353,844}</string>
    <key>ui_lingshou/lshd (11).png</key>
    <string>{307,844}</string>
    <key>ui_lingshou/lshd (10).png</key>
    <string>{253,844}</string>
    <key>ui_lingshou/lshd (1).png</key>
    <string>{146,844}</string>
    <key>ui_lingshou/light1.png</key>
    <string>{326,308}</string>
    <key>ui_lingshou/levelup_di.png</key>
    <string>{10,844}</string>
    <key>ui_lingshou/l_ka_6_1.png</key>
    <string>{494,779}</string>
    <key>ui_lingshou/l_ka_6.png</key>
    <string>{352,781}</string>
    <key>ui_lingshou/l_ka_4_1.png</key>
    <string>{91,371}</string>
    <key>ui_lingshou/l_ka_4.png</key>
    <string>{8,347}</string>
    <key>ui_lingshou/l_ka_2_1.png</key>
    <string>{93,260}</string>
    <key>ui_lingshou/l_ka_2.png</key>
    <string>{0,287}</string>
    <key>ui_lingshou/l_ka_1_1.png</key>
    <string>{96,206}</string>
    <key>ui_lingshou/l_ka_1.png</key>
    <string>{0,208}</string>
    <key>ui_lingshou/kaguang.png</key>
    <string>{348,588}</string>
    <key>ui_lingshou/ka1.png</key>
    <string>{254,588}</string>
    <key>ui_lingshou/ka0.png</key>
    <string>{160,588}</string>
    <key>ui_lingshou/jie_di2.png</key>
    <string>{117,588}</string>
    <key>ui_lingshou/jie_di.png</key>
    <string>{307,493}</string>
    <key>ui_lingshou/jb (8).png</key>
    <string>{10,588}</string>
    <key>ui_lingshou/jb (7).png</key>
    <string>{340,522}</string>
    <key>ui_lingshou/jb (6).png</key>
    <string>{274,522}</string>
    <key>ui_lingshou/jb (5).png</key>
    <string>{208,522}</string>
    <key>ui_lingshou/jb (4).png</key>
    <string>{142,522}</string>
    <key>ui_lingshou/jb (3).png</key>
    <string>{76,522}</string>
    <key>ui_lingshou/jb (2).png</key>
    <string>{10,522}</string>
    <key>ui_lingshou/jb (1).png</key>
    <string>{360,425}</string>
    <key>ui_lingshou/hzd.png</key>
    <string>{285,425}</string>
    <key>ui_lingshou/hongguang.png</key>
    <string>{181,425}</string>
    <key>ui_lingshou/guang.png</key>
    <string>{99,425}</string>
    <key>ui_lingshou/ditiao.png</key>
    <string>{10,425}</string>
    <key>ui_lingshou/di_light3.png</key>
    <string>{278,3}</string>
    <key>ui_lingshou/di_light2.png</key>
    <string>{342,1178}</string>
    <key>ui_lingshou/di_light.png</key>
    <string>{210,86}</string>
    <key>ui_lingshou/danyi.png</key>
    <string>{312,213}</string>
    <key>ui_lingshou/dan2.png</key>
    <string>{270,213}</string>
    <key>ui_lingshou/choose.png</key>
    <string>{194,200}</string>
    <key>ui_lingshou/cao_yellow.png</key>
    <string>{218,63}</string>
    <key>ui_lingshou/cao_green.png</key>
    <string>{217,49}</string>
    <key>ui_lingshou/cao_di2.png</key>
    <string>{181,56}</string>
    <key>ui_lingshou/cao_di1.png</key>
    <string>{119,46}</string>
    <key>ui_lingshou/bian_2.png</key>
    <string>{127,0}</string>
    <key>ui_lingshou/bian_1.png</key>
    <string>{0,0}</string>
    <key>ui_lingshou/bg.png</key>
    <string>{109,739}</string>
</dict>
