<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_main_bg/zhuanhuanwushadow.png</key>
    <string>{179,2064}</string>
    <key>ui_main_bg/zhangui_4.png</key>
    <string>{147,2064}</string>
    <key>ui_main_bg/zhangui_3.png</key>
    <string>{108,2064}</string>
    <key>ui_main_bg/zhangui_2.png</key>
    <string>{63,2064}</string>
    <key>ui_main_bg/zhangui_1.png</key>
    <string>{10,2064}</string>
    <key>ui_main_bg/wu.png</key>
    <string>{364,1993}</string>
    <key>ui_main_bg/wakuanshadow.png</key>
    <string>{324,1993}</string>
    <key>ui_main_bg/tianyu_3.png</key>
    <string>{268,1993}</string>
    <key>ui_main_bg/tianyu_2.png</key>
    <string>{238,1993}</string>
    <key>ui_main_bg/tianyu_1.png</key>
    <string>{199,1993}</string>
    <key>ui_main_bg/smok.png</key>
    <string>{174,1993}</string>
    <key>ui_main_bg/shuiche_3.png</key>
    <string>{132,1993}</string>
    <key>ui_main_bg/shuiche_2.png</key>
    <string>{82,1993}</string>
    <key>ui_main_bg/shuiche_1.png</key>
    <string>{30,1993}</string>
    <key>ui_main_bg/red_tree_03.png</key>
    <string>{10,1993}</string>
    <key>ui_main_bg/red_tree_02.png</key>
    <string>{123,1750}</string>
    <key>ui_main_bg/red_tree_01.png</key>
    <string>{10,1750}</string>
    <key>ui_main_bg/qiaoshadow.png</key>
    <string>{336,1649}</string>
    <key>ui_main_bg/near_bg_06.png</key>
    <string>{169,1649}</string>
    <key>ui_main_bg/near_bg_05.png</key>
    <string>{78,1649}</string>
    <key>ui_main_bg/near_bg_04.png</key>
    <string>{10,1649}</string>
    <key>ui_main_bg/near_bg_03.png</key>
    <string>{317,1576}</string>
    <key>ui_main_bg/near_bg_02.png</key>
    <string>{197,1576}</string>
    <key>ui_main_bg/near_bg_01.png</key>
    <string>{62,1576}</string>
    <key>ui_main_bg/name_17.png</key>
    <string>{36,1576}</string>
    <key>ui_main_bg/name_16.png</key>
    <string>{10,1576}</string>
    <key>ui_main_bg/name_15.png</key>
    <string>{400,1497}</string>
    <key>ui_main_bg/name_14.png</key>
    <string>{372,1497}</string>
    <key>ui_main_bg/name_13.png</key>
    <string>{344,1497}</string>
    <key>ui_main_bg/name_12.png</key>
    <string>{316,1497}</string>
    <key>ui_main_bg/name_11.png</key>
    <string>{288,1497}</string>
    <key>ui_main_bg/name_10.png</key>
    <string>{259,1497}</string>
    <key>ui_main_bg/name_09.png</key>
    <string>{233,1497}</string>
    <key>ui_main_bg/name_08.png</key>
    <string>{207,1497}</string>
    <key>ui_main_bg/name_07.png</key>
    <string>{181,1497}</string>
    <key>ui_main_bg/name_06.png</key>
    <string>{153,1497}</string>
    <key>ui_main_bg/name_05.png</key>
    <string>{124,1497}</string>
    <key>ui_main_bg/name_04.png</key>
    <string>{95,1497}</string>
    <key>ui_main_bg/name_03.png</key>
    <string>{67,1497}</string>
    <key>ui_main_bg/name_02.png</key>
    <string>{39,1497}</string>
    <key>ui_main_bg/name_01.png</key>
    <string>{10,1497}</string>
    <key>ui_main_bg/lock.png</key>
    <string>{391,1428}</string>
    <key>ui_main_bg/light-p.png</key>
    <string>{324,1428}</string>
    <key>ui_main_bg/jjclight.png</key>
    <string>{286,1428}</string>
    <key>ui_main_bg/ji_4.png</key>
    <string>{268,1428}</string>
    <key>ui_main_bg/ji_3.png</key>
    <string>{250,1428}</string>
    <key>ui_main_bg/ji_2.png</key>
    <string>{210,1428}</string>
    <key>ui_main_bg/ji_1.png</key>
    <string>{184,1428}</string>
    <key>ui_main_bg/grass_02.png</key>
    <string>{135,1428}</string>
    <key>ui_main_bg/grass_01.png</key>
    <string>{10,1428}</string>
    <key>ui_main_bg/far_night_bg_09.png</key>
    <string>{269,1319}</string>
    <key>ui_main_bg/far_night_bg_07_2.png</key>
    <string>{160,1319}</string>
    <key>ui_main_bg/far_night_bg_07_1.png</key>
    <string>{10,1319}</string>
    <key>ui_main_bg/far_night_bg_06_1.png</key>
    <string>{157,1226}</string>
    <key>ui_main_bg/far_night_bg_05_3.png</key>
    <string>{10,1226}</string>
    <key>ui_main_bg/far_night_bg_05_2.png</key>
    <string>{393,1156}</string>
    <key>ui_main_bg/far_night_bg_05_1.png</key>
    <string>{182,1156}</string>
    <key>ui_main_bg/far_night_bg_04_2.png</key>
    <string>{10,1156}</string>
    <key>ui_main_bg/far_night_bg_04_1.png</key>
    <string>{390,1091}</string>
    <key>ui_main_bg/far_night_bg_01_2.png</key>
    <string>{349,1091}</string>
    <key>ui_main_bg/far_night_bg_01_1.png</key>
    <string>{10,1091}</string>
    <key>ui_main_bg/far_bg_09.png</key>
    <string>{269,982}</string>
    <key>ui_main_bg/far_bg_07_2.png</key>
    <string>{160,982}</string>
    <key>ui_main_bg/far_bg_07_1.png</key>
    <string>{10,982}</string>
    <key>ui_main_bg/far_bg_06_1.png</key>
    <string>{10,889}</string>
    <key>ui_main_bg/far_bg_05_3.png</key>
    <string>{394,819}</string>
    <key>ui_main_bg/far_bg_05_2.png</key>
    <string>{221,819}</string>
    <key>ui_main_bg/far_bg_05_1.png</key>
    <string>{10,819}</string>
    <key>ui_main_bg/far_bg_04_2.png</key>
    <string>{295,754}</string>
    <key>ui_main_bg/far_bg_04_1.png</key>
    <string>{10,754}</string>
    <key>ui_main_bg/far_bg_01_3.png</key>
    <string>{390,708}</string>
    <key>ui_main_bg/far_bg_01_2.png</key>
    <string>{349,708}</string>
    <key>ui_main_bg/far_bg_01_1.png</key>
    <string>{10,708}</string>
    <key>ui_main_bg/family_tree_01.png</key>
    <string>{252,365}</string>
    <key>ui_main_bg/family_06.png</key>
    <string>{114,365}</string>
    <key>ui_main_bg/family_05.png</key>
    <string>{10,365}</string>
    <key>ui_main_bg/family_04.png</key>
    <string>{260,220}</string>
    <key>ui_main_bg/family_03.png</key>
    <string>{149,220}</string>
    <key>ui_main_bg/dixueshadow.png</key>
    <string>{89,220}</string>
    <key>ui_main_bg/cat_5.png</key>
    <string>{64,220}</string>
    <key>ui_main_bg/cat_4.png</key>
    <string>{51,220}</string>
    <key>ui_main_bg/cat_3.png</key>
    <string>{36,220}</string>
    <key>ui_main_bg/cat_2.png</key>
    <string>{10,220}</string>
    <key>ui_main_bg/cat_1.png</key>
    <string>{376,147}</string>
    <key>ui_main_bg/boss_1_9.png</key>
    <string>{332,147}</string>
    <key>ui_main_bg/boss_1_8.png</key>
    <string>{263,147}</string>
    <key>ui_main_bg/boss_1_6.png</key>
    <string>{234,147}</string>
    <key>ui_main_bg/boss_1_5.png</key>
    <string>{199,147}</string>
    <key>ui_main_bg/boss_1_4.png</key>
    <string>{159,147}</string>
    <key>ui_main_bg/boss_1_3.png</key>
    <string>{116,147}</string>
    <key>ui_main_bg/boss_1_2.png</key>
    <string>{71,147}</string>
    <key>ui_main_bg/boss_1_14.png</key>
    <string>{39,147}</string>
    <key>ui_main_bg/boss_1_13.png</key>
    <string>{10,147}</string>
    <key>ui_main_bg/boss_1_12.png</key>
    <string>{388,10}</string>
    <key>ui_main_bg/boss_1_11.png</key>
    <string>{356,10}</string>
    <key>ui_main_bg/boss_1_10.png</key>
    <string>{322,10}</string>
    <key>ui_main_bg/boss_1_1.png</key>
    <string>{291,10}</string>
    <key>ui_main_bg/board_01.png</key>
    <string>{158,10}</string>
    <key>ui_main_bg/bin_4.png</key>
    <string>{140,10}</string>
    <key>ui_main_bg/bin_3.png</key>
    <string>{86,10}</string>
    <key>ui_main_bg/bin_2.png</key>
    <string>{65,10}</string>
    <key>ui_main_bg/bin_1.png</key>
    <string>{10,10}</string>
</dict>
