<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_main/time_di.png</key>
    <string>{336,297}</string>
    <key>ui_main/talk2_di.png</key>
    <string>{181,297}</string>
    <key>ui_main/nightcolor.png</key>
    <string>{90,297}</string>
    <key>ui_main/menu_W.png</key>
    <string>{225,38}</string>
    <key>ui_main/menu_VIP.png</key>
    <string>{181,9}</string>
    <key>ui_main/menu_talk_point.png</key>
    <string>{284,59}</string>
    <key>ui_main/menu_talk_jiantou.png</key>
    <string>{284,74}</string>
    <key>ui_main/menu_talk.png</key>
    <string>{281,2}</string>
    <key>ui_main/menu_lead_bg.png</key>
    <string>{0,0}</string>
    <key>ui_main/menu_icon_zaixian.png</key>
    <string>{144,149}</string>
    <key>ui_main/menu_icon_wu.png</key>
    <string>{0,93}</string>
    <key>ui_main/menu_icon_weapon.png</key>
    <string>{0,400}</string>
    <key>ui_main/menu_icon_task_new.png</key>
    <string>{361,142}</string>
    <key>ui_main/menu_icon_task_7day.png</key>
    <string>{299,143}</string>
    <key>ui_main/menu_icon_task.png</key>
    <string>{0,243}</string>
    <key>ui_main/menu_icon_shou.png</key>
    <string>{0,143}</string>
    <key>ui_main/menu_icon_mall.png</key>
    <string>{123,377}</string>
    <key>ui_main/menu_icon_light2.png</key>
    <string>{297,85}</string>
    <key>ui_main/menu_icon_light.png</key>
    <string>{220,290}</string>
    <key>ui_main/menu_icon_hun.png</key>
    <string>{0,343}</string>
    <key>ui_main/menu_icon_friend.png</key>
    <string>{0,290}</string>
    <key>ui_main/menu_icon_cat.png</key>
    <string>{201,100}</string>
    <key>ui_main/menu_icon_bag.png</key>
    <string>{0,194}</string>
    <key>ui_main/menu_icon2_rank.png</key>
    <string>{98,97}</string>
    <key>ui_main/menu_icon2_qian.png</key>
    <string>{93,146}</string>
    <key>ui_main/menu_icon2_iap2.png</key>
    <string>{190,375}</string>
    <key>ui_main/menu_icon2_iap.png</key>
    <string>{69,374}</string>
    <key>ui_main/menu_icon2_huo.png</key>
    <string>{422,144}</string>
    <key>ui_main/menu_icon2_gonggao.png</key>
    <string>{142,198}</string>
    <key>ui_main/menu_icon2_fankui.png</key>
    <string>{150,98}</string>
    <key>ui_main/menu_icon2_bag.png</key>
    <string>{90,205}</string>
    <key>ui_main/menu_exp.png</key>
    <string>{205,9}</string>
    <key>ui_main/menu_biaoqing.png</key>
    <string>{251,8}</string>
    <key>ui_main/LV_di.png</key>
    <string>{321,8}</string>
    <key>ui_main/huobi_+.png</key>
    <string>{227,8}</string>
    <key>ui_main/draw_icon.png</key>
    <string>{145,47}</string>
</dict>
