<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_pic1/zs-lian.png</key>
    <string>{235,338}</string>
    <key>ui_pic1/zs-5.png</key>
    <string>{254,328}</string>
    <key>ui_pic1/zs-4.png</key>
    <string>{119,314}</string>
    <key>ui_pic1/zs-3.png</key>
    <string>{115,330}</string>
    <key>ui_pic1/zs-2.png</key>
    <string>{60,330}</string>
    <key>ui_pic1/zs-1.png</key>
    <string>{10,330}</string>
    <key>ui_pic1/zhao1.png</key>
    <string>{366,1494}</string>
    <key>ui_pic1/zbk-di6.png</key>
    <string>{260,4231}</string>
    <key>ui_pic1/zbk-di5.png</key>
    <string>{357,241}</string>
    <key>ui_pic1/zbk-di4.png</key>
    <string>{307,241}</string>
    <key>ui_pic1/zbk-di3.png</key>
    <string>{257,241}</string>
    <key>ui_pic1/zbk-di2.png</key>
    <string>{207,241}</string>
    <key>ui_pic1/zbk-di1.png</key>
    <string>{157,241}</string>
    <key>ui_pic1/zbk-1.png</key>
    <string>{116,211}</string>
    <key>ui_pic1/z-light-yuan1.png</key>
    <string>{283,285}</string>
    <key>ui_pic1/yuan_z2.png</key>
    <string>{228,3619}</string>
    <key>ui_pic1/yuan_z1.png</key>
    <string>{172,3619}</string>
    <key>ui_pic1/yin3.png</key>
    <string>{4,1161}</string>
    <key>ui_pic1/yin2.png</key>
    <string>{1,1105}</string>
    <key>ui_pic1/yin1.png</key>
    <string>{0,1202}</string>
    <key>ui_pic1/yi.png</key>
    <string>{251,4079}</string>
    <key>ui_pic1/tong3.png</key>
    <string>{92,1163}</string>
    <key>ui_pic1/tong2.png</key>
    <string>{82,1114}</string>
    <key>ui_pic1/tong1.png</key>
    <string>{83,1204}</string>
    <key>ui_pic1/talk_dibig.png</key>
    <string>{223,3823}</string>
    <key>ui_pic1/shop_zs.png</key>
    <string>{35,1890}</string>
    <key>ui_pic1/shop_shade2.png</key>
    <string>{85,1840}</string>
    <key>ui_pic1/shop_shade.png</key>
    <string>{0,1888}</string>
    <key>ui_pic1/shop_long2.png</key>
    <string>{344,3558}</string>
    <key>ui_pic1/shop_long.png</key>
    <string>{256,3558}</string>
    <key>ui_pic1/shop_9.png</key>
    <string>{303,3314}</string>
    <key>ui_pic1/shop_8.png</key>
    <string>{10,3314}</string>
    <key>ui_pic1/shop_7.png</key>
    <string>{279,3219}</string>
    <key>ui_pic1/shop_6.png</key>
    <string>{10,3219}</string>
    <key>ui_pic1/shop_5.png</key>
    <string>{204,50}</string>
    <key>ui_pic1/shop_4.png</key>
    <string>{457,14}</string>
    <key>ui_pic1/shop_3.png</key>
    <string>{458,53}</string>
    <key>ui_pic1/shop_2.png</key>
    <string>{262,1824}</string>
    <key>ui_pic1/shop_1.png</key>
    <string>{204,5}</string>
    <key>ui_pic1/share.png</key>
    <string>{64,3441}</string>
    <key>ui_pic1/shalou.png</key>
    <string>{389,1567}</string>
    <key>ui_pic1/shade.png</key>
    <string>{33,279}</string>
    <key>ui_pic1/set_video2.png</key>
    <string>{64,3362}</string>
    <key>ui_pic1/set_video1.png</key>
    <string>{10,3362}</string>
    <key>ui_pic1/set_music2.png</key>
    <string>{327,1146}</string>
    <key>ui_pic1/set_music1.png</key>
    <string>{274,1144}</string>
    <key>ui_pic1/set_eff2.png</key>
    <string>{325,1090}</string>
    <key>ui_pic1/set_eff1.png</key>
    <string>{273,1092}</string>
    <key>ui_pic1/sell_out.png</key>
    <string>{291,1022}</string>
    <key>ui_pic1/saodang_light3.png</key>
    <string>{208,1777}</string>
    <key>ui_pic1/saodang_light2.png</key>
    <string>{196,1771}</string>
    <key>ui_pic1/saodang_light1.png</key>
    <string>{173,1673}</string>
    <key>ui_pic1/s_pi4.png</key>
    <string>{20,1852}</string>
    <key>ui_pic1/s_pi3.png</key>
    <string>{337,1694}</string>
    <key>ui_pic1/s_pi2.png</key>
    <string>{340,1649}</string>
    <key>ui_pic1/s_pi1.png</key>
    <string>{334,1718}</string>
    <key>ui_pic1/npc_6_3.png</key>
    <string>{66,3087}</string>
    <key>ui_pic1/npc_6_2.png</key>
    <string>{10,3087}</string>
    <key>ui_pic1/npc_6_1.png</key>
    <string>{355,2984}</string>
    <key>ui_pic1/npc_5_3.png</key>
    <string>{338,2857}</string>
    <key>ui_pic1/npc_5_2.png</key>
    <string>{233,2857}</string>
    <key>ui_pic1/npc_5_1.png</key>
    <string>{144,2857}</string>
    <key>ui_pic1/npc_4_4.png</key>
    <string>{74,2857}</string>
    <key>ui_pic1/npc_4_3.png</key>
    <string>{10,2857}</string>
    <key>ui_pic1/npc_4_2.png</key>
    <string>{393,2754}</string>
    <key>ui_pic1/npc_4_1.png</key>
    <string>{379,2754}</string>
    <key>ui_pic1/npc_3_4.png</key>
    <string>{334,2754}</string>
    <key>ui_pic1/npc_3_3.png</key>
    <string>{241,2754}</string>
    <key>ui_pic1/npc_3_2.png</key>
    <string>{153,2754}</string>
    <key>ui_pic1/npc_3_1.png</key>
    <string>{73,2754}</string>
    <key>ui_pic1/npc_2_5.png</key>
    <string>{10,2754}</string>
    <key>ui_pic1/npc_2_4.png</key>
    <string>{386,2656}</string>
    <key>ui_pic1/npc_2_3.png</key>
    <string>{290,2656}</string>
    <key>ui_pic1/npc_2_2.png</key>
    <string>{235,2656}</string>
    <key>ui_pic1/npc_2_1.png</key>
    <string>{195,2656}</string>
    <key>ui_pic1/npc_1_8.png</key>
    <string>{125,2656}</string>
    <key>ui_pic1/npc_1_7.png</key>
    <string>{77,2656}</string>
    <key>ui_pic1/npc_1_6.png</key>
    <string>{38,2656}</string>
    <key>ui_pic1/npc_1_5.png</key>
    <string>{10,2656}</string>
    <key>ui_pic1/npc_1_4.png</key>
    <string>{388,2576}</string>
    <key>ui_pic1/npc_1_3.png</key>
    <string>{294,2576}</string>
    <key>ui_pic1/npc_1_2.png</key>
    <string>{248,2576}</string>
    <key>ui_pic1/npc_1_1.png</key>
    <string>{181,2576}</string>
    <key>ui_pic1/npc_10_3.png</key>
    <string>{317,2618}</string>
    <key>ui_pic1/npc_10_2.png</key>
    <string>{245,2618}</string>
    <key>ui_pic1/npc_10_1.png</key>
    <string>{181,2618}</string>
    <key>ui_pic1/name_w_dij.png</key>
    <string>{480,422}</string>
    <key>ui_pic1/name_w_di.png</key>
    <string>{336,422}</string>
    <key>ui_pic1/name_c_di.png</key>
    <string>{341,496}</string>
    <key>ui_pic1/name_b_di.png</key>
    <string>{186,442}</string>
    <key>ui_pic1/mail_box_fujian.png</key>
    <string>{104,1301}</string>
    <key>ui_pic1/mail_box2.png</key>
    <string>{61,1281}</string>
    <key>ui_pic1/mail_box.png</key>
    <string>{21,1283}</string>
    <key>ui_pic1/jin4.png</key>
    <string>{160,1067}</string>
    <key>ui_pic1/jin3.png</key>
    <string>{173,1163}</string>
    <key>ui_pic1/jin2.png</key>
    <string>{161,1108}</string>
    <key>ui_pic1/jin1.png</key>
    <string>{168,1206}</string>
    <key>ui_pic1/jiantou-up.png</key>
    <string>{33,1738}</string>
    <key>ui_pic1/jiantou-down.png</key>
    <string>{0,1738}</string>
    <key>ui_pic1/he_di.png</key>
    <string>{71,1864}</string>
    <key>ui_pic1/friend.png</key>
    <string>{0,1321}</string>
    <key>ui_pic1/energy.png</key>
    <string>{98,0}</string>
    <key>ui_pic1/EMAIL.png</key>
    <string>{360,2432}</string>
    <key>ui_pic1/draw_s_500.png</key>
    <string>{318,2257}</string>
    <key>ui_pic1/draw_s_50.png</key>
    <string>{276,2257}</string>
    <key>ui_pic1/draw_s_100.png</key>
    <string>{234,2257}</string>
    <key>ui_pic1/draw_s_10.png</key>
    <string>{192,2257}</string>
    <key>ui_pic1/draw_card_21.png</key>
    <string>{236,912}</string>
    <key>ui_pic1/draw_card9.png</key>
    <string>{464,795}</string>
    <key>ui_pic1/draw_card8.png</key>
    <string>{375,624}</string>
    <key>ui_pic1/draw_card7.png</key>
    <string>{313,856}</string>
    <key>ui_pic1/draw_card6.png</key>
    <string>{134,900}</string>
    <key>ui_pic1/draw_card5.png</key>
    <string>{50,894}</string>
    <key>ui_pic1/draw_card22.png</key>
    <string>{566,1667}</string>
    <key>ui_pic1/draw_card20.png</key>
    <string>{406,1580}</string>
    <key>ui_pic1/draw_card19.png</key>
    <string>{595,1822}</string>
    <key>ui_pic1/draw_card18.png</key>
    <string>{600,1784}</string>
    <key>ui_pic1/draw_card17.png</key>
    <string>{394,1760}</string>
    <key>ui_pic1/draw_card16.png</key>
    <string>{8,898}</string>
    <key>ui_pic1/draw_card15.png</key>
    <string>{0,623}</string>
    <key>ui_pic1/draw_card14.png</key>
    <string>{369,847}</string>
    <key>ui_pic1/draw_card13.png</key>
    <string>{367,815}</string>
    <key>ui_pic1/draw_card12.png</key>
    <string>{416,830}</string>
    <key>ui_pic1/draw_card11.png</key>
    <string>{203,636}</string>
    <key>ui_pic1/draw_card10.png</key>
    <string>{286,797}</string>
    <key>ui_pic1/draw_b_di.png</key>
    <string>{242,1424}</string>
    <key>ui_pic1/draw_06.png</key>
    <string>{417,232}</string>
    <key>ui_pic1/draw_05.png</key>
    <string>{339,886}</string>
    <key>ui_pic1/draw_04.png</key>
    <string>{2,225}</string>
    <key>ui_pic1/draw_03.png</key>
    <string>{12,201}</string>
    <key>ui_pic1/draw_02.png</key>
    <string>{0,604}</string>
    <key>ui_pic1/draw_01.png</key>
    <string>{438,900}</string>
    <key>ui_pic1/dianshichengjin.png</key>
    <string>{12,62}</string>
    <key>ui_pic1/dark_light_down.png</key>
    <string>{159,1294}</string>
    <key>ui_pic1/cou_zuan.png</key>
    <string>{98,1096}</string>
    <key>ui_pic1/cou_star.png</key>
    <string>{446,355}</string>
    <key>ui_pic1/cou_point.png</key>
    <string>{10,1054}</string>
    <key>ui_pic1/cou_blue2.png</key>
    <string>{185,475}</string>
    <key>ui_pic1/cou_blue.png</key>
    <string>{362,342}</string>
    <key>ui_pic1/cou_1whiteline.png</key>
    <string>{452,288}</string>
    <key>ui_pic1/cou_1light3.png</key>
    <string>{378,287}</string>
    <key>ui_pic1/cou_1light2.png</key>
    <string>{435,301}</string>
    <key>ui_pic1/cou_1light.png</key>
    <string>{521,220}</string>
    <key>ui_pic1/cou_1.png</key>
    <string>{0,497}</string>
    <key>ui_pic1/color_1.png</key>
    <string>{38,261}</string>
    <key>ui_pic1/buy_shouhun.png</key>
    <string>{395,1120}</string>
    <key>ui_pic1/buy_jingyan.png</key>
    <string>{395,949}</string>
    <key>ui_pic1/buy_jineng.png</key>
    <string>{397,1045}</string>
    <key>ui_pic1/buy_huizhang.png</key>
    <string>{312,582}</string>
    <key>ui_pic1/buy_dizs2.png</key>
    <string>{302,97}</string>
    <key>ui_pic1/buy_dizs.png</key>
    <string>{214,99}</string>
    <key>ui_pic1/blue_light_up.png</key>
    <string>{335,1261}</string>
    <key>ui_pic1/bird_1.png</key>
    <string>{0,4}</string>
    <key>ui_pic1/bg_3.png</key>
    <string>{157,1394}</string>
    <key>ui_pic1/bg_3-yan.png</key>
    <string>{302,304}</string>
    <key>ui_pic1/bg_3-eye.png</key>
    <string>{315,1570}</string>
    <key>ui_pic1/bg_3-8.png</key>
    <string>{202,304}</string>
    <key>ui_pic1/bg_3-7.png</key>
    <string>{350,1502}</string>
    <key>ui_pic1/bg_3-6.png</key>
    <string>{265,1528}</string>
    <key>ui_pic1/bg_3-5.png</key>
    <string>{213,1525}</string>
    <key>ui_pic1/bg_3-4.png</key>
    <string>{265,1514}</string>
    <key>ui_pic1/bg_3-3.png</key>
    <string>{164,1524}</string>
    <key>ui_pic1/bg_3-2.png</key>
    <string>{323,1406}</string>
    <key>ui_pic1/bg_3-1.png</key>
    <string>{0,1440}</string>
    <key>ui_pic1/bag_di.png</key>
    <string>{84,1744}</string>
    <key>ui_pic1/at_small_l.png</key>
    <string>{453,159}</string>
    <key>ui_pic1/5star.png</key>
    <string>{433,101}</string>
    <key>ui_pic1/2cf.png</key>
    <string>{358,539}</string>
    <key>ui_pic1/2cf-1.png</key>
    <string>{363,461}</string>
</dict>
