<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_public1/zi_point.png</key>
    <string>{319,427}</string>
    <key>ui_public1/zi_di_b.png</key>
    <string>{144,2128}</string>
    <key>ui_public1/zi-di1.png</key>
    <string>{197,1023}</string>
    <key>ui_public1/zhenwei_b.png</key>
    <string>{119,2181}</string>
    <key>ui_public1/zhedang_3gong3.png</key>
    <string>{449,401}</string>
    <key>ui_public1/zhedang_3gong2.png</key>
    <string>{446,420}</string>
    <key>ui_public1/zhedang_3gong2-1.png</key>
    <string>{445,440}</string>
    <key>ui_public1/zhedang_3gong1.png</key>
    <string>{443,462}</string>
    <key>ui_public1/zhanli-z.png</key>
    <string>{529,401}</string>
    <key>ui_public1/zhanli-di.png</key>
    <string>{517,424}</string>
    <key>ui_public1/yuanline.png</key>
    <string>{205,3854}</string>
    <key>ui_public1/yuan_jiantou.png</key>
    <string>{334,384}</string>
    <key>ui_public1/yuan_2.png</key>
    <string>{125,2279}</string>
    <key>ui_public1/yuan_1.png</key>
    <string>{153,2278}</string>
    <key>ui_public1/youke.png</key>
    <string>{199,2941}</string>
    <key>ui_public1/x2.png</key>
    <string>{104,2335}</string>
    <key>ui_public1/write.png</key>
    <string>{267,2723}</string>
    <key>ui_public1/wenhao.png</key>
    <string>{9,2174}</string>
    <key>ui_public1/wen01.png</key>
    <string>{0,2299}</string>
    <key>ui_public1/weixin_b.png</key>
    <string>{12,2725}</string>
    <key>ui_public1/weixin.png</key>
    <string>{177,2942}</string>
    <key>ui_public1/w_eye2.png</key>
    <string>{4,3271}</string>
    <key>ui_public1/w_eye1.png</key>
    <string>{5,3244}</string>
    <key>ui_public1/tt_xiong.png</key>
    <string>{108,3805}</string>
    <key>ui_public1/tt_tou.png</key>
    <string>{59,3805}</string>
    <key>ui_public1/tt_shou.png</key>
    <string>{10,3805}</string>
    <key>ui_public1/tt_jiao.png</key>
    <string>{357,3722}</string>
    <key>ui_public1/tt_hengdi3.png</key>
    <string>{85,3705}</string>
    <key>ui_public1/tt_hengdi2.png</key>
    <string>{55,3705}</string>
    <key>ui_public1/tt_hengdi.png</key>
    <string>{10,3705}</string>
    <key>ui_public1/tt_choose.png</key>
    <string>{398,3622}</string>
    <key>ui_public1/tt_cao2.png</key>
    <string>{378,3622}</string>
    <key>ui_public1/tt_cao1.png</key>
    <string>{358,3622}</string>
    <key>ui_public1/tt_9.png</key>
    <string>{300,3622}</string>
    <key>ui_public1/tt_6.png</key>
    <string>{242,3622}</string>
    <key>ui_public1/tt_4.png</key>
    <string>{184,3622}</string>
    <key>ui_public1/tt_3.png</key>
    <string>{126,3622}</string>
    <key>ui_public1/tt_2.png</key>
    <string>{68,3622}</string>
    <key>ui_public1/tt_11.png</key>
    <string>{10,3622}</string>
    <key>ui_public1/title_di2.png</key>
    <string>{233,929}</string>
    <key>ui_public1/title_di1.png</key>
    <string>{485,962}</string>
    <key>ui_public1/tishi_di2.png</key>
    <string>{51,3268}</string>
    <key>ui_public1/tishi_di1.png</key>
    <string>{41,3276}</string>
    <key>ui_public1/time_di.png</key>
    <string>{251,1531}</string>
    <key>ui_public1/tiaoguo.png</key>
    <string>{70,38}</string>
    <key>ui_public1/talk_name_di2.png</key>
    <string>{0,1537}</string>
    <key>ui_public1/talk_name_di2-1.png</key>
    <string>{187,1495}</string>
    <key>ui_public1/talk_name_di1.png</key>
    <string>{0,1501}</string>
    <key>ui_public1/talk_name_di1-1.png</key>
    <string>{118,1493}</string>
    <key>ui_public1/talk_jiao1.png</key>
    <string>{249,1751}</string>
    <key>ui_public1/talk_jiao1-2.png</key>
    <string>{219,1718}</string>
    <key>ui_public1/talk_jiantou.png</key>
    <string>{213,1789}</string>
    <key>ui_public1/talk_frieng0.png</key>
    <string>{217,1749}</string>
    <key>ui_public1/suipian_icon.png</key>
    <string>{132,416}</string>
    <key>ui_public1/stdia_1.png</key>
    <string>{239,2736}</string>
    <key>ui_public1/stdia.png</key>
    <string>{165,2196}</string>
    <key>ui_public1/star_mid_1.png</key>
    <string>{166,2725}</string>
    <key>ui_public1/star_mid.png</key>
    <string>{138,2725}</string>
    <key>ui_public1/star_di.png</key>
    <string>{53,588}</string>
    <key>ui_public1/star_big_di2.png</key>
    <string>{313,548}</string>
    <key>ui_public1/star_big_di.png</key>
    <string>{425,552}</string>
    <key>ui_public1/star_big.png</key>
    <string>{368,548}</string>
    <key>ui_public1/star1.png</key>
    <string>{11,586}</string>
    <key>ui_public1/star1-1.png</key>
    <string>{28,587}</string>
    <key>ui_public1/small_lock.png</key>
    <string>{39,2179}</string>
    <key>ui_public1/small_jiantou3.png</key>
    <string>{108,485}</string>
    <key>ui_public1/small_jiantou2.png</key>
    <string>{135,586}</string>
    <key>ui_public1/small_jiantou.png</key>
    <string>{222,5}</string>
    <key>ui_public1/skill_di.png</key>
    <string>{372,269}</string>
    <key>ui_public1/shurukuang_2.png</key>
    <string>{0,1364}</string>
    <key>ui_public1/shurukuang_1_2.png</key>
    <string>{154,1319}</string>
    <key>ui_public1/shurukuang_1_1.png</key>
    <string>{21,1444}</string>
    <key>ui_public1/shurukuang_1.png</key>
    <string>{15,1323}</string>
    <key>ui_public1/shop_9gong.png</key>
    <string>{64,759}</string>
    <key>ui_public1/shangjieguanjun.png</key>
    <string>{60,2360}</string>
    <key>ui_public1/server_di3.png</key>
    <string>{264,3197}</string>
    <key>ui_public1/server_di2.png</key>
    <string>{218,3197}</string>
    <key>ui_public1/server_di1.png</key>
    <string>{155,3197}</string>
    <key>ui_public1/server_button2.png</key>
    <string>{104,3197}</string>
    <key>ui_public1/server_button1.png</key>
    <string>{53,3197}</string>
    <key>ui_public1/sai.png</key>
    <string>{76,2172}</string>
    <key>ui_public1/s_zhi.png</key>
    <string>{272,418}</string>
    <key>ui_public1/s_wu.png</key>
    <string>{157,417}</string>
    <key>ui_public1/s_ling.png</key>
    <string>{244,420}</string>
    <key>ui_public1/s_fang+wu.png</key>
    <string>{214,420}</string>
    <key>ui_public1/s_fang+ling.png</key>
    <string>{184,420}</string>
    <key>ui_public1/red_gou_di.png</key>
    <string>{262,1242}</string>
    <key>ui_public1/red_gou.png</key>
    <string>{242,1241}</string>
    <key>ui_public1/qipao.png</key>
    <string>{94,2229}</string>
    <key>ui_public1/point_line.png</key>
    <string>{370,1230}</string>
    <key>ui_public1/point_kuang.png</key>
    <string>{88,2141}</string>
    <key>ui_public1/play.png</key>
    <string>{9,2676}</string>
    <key>ui_public1/pai_1.png</key>
    <string>{391,3067}</string>
    <key>ui_public1/npc_sp_di.png</key>
    <string>{119,1954}</string>
    <key>ui_public1/npc_k_05_1.png</key>
    <string>{202,1912}</string>
    <key>ui_public1/npc_k_05.png</key>
    <string>{210,1835}</string>
    <key>ui_public1/npc_k_04_1.png</key>
    <string>{161,1913}</string>
    <key>ui_public1/npc_k_04.png</key>
    <string>{156,1836}</string>
    <key>ui_public1/npc_k_03_1.png</key>
    <string>{105,1912}</string>
    <key>ui_public1/npc_k_03.png</key>
    <string>{103,1835}</string>
    <key>ui_public1/npc_k_02_1.png</key>
    <string>{50,1913}</string>
    <key>ui_public1/npc_k_02.png</key>
    <string>{53,1835}</string>
    <key>ui_public1/npc_k_01_1.png</key>
    <string>{0,1917}</string>
    <key>ui_public1/npc_k_01.png</key>
    <string>{0,1836}</string>
    <key>ui_public1/npc_k1.png</key>
    <string>{0,1940}</string>
    <key>ui_public1/npc_back_light2.png</key>
    <string>{459,1104}</string>
    <key>ui_public1/npc_back_light.png</key>
    <string>{303,1108}</string>
    <key>ui_public1/npc_back.png</key>
    <string>{156,538}</string>
    <key>ui_public1/notice_gundong.png</key>
    <string>{276,1892}</string>
    <key>ui_public1/name_di_y.png</key>
    <string>{39,2819}</string>
    <key>ui_public1/n-di-x.png</key>
    <string>{136,2942}</string>
    <key>ui_public1/n-di-kong2.png</key>
    <string>{94,2718}</string>
    <key>ui_public1/n-di-kong1.png</key>
    <string>{52,2718}</string>
    <key>ui_public1/n-di-gou2.png</key>
    <string>{43,2123}</string>
    <key>ui_public1/n-di-gou1.png</key>
    <string>{9,2125}</string>
    <key>ui_public1/mail_small.png</key>
    <string>{292,2795}</string>
    <key>ui_public1/lv-bian.png</key>
    <string>{499,526}</string>
    <key>ui_public1/loading_a9.png</key>
    <string>{285,2854}</string>
    <key>ui_public1/loading_a8.png</key>
    <string>{265,2854}</string>
    <key>ui_public1/loading_a7.png</key>
    <string>{251,2854}</string>
    <key>ui_public1/loading_a6.png</key>
    <string>{237,2854}</string>
    <key>ui_public1/loading_a5.png</key>
    <string>{219,2854}</string>
    <key>ui_public1/loading_a4.png</key>
    <string>{202,2854}</string>
    <key>ui_public1/loading_a3.png</key>
    <string>{187,2854}</string>
    <key>ui_public1/loading_a2.png</key>
    <string>{167,2854}</string>
    <key>ui_public1/loading_a11.png</key>
    <string>{144,2854}</string>
    <key>ui_public1/loading_a10.png</key>
    <string>{118,2854}</string>
    <key>ui_public1/loading_a1.png</key>
    <string>{79,2854}</string>
    <key>ui_public1/loading_2.png</key>
    <string>{10,2854}</string>
    <key>ui_public1/loading_1.png</key>
    <string>{252,2794}</string>
    <key>ui_public1/lingqu_di2.png</key>
    <string>{182,943}</string>
    <key>ui_public1/lingqu_di.png</key>
    <string>{208,945}</string>
    <key>ui_public1/line4.png</key>
    <string>{398,1244}</string>
    <key>ui_public1/line3.png</key>
    <string>{404,1218}</string>
    <key>ui_public1/line2.png</key>
    <string>{478,1211}</string>
    <key>ui_public1/line1.png</key>
    <string>{437,1196}</string>
    <key>ui_public1/levelup_di.png</key>
    <string>{0,1212}</string>
    <key>ui_public1/kuang_top_light.png</key>
    <string>{227,2014}</string>
    <key>ui_public1/kuang_top3.png</key>
    <string>{59,2228}</string>
    <key>ui_public1/kuang_top2.png</key>
    <string>{1,2223}</string>
    <key>ui_public1/kuang_top.png</key>
    <string>{235,2035}</string>
    <key>ui_public1/kuang_pi.png</key>
    <string>{151,1983}</string>
    <key>ui_public1/kuang_line6.png</key>
    <string>{130,2029}</string>
    <key>ui_public1/kuang_line5.png</key>
    <string>{360,1444}</string>
    <key>ui_public1/kuang_line4.png</key>
    <string>{384,1312}</string>
    <key>ui_public1/kuang_line3.png</key>
    <string>{271,1191}</string>
    <key>ui_public1/kuang_line.png</key>
    <string>{261,1222}</string>
    <key>ui_public1/kuang_light_line.png</key>
    <string>{140,1203}</string>
    <key>ui_public1/kuang_light_hen3.png</key>
    <string>{264,2280}</string>
    <key>ui_public1/kuang_light_hen2.png</key>
    <string>{338,1907}</string>
    <key>ui_public1/kuang_light_hen.png</key>
    <string>{307,905}</string>
    <key>ui_public1/kuang_light_d2.png</key>
    <string>{207,1319}</string>
    <key>ui_public1/kuang_light_d.png</key>
    <string>{19,851}</string>
    <key>ui_public1/kuang_light_5.png</key>
    <string>{250,1979}</string>
    <key>ui_public1/kuang_light_4.png</key>
    <string>{215,1082}</string>
    <key>ui_public1/kuang_light_3.png</key>
    <string>{208,1109}</string>
    <key>ui_public1/kuang_light_2.png</key>
    <string>{195,1170}</string>
    <key>ui_public1/kuang_light_1.png</key>
    <string>{135,1128}</string>
    <key>ui_public1/kuang_light.png</key>
    <string>{35,891}</string>
    <key>ui_public1/kuang_di3.png</key>
    <string>{307,1402}</string>
    <key>ui_public1/kuang_di2.png</key>
    <string>{254,1421}</string>
    <key>ui_public1/kuang_di1.png</key>
    <string>{176,1232}</string>
    <key>ui_public1/ka_d9.png</key>
    <string>{70,682}</string>
    <key>ui_public1/ka_d8.png</key>
    <string>{4,684}</string>
    <key>ui_public1/ka_d7.png</key>
    <string>{275,684}</string>
    <key>ui_public1/ka_d6.png</key>
    <string>{135,679}</string>
    <key>ui_public1/ka_d5.png</key>
    <string>{267,611}</string>
    <key>ui_public1/ka_d4.png</key>
    <string>{206,615}</string>
    <key>ui_public1/ka_d3.png</key>
    <string>{139,612}</string>
    <key>ui_public1/ka_d2.png</key>
    <string>{55,622}</string>
    <key>ui_public1/ka_d13.png</key>
    <string>{158,2209}</string>
    <key>ui_public1/ka_d12.png</key>
    <string>{84,2184}</string>
    <key>ui_public1/ka_d11.png</key>
    <string>{10,2187}</string>
    <key>ui_public1/ka_d10.png</key>
    <string>{205,683}</string>
    <key>ui_public1/ka_d1.png</key>
    <string>{0,614}</string>
    <key>ui_public1/ka_choose2.png</key>
    <string>{166,756}</string>
    <key>ui_public1/ka_choose.png</key>
    <string>{86,1125}</string>
    <key>ui_public1/k_back_light.png</key>
    <string>{273,1310}</string>
    <key>ui_public1/k_add.png</key>
    <string>{0,344}</string>
    <key>ui_public1/juanzhou9.png</key>
    <string>{553,678}</string>
    <key>ui_public1/juanzhou8.png</key>
    <string>{554,624}</string>
    <key>ui_public1/juanzhou7.png</key>
    <string>{500,679}</string>
    <key>ui_public1/juanzhou6.png</key>
    <string>{337,670}</string>
    <key>ui_public1/juanzhou5.png</key>
    <string>{433,623}</string>
    <key>ui_public1/juanzhou4.png</key>
    <string>{337,622}</string>
    <key>ui_public1/juanzhou3.png</key>
    <string>{430,671}</string>
    <key>ui_public1/juanzhou2.png</key>
    <string>{384,623}</string>
    <key>ui_public1/juanzhou10.png</key>
    <string>{502,623}</string>
    <key>ui_public1/juanzhou1.png</key>
    <string>{383,670}</string>
    <key>ui_public1/jiantou_red2.png</key>
    <string>{33,1952}</string>
    <key>ui_public1/jiantou_red.png</key>
    <string>{378,1658}</string>
    <key>ui_public1/jiantou_green2.png</key>
    <string>{294,1520}</string>
    <key>ui_public1/jiantou_green1.png</key>
    <string>{300,1554}</string>
    <key>ui_public1/jiantou_green.png</key>
    <string>{284,1744}</string>
    <key>ui_public1/jianhong.png</key>
    <string>{102,1870}</string>
    <key>ui_public1/huobi_cao.png</key>
    <string>{10,557}</string>
    <key>ui_public1/he-z3.png</key>
    <string>{146,997}</string>
    <key>ui_public1/he-z2.png</key>
    <string>{69,1012}</string>
    <key>ui_public1/he-z.png</key>
    <string>{16,1002}</string>
    <key>ui_public1/he-light2.png</key>
    <string>{88,907}</string>
    <key>ui_public1/he-light1.png</key>
    <string>{20,913}</string>
    <key>ui_public1/he-di2.png</key>
    <string>{276,1831}</string>
    <key>ui_public1/guangniu.png</key>
    <string>{298,1696}</string>
    <key>ui_public1/gou_2.png</key>
    <string>{266,1267}</string>
    <key>ui_public1/gou_1.png</key>
    <string>{233,1267}</string>
    <key>ui_public1/gold.png</key>
    <string>{338,732}</string>
    <key>ui_public1/go.png</key>
    <string>{391,1528}</string>
    <key>ui_public1/gaode-red.png</key>
    <string>{298,424}</string>
    <key>ui_public1/fuben_jiesuan_di1.png</key>
    <string>{7,1406}</string>
    <key>ui_public1/fu_di.png</key>
    <string>{18,1290}</string>
    <key>ui_public1/fdj.png</key>
    <string>{351,1564}</string>
    <key>ui_public1/fdj-2.png</key>
    <string>{350,1525}</string>
    <key>ui_public1/energy.png</key>
    <string>{423,734}</string>
    <key>ui_public1/di_zi8.png</key>
    <string>{305,1647}</string>
    <key>ui_public1/di_zi7.png</key>
    <string>{244,1647}</string>
    <key>ui_public1/di_zi6.png</key>
    <string>{374,1023}</string>
    <key>ui_public1/di_zi5.png</key>
    <string>{222,993}</string>
    <key>ui_public1/di_zi4.png</key>
    <string>{415,1002}</string>
    <key>ui_public1/di_zi3.png</key>
    <string>{210,1059}</string>
    <key>ui_public1/di_zi2.png</key>
    <string>{386,1145}</string>
    <key>ui_public1/di_zi1.png</key>
    <string>{302,993}</string>
    <key>ui_public1/di_dark4.png</key>
    <string>{153,260}</string>
    <key>ui_public1/di_9gong_z1.png</key>
    <string>{83,265}</string>
    <key>ui_public1/di_9gong_z-2.png</key>
    <string>{152,325}</string>
    <key>ui_public1/di_9gong_z-1.png</key>
    <string>{78,332}</string>
    <key>ui_public1/di_9gong_line.png</key>
    <string>{397,387}</string>
    <key>ui_public1/di_9gong_light3.png</key>
    <string>{7,267}</string>
    <key>ui_public1/di_9gong_light2.png</key>
    <string>{148,191}</string>
    <key>ui_public1/di_9gong_light2-1.png</key>
    <string>{214,190}</string>
    <key>ui_public1/di_9gong_light.png</key>
    <string>{58,184}</string>
    <key>ui_public1/di_9gong_dark4.png</key>
    <string>{340,229}</string>
    <key>ui_public1/di_9gong_dark4-1.png</key>
    <string>{383,227}</string>
    <key>ui_public1/di_9gong_dark3.png</key>
    <string>{375,338}</string>
    <key>ui_public1/di_9gong_dark2.png</key>
    <string>{215,256}</string>
    <key>ui_public1/di_9gong_dark.png</key>
    <string>{0,200}</string>
    <key>ui_public1/di_9gong_black_tou.png</key>
    <string>{286,376}</string>
    <key>ui_public1/di_9gong_black_2.png</key>
    <string>{422,335}</string>
    <key>ui_public1/di_9gong_5.png</key>
    <string>{397,419}</string>
    <key>ui_public1/di2-2.png</key>
    <string>{292,275}</string>
    <key>ui_public1/di2-1.png</key>
    <string>{332,274}</string>
    <key>ui_public1/di-z6.png</key>
    <string>{360,1104}</string>
    <key>ui_public1/di-z5.png</key>
    <string>{1,1132}</string>
    <key>ui_public1/di-z4.png</key>
    <string>{420,1266}</string>
    <key>ui_public1/di-z4-2.png</key>
    <string>{421,1291}</string>
    <key>ui_public1/di-z4-1.png</key>
    <string>{300,1267}</string>
    <key>ui_public1/di-z3.png</key>
    <string>{214,1681}</string>
    <key>ui_public1/di-z2.png</key>
    <string>{25,410}</string>
    <key>ui_public1/di-z1.png</key>
    <string>{36,373}</string>
    <key>ui_public1/di-shade3.png</key>
    <string>{145,1284}</string>
    <key>ui_public1/di-shade2.png</key>
    <string>{333,909}</string>
    <key>ui_public1/di-shade.png</key>
    <string>{612,340}</string>
    <key>ui_public1/di-biaotou2.png</key>
    <string>{67,305}</string>
    <key>ui_public1/di-biaotou1.png</key>
    <string>{0,310}</string>
    <key>ui_public1/di-9gong-smallban3.png</key>
    <string>{154,1203}</string>
    <key>ui_public1/di-9gong-smallban2.png</key>
    <string>{120,1213}</string>
    <key>ui_public1/di-9gong-smallban.png</key>
    <string>{0,776}</string>
    <key>ui_public1/di-9gong-big.png</key>
    <string>{0,825}</string>
    <key>ui_public1/di-9gong-bao.png</key>
    <string>{212,327}</string>
    <key>ui_public1/di-7.png</key>
    <string>{298,226}</string>
    <key>ui_public1/country_di.png</key>
    <string>{522,1024}</string>
    <key>ui_public1/country_all_2.png</key>
    <string>{166,861}</string>
    <key>ui_public1/country_all_1.png</key>
    <string>{166,888}</string>
    <key>ui_public1/country_5_2.png</key>
    <string>{232,861}</string>
    <key>ui_public1/country_5_1.png</key>
    <string>{231,888}</string>
    <key>ui_public1/coin.png</key>
    <string>{379,734}</string>
    <key>ui_public1/close_di.png</key>
    <string>{380,121}</string>
    <key>ui_public1/close_big.png</key>
    <string>{382,83}</string>
    <key>ui_public1/close.png</key>
    <string>{352,90}</string>
    <key>ui_public1/choose_g.png</key>
    <string>{433,841}</string>
    <key>ui_public1/card_type_di.png</key>
    <string>{140,451}</string>
    <key>ui_public1/card_type_5.png</key>
    <string>{310,105}</string>
    <key>ui_public1/card_type_4.png</key>
    <string>{279,105}</string>
    <key>ui_public1/card_type_3.png</key>
    <string>{248,105}</string>
    <key>ui_public1/card_type_2.png</key>
    <string>{217,105}</string>
    <key>ui_public1/card_type_1.png</key>
    <string>{186,105}</string>
    <key>ui_public1/card_s.png</key>
    <string>{169,832}</string>
    <key>ui_public1/caoi-di.png</key>
    <string>{139,480}</string>
    <key>ui_public1/cao_di4.png</key>
    <string>{578,289}</string>
    <key>ui_public1/cao_di4-1.png</key>
    <string>{577,371}</string>
    <key>ui_public1/cao9-di.png</key>
    <string>{311,480}</string>
    <key>ui_public1/cao8-s.png</key>
    <string>{275,480}</string>
    <key>ui_public1/cao8-di.png</key>
    <string>{209,503}</string>
    <key>ui_public1/cao7-di2.png</key>
    <string>{514,338}</string>
    <key>ui_public1/cao7-di.png</key>
    <string>{482,338}</string>
    <key>ui_public1/cao6-di.png</key>
    <string>{314,506}</string>
    <key>ui_public1/cao5_point.png</key>
    <string>{30,698}</string>
    <key>ui_public1/cao5_jiao.png</key>
    <string>{242,504}</string>
    <key>ui_public1/cao5_di.png</key>
    <string>{163,502}</string>
    <key>ui_public1/cao5.png</key>
    <string>{257,483}</string>
    <key>ui_public1/cao4-s.png</key>
    <string>{234,484}</string>
    <key>ui_public1/cao4-di.png</key>
    <string>{350,506}</string>
    <key>ui_public1/cao3-di2.png</key>
    <string>{458,521}</string>
    <key>ui_public1/cao3-di1.png</key>
    <string>{422,520}</string>
    <key>ui_public1/cao3-di1-1.png</key>
    <string>{242,801}</string>
    <key>ui_public1/cao3-di.png</key>
    <string>{347,480}</string>
    <key>ui_public1/cao2.png</key>
    <string>{292,731}</string>
    <key>ui_public1/cao2-di.png</key>
    <string>{351,527}</string>
    <key>ui_public1/cao1.png</key>
    <string>{214,482}</string>
    <key>ui_public1/cao1-di.png</key>
    <string>{165,484}</string>
    <key>ui_public1/buzhen_p.png</key>
    <string>{489,558}</string>
    <key>ui_public1/buzhen_di4.png</key>
    <string>{294,850}</string>
    <key>ui_public1/buzhen_di3.png</key>
    <string>{327,837}</string>
    <key>ui_public1/buzhen_di2.png</key>
    <string>{81,1053}</string>
    <key>ui_public1/buzhen_di1.png</key>
    <string>{3,1056}</string>
    <key>ui_public1/button_zi1.png</key>
    <string>{585,159}</string>
    <key>ui_public1/button_yuan.png</key>
    <string>{579,237}</string>
    <key>ui_public1/button_yellow_chargedi.png</key>
    <string>{252,160}</string>
    <key>ui_public1/button_yellow_3.png</key>
    <string>{254,132}</string>
    <key>ui_public1/button_yellow_2.png</key>
    <string>{305,130}</string>
    <key>ui_public1/button_yellow_1.png</key>
    <string>{0,83}</string>
    <key>ui_public1/button_tou_1.png</key>
    <string>{284,755}</string>
    <key>ui_public1/button_shuju.png</key>
    <string>{472,264}</string>
    <key>ui_public1/button_s4.png</key>
    <string>{81,617}</string>
    <key>ui_public1/button_s3.png</key>
    <string>{364,44}</string>
    <key>ui_public1/button_s2.png</key>
    <string>{0,479}</string>
    <key>ui_public1/button_s2-1.png</key>
    <string>{0,516}</string>
    <key>ui_public1/button_s.png</key>
    <string>{10,440}</string>
    <key>ui_public1/button_red_2di.png</key>
    <string>{126,134}</string>
    <key>ui_public1/button_red_2.png</key>
    <string>{0,154}</string>
    <key>ui_public1/button_red_1.png</key>
    <string>{304,163}</string>
    <key>ui_public1/button_re.png</key>
    <string>{417,197}</string>
    <key>ui_public1/button_kuang.png</key>
    <string>{466,254}</string>
    <key>ui_public1/button_jiantou.png</key>
    <string>{329,340}</string>
    <key>ui_public1/button_green.png</key>
    <string>{609,283}</string>
    <key>ui_public1/button_gold2_di.png</key>
    <string>{115,512}</string>
    <key>ui_public1/button_gold2.png</key>
    <string>{288,339}</string>
    <key>ui_public1/button_go_di.png</key>
    <string>{442,11}</string>
    <key>ui_public1/button_go1.png</key>
    <string>{422,76}</string>
    <key>ui_public1/button_di2.png</key>
    <string>{434,482}</string>
    <key>ui_public1/button_di.png</key>
    <string>{499,223}</string>
    <key>ui_public1/button_buy_di.png</key>
    <string>{494,153}</string>
    <key>ui_public1/button_buy.png</key>
    <string>{493,194}</string>
    <key>ui_public1/button_blue_1.png</key>
    <string>{334,417}</string>
    <key>ui_public1/button_blue1.png</key>
    <string>{0,123}</string>
    <key>ui_public1/button_back.png</key>
    <string>{418,143}</string>
    <key>ui_public1/bk_di2.png</key>
    <string>{97,401}</string>
    <key>ui_public1/bk_di.png</key>
    <string>{51,397}</string>
    <key>ui_public1/b_menu6.png</key>
    <string>{607,0}</string>
    <key>ui_public1/b_menu5.png</key>
    <string>{605,19}</string>
    <key>ui_public1/b_menu4.png</key>
    <string>{602,69}</string>
    <key>ui_public1/b_menu3.png</key>
    <string>{598,35}</string>
    <key>ui_public1/b_menu2.png</key>
    <string>{593,90}</string>
    <key>ui_public1/b_menu1.png</key>
    <string>{0,0}</string>
    <key>ui_public1/b_menu1-1.png</key>
    <string>{2,0}</string>
    <key>ui_public1/b_buy2.png</key>
    <string>{593,188}</string>
    <key>ui_public1/b_biaoqian4.png</key>
    <string>{499,83}</string>
    <key>ui_public1/b_biaoqian4-1.png</key>
    <string>{500,117}</string>
    <key>ui_public1/b_biaoqian3.png</key>
    <string>{492,4}</string>
    <key>ui_public1/b_biaoqian3-1.png</key>
    <string>{497,37}</string>
    <key>ui_public1/b_biaoqian2.png</key>
    <string>{410,6}</string>
    <key>ui_public1/b_biaoqian2-1.png</key>
    <string>{373,0}</string>
    <key>ui_public1/b_biaoqian1.png</key>
    <string>{311,45}</string>
    <key>ui_public1/b_biaoqian1-1.png</key>
    <string>{247,69}</string>
    <key>ui_public1/b_back.png</key>
    <string>{99,42}</string>
    <key>ui_public1/=.png</key>
    <string>{618,491}</string>
    <key>ui_public1/90020.png</key>
    <string>{10,158}</string>
    <key>ui_public1/90015.png</key>
    <string>{421,778}</string>
    <key>ui_public1/90005.png</key>
    <string>{375,778}</string>
    <key>ui_public1/90004.png</key>
    <string>{331,777}</string>
    <key>ui_public1/2ji-title-bian.png</key>
    <string>{347,465}</string>
    <key>ui_public1/-2.png</key>
    <string>{37,84}</string>
    <key>ui_public1/-.png</key>
    <string>{583,530}</string>
    <key>ui_public1/--.png</key>
    <string>{582,500}</string>
    <key>ui_public1/+zzz.png</key>
    <string>{42,84}</string>
    <key>ui_public1/+small.png</key>
    <string>{189,10}</string>
    <key>ui_public1/+jiantou.png</key>
    <string>{279,0}</string>
    <key>ui_public1/+big_yellow.png</key>
    <string>{339,10}</string>
    <key>ui_public1/+big_green.png</key>
    <string>{309,10}</string>
    <key>ui_public1/+big4.png</key>
    <string>{253,13}</string>
    <key>ui_public1/+big3.png</key>
    <string>{112,8}</string>
    <key>ui_public1/+big2.png</key>
    <string>{156,34}</string>
    <key>ui_public1/+big.png</key>
    <string>{147,2}</string>
    <key>ui_public1/+2.png</key>
    <string>{77,10}</string>
    <key>ui_public1/+.png</key>
    <string>{548,524}</string>
    <key>ui_public1/++.png</key>
    <string>{551,465}</string>
</dict>
