<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_shilian/zi_di.png</key>
    <string>{6,185}</string>
    <key>ui_shilian/sl_shenshoudan_light.png</key>
    <string>{45,225}</string>
    <key>ui_shilian/sl_shenshoudan_icon.png</key>
    <string>{172,209}</string>
    <key>ui_shilian/sl_light3.png</key>
    <string>{388,826}</string>
    <key>ui_shilian/sl_light2.png</key>
    <string>{338,826}</string>
    <key>ui_shilian/sl_light1.png</key>
    <string>{288,826}</string>
    <key>ui_shilian/sl_icon_wait_6.png</key>
    <string>{162,826}</string>
    <key>ui_shilian/sl_icon_wait_5.png</key>
    <string>{123,826}</string>
    <key>ui_shilian/sl_icon_wait_4.png</key>
    <string>{68,826}</string>
    <key>ui_shilian/sl_icon_wait_3.png</key>
    <string>{10,826}</string>
    <key>ui_shilian/sl_icon_wait_2.png</key>
    <string>{346,718}</string>
    <key>ui_shilian/sl_icon_wait_1.png</key>
    <string>{320,718}</string>
    <key>ui_shilian/sl_icon_wait.png</key>
    <string>{224,718}</string>
    <key>ui_shilian/sl_icon3_6.png</key>
    <string>{180,718}</string>
    <key>ui_shilian/sl_icon3_5.png</key>
    <string>{137,718}</string>
    <key>ui_shilian/sl_icon3_4.png</key>
    <string>{92,718}</string>
    <key>ui_shilian/sl_icon3_3.png</key>
    <string>{48,718}</string>
    <key>ui_shilian/sl_icon3_2.png</key>
    <string>{10,718}</string>
    <key>ui_shilian/sl_icon3_1.png</key>
    <string>{378,629}</string>
    <key>ui_shilian/sl_icon3.png</key>
    <string>{289,629}</string>
    <key>ui_shilian/sl_icon2_7.png</key>
    <string>{271,629}</string>
    <key>ui_shilian/sl_icon2_6.png</key>
    <string>{225,629}</string>
    <key>ui_shilian/sl_icon2_5.png</key>
    <string>{141,629}</string>
    <key>ui_shilian/sl_icon2_4.png</key>
    <string>{84,629}</string>
    <key>ui_shilian/sl_icon2_3.png</key>
    <string>{59,629}</string>
    <key>ui_shilian/sl_icon2_2.png</key>
    <string>{10,629}</string>
    <key>ui_shilian/sl_icon2_1.png</key>
    <string>{379,494}</string>
    <key>ui_shilian/sl_icon2.png</key>
    <string>{295,494}</string>
    <key>ui_shilian/sl_icon1_3.png</key>
    <string>{260,494}</string>
    <key>ui_shilian/sl_icon1_2.png</key>
    <string>{225,494}</string>
    <key>ui_shilian/sl_icon1_1.png</key>
    <string>{204,494}</string>
    <key>ui_shilian/sl_icon1.png</key>
    <string>{102,494}</string>
    <key>ui_shilian/sl_fier_13.png</key>
    <string>{56,494}</string>
    <key>ui_shilian/sl_fier_12.png</key>
    <string>{10,494}</string>
    <key>ui_shilian/sl_fier_11.png</key>
    <string>{378,418}</string>
    <key>ui_shilian/sl_fier_10.png</key>
    <string>{332,418}</string>
    <key>ui_shilian/sl_fier_09.png</key>
    <string>{286,418}</string>
    <key>ui_shilian/sl_fier_08.png</key>
    <string>{240,418}</string>
    <key>ui_shilian/sl_fier_07.png</key>
    <string>{194,418}</string>
    <key>ui_shilian/sl_fier_06.png</key>
    <string>{148,418}</string>
    <key>ui_shilian/sl_fier_05.png</key>
    <string>{102,418}</string>
    <key>ui_shilian/sl_fier_04.png</key>
    <string>{56,418}</string>
    <key>ui_shilian/sl_fier_03.png</key>
    <string>{10,418}</string>
    <key>ui_shilian/sl_fier_02.png</key>
    <string>{368,304}</string>
    <key>ui_shilian/sl_fier_01.png</key>
    <string>{322,304}</string>
    <key>ui_shilian/sl_di2.png</key>
    <string>{123,82}</string>
    <key>ui_shilian/sl_di1.png</key>
    <string>{3,79}</string>
    <key>ui_shilian/point.png</key>
    <string>{10,304}</string>
    <key>ui_shilian/nandu_di2.png</key>
    <string>{291,0}</string>
    <key>ui_shilian/nandu_di1.png</key>
    <string>{192,0}</string>
    <key>ui_shilian/line.png</key>
    <string>{285,81}</string>
    <key>ui_shilian/lian.png</key>
    <string>{137,10}</string>
    <key>ui_shilian/di_zs.png</key>
    <string>{70,11}</string>
    <key>ui_shilian/choose_light.png</key>
    <string>{0,1}</string>
</dict>
