<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_severwar/z-sw.png</key>
    <string>{161,19}</string>
    <key>ui_severwar/z-9.png</key>
    <string>{0,483}</string>
    <key>ui_severwar/z-8.png</key>
    <string>{0,869}</string>
    <key>ui_severwar/z-7.png</key>
    <string>{128,164}</string>
    <key>ui_severwar/z-6.png</key>
    <string>{0,350}</string>
    <key>ui_severwar/z-5.png</key>
    <string>{163,8}</string>
    <key>ui_severwar/z-4.png</key>
    <string>{110,0}</string>
    <key>ui_severwar/z-3.png</key>
    <string>{86,42}</string>
    <key>ui_severwar/z-2.png</key>
    <string>{64,104}</string>
    <key>ui_severwar/z-14.png</key>
    <string>{255,91}</string>
    <key>ui_severwar/z-13.png</key>
    <string>{243,29}</string>
    <key>ui_severwar/z-13-1.png</key>
    <string>{94,612}</string>
    <key>ui_severwar/z-12.png</key>
    <string>{311,30}</string>
    <key>ui_severwar/z-11.png</key>
    <string>{240,88}</string>
    <key>ui_severwar/z-10.png</key>
    <string>{179,87}</string>
    <key>ui_severwar/z-1.png</key>
    <string>{110,64}</string>
    <key>ui_severwar/ui_severwar_huohua.png</key>
    <string>{165,731}</string>
    <key>ui_severwar/ui_luoxuan.png</key>
    <string>{0,555}</string>
    <key>ui_severwar/tian_5a.png</key>
    <string>{254,597}</string>
    <key>ui_severwar/tian_5.png</key>
    <string>{295,657}</string>
    <key>ui_severwar/tian_4a.png</key>
    <string>{309,594}</string>
    <key>ui_severwar/tian_4.png</key>
    <string>{385,617}</string>
    <key>ui_severwar/tian_3a.png</key>
    <string>{241,653}</string>
    <key>ui_severwar/tian_3.png</key>
    <string>{300,617}</string>
    <key>ui_severwar/tian_2a.png</key>
    <string>{246,617}</string>
    <key>ui_severwar/tian_2.png</key>
    <string>{319,617}</string>
    <key>ui_severwar/tian_1a.png</key>
    <string>{246,634}</string>
    <key>ui_severwar/tian_1.png</key>
    <string>{309,640}</string>
    <key>ui_severwar/tai1.png</key>
    <string>{178,205}</string>
    <key>ui_severwar/search_2.png</key>
    <string>{65,148}</string>
    <key>ui_severwar/search_1.png</key>
    <string>{0,156}</string>
    <key>ui_severwar/npc_0.png</key>
    <string>{183,147}</string>
    <key>ui_severwar/no5.png</key>
    <string>{337,724}</string>
    <key>ui_severwar/no4.png</key>
    <string>{313,724}</string>
    <key>ui_severwar/no3.png</key>
    <string>{285,724}</string>
    <key>ui_severwar/no2.png</key>
    <string>{267,721}</string>
    <key>ui_severwar/no1.png</key>
    <string>{247,725}</string>
    <key>ui_severwar/jiesuan_di2.png</key>
    <string>{7,799}</string>
    <key>ui_severwar/jiesuan_di1.png</key>
    <string>{17,617}</string>
    <key>ui_severwar/didi2.png</key>
    <string>{0,43}</string>
    <key>ui_severwar/didi1.png</key>
    <string>{2,0}</string>
    <key>ui_severwar/di_9.png</key>
    <string>{194,31}</string>
    <key>ui_severwar/di_4a.png</key>
    <string>{261,503}</string>
    <key>ui_severwar/di_4.png</key>
    <string>{299,547}</string>
    <key>ui_severwar/di_3a.png</key>
    <string>{254,551}</string>
    <key>ui_severwar/di_3.png</key>
    <string>{242,500}</string>
    <key>ui_severwar/di_2a.png</key>
    <string>{256,528}</string>
    <key>ui_severwar/di_2.png</key>
    <string>{301,526}</string>
    <key>ui_severwar/di_1a.png</key>
    <string>{255,573}</string>
    <key>ui_severwar/di_1.png</key>
    <string>{10,374}</string>
    <key>ui_severwar/button2.png</key>
    <string>{276,0}</string>
    <key>ui_severwar/button1.png</key>
    <string>{225,0}</string>
    <key>ui_severwar/bang_2.png</key>
    <string>{181,399}</string>
    <key>ui_severwar/bang_1.png</key>
    <string>{178,312}</string>
    <key>ui_severwar/badge_9.png</key>
    <string>{284,388}</string>
    <key>ui_severwar/badge_8.png</key>
    <string>{290,326}</string>
    <key>ui_severwar/badge_7.png</key>
    <string>{287,275}</string>
    <key>ui_severwar/badge_6.png</key>
    <string>{476,197}</string>
    <key>ui_severwar/badge_5.png</key>
    <string>{410,193}</string>
    <key>ui_severwar/badge_4.png</key>
    <string>{349,195}</string>
    <key>ui_severwar/badge_3.png</key>
    <string>{339,424}</string>
    <key>ui_severwar/badge_2.png</key>
    <string>{338,361}</string>
    <key>ui_severwar/badge_16.png</key>
    <string>{343,503}</string>
    <key>ui_severwar/badge_15.png</key>
    <string>{472,416}</string>
    <key>ui_severwar/badge_14.png</key>
    <string>{470,349}</string>
    <key>ui_severwar/badge_13.png</key>
    <string>{471,279}</string>
    <key>ui_severwar/badge_12.png</key>
    <string>{405,414}</string>
    <key>ui_severwar/badge_11.png</key>
    <string>{403,280}</string>
    <key>ui_severwar/badge_10.png</key>
    <string>{404,348}</string>
    <key>ui_severwar/badge_1.png</key>
    <string>{338,292}</string>
</dict>
