<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_share/zhaomu.png</key>
    <string>{0,1328}</string>
    <key>ui_share/zhang_1.png</key>
    <string>{136,77}</string>
    <key>ui_share/yyb_download.png</key>
    <string>{310,839}</string>
    <key>ui_share/ying_2.png</key>
    <string>{132,944}</string>
    <key>ui_share/ying_1.png</key>
    <string>{48,842}</string>
    <key>ui_share/web_download.png</key>
    <string>{202,837}</string>
    <key>ui_share/star.png</key>
    <string>{274,203}</string>
    <key>ui_share/point.png</key>
    <string>{191,239}</string>
    <key>ui_share/pi_di2.png</key>
    <string>{160,295}</string>
    <key>ui_share/pi_di1.png</key>
    <string>{152,329}</string>
    <key>ui_share/my.png</key>
    <string>{136,49}</string>
    <key>ui_share/ma.png</key>
    <string>{0,140}</string>
    <key>ui_share/line2.png</key>
    <string>{255,180}</string>
    <key>ui_share/line.png</key>
    <string>{158,169}</string>
    <key>ui_share/light.png</key>
    <string>{199,100}</string>
    <key>ui_share/level_di2.png</key>
    <string>{153,680}</string>
    <key>ui_share/level_di.png</key>
    <string>{94,680}</string>
    <key>ui_share/level.png</key>
    <string>{10,716}</string>
    <key>ui_share/get_card_word6.png</key>
    <string>{324,510}</string>
    <key>ui_share/get_card_word5.png</key>
    <string>{222,510}</string>
    <key>ui_share/get_card_word4.png</key>
    <string>{129,370}</string>
    <key>ui_share/get_card_word3.png</key>
    <string>{0,622}</string>
    <key>ui_share/get_card_word2.png</key>
    <string>{0,478}</string>
    <key>ui_share/get_card_word1.png</key>
    <string>{0,317}</string>
    <key>ui_share/get_card_di_1.png</key>
    <string>{0,48}</string>
    <key>ui_share/get_card_di.png</key>
    <string>{0,1029}</string>
    <key>ui_share/dia.png</key>
    <string>{304,203}</string>
    <key>ui_share/di_4.png</key>
    <string>{330,84}</string>
    <key>ui_share/di_3.png</key>
    <string>{358,9}</string>
    <key>ui_share/di_2.png</key>
    <string>{276,3}</string>
    <key>ui_share/di_1.png</key>
    <string>{210,10}</string>
    <key>ui_share/country_5.png</key>
    <string>{170,10}</string>
    <key>ui_share/country_4.png</key>
    <string>{130,10}</string>
    <key>ui_share/country_3.png</key>
    <string>{90,10}</string>
    <key>ui_share/country_2.png</key>
    <string>{50,10}</string>
    <key>ui_share/country_1.png</key>
    <string>{10,10}</string>
    <key>ui_share/CF.png</key>
    <string>{180,75}</string>
</dict>
