<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_team/y_di.png</key>
    <string>{0,801}</string>
    <key>ui_team/waather_2.png</key>
    <string>{243,663}</string>
    <key>ui_team/waather_1.png</key>
    <string>{189,661}</string>
    <key>ui_team/room_lv.png</key>
    <string>{105,796}</string>
    <key>ui_team/room_5.png</key>
    <string>{0,1269}</string>
    <key>ui_team/room_4.png</key>
    <string>{0,1154}</string>
    <key>ui_team/room_3.png</key>
    <string>{0,1033}</string>
    <key>ui_team/room_2.png</key>
    <string>{0,930}</string>
    <key>ui_team/room_1.png</key>
    <string>{0,826}</string>
    <key>ui_team/point_di.png</key>
    <string>{5,750}</string>
    <key>ui_team/point_2.png</key>
    <string>{4,722}</string>
    <key>ui_team/point_1.png</key>
    <string>{28,721}</string>
    <key>ui_team/play.png</key>
    <string>{4,692}</string>
    <key>ui_team/pic_1.png</key>
    <string>{185,730}</string>
    <key>ui_team/num_7.png</key>
    <string>{164,620}</string>
    <key>ui_team/num_6.png</key>
    <string>{136,618}</string>
    <key>ui_team/num_5.png</key>
    <string>{108,617}</string>
    <key>ui_team/num_4.png</key>
    <string>{79,619}</string>
    <key>ui_team/num_3.png</key>
    <string>{53,617}</string>
    <key>ui_team/num_2.png</key>
    <string>{28,615}</string>
    <key>ui_team/num_1.png</key>
    <string>{5,618}</string>
    <key>ui_team/name_di7.png</key>
    <string>{121,557}</string>
    <key>ui_team/n_night.png</key>
    <string>{219,616}</string>
    <key>ui_team/n_day.png</key>
    <string>{194,616}</string>
    <key>ui_team/n_1.png</key>
    <string>{137,804}</string>
    <key>ui_team/laba.png</key>
    <string>{0,650}</string>
    <key>ui_team/kuang_top.png</key>
    <string>{72,558}</string>
    <key>ui_team/jt.png</key>
    <string>{1,546}</string>
    <key>ui_team/icon_safe.png</key>
    <string>{161,324}</string>
    <key>ui_team/icon_captain.png</key>
    <string>{141,325}</string>
    <key>ui_team/enter_team.png</key>
    <string>{167,0}</string>
    <key>ui_team/enter_moster.png</key>
    <string>{0,0}</string>
    <key>ui_team/enter_coming.png</key>
    <string>{330,0}</string>
    <key>ui_team/end.png</key>
    <string>{4,308}</string>
    <key>ui_team/dx_3.png</key>
    <string>{319,242}</string>
    <key>ui_team/dx_2.png</key>
    <string>{199,246}</string>
    <key>ui_team/dx_1.png</key>
    <string>{94,244}</string>
    <key>ui_team/bg_line2.png</key>
    <string>{444,378}</string>
    <key>ui_team/bg_line1.png</key>
    <string>{376,409}</string>
    <key>ui_team/bg2.png</key>
    <string>{0,247}</string>
    <key>ui_team/bg.png</key>
    <string>{517,0}</string>
    <key>ui_team/_di8.png</key>
    <string>{95,322}</string>
</dict>
