<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_word/zws_zb.png</key>
    <string>{375,3292}</string>
    <key>ui_word/zws_pow.png</key>
    <string>{316,3461}</string>
    <key>ui_word/zws_hc.png</key>
    <string>{340,3292}</string>
    <key>ui_word/zhuanyi_ok.png</key>
    <string>{509,391}</string>
    <key>ui_word/zhuanshu.png</key>
    <string>{187,3292}</string>
    <key>ui_word/zhen_wu.png</key>
    <string>{102,1406}</string>
    <key>ui_word/zhen_wei.png</key>
    <string>{0,1403}</string>
    <key>ui_word/zhen_three.png</key>
    <string>{8,2868}</string>
    <key>ui_word/zhen_shu.png</key>
    <string>{50,1405}</string>
    <key>ui_word/zhen_shen.png</key>
    <string>{11,2798}</string>
    <key>ui_word/zhen_qun.png</key>
    <string>{24,1444}</string>
    <key>ui_word/zhen_luan.png</key>
    <string>{24,1483}</string>
    <key>ui_word/zhen_C.png</key>
    <string>{10,2835}</string>
    <key>ui_word/zhen_+.png</key>
    <string>{78,1443}</string>
    <key>ui_word/zhaoniu.png</key>
    <string>{49,240}</string>
    <key>ui_word/zhaomu2.png</key>
    <string>{161,3193}</string>
    <key>ui_word/zhaomu1.png</key>
    <string>{78,3193}</string>
    <key>ui_word/zhao.png</key>
    <string>{17,211}</string>
    <key>ui_word/zhanli_2.png</key>
    <string>{216,1809}</string>
    <key>ui_word/zhanli.png</key>
    <string>{235,120}</string>
    <key>ui_word/zhan_2.png</key>
    <string>{232,145}</string>
    <key>ui_word/zb_zb.png</key>
    <string>{69,1715}</string>
    <key>ui_word/zb_qu2.png</key>
    <string>{67,1773}</string>
    <key>ui_word/zb_qu.png</key>
    <string>{10,1769}</string>
    <key>ui_word/zb_hc.png</key>
    <string>{12,1713}</string>
    <key>ui_word/z_zs.png</key>
    <string>{142,702}</string>
    <key>ui_word/z_lq.png</key>
    <string>{197,700}</string>
    <key>ui_word/yyb_budan.png</key>
    <string>{334,3172}</string>
    <key>ui_word/y_yzs.png</key>
    <string>{131,1313}</string>
    <key>ui_word/y_yjh.png</key>
    <string>{68,3545}</string>
    <key>ui_word/y_yhd.png</key>
    <string>{127,1363}</string>
    <key>ui_word/y_ko.png</key>
    <string>{218,3281}</string>
    <key>ui_word/xun_c.png</key>
    <string>{268,1226}</string>
    <key>ui_word/xun_b.png</key>
    <string>{237,1224}</string>
    <key>ui_word/xun_a.png</key>
    <string>{209,1228}</string>
    <key>ui_word/xun_3.png</key>
    <string>{133,1216}</string>
    <key>ui_word/xun_2.png</key>
    <string>{68,1218}</string>
    <key>ui_word/xun_1.png</key>
    <string>{0,1219}</string>
    <key>ui_word/xget_2.png</key>
    <string>{127,1339}</string>
    <key>ui_word/xget.png</key>
    <string>{0,1301}</string>
    <key>ui_word/xdate.png</key>
    <string>{54,1304}</string>
    <key>ui_word/x_qiang.png</key>
    <string>{53,1148}</string>
    <key>ui_word/x_hu.png</key>
    <string>{9,1147}</string>
    <key>ui_word/wish.png</key>
    <string>{282,1347}</string>
    <key>ui_word/win_pai.png</key>
    <string>{309,1488}</string>
    <key>ui_word/win_2.png</key>
    <string>{252,3237}</string>
    <key>ui_word/weide2.png</key>
    <string>{236,1348}</string>
    <key>ui_word/weide.png</key>
    <string>{10,1231}</string>
    <key>ui_word/weapon_tp.png</key>
    <string>{153,1563}</string>
    <key>ui_word/weapon_qiang.png</key>
    <string>{82,1561}</string>
    <key>ui_word/weapon_lian.png</key>
    <string>{7,1571}</string>
    <key>ui_word/wake_ok.png</key>
    <string>{25,1902}</string>
    <key>ui_word/w_wangjue.png</key>
    <string>{7,1994}</string>
    <key>ui_word/w_jie.png</key>
    <string>{49,1969}</string>
    <key>ui_word/w_di.png</key>
    <string>{9,1970}</string>
    <key>ui_word/VS3.png</key>
    <string>{110,1984}</string>
    <key>ui_word/victory_1.png</key>
    <string>{0,802}</string>
    <key>ui_word/unopen.png</key>
    <string>{180,1340}</string>
    <key>ui_word/unlock9.png</key>
    <string>{192,1060}</string>
    <key>ui_word/unlock8.png</key>
    <string>{0,985}</string>
    <key>ui_word/unlock76.png</key>
    <string>{98,1000}</string>
    <key>ui_word/unlock72.png</key>
    <string>{89,1027}</string>
    <key>ui_word/unlock7.png</key>
    <string>{195,1039}</string>
    <key>ui_word/unlock69.png</key>
    <string>{0,926}</string>
    <key>ui_word/unlock66.png</key>
    <string>{215,1065}</string>
    <key>ui_word/unlock64.png</key>
    <string>{403,925}</string>
    <key>ui_word/unlock6.png</key>
    <string>{0,952}</string>
    <key>ui_word/unlock58.png</key>
    <string>{407,947}</string>
    <key>ui_word/unlock5.png</key>
    <string>{0,1068}</string>
    <key>ui_word/unlock4.png</key>
    <string>{209,979}</string>
    <key>ui_word/unlock39.png</key>
    <string>{400,907}</string>
    <key>ui_word/unlock36.png</key>
    <string>{0,1043}</string>
    <key>ui_word/unlock32.png</key>
    <string>{202,1114}</string>
    <key>ui_word/unlock31.png</key>
    <string>{213,1020}</string>
    <key>ui_word/unlock3.png</key>
    <string>{0,909}</string>
    <key>ui_word/unlock20.png</key>
    <string>{210,943}</string>
    <key>ui_word/unlock2.png</key>
    <string>{0,888}</string>
    <key>ui_word/unlock19.png</key>
    <string>{35,1004}</string>
    <key>ui_word/unlock13.png</key>
    <string>{256,907}</string>
    <key>ui_word/unlock12.png</key>
    <string>{210,903}</string>
    <key>ui_word/unlock11.png</key>
    <string>{0,1012}</string>
    <key>ui_word/unlock10.png</key>
    <string>{172,1090}</string>
    <key>ui_word/unlock1.png</key>
    <string>{0,1101}</string>
    <key>ui_word/unget.png</key>
    <string>{181,1314}</string>
    <key>ui_word/tupo.png</key>
    <string>{183,1806}</string>
    <key>ui_word/tuan_huo.png</key>
    <string>{88,1498}</string>
    <key>ui_word/tt_zi_4.png</key>
    <string>{239,2178}</string>
    <key>ui_word/tt_zi_3.png</key>
    <string>{188,2178}</string>
    <key>ui_word/tt_zi_2.png</key>
    <string>{137,2178}</string>
    <key>ui_word/tt_zi_1.png</key>
    <string>{86,2178}</string>
    <key>ui_word/tt_2.png</key>
    <string>{178,2027}</string>
    <key>ui_word/tt_1.png</key>
    <string>{102,2027}</string>
    <key>ui_word/today.png</key>
    <string>{203,1660}</string>
    <key>ui_word/tmkq.png</key>
    <string>{30,2105}</string>
    <key>ui_word/team_tuan.png</key>
    <string>{10,2565}</string>
    <key>ui_word/team_di.png</key>
    <string>{388,2518}</string>
    <key>ui_word/sx_zhi2.png</key>
    <string>{372,663}</string>
    <key>ui_word/sx_zhi1.png</key>
    <string>{327,662}</string>
    <key>ui_word/sx_wu2.png</key>
    <string>{373,704}</string>
    <key>ui_word/sx_wu1.png</key>
    <string>{325,705}</string>
    <key>ui_word/sx_mo2.png</key>
    <string>{373,746}</string>
    <key>ui_word/sx_mo1.png</key>
    <string>{326,747}</string>
    <key>ui_word/sx_fang2.png</key>
    <string>{373,784}</string>
    <key>ui_word/sx_fang1.png</key>
    <string>{326,786}</string>
    <key>ui_word/sx_all2.png</key>
    <string>{376,608}</string>
    <key>ui_word/sx_all1.png</key>
    <string>{331,613}</string>
    <key>ui_word/start.png</key>
    <string>{57,426}</string>
    <key>ui_word/soul_zhenwei.png</key>
    <string>{44,179}</string>
    <key>ui_word/soul_zhen5.png</key>
    <string>{428,1218}</string>
    <key>ui_word/soul_zhen4.png</key>
    <string>{344,1305}</string>
    <key>ui_word/soul_zhen3.png</key>
    <string>{346,1263}</string>
    <key>ui_word/soul_zhen2.png</key>
    <string>{344,1222}</string>
    <key>ui_word/soul_zhen1.png</key>
    <string>{415,1262}</string>
    <key>ui_word/soul_zhen0.png</key>
    <string>{423,1305}</string>
    <key>ui_word/soul_xunxian.png</key>
    <string>{91,141}</string>
    <key>ui_word/sorry.png</key>
    <string>{241,1652}</string>
    <key>ui_word/sl_wait.png</key>
    <string>{168,512}</string>
    <key>ui_word/sl_title4.png</key>
    <string>{395,1345}</string>
    <key>ui_word/sl_title3.png</key>
    <string>{143,512}</string>
    <key>ui_word/sl_title2.png</key>
    <string>{118,512}</string>
    <key>ui_word/sl_title1.png</key>
    <string>{94,510}</string>
    <key>ui_word/sl_hard.png</key>
    <string>{8,611}</string>
    <key>ui_word/sl_easy.png</key>
    <string>{9,525}</string>
    <key>ui_word/sl_diffcult.png</key>
    <string>{7,583}</string>
    <key>ui_word/sl_common.png</key>
    <string>{8,554}</string>
    <key>ui_word/skip.png</key>
    <string>{463,507}</string>
    <key>ui_word/shouyuan_shop.png</key>
    <string>{338,545}</string>
    <key>ui_word/shop_zi2.png</key>
    <string>{110,1632}</string>
    <key>ui_word/shop_zi1.png</key>
    <string>{8,1631}</string>
    <key>ui_word/shishouqi.png</key>
    <string>{285,550}</string>
    <key>ui_word/shengxing.png</key>
    <string>{226,328}</string>
    <key>ui_word/share_2.png</key>
    <string>{438,734}</string>
    <key>ui_word/share_1.png</key>
    <string>{438,693}</string>
    <key>ui_word/set_on.png</key>
    <string>{0,687}</string>
    <key>ui_word/set_off.png</key>
    <string>{0,719}</string>
    <key>ui_word/search.png</key>
    <string>{181,1494}</string>
    <key>ui_word/saodang_ok.png</key>
    <string>{361,285}</string>
    <key>ui_word/sanyao.png</key>
    <string>{137,1927}</string>
    <key>ui_word/s_zhuanyi.png</key>
    <string>{461,1001}</string>
    <key>ui_word/s_zheng.png</key>
    <string>{272,244}</string>
    <key>ui_word/s_xinfu.png</key>
    <string>{250,805}</string>
    <key>ui_word/s_xiaoxin.png</key>
    <string>{294,1684}</string>
    <key>ui_word/s_win.png</key>
    <string>{452,1434}</string>
    <key>ui_word/s_win+.png</key>
    <string>{209,1159}</string>
    <key>ui_word/s_weihu.png</key>
    <string>{251,782}</string>
    <key>ui_word/s_up.png</key>
    <string>{451,1397}</string>
    <key>ui_word/s_ronglian.png</key>
    <string>{410,1001}</string>
    <key>ui_word/s_new.png</key>
    <string>{288,265}</string>
    <key>ui_word/s_lose.png</key>
    <string>{454,1471}</string>
    <key>ui_word/s_huobao.png</key>
    <string>{249,825}</string>
    <key>ui_word/s_huo.png</key>
    <string>{253,265}</string>
    <key>ui_word/s_huahun.png</key>
    <string>{513,1001}</string>
    <key>ui_word/s_down.png</key>
    <string>{450,1360}</string>
    <key>ui_word/s_bang_tian.png</key>
    <string>{152,1171}</string>
    <key>ui_word/s_bang_di.png</key>
    <string>{125,1166}</string>
    <key>ui_word/redbag.png</key>
    <string>{440,1769}</string>
    <key>ui_word/qingyi_shop.png</key>
    <string>{464,1605}</string>
    <key>ui_word/pet_name_06.png</key>
    <string>{104,1855}</string>
    <key>ui_word/pet_name_05.png</key>
    <string>{10,1667}</string>
    <key>ui_word/pet_name_04.png</key>
    <string>{508,1301}</string>
    <key>ui_word/pet_name_03.png</key>
    <string>{386,1160}</string>
    <key>ui_word/pet_name_02.png</key>
    <string>{419,1121}</string>
    <key>ui_word/pet_name_01.png</key>
    <string>{414,1085}</string>
    <key>ui_word/paiming_wo.png</key>
    <string>{235,164}</string>
    <key>ui_word/paiming.png</key>
    <string>{269,163}</string>
    <key>ui_word/pai_2.png</key>
    <string>{460,1517}</string>
    <key>ui_word/over.png</key>
    <string>{462,483}</string>
    <key>ui_word/open.png</key>
    <string>{239,1313}</string>
    <key>ui_word/o_ok.png</key>
    <string>{152,1359}</string>
    <key>ui_word/npc_info_weapon.png</key>
    <string>{604,852}</string>
    <key>ui_word/npc_info_totem.png</key>
    <string>{571,889}</string>
    <key>ui_word/npc_info_starup.png</key>
    <string>{427,848}</string>
    <key>ui_word/npc_info_levelup.png</key>
    <string>{484,847}</string>
    <key>ui_word/npc_info_awake.png</key>
    <string>{544,842}</string>
    <key>ui_word/now.png</key>
    <string>{10,1402}</string>
    <key>ui_word/newhero.png</key>
    <string>{224,297}</string>
    <key>ui_word/new_guanka.png</key>
    <string>{313,518}</string>
    <key>ui_word/need.png</key>
    <string>{56,1643}</string>
    <key>ui_word/mai_y_6.png</key>
    <string>{541,726}</string>
    <key>ui_word/mai_y_5.png</key>
    <string>{521,722}</string>
    <key>ui_word/mai_y_4.png</key>
    <string>{619,728}</string>
    <key>ui_word/mai_y_3.png</key>
    <string>{601,725}</string>
    <key>ui_word/mai_y_2.png</key>
    <string>{584,724}</string>
    <key>ui_word/mai_y_1.png</key>
    <string>{568,728}</string>
    <key>ui_word/lose_1.png</key>
    <string>{0,769}</string>
    <key>ui_word/lose.png</key>
    <string>{137,1703}</string>
    <key>ui_word/lingquchenggong.png</key>
    <string>{140,578}</string>
    <key>ui_word/lingqi.png</key>
    <string>{136,239}</string>
    <key>ui_word/ling_pei.png</key>
    <string>{44,113}</string>
    <key>ui_word/ling_ji.png</key>
    <string>{0,142}</string>
    <key>ui_word/levelup_s2.png</key>
    <string>{212,234}</string>
    <key>ui_word/levelup_s.png</key>
    <string>{164,238}</string>
    <key>ui_word/levelup.png</key>
    <string>{0,328}</string>
    <key>ui_word/leijiqiandao.png</key>
    <string>{537,633}</string>
    <key>ui_word/kong.png</key>
    <string>{72,698}</string>
    <key>ui_word/jt_shop.png</key>
    <string>{297,386}</string>
    <key>ui_word/jt_race.png</key>
    <string>{32,1237}</string>
    <key>ui_word/jt_hall.png</key>
    <string>{249,392}</string>
    <key>ui_word/jt_fuben.png</key>
    <string>{338,1162}</string>
    <key>ui_word/jt_fight.png</key>
    <string>{231,389}</string>
    <key>ui_word/jt_draw.png</key>
    <string>{215,389}</string>
    <key>ui_word/jt_dig.png</key>
    <string>{315,1163}</string>
    <key>ui_word/jt_ac.png</key>
    <string>{197,391}</string>
    <key>ui_word/jingji_vs.png</key>
    <string>{398,235}</string>
    <key>ui_word/jingji_first2.png</key>
    <string>{343,241}</string>
    <key>ui_word/jingji_first.png</key>
    <string>{341,261}</string>
    <key>ui_word/jiang.png</key>
    <string>{10,439}</string>
    <key>ui_word/j_xuanyao.png</key>
    <string>{0,280}</string>
    <key>ui_word/j_share.png</key>
    <string>{250,581}</string>
    <key>ui_word/j_replay.png</key>
    <string>{249,542}</string>
    <key>ui_word/huilu_ok.png</key>
    <string>{64,670}</string>
    <key>ui_word/honor9.png</key>
    <string>{10,670}</string>
    <key>ui_word/honor8.png</key>
    <string>{388,646}</string>
    <key>ui_word/honor7.png</key>
    <string>{337,649}</string>
    <key>ui_word/honor6.png</key>
    <string>{280,646}</string>
    <key>ui_word/honor5.png</key>
    <string>{226,646}</string>
    <key>ui_word/honor4.png</key>
    <string>{172,646}</string>
    <key>ui_word/honor3.png</key>
    <string>{118,646}</string>
    <key>ui_word/honor2.png</key>
    <string>{64,646}</string>
    <key>ui_word/honor1.png</key>
    <string>{10,646}</string>
    <key>ui_word/he.png</key>
    <string>{192,129}</string>
    <key>ui_word/hd_xiaofei.png</key>
    <string>{301,1751}</string>
    <key>ui_word/hd_song.png</key>
    <string>{343,1751}</string>
    <key>ui_word/hd_fan1.png</key>
    <string>{299,1727}</string>
    <key>ui_word/hd_fan.png</key>
    <string>{614,824}</string>
    <key>ui_word/haidan.png</key>
    <string>{254,1902}</string>
    <key>ui_word/guoguan.png</key>
    <string>{384,856}</string>
    <key>ui_word/guide_9.png</key>
    <string>{254,90}</string>
    <key>ui_word/guide_8.png</key>
    <string>{117,90}</string>
    <key>ui_word/guide_7.png</key>
    <string>{10,90}</string>
    <key>ui_word/guide_6.png</key>
    <string>{346,65}</string>
    <key>ui_word/guide_5.png</key>
    <string>{102,31}</string>
    <key>ui_word/guide_4.png</key>
    <string>{10,65}</string>
    <key>ui_word/guide_3.png</key>
    <string>{142,38}</string>
    <key>ui_word/guide_2.png</key>
    <string>{13,38}</string>
    <key>ui_word/guide_15.png</key>
    <string>{272,201}</string>
    <key>ui_word/guide_14.png</key>
    <string>{119,201}</string>
    <key>ui_word/guide_13.png</key>
    <string>{429,91}</string>
    <key>ui_word/guide_12.png</key>
    <string>{384,94}</string>
    <key>ui_word/guide_11.png</key>
    <string>{257,21}</string>
    <key>ui_word/guide_10.png</key>
    <string>{100,8}</string>
    <key>ui_word/guide_1.png</key>
    <string>{1,8}</string>
    <key>ui_word/gongxi.png</key>
    <string>{24,852}</string>
    <key>ui_word/goldencourage.png</key>
    <string>{542,554}</string>
    <key>ui_word/full.png</key>
    <string>{465,643}</string>
    <key>ui_word/free_vip.png</key>
    <string>{250,1795}</string>
    <key>ui_word/first_win.png</key>
    <string>{599,380}</string>
    <key>ui_word/fan_win.png</key>
    <string>{500,319}</string>
    <key>ui_word/fan_lose.png</key>
    <string>{498,359}</string>
    <key>ui_word/family_tui.png</key>
    <string>{106,591}</string>
    <key>ui_word/family_p9.png</key>
    <string>{170,910}</string>
    <key>ui_word/family_p4.png</key>
    <string>{90,910}</string>
    <key>ui_word/family_p3.png</key>
    <string>{10,910}</string>
    <key>ui_word/family_p2.png</key>
    <string>{321,856}</string>
    <key>ui_word/family_p1.png</key>
    <string>{241,856}</string>
    <key>ui_word/family_p0.png</key>
    <string>{161,856}</string>
    <key>ui_word/family_no_n.png</key>
    <string>{589,234}</string>
    <key>ui_word/family_no2.png</key>
    <string>{532,258}</string>
    <key>ui_word/family_no1.png</key>
    <string>{532,211}</string>
    <key>ui_word/family_kill_8.png</key>
    <string>{669,218}</string>
    <key>ui_word/family_kill_5.png</key>
    <string>{669,171}</string>
    <key>ui_word/family_kill_3.png</key>
    <string>{660,124}</string>
    <key>ui_word/family_kill_10.png</key>
    <string>{665,266}</string>
    <key>ui_word/family_guanli.png</key>
    <string>{73,590}</string>
    <key>ui_word/ends.png</key>
    <string>{370,395}</string>
    <key>ui_word/end_jieshu3.png</key>
    <string>{366,463}</string>
    <key>ui_word/end_jieshu2.png</key>
    <string>{360,513}</string>
    <key>ui_word/end_jieshu1.png</key>
    <string>{361,482}</string>
    <key>ui_word/end_bu3.png</key>
    <string>{221,524}</string>
    <key>ui_word/end_bu2.png</key>
    <string>{139,525}</string>
    <key>ui_word/end_bu1.png</key>
    <string>{387,362}</string>
    <key>ui_word/empty2.png</key>
    <string>{260,397}</string>
    <key>ui_word/duihuan_2.png</key>
    <string>{322,1389}</string>
    <key>ui_word/draw_3.png</key>
    <string>{433,123}</string>
    <key>ui_word/draw_2.png</key>
    <string>{390,125}</string>
    <key>ui_word/draw_1.png</key>
    <string>{411,126}</string>
    <key>ui_word/day.png</key>
    <string>{183,155}</string>
    <key>ui_word/cs.png</key>
    <string>{3,395}</string>
    <key>ui_word/congji.png</key>
    <string>{208,357}</string>
    <key>ui_word/chichichi.png</key>
    <string>{452,135}</string>
    <key>ui_word/card_z_5.png</key>
    <string>{114,171}</string>
    <key>ui_word/card_z_4.png</key>
    <string>{169,319}</string>
    <key>ui_word/card_z_3.png</key>
    <string>{145,318}</string>
    <key>ui_word/card_z_2.png</key>
    <string>{123,319}</string>
    <key>ui_word/card_z_1.png</key>
    <string>{94,319}</string>
    <key>ui_word/card_s_5.png</key>
    <string>{197,301}</string>
    <key>ui_word/card_s_4.png</key>
    <string>{171,301}</string>
    <key>ui_word/card_s_3.png</key>
    <string>{145,301}</string>
    <key>ui_word/card_s_2.png</key>
    <string>{119,301}</string>
    <key>ui_word/card_s_1.png</key>
    <string>{93,301}</string>
    <key>ui_word/card_s_0.png</key>
    <string>{67,301}</string>
    <key>ui_word/c_zhangong_shop.png</key>
    <string>{431,564}</string>
    <key>ui_word/c_title.png</key>
    <string>{147,1402}</string>
    <key>ui_word/c_panjun.png</key>
    <string>{430,779}</string>
    <key>ui_word/c_jifen.png</key>
    <string>{107,237}</string>
    <key>ui_word/c_gongxun.png</key>
    <string>{481,561}</string>
    <key>ui_word/c_fanpai.png</key>
    <string>{687,38}</string>
    <key>ui_word/c_baoxiang.png</key>
    <string>{476,226}</string>
    <key>ui_word/c-wudao.png</key>
    <string>{354,320}</string>
    <key>ui_word/c-jtyb.png</key>
    <string>{264,333}</string>
    <key>ui_word/c-dixia.png</key>
    <string>{143,329}</string>
    <key>ui_word/buzhen_qianpai.png</key>
    <string>{335,395}</string>
    <key>ui_word/buzhen_lingshou.png</key>
    <string>{335,376}</string>
    <key>ui_word/buzhen_houpai.png</key>
    <string>{338,356}</string>
    <key>ui_word/button_save.png</key>
    <string>{249,695}</string>
    <key>ui_word/buqian.png</key>
    <string>{337,140}</string>
    <key>ui_word/box_zi_yin.png</key>
    <string>{242,473}</string>
    <key>ui_word/box_zi_tong.png</key>
    <string>{248,496}</string>
    <key>ui_word/box_zi_jin.png</key>
    <string>{245,450}</string>
    <key>ui_word/baozi_timeup.png</key>
    <string>{670,432}</string>
    <key>ui_word/baozi_good.png</key>
    <string>{527,431}</string>
    <key>ui_word/b_star.png</key>
    <string>{740,250}</string>
    <key>ui_word/b_sk.png</key>
    <string>{637,18}</string>
    <key>ui_word/b_rank.png</key>
    <string>{536,0}</string>
    <key>ui_word/b_push.png</key>
    <string>{598,123}</string>
    <key>ui_word/b_king.png</key>
    <string>{576,3}</string>
    <key>ui_word/b_dairy.png</key>
    <string>{628,77}</string>
    <key>ui_word/b_change2.png</key>
    <string>{521,81}</string>
    <key>ui_word/b_change.png</key>
    <string>{562,50}</string>
    <key>ui_word/b_buy.png</key>
    <string>{608,166}</string>
    <key>ui_word/b_book.png</key>
    <string>{544,148}</string>
    <key>ui_word/b_bonus.png</key>
    <string>{681,1}</string>
    <key>ui_word/b_bk.png</key>
    <string>{742,96}</string>
    <key>ui_word/b_bag.png</key>
    <string>{741,199}</string>
    <key>ui_word/b_achieve.png</key>
    <string>{733,145}</string>
    <key>ui_word/all.png</key>
    <string>{476,10}</string>
    <key>ui_word/ad_line4.png</key>
    <string>{195,38}</string>
    <key>ui_word/ad_line3.png</key>
    <string>{115,33}</string>
    <key>ui_word/ad_line2.png</key>
    <string>{101,39}</string>
    <key>ui_word/ad_line1.png</key>
    <string>{380,9}</string>
    <key>ui_word/10chou_2.png</key>
    <string>{526,489}</string>
    <key>ui_word/10chou_1.png</key>
    <string>{525,527}</string>
</dict>
