<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_xunlian/ze_di.png</key>
    <string>{16,165}</string>
    <key>ui_xunlian/z-2.png</key>
    <string>{38,15}</string>
    <key>ui_xunlian/z-1.png</key>
    <string>{53,156}</string>
    <key>ui_xunlian/x_water3.png</key>
    <string>{148,111}</string>
    <key>ui_xunlian/x_water2.png</key>
    <string>{98,94}</string>
    <key>ui_xunlian/x_water1.png</key>
    <string>{41,109}</string>
    <key>ui_xunlian/x_shi6.png</key>
    <string>{90,515}</string>
    <key>ui_xunlian/x_shi5.png</key>
    <string>{14,508}</string>
    <key>ui_xunlian/x_shi4.png</key>
    <string>{92,412}</string>
    <key>ui_xunlian/x_shi3.png</key>
    <string>{26,408}</string>
    <key>ui_xunlian/x_shi2.png</key>
    <string>{122,305}</string>
    <key>ui_xunlian/x_shi1.png</key>
    <string>{0,312}</string>
    <key>ui_xunlian/lun1_s2.png</key>
    <string>{308,178}</string>
    <key>ui_xunlian/lun1_s1.png</key>
    <string>{233,176}</string>
    <key>ui_xunlian/lun1_s1-1.png</key>
    <string>{387,177}</string>
    <key>ui_xunlian/lun1_big2.png</key>
    <string>{403,0}</string>
    <key>ui_xunlian/lun1_big.png</key>
    <string>{240,0}</string>
    <key>ui_xunlian/house_2.png</key>
    <string>{1,560}</string>
    <key>ui_xunlian/house_1.png</key>
    <string>{141,549}</string>
    <key>ui_xunlian/bg_lun.png</key>
    <string>{101,142}</string>
    <key>ui_xunlian/bg_light.png</key>
    <string>{17,0}</string>
    <key>ui_xunlian/bg.png</key>
    <string>{0,0}</string>
    <key>ui_xunlian/baohu_2.png</key>
    <string>{167,4}</string>
    <key>ui_xunlian/baohu_1.png</key>
    <string>{116,5}</string>
</dict>
