<?xml version="1.0" encoding="UTF-8"?>
<dict>
    <key>ui_atlas/ui/tag2.png</key>
    <string>{10,561}</string>
    <key>ui_atlas/ui/tag1.png</key>
    <string>{390,471}</string>
    <key>ui_atlas/ui/t.png</key>
    <string>{203,471}</string>
    <key>ui_atlas/ui/shadow.png</key>
    <string>{95,471}</string>
    <key>ui_atlas/ui/point.png</key>
    <string>{54,471}</string>
    <key>ui_atlas/ui/lock.png</key>
    <string>{10,471}</string>
    <key>ui_atlas/ui/he-z.png</key>
    <string>{394,389}</string>
    <key>ui_atlas/ui/dark.png</key>
    <string>{252,389}</string>
    <key>ui_atlas/ui/cover.png</key>
    <string>{206,389}</string>
    <key>ui_atlas/ui/bg2.png</key>
    <string>{108,389}</string>
    <key>ui_atlas/ui/bg1.png</key>
    <string>{10,389}</string>
    <key>ui_atlas/ui/bg0_03.png</key>
    <string>{357,10}</string>
    <key>ui_atlas/ui/bg0_02.png</key>
    <string>{242,10}</string>
    <key>ui_atlas/ui/bg0_01.png</key>
    <string>{127,10}</string>
    <key>ui_atlas/ui/6.png</key>
    <string>{91,10}</string>
    <key>ui_atlas/ui/5.png</key>
    <string>{10,10}</string>
</dict>
